
<h1>scroll for more options</h1>
    
    <ul class="main-bread-list common-scrollbar">
    
    
     {section name=options start=0 loop=$BREAD_DATA|@count step=1 }
      	<li> 
        <input data-shape="{$BREAD_DATA[$smarty.section.options.index].bread_shape}" data-bread_type="{$BREAD_DATA[$smarty.section.options.index].bread_type}" data-item_image_sliced="{$BREAD_DATA[$smarty.section.options.index].item_image_sliced}" data-type="replace" data-id="{$BREAD_DATA[$smarty.section.options.index].id}" data-itemname="{$BREAD_DATA[$smarty.section.options.index].item_name}" data-price="{$BREAD_DATA[$smarty.section.options.index].item_price}" data-image="{$BREAD_DATA[$smarty.section.options.index].item_image}" type="radio" class="css-checkbox" id="radio{$smarty.section.options.index+1}" name="radiog_lite">
        <label class="css-label" for="radio{$smarty.section.options.index+1}">{$BREAD_DATA[$smarty.section.options.index].item_name}</label>
      </li>
          {/section}
          <li class="no-border"></li><li class="no-border"></li>
    </ul>
    
