label.new_password::before
{
    display:none;
    background-image:none;
}

label.new_password
{
    padding-left:5px;
    font:normal 25px "lobster_1.4regular";
    color:#41342b;
}

.password-change-text-box {
      border: 1px solid #d0ab79;
    width: 85%;
    background: url(../images/email.png) 7px center no-repeat #887358;
    height: 40px;
    padding-left: 14px;
    font: 700 16px "Open Sans";
    color: #000;
    margin-top: 16px;
    border-radius: 0;
    text-transform:lowercase;
    background-color: rgb(250, 255, 189) !important;
    background-image: none !important;
    color: rgb(0, 0, 0) !important;
}

input.reset_password
{
    border: 1px solid #dab37f;
    float: left;
    font: 700 16px/13px Oswald;
    text-align: center;
    text-transform:e uppercase;
    width: 90%;
    background-color: #342920;
    padding: 20px 0;
    padding-left:7px;
    padding-right:7px;
    color: #dab37f;
    margin-top: 25px
}


.error_msg
{
       color:darkred; 
      /* background-color: grey;*/


}