@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@font-face {
font-family: "Oswald Bold";
src:url("../fonts/oswald-bold/Oswald-Bold.eot?") format("eot"), url("../fonts/oswald-bold/Oswald-Bold.woff") format("woff"), url("../fonts/oswald-bold/Oswald-Bold.ttf") format("truetype"), url("../fonts/oswald-bold/Oswald-Bold.svg#Oswald-Bold") format("svg");
font-weight: normal;
font-style: normal;
}
@font-face {
  font-family: 'oswald_stencilregular';
  src: url("../fonts/oswald-stencil/oswald-stencil-webfont.eot");
  src: url("../fonts/oswald-stencil/oswald-stencil-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/oswald-stencil/oswald-stencil-webfont.woff2") format("woff2"), url("../fonts/oswald-stencil/oswald-stencil-webfont.woff") format("woff"), url("../fonts/oswald-stencil/oswald-stencil-webfont.ttf") format("truetype"), url("../fonts/oswald-stencil/oswald-stencil-webfont.svg#oswald_stencilregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
	background-image: url(../images/background.jpg);
	margin-top:0;
}

.main_wrapper {
	width: 100%;
	height: 100%;
}

.logo_wrapper {
	bottom: 35%;
	height: 240px;
	left: 0;
	margin: 0 auto;
	position: absolute;
	right: 0;
	top: 35%;
	width: 475px;
	border: 0 none;
	outline:none;
}

h1 {
	font: 63px "Oswald Bold";
	color: #342920;
	text-transform: uppercase;
	text-align: center;
	margin-top: 3px;
}

.logo {
	margin: 0 87px;
	border: 0 none;
	outline:none;
}
.container {
    height: auto;
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}
.logo-small{
	    float: left;
    height: auto;
    padding-top: 20px;
    width: 234px;
	border: 0 none;
	outline:none;
}
.logo-small img{
	border: 0 none;
	outline:none;

}
.detail-container h1 {
    color: #342920;
    float: left;
    font: 56px/53px "oswald_stencilregular";
    margin-top: 25px;
    text-align: left;
    text-transform: uppercase;
    width: 100%;
}
.logo-container {
    float: left;
    width: 100%;
}
.detail-container {
    float: left;
    width: 100%;
}
#about-us article {
    margin-top: 50px;
}
#about-us article p {
    margin: 0;
	font-weight: normal;
    font-style: normal;
	font-family: "open sans";
	font-size: 15px;
}
 @media screen and (min-width: 320px) and (max-width: 500px) {

.logo_wrapper {
    width: 300px;
}
.logo {
    margin: 0 54px;
    width: 64%;
}

h1 {
    font: 38px "Oswald Bold";
}
}