@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,700,600,300,800);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(http://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSq-j2U0lmluP9RWlSytm3ho.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local("Oswald Regular"), local("Oswald-Regular"), url("../fonts/Oswald400.woff") format("woff");
}
@font-face {
  font-family: 'Futuramc';
  src: url("../fonts/futuramedium/Futuramc.eot");
  src: local("Futuramc"), url("../fonts/futuramedium/Futuramc.woff") format("woff"), url("../fonts/futuramedium/Futuramc.ttf") format("truetype");
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url("../fonts/opensans.woff") format("woff");
}
@font-face {
  font-family: 'steelfishextrabold';
  src: url("../fonts/steelfish/steelfish_eb-webfont.eot");
  src: url("../fonts/steelfish/steelfish_eb-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/steelfish/steelfish_eb-webfont.woff2") format("woff2"), url("../fonts/steelfish/steelfish_eb-webfont.woff") format("woff"), url("../fonts/steelfish/steelfish_eb-webfont.ttf") format("truetype"), url("../fonts/steelfish/steelfish_eb-webfont.svg#steelfishextrabold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'oswald_stencilregular';
  src: url("../fonts/oswald-stencil/oswald-stencil-webfont.eot");
  src: url("../fonts/oswald-stencil/oswald-stencil-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/oswald-stencil/oswald-stencil-webfont.woff2") format("woff2"), url("../fonts/oswald-stencil/oswald-stencil-webfont.woff") format("woff"), url("../fonts/oswald-stencil/oswald-stencil-webfont.ttf") format("truetype"), url("../fonts/oswald-stencil/oswald-stencil-webfont.svg#oswald_stencilregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'lobster_1.4regular';
  src: url("../fonts/lobster/lobster_1.4-webfont.eot");
  src: url("../fonts/lobster/lobster_1.4-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lobster/lobster_1.4-webfont.woff2") format("woff2"), url("../fonts/lobster/lobster_1.4-webfont.woff") format("woff"), url("../fonts/lobster/lobster_1.4-webfont.ttf") format("truetype"), url("../fonts/lobster/lobster_1.4-webfont.svg#lobster_1.4regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/*Colors*/
/*Font*/
* {
  margin: 0;
}

html, body {
  height: 100%;
}

form :focus {
  outline: none;
}

::-webkit-input-placeholder {
  color: #1e1612;
}

a {
  text-decoration: none;
}

body {
  background: url(../images/background.jpg);
  width: 100%;
  height: 100%;
  color: #dab37f;
}
.app-download-screen{
    max-width: 240px;
    margin: 10px auto 0;
}
.app-download-screen .logo {
    margin: 0 auto;
	width: 98%;
}
.app-download-screen .logo img{
	max-width:100%;
}
.app-download-screen .banner-image{
	margin:14px auto;
	width: 100%;
}
.app-download-screen .banner-image img{
	width:100%;
}
.app-download-screen .download-details h1{
	 color: #342920;
    font:bold 41px/22px "Oswald";
    letter-spacing: 0;
    text-transform: uppercase;
    margin-bottom: 21px;
	text-align:center;
}
.app-download-screen .download-details h2{
    color: #342920;
    font: bold 26px/16px "Oswald";
    letter-spacing: 0;
    text-transform: uppercase;
    margin-bottom: 13px;
    text-align: center;
}
.app-download-screen .download-details p{
color: #342920;
    font: 13px/19px 'Open Sans';
    margin-bottom: 15px;
    font-weight: 700;
    text-align: center;
}
.app-download-screen .download-details h3{
	color: #342920;
    font: bold 20px "lobster_1.4regular";
    letter-spacing: 0;
    margin-bottom: 14px;
    text-align: center;
    line-height: 22px;
}
.app-download-screen .download-button{
	width:100%;
	min-height:51px;
}
.app-download-screen .download-button .iphone{
	width:115px;
	float:left;
}
.app-download-screen .download-button .iphone img{
	width:100%;
}
.app-download-screen .download-button .android{
	width:115px;
	float:right;
}
.app-download-screen .download-button .android img{
	width:100%;
}
.app-download-screen .view-site h4 {
    text-align: center;
}
.app-download-screen .view-site h4 a {
    color: #342920;
    font: bold 17px/21px "Oswald";
    letter-spacing: 0;
    margin-bottom: 0px;
    text-align: center;
    text-decoration: underline;
}
/*Iphone 6 portrait*/
@media screen and (min-width: 375px) and (max-width: 376px) {
.app-download-screen {
    max-width: 240px;
    margin: 10px auto;
}
.app-download-screen .download-details h1 {
    font: bold 38px/24px "Oswald";
    text-transform: uppercase;
    margin-bottom: 15px;
    text-align: center;
}
.app-download-screen .download-details h2 {
    font: bold 24px/24px "Oswald";
    letter-spacing: 0;
    margin-bottom: 6px;
    text-align: center;
}
.app-download-screen .download-details p {
    color: #342920;
    font: 13px/24px 'Open Sans';
    margin-bottom: 9px;
    font-weight: 700;
}
.app-download-screen .download-button .android {
    width: 116px;
}
.app-download-screen .download-button .iphone {
    width: 116px;
}
.app-download-screen .download-details h3 {
    font: bold 20px "lobster_1.4regular";
    margin-bottom: 16px;
    line-height: 22px;
}
.app-download-screen .download-button {
    min-height: 57px;
}
.app-download-screen .view-site h4 {
    font: bold 18px/24px "Oswald";
}
}
/*Iphone 5 portrait*/
@media screen and (min-device-width: 320px) and (max-device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait) {
.app-download-screen {
    max-width: 220px;
    margin: 15px auto;
}
.app-download-screen .banner-image {
    margin: 22px auto;
}
.app-download-screen .download-details h1 {
    font: bold 33px/24px "Oswald";
    margin-bottom: 14px;
}
.app-download-screen .download-details h2 {
    font:bold 21px/24px "Oswald";
    margin-bottom: 9px;
}
.app-download-screen .download-details p {
    font: 11px/24px 'Open Sans';
    margin-bottom: 5px;
    font-weight: 700;
    text-align: center;
}
.app-download-screen .download-details h3 {
    font:bold 17px "lobster_1.4regular";
    margin-bottom: 14px;
    line-height: 20px;
}
.app-download-screen .download-button .iphone {
    width: 105px;
}
.app-download-screen .download-button .android {
    width: 105px;
}
.app-download-screen .download-button {
    min-height: 50px;
}
.app-download-screen .view-site h4 {
    font: bold 14px/17px "Oswald";
}
}
/*Iphone 4 portrait*/
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2 / 3) and (orientation: portrait) {
.app-download-screen {
    max-width: 185px;
    margin: 7px auto;
}
.app-download-screen .banner-image {
    margin: 16px auto;
}
.app-download-screen .download-details h1 {
    font: bold 28px/12px "Oswald";
    margin-bottom: 11px;
}
.app-download-screen .download-details h2 {
    font: bold 18px/22px "Oswald";
    margin-bottom: 3px;
}
.app-download-screen .download-details p {
    font: 10px/23px 'Open Sans';
    margin-bottom: 3px;
}
.app-download-screen .download-details h3 {
    font: bold 16px "lobster_1.4regular";
    margin-bottom: 12px;
    line-height: 15px;
}
.app-download-screen .download-button .iphone {
    width:90px;
}
.app-download-screen .download-button .android {
    width: 90px;
}
.app-download-screen .download-button {
    min-height: 40px;
}
}
