  <div class="menu-list-wrapper pages">
	<h1>TERMS OF USE <a href="#" class="friend-button back-register">Back</a></h1>
       {foreach from=$webpagedata key=k item=v}       
     <div id="about-us" style="color: black;">
		<article>
			{$v->text}      
		</article>	
     </div>         
       {/foreach} 
   </div>
