<section class="sandwich create-sandwhich-menu-wrapper">
<div class="map-location">
<a href="#"><img src="{$SITE_URL}app/images/map.png" alt="map"></img></a>
</div>
<div class="store-location">
<div class="container">
<div class="row">
<h2>{$title_text} MIDTOWN</h2>
<p>625 Avenue of the Americas</p>
<p>New York, NY 10001</p>
<h3>HOURS</h3>
<p>Mon - Fri: 9:00AM - 8:00PM</p>
<p>Sat - Sun: 10:00AM - 6:00PM</p><br>
<p>(212)-555-1234</p>

</div>
</div>
</div>
</section>
