  <div class="container pages">
  <h1>CONTACT <a href="#" class="friend-button">Back</a></h1>
       {foreach from=$webpagedata key=k item=v}        
     <div id="about-us" style="color: black;">
		<div class="contact-wrapper">		
			{$v->text}      
		</div>	
     </div>         
       {/foreach} 
      </div>
