<div class="sandwich-popup">
	<div class="summary-details-login">
  	<a href="#" class="close-button"></a>
  <div class="banner"> <img src="{$SITE_URL}app/images/logo1.png"  width="196" height="88" class="retina" alt="logo">
</div>
   <div class="login-facebook-wrapper">
   <h2>Login with Facebook</h2>
   <p>This action requires connecting with Facebook. Don't worry, we won't shadily post anything to your Facebook Wall.</p>
   <a href="#" class="connect-facebook">CONNECT WITH FACEBOOK</a>
   <p class="termsconditions">By creating an account you accept our <a href="#">Terms of Use</a> and <a href="#">Privacy Policy</a>.</p>
   </div>
  </div>
</div>
