label.new_password::before
{
    display:none;
    background-image:none;
}

label.new_password
{
    padding-left:5px;
    font:normal 25px "lobster_1.4regular";
    color:#41342b;
}

.password-change-text-box {
  border: 1px solid #d0ab79;
  width: 85%;
  height: 40px;
  padding-left: 36px;
  font: bold 12px "Open Sans";
  color: #000;
  margin-top: 16px;
  border-radius: 0;
}
