<div class="sandwich-popup">
	<div class="summary-details-login">
  	<a href="#" class="close-button"></a>
  <div class="banner"> <img src="{$SITE_URL}app/images/logo1.png" width="196" height="88" class="retina" alt="logo">
</div>
   <div class="login-mail-wrapper">
   <h2>Login</h2>
   <input class="text-email" name="" type="text" placeholder="Email">
    <input class="text-password" name="" type="password" placeholder="Password">
	<a href="#" class="connect-create">Log in</a>
	<h6><a href="#" class="bold-text">Forgot Password</a></h6>
    <h6>By creating an account you accept our <a href="#">Terms of Use</a> and <a href="#">Privacy Policy</a>.</h6>
   </div>
  </div>
</div>
