<div class="sandwich-popup">
	<div class="summary-details-login">
  	<a href="#" class="close-button"></a>
  <div class="banner"> <img src="{$SITE_URL}app/images/logo1.png" width="196" height="88" class="retina" alt="logo"></div>
<div class="register-wrapper">
	<h2>Register</h2>
   <div class="form-holder">
      <input class="text-firstname" name="" type="text" placeholder="First Name">
      <input class="text-lastname" name="" type="text" placeholder="Last Name">
    </div>
    <input class="text-email" name="" type="text" placeholder="Email">
    <input class="text-password" name="" type="password" placeholder="Password">
    <a href="#" class="connect-create">Create account</a>
    <h6>By creating an account you accept our <a href="#">Terms of Use</a> and <a href="#">Privacy Policy.</a></h6>
  </div>
</div>
</div>
