	{if $valid_token eq false}
	
		{literal}
		<script> 
			window.onload =  function(event) { 
		  		//setTimeout(function(){
		  			alert("This Link is Invalid/Expired, please check your email for recent password reset link.");
					window.location = SITE_URL;
				//}, 3000);
			}
				
		</script>
		{/literal}
	 {else $valid_token eq true}

	<div class="menu-list-wrapper resetpassowrd">
        <h1>Reset Password</h1>
        <div class="container" style='max-width:80%;margin-left:10%;'>
        	{if $message}<div class='error_msg password-message'>Password update failed. <br>{$message}</div>{/if}
        <form action="{$SITE_URL}site/setPassword" method="post">
			<label class='new_password'  >New Password</label><br/>
			<input type="password" name="password"  class="password-change-text-box" /><br/>
			
			<label class='new_password' >Confirm New Password</label><br/>
			<input id='reset_password' type="password" name="c_password" class="password-change-text-box"/><br/>
			
			<input id='submit_password' type="submit" value="Submit" class="reset_password" />
			
			<input type="hidden" name="tokenid" value="{$data->tokenid}" />
			<input type="hidden" name="token" value="{$data->token}" />
        </form>
        </div>
        
        {literal}
        <script>	

	
	</script>
	{/literal}
    </div>
    {/if}
