             <div class="homecontent" >
             <h1>Make one of your go-to sandwiches,
             or try something completely new!</h1>
             <h2>Starting at <span>${$BASE_FARE}.00</span></h2> </div>