             <div class="top-buttons-wrapper">
                <ul>
				 <!--  Needs to remove width:100% after uncommenting pick-up -->
                  <li style="width:100%;display:none" ><a href="javascript:void(0)" class="active">DELIVERY</a></li>
				   <!-- REMOVED FOR LAUNCH -->
                   <!--  <li><a onclick=changeCheckoutoption('pickupstorelocation') href="javascript:void(0)">PICK-UP</a></li> -->
				    <!-- END -->
                </ul>
              </div>
              <div class="choose-address">
                <div class="center-the-button">
                  <p>Choose a Delivery Address</p>

					<div class="select_address_wrap" id="select_address_div">
					<select name="address" class="address select_address" >
						<option value="">Choose a Delivery address</option>
						{foreach from=$addresses key=k item=v}

							<option value="{$v->address_id}">{$v->address1}</option>
						{/foreach}
						<option value="0">Add New</option>
					</select>
					</div>
                </div>
              </div>
              
