              <div class="top-buttons-wrapper">
                <ul>
				 <!--  Needs to remove width:100% after uncommenting pick-up -->
                  <li style="width:100%;display:none" ><a href="javascript:void(0);" class="active">DELIVERY</a></li>
				   <!-- REMOVED FOR LAUNCH -->
                   <!--  <li><a onclick=changeCheckoutoption('pickupstorelocation') href="javascript:void(0)">PICK-UP</a></li> -->
				    <!-- END -->
                </ul>
              </div>
              <div class="choose-address">
                <div class="center-the-button">
                  <p>Choose a</p>
                  <a onclick=changeCheckoutoption('deliveryto') href="javascript:void(0)" class="delivery-address">DELIVERY ADDRESS</a> </div>
              </div>
            