              <div class="top-buttons-wrapper">
                <ul>
				<!--  Needs to remove width:100% after uncommenting pick-up -->
                  <li style="width:100%;display:none"><a onclick=changeCheckoutoption('deliverychooseaddress') href="javascript:void(0)">DELIVERY</a></li>
				   <!-- REMOVED FOR LAUNCH -->
                   <!--  <li><a href="#" class="active">PICK-UP</a></li> -->
				   <!-- END -->  
                </ul>
              </div>
              <div class="choose-address">
                <div class="center-the-button">
                  <p>Pick-Up Location</p>

					<div class="select_address_wrap">
					<select name="address" class="address select_pickup" >
						<option value="">Choose a Delivery Address</option>
						{foreach from=$addresses key=k item=v}
							<option value="{$v->id}">{$v->store_name} ({$v->address1})</option>
						{/foreach}
						
					</select>                   
                </div>
              </div>
             
