              <div class="top-buttons-wrapper">
                <ul>
				 <!--  Needs to remove width:100% after uncommenting pick-up -->
                  <li style="width:100%;display:none" ><a onclick=changeCheckoutoption('deliverychooseaddress') href="javascript:void(0)">DELIVERY</a></li>
				    <!-- REMOVED FOR LAUNCH -->
                   <!--  <li><a href="#" class="active">PICK-UP</a></li> -->
				   <!-- END -->
                </ul>
              </div>
              <div class="choose-address">
                <p>Pick-Up Location <a onclick=changeCheckoutoption('pickupstorelocation') href="javascript:void(0)" class="change link">CHANGE</a></p>
                <h6>{$address->store_name} <br />
                  {$address->address1}, <br />
                {if $address->address2 neq ""}  {$address->address2}, <br />{/if}
                 New York, NY {$address->zip} <br />
                  {$address->phone}</h6>
                  
                  <input type="hidden" class="pickup_address_id" value="{$address->id}" />
              </div>
 
