  <div class="menu-list-wrapper">
       {foreach from=$webpagedata key=k item=v}
        <h1>{$v->webpage_name}</h1>
     <div id="about-us" style="color: black;">
		<div class="contact-wrapper">		
			{$v->text}      
		</div>	
     </div>         
       {/foreach} 
      </div>
