
    {if $usersandwich|@count gt 0 }
		{section name=sandwitch start=0 loop=$usersandwich|@count step=1 }
            
            
             {assign var = 'prot_data' value = $usersandwich[$smarty.section.sandwitch.index].sandwich_data.PROTEIN.item_name }
              {assign var = 'cheese_data' value = $usersandwich[$smarty.section.sandwitch.index].sandwich_data.CHEESE.item_name }
              {assign var = 'topping_data' value = $usersandwich[$smarty.section.sandwitch.index].sandwich_data.TOPPINGS.item_name }
              {assign var = 'cond_data' value = $usersandwich[$smarty.section.sandwitch.index].sandwich_data.CONDIMENTS.item_name }
              
              {php}
              $result = '';
              $d = $_smarty_tpl->get_template_vars('prot_data');
              if($d){
              foreach($d as $dl){
               $result .= ' '.$dl;
              }}
              {/php}
              
              
                     {php}
              $result_1 = '';
              $c = $_smarty_tpl->get_template_vars('cheese_data');
              foreach($c as $cl){
               $result_1 .= ' '.$cl;
              }
              {/php}
              
              
                     {php}
              $result_2 = '';
              $t = $_smarty_tpl->get_template_vars('topping_data');
              if($t){
              foreach($t as $tl){
               $result_2 .= ' '.$tl;
              }}
              {/php}
              
              
                     {php}
              if($o){       
              $result_3 = '';
              $o = $_smarty_tpl->get_template_vars('cond_data');
              foreach($o as $ol){
               $result_3 .= ' '.$ol;
              }}
              {/php}
            
                  {if $order_data.user_sandwich.item_id|@is_array} 
                   {assign var = 'items_id' value = $usersandwich[$smarty.section.sandwitch.index].id|in_array:$order_data.user_sandwich.item_id}
                   {else}
                   {assign var = 'items_id' value = '0' }
                   {/if}
                   
                   
                {if $usersandwich[$smarty.section.sandwitch.index].by_admin eq 0}
                   {assign var="img_path" value=$SITE_URL}
                {else}
                   {assign var="img_path" value=$ADMIN_URL}
                {/if}   
            
   <li rel="ADD TO CART" data-sandwich_desc="{$usersandwich[$smarty.section.sandwitch.index].sandwich_desc}"  data-userid ="{$usersandwich[$smarty.section.sandwitch.index].uid}"  data-toast="{$usersandwich[$smarty.section.sandwitch.index].menu_toast}" data-menuadds="{$usersandwich[$smarty.section.sandwitch.index].menu_add_count}" data-cheese="{php} echo $result_1;{/php}" data-topping="{php} echo $result_2;{/php}" data-cond="{php} echo $result_3;{/php}" data-formatdate="{$usersandwich[$smarty.section.sandwitch.index].formated_date}" data-username="{$usersandwich[$smarty.section.sandwitch.index].user_name}." data-protien="{php} echo trim($result); {/php}" data-bread="{$usersandwich[$smarty.section.sandwitch.index].sandwich_data.BREAD.item_name[0]}"  data-date="{$usersandwich[$smarty.section.sandwitch.index].date_of_creation}" data-price="{$usersandwich[$smarty.section.sandwitch.index].sandwich_price}" data-id="{$usersandwich[$smarty.section.sandwitch.index].id}" data-name="{$usersandwich[$smarty.section.sandwitch.index].sandwich_name}" data-likeid="{$usersandwich[$smarty.section.sandwitch.index].like_id}" data-likecount="{$usersandwich[$smarty.section.sandwitch.index].like_count}" data-flag="{$usersandwich[$smarty.section.sandwitch.index].flag}"> 
                <span class="inner-holder" style="position: relative">
                <input type="hidden" name="chkmenuactice{$usersandwich[$smarty.section.sandwitch.index].id}" value="{$usersandwich[$smarty.section.sandwitch.index].menu_is_active}" />
                
                <img title="{$usersandwich[$smarty.section.sandwitch.index].sandwich_name}" class="view_sandwich" data-href="{$SITE_URL}createsandwich/index/{$usersandwich[$smarty.section.sandwitch.index].id}" width="124" src="{$image_path}{$usersandwich[$smarty.section.sandwitch.index].uid}/sandwich_{$usersandwich[$smarty.section.sandwitch.index].id}_{$usersandwich[$smarty.section.sandwitch.index].uid}.png" alt="">
                
                <img src="{$SITE_URL}app/images/toasted.png" alt="toasted" class="toasted" style="width:auto;height:auto;{if $usersandwich[$smarty.section.sandwitch.index].menu_toast eq 1 } display:block; {/if} ">
                <h3>
                {$usersandwich[$smarty.section.sandwitch.index].sandwich_name_trimmed}
                </h3>
                <p>{$usersandwich[$smarty.section.sandwitch.index].like_count} likes </p>
                <a href="javascript:void(0);" data-like="{$usersandwich[$smarty.section.sandwitch.index].like_count}" class="link">VIEW</a>  
                
                 	<input type="hidden" name="hidden_sandwich_data" id="hidden_sandwich_data" value="user_sandwich">	
                    
<a href="javascript:void(0);" class="link common_add_item_cart" data-sandwich="{$user_sandwich}" data-sandwich_id="{$usersandwich[$smarty.section.sandwitch.index].id}" data-uid="{$usersandwich[$smarty.section.sandwitch.index].uid}"  >ADD TO CART</a>  
                       

                      </span> 
                </li>
         {/section}
    {else}None{/if}     
