<div class="menu-list-wrapper">
        <h1>My Menu</h1>
        <input type="hidden" name="countMenuItems" value="{$numMenu}"/>
        <h2>Sandwiches</h2>
        <ul class="menu-listing">
       
             
          <li style="width:180px;margin-right:2px;"> <span class="side-button-holder"> <a href="{$SITE_URL}createsandwich" class="buttons link"> <span class="plus">+</span> <span class="links">CREATE A SANDWICH</span> </a> <a href="{$SITE_URL}sandwich/gallery"  class="buttons link"> <span class="plus">+</span> <span class="links">SHARED CREATIONS</span> </a> 
                   
          <a   href="{php} echo _URL; {/php}" id="show_friends_sandwich"   data-fbrel="true" rel="{if $smarty.session.uid}true{else}false{/if}" class="buttons connect-color facebook-login clr-05"> <span class="plus">+</span> <span class="links">FRIENDS' SANDWICHES</span> </a>
          
          </span> </li>  
         
         
          {if $usersandwich|@count gt 0 }
          
          
        
          
         
            {section name=sandwitch start=0 loop=$usersandwich|@count step=1 }
            
            
             {assign var = 'prot_data' value = $usersandwich[$smarty.section.sandwitch.index].sandwich_data.PROTEIN.item_name }
              {assign var = 'cheese_data' value = $usersandwich[$smarty.section.sandwitch.index].sandwich_data.CHEESE.item_name }
              {assign var = 'topping_data' value = $usersandwich[$smarty.section.sandwitch.index].sandwich_data.TOPPINGS.item_name }
              {assign var = 'cond_data' value = $usersandwich[$smarty.section.sandwitch.index].sandwich_data.CONDIMENTS.item_name }
              
              {php}
              $result = '';
              $d = $_smarty_tpl->get_template_vars('prot_data');
              if($d){
              foreach($d as $dl){
               $result .= ' '.$dl;
              }}
              {/php}
              
              
                     {php}
              $result_1 = '';
              $c = $_smarty_tpl->get_template_vars('cheese_data');
              foreach($c as $cl){
               $result_1 .= ' '.$cl;
              }
              {/php}
              
              
                     {php}
              $result_2 = '';
              $t = $_smarty_tpl->get_template_vars('topping_data');
              if($t){
              foreach($t as $tl){
               $result_2 .= ' '.$tl;
              }}
              {/php}
              
              
                     {php}
              if($o){       
              $result_3 = '';
              $o = $_smarty_tpl->get_template_vars('cond_data');
              foreach($o as $ol){
               $result_3 .= ' '.$ol;
              }}
              {/php}
            
                  {if $order_data.user_sandwich.item_id|@is_array} 
                   {assign var = 'items_id' value = $usersandwich[$smarty.section.sandwitch.index].id|in_array:$order_data.user_sandwich.item_id}
                   {else}
                   {assign var = 'items_id' value = '0' }
                   {/if}
                   
                   
                {if $usersandwich[$smarty.section.sandwitch.index].by_admin eq 0}
                   {assign var="img_path" value=$SITE_URL}
                {else}
                   {assign var="img_path" value=$ADMIN_URL}
                {/if}   
            
   <li rel="ADD TO CART" data-sandwich_desc="{$usersandwich[$smarty.section.sandwitch.index].sandwich_desc}"  data-userid ="{$usersandwich[$smarty.section.sandwitch.index].uid}"  data-toast="{$usersandwich[$smarty.section.sandwitch.index].menu_toast}" data-menuadds="{$usersandwich[$smarty.section.sandwitch.index].menu_add_count}" data-cheese="{php} echo $result_1;{/php}" data-topping="{php} echo $result_2;{/php}" data-cond="{php} echo $result_3;{/php}" data-formatdate="{$usersandwich[$smarty.section.sandwitch.index].formated_date}" data-username="{$usersandwich[$smarty.section.sandwitch.index].user_name}." data-protien="{php} echo trim($result); {/php}" data-bread="{$usersandwich[$smarty.section.sandwitch.index].sandwich_data.BREAD.item_name[0]}"  data-date="{$usersandwich[$smarty.section.sandwitch.index].date_of_creation}" data-price="{$usersandwich[$smarty.section.sandwitch.index].sandwich_price}" data-id="{$usersandwich[$smarty.section.sandwitch.index].id}" data-name="{$usersandwich[$smarty.section.sandwitch.index].sandwich_name}" data-likeid="{$usersandwich[$smarty.section.sandwitch.index].like_id}" data-likecount="{$usersandwich[$smarty.section.sandwitch.index].like_count}" data-flag="{$usersandwich[$smarty.section.sandwitch.index].flag}"> 
                <span class="inner-holder" style="position: relative">
                <input type="hidden" name="chkmenuactice{$usersandwich[$smarty.section.sandwitch.index].id}" value="{$usersandwich[$smarty.section.sandwitch.index].menu_is_active}" />
                
                <img title="{$usersandwich[$smarty.section.sandwitch.index].sandwich_name}" class="view_sandwich" data-href="{$SITE_URL}createsandwich/index/{$usersandwich[$smarty.section.sandwitch.index].id}" width="124" src="{$image_path}{$usersandwich[$smarty.section.sandwitch.index].uid}/sandwich_{$usersandwich[$smarty.section.sandwitch.index].id}_{$usersandwich[$smarty.section.sandwitch.index].uid}.png" alt="">
                
                <img src="{$SITE_URL}app/images/toasted.png" alt="toasted" class="toasted" style="width:auto;height:auto;{if $usersandwich[$smarty.section.sandwitch.index].menu_toast eq 1 } display:block; {/if} ">
                <h3>
                {$usersandwich[$smarty.section.sandwitch.index].sandwich_name_trimmed}
                </h3>
                <p>{$usersandwich[$smarty.section.sandwitch.index].like_count} likes </p>
                <a href="#" data-like="{$usersandwich[$smarty.section.sandwitch.index].like_count}" class="link">VIEW</a>  
                
                 	<input type="hidden" name="hidden_sandwich_data" id="hidden_sandwich_data" value="user_sandwich">	
                    
<a href="#" class="link common_add_item_cart" data-sandwich="{$user_sandwich}" data-sandwich_id="{$usersandwich[$smarty.section.sandwitch.index].id}" data-uid="{$usersandwich[$smarty.section.sandwitch.index].uid}"  >ADD TO CART</a>  
 
                      
                      </span> 
                </li>
         {/section}         
          </ul>
            {else }
         <div class="currently-no-save">
          <h1>YOU CURRENTLY HAVE NO SAVED SANDWICHES</h1>
          <h3>EITHER CREATE YOUR OWN CUSTOM SANDWICH, CHOOSE FROM OUR USER-SUBMITTED GALLERY, OR GRAB ONE OF YOUR FRIEND'S SANDWICHES.</h3>
        </div></ul>
         {/if }
      {foreach name=outer item=category from=$stdCategoryItems}
      
      {if $category->categoryProducts|@count gt 0 }
      
	   <h2>{$category->standard_cat_name}</h2> 
        <div class="salads-wrapper">  
        
        
        
             
          <ul>
          {foreach key=key item=item from=$category->categoryProducts}
          
          
             {if $order_data.product.item_id|@is_array} 
                   {assign var = 'product_items_id' value = $item->id|in_array:$order_data.product.item_id}
                   {else}
                   {assign var = 'product_items_id' value = '0' }
                   {/if}
          {assign var = 'prdid' value=$item->id }
          
        
          
            <li class="list1">
             <h3>{$item->product_name} </h3>
              <p>{$item->description}</p>
            </li>
            <li class="list2">
              <h4>${$item->product_price}</h4>
            </li>
            <li class="list3">
              <div class="quantity-control"> 
              
              <a href="javascript:void(0);" class="left noaction"></a>

                    <input name="spinnerinput" type="text" class="text-box qty" value="01" readonly  >
             
                <a href="javascript:void(0);" class="right noaction"></a> 
                
                <input class="sandwich_id" type="hidden" value="{$item->id}">
                <input type="hidden" value="product" name="data_type">
                
                </div>
                
            </li>  
            
                      
            
            <li class="list4"> 
            
            <a href="#"   class="link common_add_item_cart add-cart" data-sandwich="{$product}" data-sandwich_id="{$item->id}" data-uid="{$uid}" >ADD TO CART</a> 
            
            </li>
            {/foreach}
          </ul>
         
           
        </div>
        
        {/if}
        
        {/foreach}
      </div>
    
      <!--Menu Ending-->
    </div>
  </div>
  <!--Popup Start-->
<div class="popup-wrapper" id="sandwich-view">
  <div class="added-menu-sandwiches-inner"> <a href="#" class="close-button">Close</a> <img src="{$SITE_URL}app/images/added-menu-sandwiches.png" alt="">
    <div class="title-holder">
      <h1>MATT'S TURKEY DILEMNA</h1>
      <h2>$14.50</h2>
    </div>
    <p>Ciabatta, Turkey (1), Ham (0.5), Pepperoni (0.5), Cheddar (1), Tomato (L), Lettuce (N), Red Onion (L), Pickles (L), Peppers (L), Avocado, Mayonnaise (N), Blueberry Jam (S)</p>
    <div class="title2-holder">
        <p>Created by:  <span class="username">Katie M</span><br />
       Date Created:   <span class="datefromat">06/05/14</span><br />
        <!-- Likes:  <span class="likescount" id="likecountid">100</span><br />
        Menu Adds:  <span id="menuadds">24</span><br /> -->
        <a data-flag="1" class="flag-sandwich" href="javascript:void(0);">flag this sandwich</a>
        
              <div class="checkbox-holder">
        <input id="check18" type="checkbox" class="menucheck savetousertoast" name="check" value="check18">
        <label for="check18">Toast It! <!--<span>Yum!</span>--></label>
      </div>
        
        </p>
      <a href="#" class="save-menu link remove_menu">REMOVE FROM MENU</a> </div>
    <div class="button-holder"> <!-- <a href="#" class="like-sandwich">Like</a> --> <a href="#" class="share-sandwich">Share</a>
        <a href="{$SITE_URL}createsandwich/index/" class="edit-sandwich">Edit</a> 
      <input type="hidden" name="hidden_sandwich_id" id="hidden_sandwich_id" value="">
      
           <div class="popup_spinner">
           <a href="#" class="left_spinner"></a>
           <input name="itemQuty" type="text" class="text-box" value="01" readonly>
           <a href="#" class="right_spinner"></a>
        </div>
      
      <a href="#" class="add-to-cart link">ADD TO CART</a> </div>
  </div>
</div>

<div class="popup-wrapper" id="cart-added">
  <div class="added-menu-sandwiches-inner"> <a href="#" class="close-button">Close</a> <img src="{$SITE_URL}app/images/added-menu-sandwiches.png" alt="">
    <div class="title-holder">
      <h1>MATT'S TURKEY DILEMNA</h1>
      <h2>$14.50</h2>
    </div>
    <p>Ciabatta, Turkey (1), Ham (0.5), Pepperoni (0.5), Cheddar (1), Tomato (L), Lettuce (N), Red Onion (L), Pickles (L), Peppers (L), Avocado, Mayonnaise (N), Blueberry Jam (S)</p>
    <div class="title2-holder">
    <p>Created by:  <span class="username">Katie M</span><br />
       Date Created:   <span class="datefromat">06/05/14</span><br />
        <!-- Likes:  10<br />
        Menu Adds:  <span id="menuadds">24</span><br /> -->
        <a href="#">flag this sandwich</a></p>
      <a href="#" class="save-menu">REMOVE FROM MENU</a> </div>
    <div class="button-holder"> <!-- <a href="#" class="like-sandwich">Like</a> --> <a href="#" class="share-sandwich">Share</a>
      <div class="checkbox-holder">
        <input id="check1" type="checkbox" name="check" value="check1">
        <label for="check1">TOAST IT! <span>Yum!</span></label>
      </div>
      <a href="{$SITE_URL}checkout/choosedeliveryorpickup" class="add-to-cart background-color-remove">ADD TO CART</a> </div>
  </div>
</div>

<!--Popup Start-->


<div class="popup-wrapper" id="facebook-friends-list">
  <div class="friends-menu-inner"> <a href="#" class="close-button">Close</a>
    <h1>Friends' Menus</h1>
    <div class="scroller-wrapper scroll-bar">
      <ul>
        <li style="border: 0px none; text-align: center; padding-top: 163px; height: 204px;">  
        <img src="{$SITE_URL}app/images/friends_menu.gif" />
        </li>
      </ul>
    </div>
  </div>
</div>
<!--Popup Ending-->
