<div class="menu-list-wrapper">
        <h1>MY ACCOUNT</h1>
        <div class="my-account-wrapper">
          <div class="my-account-menu">
            <ul>
              <li><a href="javaScript:void(0)" onclick="changeUserpage('profile')" class="profile active">PROFILE</a></li>
              <li><a href="javaScript:void(0)" onclick="changeUserpage('orderhistory')" class="orderhistory">ORDER HISTORY</a></li>
              <li><a href="javaScript:void(0)" onclick="changeUserpage('savedaddress')" class="savedaddress">SAVED ADDRESSES</a></li>
              <li><a href="javaScript:void(0)" onclick="changeUserpage('savedbilling')" class="savedbilling">SAVED BILLING</a></li>
            </ul>
          </div>
        </div>
        <div class="accout-info-wrapper">
     
          <div class="accout-info-inner account-show-inner">
            <h3>ACCOUNT INFO</h3>
            <p>
				<span class="inline_texts">Name</span>:  {$user->first_name} {$user->last_name}<br />
				<span class="inline_texts">Email Address</span>:  {$user->username}<br />
				<span class="inline_texts">Password </span>:  xxxxxxxxx<br />
	<!-- 			<span class="inline_texts">Phone Number</span>: {$user->phone}<br/>
				<span class="inline_texts">Company</span>: {$user->company} -->
			</p>
				<a href="javascript:void(0)" class="edit edit_mydetails">EDIT</a>
           </div>
           <div class="accout-info-inner account-edit-inner" style="display:none;">
			   <form id="myaccount_detail_form">
				<p> <span class="inline_texts">First Name</span>: <input type="text" name="first_name" value="{$user->first_name}" placeholder="First name"/></p>
				<p><span class="inline_texts">Last Name</span>: <input type="text" name="last_name" value="{$user->last_name}" placeholder="Last name"/></p>
				<p><span class="inline_texts">Email</span>: <input type="text" name="username" value="{$user->username}" placeholder="Email"/></p>
				<p><span class="inline_texts">Password</span>: <input type="password" name="password" value="" placeholder="New Password"/></p>
				<!-- <p><span class="inline_texts">Phone</span>: <input type="text" name="phone" value="{$user->phone}" placeholder="phone"/></p>
				<p><span class="inline_texts">Company</span>: <input type="text" name="company" value="{$user->company}" placeholder="company"/></p> -->
				<input type="hidden" name="uid" value="{$user->uid}">
				<a href="javascript:void(0)" class="edit save_mydetails">SAVE</a>
				<a style="margin-left:10px;" href="javascript:void(0)" class="edit cancelIt">Cancel</a>
				</form>				
           </div>
           
          
      </div>
      </div>
  </div>
 
{if $orderview eq 1}
  {literal}
<script>
$(document).ready(function(){
changeUserpage('orderhistory');

});
</script>
{/literal}
{/if}