	{if $valid_token eq false}
		{literal}
		<script> 
			$(document).ready(function(){
				alert("This Link is Invalid/Expired, please check your email for recent password reset link");
				window.location = SITE_URL;
			})
		</script>
		{/literal}
	 {else $valid_token eq true}
	<div class="menu-list-wrapper resetpassowrd">
        <h1>Reset Password</h1>
        <div class="container">
        <form action="{$SITE_URL}myaccount/setPassowrd" method="post">
			<label>New Password</label><br/>
			<input type="password" name="password" class="text" /><br/>
			
			<label>Confirm New Password</label><br/>
			<input type="password" name="c_password" class="text" /><br/>
			<input type="button" value="Submit" class="reset_password" />
			
			<input type="hidden" name="tokenid" value="{$data->tokenid}" />
			<input type="hidden" name="token" value="{$data->token}" />
        </form>
        </div>
        
        {literal}
        <script>	
		if( $(window).width() < 690 )
		{
			//console.log( " XXXXX  " + $(window).width() );
			$( '.menu-list-wrapper' ).css('margin-top',60);
		}

	</script>
	{/literal}
    </div> 
    {/if}
