  <div class="landing-page"  >
               <h2>MAKE ONE OF YOUR GO-TO SANDWICHES, OR TRY SOMETHING COMPLETELY NEW! </h2> 

               <div class="price">
                 <ul>
                 <li class="startnow">Get Started Now!</li>

                 </ul>
               </div>
            </div>
