
       {section name=sandwitch start=0 loop=$GALLARY_DATA|@count step=1 }
             
              {assign var = 'bread_name' value=$GALLARY_DATA[$smarty.section.sandwitch.index].sandwich_data.BREAD.item_name[0] }
              {assign var = 'prot_data' value = $GALLARY_DATA[$smarty.section.sandwitch.index].sandwich_data.PROTEIN.item_name }
              {assign var = 'cheese_data' value = $GALLARY_DATA[$smarty.section.sandwitch.index].sandwich_data.CHEESE.item_name }
              {assign var = 'topping_data' value = $GALLARY_DATA[$smarty.section.sandwitch.index].sandwich_data.TOPPINGS.item_name }
              {assign var = 'cond_data' value = $GALLARY_DATA[$smarty.section.sandwitch.index].sandwich_data.CONDIMENTS.item_name }
              
              {assign var =  'bread_name' value = $bread_name|replace:' ':'##' }
              
              {php}
              $result = '';
              $d = $_smarty_tpl->get_template_vars('prot_data');
              if($d){
              foreach($d as $d){
              
               $d = trim($d);
               $d = str_replace(' ','##',$d);
               $result .= ' '.$d;
              }}
              {/php}
              
              
                     {php}
              $result_1 = '';
              $c = $_smarty_tpl->get_template_vars('cheese_data');
               if($c){
              foreach($c as $c){
              
               $c = trim($c);
               $c = str_replace(' ','##',$c);
              
               $result_1 .= ' '.$c;
              }}
              {/php}
              
              
                     {php}
              $result_2 = '';
              $t = $_smarty_tpl->get_template_vars('topping_data');
              if($t){
              foreach($t as $t){
               $t = trim($t);
               $t = str_replace(' ','##',$t);
               $result_2 .= ' '.$t;
              }}
              {/php}
              
              
                     {php}
              if($o){       
              $result_3 = '';
              $o = trim($o);
              $o = str_replace(' ','##',$o);
              $o = $_smarty_tpl->get_template_vars('cond_data');
              foreach($o as $o){
               $result_3 .= ' '.$o;
              }}
              {/php}
      
      
              
                   
                   
                   {if $order_data.user_sandwich.item_id|@is_array} 
                   {assign var = 'items_id' value = $GALLARY_DATA[$smarty.section.sandwitch.index].id|in_array:$order_data.user_sandwich.item_id}
                   {else}
                   {assign var = 'items_id' value = '0' }
                   {/if}
              
              {if $GALLARY_DATA[$smarty.section.sandwitch.index].by_admin eq 1}
              {assign var="url" value=$ADMIN_URL}
              {else}
              {assign var="url" value=$SITE_URL}
              {/if}
              
              {assign var="sname" value=$GALLARY_DATA[$smarty.section.sandwitch.index].sandwich_name}
       		{assign var="tname" value=$GALLARY_DATA[$smarty.section.sandwitch.index].sandwich_name_trimmed}
                <li data-sandwich_desc="{$GALLARY_DATA[$smarty.section.sandwitch.index].sandwich_desc}" data-sandwich_desc_id="{$GALLARY_DATA[$smarty.section.sandwitch.index].sandwich_desc_id}" data-flag="{$GALLARY_DATA[$smarty.section.sandwitch.index].flag}" data-menuadds="{$GALLARY_DATA[$smarty.section.sandwitch.index].menu_add_count}" data-userid ="{$GALLARY_DATA[$smarty.section.sandwitch.index].uid}" {if $items_id  eq 1} rel="ADDED TO CART" {else} rel="ADD TO CART" {/if} data-cheese="{php} echo $result_1;{/php}" data-topping="{php} echo $result_2;{/php}" data-cond="{php} echo $result_3;{/php}" data-toast="{$GALLARY_DATA[$smarty.section.sandwitch.index].menu_toast}" data-formatdate="{$GALLARY_DATA[$smarty.section.sandwitch.index].formated_date}" data-username="{$GALLARY_DATA[$smarty.section.sandwitch.index].user_name}" data-protien="{php} echo trim($result); {/php}" data-bread="{$bread_name}"  data-date="{$GALLARY_DATA[$smarty.section.sandwitch.index].date_of_creation}" data-price="{$GALLARY_DATA[$smarty.section.sandwitch.index].sandwich_price}" data-id="{$GALLARY_DATA[$smarty.section.sandwitch.index].id}" data-name="{$GALLARY_DATA[$smarty.section.sandwitch.index].sandwich_name}" data-likeid="{$GALLARY_DATA[$smarty.section.sandwitch.index].like_id}" data-likecount="{$GALLARY_DATA[$smarty.section.sandwitch.index].like_count}"> 
                <span class="inner-holder" style="position: relative">
                <input type="hidden" name="chkmenuactice{$GALLARY_DATA[$smarty.section.sandwitch.index].id}" value="{$GALLARY_DATA[$smarty.section.sandwitch.index].menu_is_active}" />
                <img data-href="{$SITE_URL}createsandwich/index/{$GALLARY_DATA[$smarty.section.sandwitch.index].id}" width="124" src="{$image_path}{$GALLARY_DATA[$smarty.section.sandwitch.index].uid}/thumbnails/sandwich_{$GALLARY_DATA[$smarty.section.sandwitch.index].id}_{$GALLARY_DATA[$smarty.section.sandwitch.index].uid}.png" alt="sandwitchimageview">
                <input type="hidden" name="image" id="sandImg_{$GALLARY_DATA[$smarty.section.sandwitch.index].id}" value="{$image_path}{$GALLARY_DATA[$smarty.section.sandwitch.index].uid}/sandwich_{$GALLARY_DATA[$smarty.section.sandwitch.index].id}_{$GALLARY_DATA[$smarty.section.sandwitch.index].uid}.png">

                <h3 title="{$sname}">{$tname}</h3>

                <a href="javascript:void(0);" class="link">VIEW</a>       </span> 
                </li>
                <input type="hidden" name="hidden_uid" id="hidden_uid" value="{$smarty.session.uid}" >     
          {/section}
          
        <input type="hidden" name="sandwich_count" id="sandwich_count"  value="{$sandwich_count}" >
        <input type="hidden" name="search" id="search"  value="true" >
    
    
    
