<div class="slides_control">
	<div class="banner slide"> <img src="{$ADMIN_URL}upload/20150602_024744.png" alt="Banner">
        <h3>Sandwiches Your Way</h3>
        <p>BUILD A CUSTOM SANDWICH FROM A CURATED <br> SELECTION OF PREMIUM LOCAL INGREDIENTS</p>
        <a href="{$SITE_URL}createsandwich" class="placeorder link">PLACE ORDER</a>        
      </div>
</div>

	
