<div class="slides_control">
	
	
	<div style="float: left; position: relative;width: 100%; margin-bottom:28px;">
	
		<span class="banner-image"><img src="{$ADMIN_URL}upload/20150128_060526.png" alt="Slide 1"></span>
			<div class="slider_controls" style="position: absolute;left: 426px;top: 0px;width: 500px;">
				<a href="#" target="_blank">
				<h1 style='float: none;font: 56px/74px "oswald_stencilregular", sans-serif;color: #342920;margin: 30px 0 21px; width:80%;'>CREATE YOUR OWN SANDWICH IN 5 EASY STEPS</h1>
				</a>
       		<a style='font: 700 25px/14px "Oswald", sans-serif;color: #dab37f;background-color: #342920;text-transform: uppercase;text-align: center;padding: 20px 38px;float: left;' href="javascript:void(0)" onclick="window.location.href ='createsandwich'" class="placeorder link">PLACE ORDER</a>
       		</div>
        			     
    				        		
        			        			
	</div>
</div>
