{foreach from=$webpagedata key=k item=v}
					  
		 {assign var = 'image_exist' value =$v->image}	
			{php}
			 $d = $_smarty_tpl->get_template_vars('image_exist');
			 
			 $ch = curl_init($d);
			curl_setopt($ch, CURLOPT_NOBODY, true);
			curl_exec($ch);
			$retCode = curl_getinfo($ch, CURLINFO_HTTP_CODE);
			curl_close($ch);
		
			{/php}
	{php} if($retCode==200){{/php}			

<div class="slides_control">
	
	
	<div style="float: left; position: relative;width: 100%; margin-bottom:28px;">
		<a href="{$v->link}" {if $v->redirection_status eq 2} target="_blank"  {/if}>
		<span class="banner-image"><img src="{$v->image}" alt="Slide 1"></span>
		</a>
			<div style="position: absolute;left: 426px;top: 0px;width: 500px;">
				<a href="#" target="_blank">
				<h1 style='float: none;font: 56px/74px "oswald_stencilregular", sans-serif;color: #342920;margin: 30px 0 21px; width:80%;'>{$v->text}</h1>
				</a>
       		<a style='font: 700 25px/14px "Oswald", sans-serif;color: #dab37f;background-color: #342920;text-transform: uppercase;text-align: center;padding: 20px 38px;float: left;' href="javascript:void(0)" onclick="window.location.href ='createsandwich'" class="placeorder link">{if $v->button_text}{$v->button_text}{else}PLACE ORDER{/if}</a>
       		</div>
        			     
    				        		
        			        			
	</div>
</div>
{php} } {/php}	
{/foreach}
