.facebook-container .facebook-container-right {
  width: 176px;
}

.facebook-container .facebook-container-left a.shopping-cart {
  margin-left: 10px;
  padding-right: 5px;
  padding-left: 8px;
}

.two-column .past-orders {
  width: 47%;
  padding-right: 5px;
}
.two-column .past-orders a.view-all {
  width: 70px;
}
.two-column .past-orders ul li {
  width: 100%;
}
.two-column .past-orders ul li p {
  font-size: 11px;
}
.two-column .past-orders ul li a.reorder-button {
  font-size: 13px;
}

.two-column .saved-sandwich {
  width: 52%;
}
.two-column .saved-sandwich a.view-all {
  width: 70px;
}
.two-column .saved-sandwich ul li {
  padding-left: 5px;
}
.two-column .saved-sandwich ul li p {
  font-size: 11px;
  width: 77%;
}
.two-column .saved-sandwich ul li a.addtocart-button {
  font-size: 13px;
  padding-left: 5px;
  padding-right: 5px;
}

.menu-list-wrapper ul.menu-listing li .side-button-holder .buttons span.plus {
  margin-left: 16px;
}

.popup-wrapper {
  position: fixed;
}

.added-menu-sandwiches-inner {
  top: 5%;
}
.added-menu-sandwiches-inner .title-holder h1 {
  font-size: 22px;
}

.friends-menu-inner {
  top: 5%;
}

.login-inner .form-holder .text-firstname, .login-inner .form-holder .text-lastname, .login-inner .text-email, .login-inner .text-password {
  padding-top: 8px;
  height: 21px;
}

.salads-wrapper ul li h3, .order-history ul.order-history-inner .section2 h3 {
  font-size: 22px;
}

.sandwich-main-link-box li {
  margin-right: 30px;
}

.add-new-address-inner ul.from-holder li .text-box-holder .text-box-control, .add-new-address-inner ul.from-holder li .text-box-holder .text-box-control, .add-new-address-inner ul.from-holder li .text-box-holder .text-box-control, .add-new-address-inner ul.from-holder li .text-box-holder .text-box-control, .add-new-address-inner ul.from-holder li .text-box-holder1 .text-box-control, .add-new-address-inner ul.from-holder li .text-box-holder .text-box-phone {
  padding-top: 8px;
  height: 21px;
}
