@media print {
	@page :left {
		margin: 0.65cm;
	}
	
	
	@page :right {
		margin: 0.65cm;
	}
	
	@page :top {
		margin: 1.2cm;
	}
	
	@page :bottom {
		margin: 1.2cm;
	}
	
	
	
	
	.order_details_right .ingredient-wrapper .ingredient {
	/* For displaying for border remove the code below */
		border:1.2px solid #fff !important; 
	}
	
	html, body {
		margin: 0px 0px 0px 0px;
		padding: 0px 0px 0px 0px;
		background: none;
		height: auto !important;
		width: 100% !important;
	}
	
	.popupOrderDetailsBg {
		background-color: transparent !important;
		height: auto !important;
		width: auto !important;
        opacity: inherit !important;
        z-index: inherit !important;
		position: inherit !important;
	}
	
	
	.popupOrderDetails {
		z-index: inherit !important;
		position: inherit !important;
		width: 100%;
		margin: 0px 0px 0px 0px;
	}
	
	
	.popup_order_detail {
		margin: 0px 0px 0px 0px;
		padding: 0px 0px 0px 0px;
		position: inherit;
		width: 100% !important;
		display: block;
	}
	#outer-wrapper, .popup-wrapper, #ui-datepicker-div {
		display: none;
	}
	body {
		background-image: none;
	}
	.print {
		display: block !important;
	}
	.closeOrd {
		display: none;
	}
	.order_details_left {
		float: none;
	}
	.page-break1 {
		display: block;
		height: 40px;
		float: right;
	}
	.page-break2 {
		display: block;
		height: 60px;
		float: right;
	}
	.order_details_right {
		float: right;
	}
	.order_details_right .ingredient-wrapper .ingredient {
		width: 232px;
		height: 89px;
		float: right; /* padding:8px 15px; */
		padding: 0px 0px;
	}
	.order_details_left .order_details_checkbox-wrapper .checkbox {
		display: inline-block;
		width: 34px;
		line-height: 17px;
		vertical-align: top;
	}
	.order_details_right .ingredient-wrapper {
		position: relative;
	}
	.order_details_right .ingredient-wrapper .ingredient:nth-child(10),
		.order_details_right .ingredient-wrapper .ingredient:nth-child(20),
		.order_details_right .ingredient-wrapper .ingredient:nth-child(30),
		.order_details_right .ingredient-wrapper .ingredient:nth-child(40) {
		margin-bottom: 3px;
	}
	.order_details_right .ingredient-wrapper .ingredient:nth-child(11),
		.order_details_right .ingredient-wrapper .ingredient:nth-child(21),
		.order_details_right .ingredient-wrapper .ingredient:nth-child(31),
		.order_details_right .ingredient-wrapper .ingredient:nth-child(41) {
		height: 89px;
	}
	.ingredient-wrapper .ingredient .wrap_item {
		display: table;
		width: 90%;
		height: 100%;
		margin: 0px 11px 0px 15px;
	}
	.ingredient-wrapper .ingredient .wrap_item .cell {
		display: table-cell;
		vertical-align: middle;
	}
	.ingredient-wrapper .ingredient:first-child, .ingredient-wrapper .ingredient:nth-child(2)
		{
		/*margin-bottom: 40px;*/
		margin-bottom: 0px;
		/*margin-top: 0px;*/
		/*height: 93px;*/
	}
	.ingredient-wrapper .ingredient:first-child, .ingredient-wrapper .ingredient:nth-child(2)
		{
		/*padding : 15px 15px 7px;*/
		padding: 0px;
		width: 232px;
		/*height:96px;*/
	}
	.ingredient-wrapper .ingredient:first-child .wrap_item,
		.ingredient-wrapper .ingredient:nth-child(2) .wrap_item {
		display: table;
		width: 90%;
		height: 100%;
	}
	.ingredient-wrapper .ingredient:first-child .wrap_item br,
		.ingredient-wrapper .ingredient:nth-child(2) .wrap_item br {
		display: none;
	}
	.ingredient-wrapper .ingredient:first-child .wrap_item .cell,
		.ingredient-wrapper .ingredient:nth-child(2)  .wrap_item .cell {
		display: table-cell;
		vertical-align: middle;
	}
	.ingredient-wrapper .ingredient:first-child .wrap_item .cell {
		padding-left: 3px;
	}
	.ingredient-wrapper .ingredient .wrap_item .cell p {
		height: 30px;
	}
	.ingredient-wrapper .ingredient:first-child .wrap_item .cell p,
		.ingredient-wrapper .ingredient:nth-child(2) .wrap_item .cell p,
		.ingredient-wrapper .ingredient.address_page .wrap_item .cell p {
		height: 10px;
		/*line-height: 9px;*/
		line-height: 10px;
	}
	.order_details_right .ingredient-wrapper .ingredient h3 {
		font-size: 13px;
	}
	.order_details_right .ingredient-wrapper .ingredient:first-child h3,
		.order_details_right .ingredient-wrapper .ingredient:nth-child(2) h3 {
		font-size: 14px;
	}
	.order_details_right .ingredient-wrapper .ingredient:first-child p,
		.order_details_right .ingredient-wrapper .ingredient:nth-child(2) p {
		font-size: 11px;
		line-height: 11px;
	}
	.address_page, p.print_desc {
		display: block !important;
	}
	p.normal_desc {
		display: none !important;
	}
}