@CHARSET "UTF-8";
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  src: local("Oswald Light"), local("Oswald-Light"), url("../fonts/Oswald300.woff") format("woff");
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local("Oswald Regular"), local("Oswald-Regular"), url("../fonts/Oswald400.woff") format("woff");
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  src: local("Oswald Bold"), local("Oswald-Bold"), url("../fonts/Oswald700.woff") format("woff");
}

@font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/opensans-bold.woff2') format('woff2'),
         url('../fonts/opensans-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular.woff2') format('woff2'),
         url('../fonts/opensans-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
  font-family: 'steelfishextrabold';
  src: url("../fonts/steelfish/steelfish_eb-webfont.eot");
  src: url("../fonts/steelfish/steelfish_eb-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/steelfish/steelfish_eb-webfont.woff2") format("woff2"), url("../fonts/steelfish/steelfish_eb-webfont.woff") format("woff"), url("../fonts/steelfish/steelfish_eb-webfont.ttf") format("truetype"), url("../fonts/steelfish/steelfish_eb-webfont.svg#steelfishextrabold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'oswald_stencilregular';
  src: url("../fonts/oswald-stencil/oswald-stencil-webfont.eot");
  src: url("../fonts/oswald-stencil/oswald-stencil-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/oswald-stencil/oswald-stencil-webfont.woff2") format("woff2"), url("../fonts/oswald-stencil/oswald-stencil-webfont.woff") format("woff"), url("../fonts/oswald-stencil/oswald-stencil-webfont.ttf") format("truetype"), url("../fonts/oswald-stencil/oswald-stencil-webfont.svg#oswald_stencilregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'lobster_1.4regular';
  src: url("../fonts/lobster/lobster_1.4-webfont.eot");
  src: url("../fonts/lobster/lobster_1.4-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lobster/lobster_1.4-webfont.woff2") format("woff2"), url("../fonts/lobster/lobster_1.4-webfont.woff") format("woff"), url("../fonts/lobster/lobster_1.4-webfont.ttf") format("truetype"), url("../fonts/lobster/lobster_1.4-webfont.svg#lobster_1.4regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'franchiseregular';
  src: url("../fonts/franchise-bold-hinted-webfont.eot");
  src: url("../fonts/franchise-bold-hinted-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/franchise-bold-hinted-webfont.woff2") format("woff2"), url("../fonts/franchise-bold-hinted-webfont.woff") format("woff"), url("../fonts/franchise-bold-hinted-webfont.ttf") format("truetype"), url("../fonts/franchise-bold-hinted-webfont.svg#franchiseregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'helveticaregular';
  src: url("../fonts/helvetica/helvetica-webfont.eot");
  src: url("../fonts/helvetica/helvetica-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/helvetica/helvetica-webfont.woff2") format("woff2"), url("../fonts/helvetica/helvetica-webfont.woff") format("woff"), url("../fonts/helvetica/helvetica-webfont.ttf") format("truetype"), url("../fonts/helvetica/helvetica-webfont.svg#helveticaregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gabrielleregular';
  src: url("../fonts/gabrielle/gabrielle-webfont.eot");
  src: url("../fonts/gabrielle/gabrielle-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gabrielle/gabrielle-webfont.woff2") format("woff2"), url("../fonts/gabrielle/gabrielle-webfont.woff") format("woff"), url("../fonts/gabrielle/gabrielle-webfont.ttf") format("truetype"), url("../fonts/gabrielle/gabrielle-webfont.svg#gabrielleregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'impactreg';
  src: url("../fonts/impact/impactreg.eot");
  src: local("impactreg"), url("../fonts/impact/impactreg.woff") format("woff"), url("../fonts/impact/impactreg.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
	 
@page {
	size: 8.5in 11in;
	margin  : 25px 6px;
}
  
.pdf_container{
    width: 100%;
}
.pdf_container_left {
	float:left;
	width:67%;
}
.order_details_right {
    width: 32%;
    float:left;
}
.container_head h1 {
    display: block;
    float: left;
    font-family: "Oswald";
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    margin: 0.67em 0;
    text-transform: uppercase;
}

.order_details_checkbox-wrapper .checkbox {
    float: left;
    line-height: 17px;
    vertical-align: top;
    width: 25px;
    
}

.order_details_checkbox-wrapper .product {
	float: left;
}
.order_details_checkbox-wrapper .product .quantity {
	font-family: "opensans";
    font-size: 14px;
    font-weight: bold;
    width:5%;
    float: left;
}
.order_details_checkbox-wrapper .product .ingredient {
    width:95%;
    float: left;
    margin-bottom:30px;
    font-weight: 400;
}

.order_details_checkbox-wrapper .product .ingredient .ingredient_span {
    display: inline-block;
    vertical-align: top;
    width: 40px;
}

.order_details_checkbox-wrapper .product .ingredient span {
  display: inline-block;
  width: 161px;
}
.ingredient .order-item-name {
    font-family: "opensans";
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
}
.ingredient .ingredient_span {
    display: inline-block;
    font-size: 11px;
    font-family: "opensans";
    font-weight:300;
    vertical-align: top;
    width: 60px;

}
.ingredient .ingriedient-names {
    display: inline-block;
    font-size: 11px;
    font-family: "opensans";
    font-weight:300;
    margin-bottom:3px;
}
.ingredient-details {
	margin-top:-20px;
	margin-bottom:10px;
}
.toasted {
     font: 10px "lobster";
}
.toasted-detail {
	display: inline-block;
	font: 12px "lobster";
    margin-top:0;
}
/**/

/* .add-detail {
	 border: 1px solid #000000;
     border-radius:10px;
     padding:5px;
} */
.order_details_left .ingredient p {
	line-height:14px;
	margin-bottom:2px;
}
.order_details_right .container_item .ingredient, .order_details_right .delivery_address .container_address .add-detail {
    border: 0.5px solid #ffffff;
    border-radius:10px;
	width:252px;	
	padding:5px;
	border-bottom: 0px;
}
 .order_details_right .delivery_address .container_address .add-detail{
	height:90px !important;
 }

 .order_details_right .container_item .ingredient{
	height:89px !important; 
 }
 
.order_details_right .container_address h3 , .ingredient h3 {
    display: inline-block;
    font-family: "Oswald";
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    margin:0;
}
.order_details_right h1, .ingredient h1  {
    color: #1a1a1a;
    display: inline-block;
    text-align: right;
    font-family: "Oswald";
    font-size: 32px;
    font-weight: 400;
     margin:-20px 0 0 0;
}
.container_address p, .ingredient p {
    color: #404040;
    font-size: 10px;
    line-height: 10px;
    margin:0;
}
.container_address p, .ingredient-details p {
   
    font-size:11px;
     font-weight: 400;
   
}
