 <label>Pickup Locations</label>
    <select name="user_address" class="select user_address">
        <option value="">Select Address</option>
		{foreach from=$addresses key=k item=v}
			<option value="{$v->id}">{$v->store_name}, {$v->address1}, {$v->address2}, {$v->zip}</option>
        { /foreach }
    </select>
	<input type="hidden" name="address_type"  value="pickup" />                 
   
