<div class="container">
      <div class="store-accounts">
          <h1>MENU ITEMS</h1>
          <h2>CUSTOM</h2> 
      </div>
<form id="update_custom_menu" name="update_custom_menu" action="{$SITE_URL}menu/updateSandwichCategoryItems" method="post">      
{foreach from=$dataList key=i item=list}

      <div class="store-accounts">
      
       
       <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tbody><tr>
          <th width="10%" height="33">LIVE</th>
          <th width="15%">PRTY</th>
            <th width="15%">IMAGE PRTY</th>
            <th width="15%">SHEET PRTY</th>
          <th width="52%">{$list.name}</th>
		   <th width="9%">PRICE</th>
        <th width="4%"></th>
		    <th width="4%"></th>

        </tr>
{foreach from=$list.data key=k item=data}
        <tr class="{if $k%2 == 0}even{/if}">
          <td width="10%" align="center">
          <span class="multi-left">
               <input type="checkbox" {if $data.live } checked="checked" {/if} name="customlivecheckbox{$data.id}" class="input-checkbox" id="checkbox-{$i}-{$k}">
             <label class="multisel-ckeck" for="checkbox-{$i}-{$k}"></label>
            </span>
          </td>
          
        
          
          <td width="15%">
            <input type="text" class="field" name="sandwich_category_items_order[]" value="{$data.priority}">
            <input type="hidden" class="field" name="sandwich_category_items[]" value="{$data.id}">
          </td>
          
           <td width="15%">
            <input type="text" class="field" name="sandwich_category_image_priority[]" value="{$data.image_priority}">
          </td>
          <td width="15%">
            <input type="text" class="field" name="sandwich_category_sheet_priority[]" value="{$data.sheet_priority}">
          </td>
          <td width="38%"><a href="{$SITE_URL}menu/editItems/{$data.id}">{$data.item_name}</a></td>
          <td width="9%"><a href="{$SITE_URL}menu/editItems/{$data.id}">{'$'}{$data.item_price}</a></td>
          <td width="4%"><a href="{$SITE_URL}menu/editItems/{$data.id}">edit</a></td>
          <td width="9%"><a href="{$SITE_URL}menu/deleteItems/{$data.id}" onclick="return confirm('Are you sure you want to delete?')">delete</a></td>
        </tr>

{/foreach}
      </tbody></table>
      
       <a href="#" onclick="document.getElementById('update_custom_menu').submit();" class="update">update</a>
      <a href="{$SITE_URL}menu/new{$list.cat_name}" class="add-user">ADD NEW ITEM</a>
        
    </div>

{/foreach}
</form>
 
  
   
  </div>
