
          {section name=users loop=$users_data } 
   		 <tr>
            <td><a href="{$SITE_URL}customer/profile/{$users_data[users].uid}">{$users_data[users].first_name} {$users_data[users].last_name}</a></td>
            <td>{$users_data[users].username}</td>
            <td></td>
            <td>{$users_data[users].sandwich_count}</td>
            <td>${$users_data[users].total_price}</td>
          </tr>
		{/section}  
		