<div class="container">
     <div class="homepage-banner">
     <form action="{$SITE_URL}web/updateWebPageData" name="" method="POST">
     
       <h1>homepage</h1>
       {foreach from=$webpageData key=k item=v}
          <label>Name of webPage</label>
          <input type="text" name="webpage_name" value="{$v->webpage_name}">
          <input type="hidden" name="id" value="{$v->id}">
       
       <br/> <br/> <br/>
          <label>Text</label>
          <textarea name="text" class="ckeditor">{$v->text}</textarea>     
        <br/> <br/>
        <label>Status</label>
        <input type="checkbox" id="checkbox-2-1" class="input-checkbox" name="status"  value="1" {if $v->status eq 1}checked{/if}>
        <br/> <br/>
        <label>Slug</label>
        <input type="text" id="" class="" name="slug"  value="{$v->slug}" />
         <br/> <br/>
        <label>Order</label>
        <input type="text" id="" class="" name="orders"  value="{$v->orders}" />
         <br/> <br/>
       <input type="submit" name="submit" value="SAVE" style="display:none;" >
       <input type="button" name="submit" value="SAVE" class="save save_webpage" >
        
        <a class="cancel" href="{$SITE_URL}web">CANCEL</a>
       
       {/foreach}
       
       </form> 
    </div>
   
    
  </div>
