<div class="container">
 

 

<div class="store-accounts">
        <h1> item options </h1>

<div class="store-accounts">
      
   <form action="{$SITE_URL}menu/updateoptionstatus" id="myForm" method="post" name="myForm"> 
       <table cellspacing="0" cellpadding="0" border="0" width="100%">
        <tbody><tr>
           <th width="10%" height="33">LIVE</th>
          <th width="16%">PRTY</th>  
          <th width="52%">OPTIONS</th>
		 <!--   <th width="9%">PRICE</th> -->
		    <th width="4%"></th>
		    <th width="9%">Delete</th>
        </tr>
        {foreach from=$OPTION_DATA  key=ky item=val }
         <td align="center" width="10%">
         <span class="multi-left">
         <input type="checkbox" id="checkbox-0-{$ky}" class="input-checkbox"   value="1"  name="live{$val->id}" {if $val->active } checked="checked" {/if} >
         <label for="checkbox-0-{$ky}"  class="multisel-ckeck"></label>
         <input name="hid[]" type="hidden"  value="{$val->id}" />
         </span>
         </td> 
         <td width="16%"><input type="text" value="{$val->priority}" name="priority[]" class="field"></td>  
         <td width="52%"><a href="{$SITE_URL}menu/createOption/{$val->id}">{$val->option_display_name}</a></td>
         <!-- <td width="9%"><a href="#">$8.00</a></td> -->
         <td width="4%"><a href="{$SITE_URL}menu/createOption/{$val->id}">edit</a></td>
         <td width="9%"><a onclick="return confirm('Are you sure you want to delete?')" href="{$SITE_URL}menu/deleteOption/{$val->id}">delete</a></td>
         </tr>
        {/foreach}
        </tbody></table>  

       <a class="update update_priority" onclick="document.getElementById('myForm').submit();" href="#">update</a>
      <a class="add-user" href="{$SITE_URL}menu/createOption">ADD NEW OPTION</a>
   </form>       
    </div>
    
    
     </div>  </div>