 <div class="container">
    <div class="user-account">
       <h1>EDIT DELIVERY ACCOUNT</h1>
    
		   <form action="{$SITE_URL}accounts/updateDeliveryUser" method="POST">
		   	 {section name=deliveryUser start=0 loop=$delivery_user|@count step=1 }
		         <div class="item-report">
		           <label>Name</label>
		          <input name="delivery_name" type="text" value="{$delivery_user[$smarty.section.deliveryUser.index].name}">
		          <input type="hidden" name="hidden_uid" value="{$delivery_user[$smarty.section.deliveryUser.index].uid}">
		          <label>Username</label>
		          <input name="delivery_user_uname" type="text" value="{$delivery_user[$smarty.section.deliveryUser.index].user_name}">
		          <label>Password</label>
		          <input name="delivery_user_pwd" type="password">
		          <label>Confirm Password</label>
		          <input name="delivery_user_cpwd" type="password" value="">
		         <!--  <label>Assigned Stores</label> -->
		          <div class="store-location store-location-new">
		          	<ul>
			          <li><label>Assigned Stores</label></li>{assign var =count value=1 }
			              {section name=options start=0 loop=$pickupstores|@count step=1 }
			             
				          <li>
					           <span class="multi-left">
					           <input type="checkbox" id="checkbox-2-{$count}" class="input-checkbox" name="store_id[]" value="{$pickupstores[$smarty.section.options.index].id}" {if $pickupstores[$smarty.section.options.index].id|in_array:$sid_ary} checked {/if}>
					            <label for="checkbox-2-{$count}" class="multisel-ckeck"></label>
					            </span> <span class="radio-text">{$pickupstores[$smarty.section.options.index].store_name}</span> 
					       </li>
					       {assign var=count value=$count+1}
				          {/section}
       				 </ul>
		          </div>
		         	<br/><br/><br/>
		          <input type="submit" name="submit" value="UPDATE USER">
		           </div>
		           {/section}
		       </form>
      
    </div>
  </div>


