<div class="container">
     <div class="webpage">
       <h1>homepage</h1>
     <form name="myFormWebPage" method="post" id="myForm" action="{$SITE_URL}web/updateWebHomePagePriority" >   
       <table width="100%" cellspacing="0" cellpadding="0" border="0">
        <tbody><tr>
          <th width="6%">LIVE</th>
          <th width="6%">PRTY</th>
          <th colspan="3">BANNERS</th>
        </tr>
        {foreach from=$homepageData key=k item=v}
        <tr>
          <td width="6%" align="center">
          <span class="multi-left">
               <input type="checkbox" id="checkbox-{$k}-{$v->id}" class="input-checkbox"  value="1" name="live[{$v->id}]" {if $v->live eq 1} checked {/if}>
             <label for="checkbox-{$k}-{$v->id}" class="multisel-ckeck"></label>
            </span>
          </td>
          <td width="8%"><input type="text" value="{$v->priority}" name="priority[{$v->id}]" class="field"></td>
          <td width="80%">{$v->banner_name}</td>
          <td width="8%"><a href="{$SITE_URL}web/editWebHomePagePriority/{$v->id}">edit</a></td>
          <td width="7%"><a href="{$SITE_URL}web/deleteHomepageBanner/{$v->id}">delete</a></td>
        </tr>
       <input type="hidden" name="hidden_webhomepage_ids[]" value="{$v->id}">
        {/foreach}
      
        
      </tbody></table>
      
      
       
      <a href="#" onclick="document.getElementById('myFormWebPage').submit();" class="update update_priority">update</a>
        </form>   
      <a class="add-user" href="{$SITE_URL}web/newBanner/">ADD NEW BANNER</a>
        
    </div>
  </div>
