 <div class="container">   
<div class="new-discount login">
<h1>Log In</h1>
       
    {$error}
    <form name="loginForm" id="loginForm" action ="{$SITE_URL}login/loginCheck/" method="post">
     <ul>
    <li>
    <label>Email</label>
    <input class="text-email" id="lemail" name="email" type="text" placeholder="Email">
    </li>
<li>
    <label>Password</label>
    <input class="text-password" id="lpwd" name="password" type="password" placeholder="Password">
</li>
 <li>
     <label style="width:101px; ">Remember Me</label>

      <input style="width:10px;margin-top:10px;" id="rememberme" name="rememberme" type="checkbox" value="1" placeholder=""/>
  </li>
<li>
<input style="display:block; float: none; margin-left: -120px; margin-top: 39px;" type="submit" id="login_submit" class="login-button" value="LOG IN">
</li>

   </ul>
  <!-- <a href="{$SITE_URL}home/loginCheck" id="login_btn" class="login-button">LOG IN</a>-->
     </form>
</div>
</div>
