<div class="container">
     <div class="homepage-banner">
     <form action="{$SITE_URL}web/addWebPageBannerData" name="" enctype="multipart/form-data" method="POST">
       <h1>homepage</h1>
       <ul>
        <li>
          <label>Name of Banner</label>
          <input type="text" name="banner_name" value="">
        </li>
        <li>
          <label>Type of Banner</label>
          <div class="banner">
            <img width="120" height="54" src="{$SITE_URL}app/images/banner1.png">
            <input type="radio" value="1" class="input-radio" name="banner" id="Insurancereq1">
            <label for="Insurancereq1"></label>
            <label> Dimension : 384x331</label>
            <label> Size :  5 mb</label>
          </div>
          <div class="banner">
            <img width="120" height="54" src="{$SITE_URL}app/images/banner2.png">
            <input type="radio" value="2" class="input-radio" name="banner" id="Insurancereq2">
            <label for="Insurancereq2"></label>
               <label> Dimension : </label>
            <label> Size :  </label>
          </div>
          <div class="banner">
            <img width="120" height="54" src="{$SITE_URL}app/images/banner3.png">
            <input type="radio" value="3" class="input-radio" name="banner" id="Insurancereq3">
            <label for="Insurancereq3"></label>
               <label> Dimension : </label>
            <label> Size :  </label>
          </div>
        </li>
        
        <li>
           <label>Image</label>
           <input type="file" value="choose file" name="item_image" class="choose">
        </li>
        
        <li>
          <label>Text</label>
          <textarea name="text"></textarea>
          <span class="multi-left">
             <input type="checkbox" id="checkbox-2-1" class="input-checkbox" name="banner_status" value="1">
             <label for="checkbox-2-1" class="multisel-ckeck"></label>
          </span>
        <p>Activate Button</p>
        </li>
          <li>
          <label>Button Text</label>
          <input type="text" name="button_text" value="">
        </li>
        <li>
          <label>Banner Link To Address</label>
          <input type="text" value="">
        </li>
        <li>
          <div class="radio-section">
            <input type="radio" value="1" class="input-radio" name="redirection_status" id="Insurancereq5">
            <label for="Insurancereq5"></label>
            <span class="radio-text">Redirect</span>
             <!-- 
            <input type="radio" value="2" class="input-radio" name="redirection_status" id="Insurancereq6">
            <label for="Insurancereq6"></label>
           <span class="radio-text">New Window</span> --> </div>
        </li>
        <li></li>

      </ul>
        
       <input type="submit" name="submit" value="SAVE" class="save">
        
        <a class="cancel" href="javascript:window.history.back();">CANCEL</a>
        
    </div>
    </form>
  </div>
