<div class="container">
    <div class="condiment">
      <h1>NEW PROTEIN</h1>
      
      <ul>
        <li>
          <label>Name of Protein</label>
          <input type="text" value="">
        </li>
        
         <li>
          <label>Description (Optional)</label>
          <div gramm="gramm" contenteditable="" style="border: 1px solid transparent; border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; box-sizing: content-box; display: block; height: 96px; width: 293.375px; padding: 3px 5px; margin: 0px 0px 8px; position: absolute; color: transparent; white-space: pre-wrap; overflow: hidden; z-index: 0; text-align: left; -webkit-transform: translate(0px, 70px); transform: translate(0px, 70px); background: none 0% 0% / auto repeat scroll padding-box border-box rgb(255, 255, 255);" id="a34f061f-1848-2cfd-3da2-54edf9fcb429" gramm_id="a34f061f-1848-2cfd-3da2-54edf9fcb429" gr_new_editor="true"><span style="line-height: normal; white-space: pre-wrap; text-align: start; clear: none; box-sizing: border-box; vertical-align: baseline; margin: 0px; padding: 0px; border: 0px; display: inline-block; width: 100%; font-family: monospace; font-size: 13px; font-weight: normal; font-style: normal; letter-spacing: normal; text-shadow: none; color: transparent; height: 102px;"></span><br></div><textarea gramm="" txt_gramm_id="ee50b5a9-f67b-b441-985a-e25c7356ccb3" gramm_id="54fb092e-5420-c2af-64c3-792bf2636e4b" spellcheck="false" gr_new_editor="true" style="white-space: pre-wrap; z-index: auto; position: relative; line-height: normal; font-size: 13px; -webkit-transition: none; transition: none; height: 96px; overflow: auto; background: transparent !important;"></textarea><div class="gr-btn-freemium" style="display: none; z-index: 2; margin-left: 487px; margin-top: 364px; opacity: 1;">	<div class="gr-btn-status" title="Protected by Grammarly"></div></div>
        </li>
              
        <li>
          <label>Baguette</label>
          <input type="file" class="choose" value="no file selected"> 
        </li>
        
          <li>
          <label>Ciabatta</label>
          <input type="file" class="choose" value="no file selected"> 
        </li>
        
          <li>
          <label>Sesame Roll</label>
          <input type="file" class="choose" value="no file selected"> 
        </li>
        
          <li>
          <label>Whole Wheat</label>
          <input type="file" class="choose" value="no file selected"> 
        </li>
        
          <li>
          <label>Sliced Rye</label>
          <input type="file" class="choose" value="no file selected"> 
        </li>
		
		 <li>
          <label>Sliced White</label>
          <input type="file" class="choose" value="no file selected"> 
        </li>

        
        <li>
          <label></label>
          <div class="radio-section">
            <span class="multi-left">
               <input type="checkbox" value="" name="" class="input-checkbox" id="checkbox-2-1">
               <label class="multisel-ckeck" for="checkbox-2-1"></label>
            </span>
            <span class="radio-text">Premium</span></div>
            <span class="radio-cost">Extra Cost</span>
            <input type="text" value="" class="cost">
        </li>
        
        
        
      </ul>
      
       <div class="button">
        <a href="#" class="save">SAVE</a>
        <a href="#" class="cancel">CANCEL</a>
      </div>
      
    </div>
  </div>
