<div class="container">
    <div class="user-account">
       <h1>NEW USER ACCOUNT</h1>
       <form action="{$SITE_URL}neworder/newUserAccount" method="POST">
          <label>First Name</label>
          <input name="firstname" type="text" value="">
          <label>Last Name</label>
          <input name="lastname" type="text" value="">
          <!--
          <label>Phone</label>
          <input name="phone" type="text" value="" placeholder="000-000-0000">
          <label>Company</label>
          <input name="company" type="text" value="" placeholder="">
          -->
          <label>Email</label>
          <input name="username" type="text" value="">
          
          <input type="hidden" name="is_admin_created" value="1" />      
          <br/><br/><br/>
          <input type="button" class="newUserAccount" name="submit" value="ADD NEW USER">
       </form>
    </div>
  </div>
