
              <h2>Choose Your Protein</h2>
              <h3> </h3>
                
              <div class="protein-select-wrapper scroll-bar " style="position: relative; overflow: hidden;">
              
                <ul>
                
<!--                 
 for="null">NONE</label>
              </li> --> 
                
                {section name=options start=0 loop=$PROTIEN_DATA|@count step=1 }
                
                
            
                
                  <li>
                    <input data-empty="false" data-priority = "{$PROTIEN_DATA[$smarty.section.options.index].image_priority}" data-id="{$PROTIEN_DATA[$smarty.section.options.index].id}"   data-price="{$PROTIEN_DATA[$smarty.section.options.index].item_price}" data-image_trapezoid="{$PROTIEN_DATA[$smarty.section.options.index].image_trapezoid}" data-image_round="{$PROTIEN_DATA[$smarty.section.options.index].image_round}" data-image_long="{$PROTIEN_DATA[$smarty.section.options.index].image_long}"  data-itemname="{$PROTIEN_DATA[$smarty.section.options.index].item_name}" type="checkbox" value="" name="check" id="protein-check{$smarty.section.options.index+1}">
                    <label {if $PROTIEN_DATA[$smarty.section.options.index].premium} class="premium-icon" {/if} for="protein-check{$smarty.section.options.index+1}">{$PROTIEN_DATA[$smarty.section.options.index].item_name}</label>
                    
                    
                    {if $PROTIEN_DATA[$smarty.section.options.index].options_id neq 0}
                    
                    <div class="sub-value"> <a href="#" class="left"></a>
                    <span class="text-box">
                    
                  
                     
                    {section name=subval start=0 loop=$PROTIEN_DATA[$smarty.section.options.index].options_id|@count step=1 }
                    
                    {assign var = "option_id" value=$PROTIEN_DATA[$smarty.section.options.index].options_id[$smarty.section.subval.index].id }
                    
                    {assign var = "display" value = "none"    }
                    {assign var =  "current" value =  "false" }
                    
                    {if $smarty.section.subval.index eq 0   } 
                    
                    {assign var = "display" value =  "block"  }   
                    {assign  var = "current" value = "true"  }
                    
                    {/if}
                   
                    <input rel="slide" readonly style="display:{$display}" data-unit="{$PROTIEN_DATA[$smarty.section.options.index].options_id[$smarty.section.subval.index].option_unit}" data-current="{$current}" data-optionid="{$option_id}" data-image="" data-image_trapezoid="{$PROTIEN_DATA[$smarty.section.options.index].option_images[$option_id].tImg}" data-image_round="{$PROTIEN_DATA[$smarty.section.options.index].option_images[$option_id].rImg}" data-image_long="{$PROTIEN_DATA[$smarty.section.options.index].option_images[$option_id].lImg}" data-price_mul="{$PROTIEN_DATA[$smarty.section.options.index].options_id[$smarty.section.subval.index].price_mult}"  type="text" name="" class="text-box" value="{$PROTIEN_DATA[$smarty.section.options.index].options_id[$smarty.section.subval.index].option_name}"/>
                    
                    {/section}
                     
                    </span>
            
                   <a href="#" class="right right-hover"></a> </div> 
                    
                    {/if}
                  
                  </li>
                  
                 {/section}
                  
                  
             
                </ul>
              </div> 
           