<div class="container">
	<div class="user-account">
       <h1>verify store report pin</h1>
       {if $error eq 1}
			<p>Report pin mismatched. Please try again. </p>
       {/if}
        <form action="{$SITE_URL}storereports/checkReportPin" method="POST">
			
          <label>Store Name : {$storeName}</label>
          
          <label>Enter Store Pin</label>
          <input type="text" value="" name="report_pin">
          <input type="hidden" name="id" value="{$storeId}" />
          <input type="hidden" name="redirect" value="{$redirect}" />
          <button type="submit" class="verifyreport">SUBMIT PIN</button>
        </form>  
    </div>   
</div>
