<head> <LINK href='superlog.css' rel='stylesheet' ></head>
<table>
<tr><td><h1>'cardRemoveEvent_wrapped'</h1></td></tr>
<tr><td>17-09-21 11:31:48am</td></tr>
<tr><td><h3>POST</h3><p>array (
  'id' => '1308',
  'uid' => '1184',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
)</p></td></tr><tr class='next-row'><td><h2>RUNNING COMMAND</h2><p class='func-name'>do_controller_action:56</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='value-row'><td class='var-name'>0</td><td> array (
  'id' => '1308',
  'uid' => '1184',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
)</td></tr>    <tr class='name-row'><td class='var-name'>1</td><td>cardRemoveEvent_wrapped</td</tr>
</table><tr class='next-row'><td><h2>cardRemoveEvent_wrapped</h2><p class='func-name'>cardRemoveEvent_wrapped:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='value-row'><td class='var-name'>0</td><td> array (
  'id' => '1308',
  'uid' => '1184',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
)</td></tr></table><tr class='next-row'><td><h2>SQL> cardRemoveEvent_wrapped</h2><p class='sql-str'>
<i>SELECT * FROM order_billinginfo WHERE id= 1308 </i></p></td></tr>
<tr class='next-row'><td><h2>SQL> get User information</h2><p class='sql-str'>
<i>SELECT * FROM users WHERE uid = 1184 </i></p></td></tr>
<tr class='next-row'><td><h2>Delete </h2><p class='func-name'>cardRemoveEvent_wrapped:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='value-row'><td class='var-name'>0</td><td> array (
  'customerPaymentProfileId' => '1501995830',
  'customerProfileId' => '1501795437',
)</td></tr></table><tr class='next-row'><td><h2>SQL> Delete </h2><p class='sql-str'>
<i>DELETE FROM order_billinginfo WHERE id= 1308 </i></p></td></tr>
<tr class='next-row'><td><h2>COMPLETED RUN</h2><p class='func-name'>do_controller_action:56</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='value-row'><td class='var-name'>0</td><td> array (
  'id' => '1308',
  'uid' => '1184',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
)</td></tr>    <tr class='name-row'><td class='var-name'>1</td><td>cardRemoveEvent_wrapped</td</tr>
    <tr class='name-row'><td class='var-name'>2</td><td>1</td</tr>
</table><tr class='next-row'><td><h2>NON-transaction LOGGING SUCCESS; Function run: $function_name_root</h2><p class='func-name'>do_controller_action:56</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>1</td</tr>
</table><tr class='next-row'><td><h2>FINSH - 200 </h2><p class='func-name'>do_controller_action:56</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>{"response":{"status_code":"200","message":"OK"},"data":"1"}</td</tr>
</table></table>