<head> <LINK href='superlog.css' rel='stylesheet' ></head>
<table>
<tr><td><h1>'do_order'</h1></td></tr>
<tr><td>17-09-21 12:25:35pm</td></tr>
<tr><td><h3>POST</h3><p>array (
  'store_id' => '12',
  'address_id' => '969',
  'order_item_id' => '14410',
  'total' => '130.32',
  'tax' => '9.32',
  'delivery' => '1',
  'date' => 'Thu%2C+Sep+21%2C+2017',
  'time' => '12%3A30',
  'now_or_specific' => 'now',
  'credit_card_id' => '1320',
  'tip' => '16',
  'sub_total' => '105',
  'credit_card' => 'XXXX-XXXX-XXXX-1111',
  'cvv' => '',
  'exp_mth' => '01',
  'exp_yr' => '2023',
  '_card_number_auth' => '',
  '_expiry_month_auth' => '',
  '_expiry_year_auth' => '',
  'user_id' => '1184',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
)</p></td></tr><tr class='next-row'><td><h2>RUNNING COMMAND</h2><p class='func-name'>do_controller_action:67</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='value-row'><td class='var-name'>0</td><td> array (
  'store_id' => '12',
  'address_id' => '969',
  'order_item_id' => '14410',
  'total' => '130.32',
  'tax' => '9.32',
  'delivery' => '1',
  'date' => 'Thu%2C+Sep+21%2C+2017',
  'time' => '12%3A30',
  'now_or_specific' => 'now',
  'credit_card_id' => '1320',
  'tip' => '16',
  'sub_total' => '105',
  'credit_card' => 'XXXX-XXXX-XXXX-1111',
  'cvv' => '',
  'exp_mth' => '01',
  'exp_yr' => '2023',
  '_card_number_auth' => '',
  '_expiry_month_auth' => '',
  '_expiry_year_auth' => '',
  'user_id' => '1184',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
)</td></tr>    <tr class='name-row'><td class='var-name'>1</td><td>do_order</td</tr>
</table><tr class='next-row'><td><h2>ENTER DO_ORDER</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='value-row'><td class='var-name'>0</td><td> array (
  'store_id' => '12',
  'address_id' => '969',
  'order_item_id' => '14410',
  'total' => '130.32',
  'tax' => '9.32',
  'delivery' => '1',
  'date' => 'Thu, Sep 21, 2017',
  'time' => '12:30',
  'now_or_specific' => 'now',
  'credit_card_id' => '1320',
  'tip' => '16',
  'sub_total' => '105',
  'credit_card' => 'XXXX-XXXX-XXXX-1111',
  'cvv' => '',
  'exp_mth' => '01',
  'exp_yr' => '2023',
  '_card_number_auth' => '',
  '_expiry_month_auth' => '',
  '_expiry_year_auth' => '',
  'user_id' => '1184',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
)</td></tr></table><tr class='next-row'><td><h2>AUTH NUMS: paymentID:  1501996598; shippingID: 1502034999; userID: 1501795437 </h2><p class='func-name'>prepare_post_for_purchase:849</p></td></tr>
<tr class='next-row'><td><h2>PREPARING TO DO TRANSACTION</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='value-row'><td class='var-name'>0</td><td> array (
  'store_id' => '12',
  'address_id' => '969',
  'order_item_id' => '14410',
  'total' => '130.32',
  'tax' => '9.32',
  'delivery' => '1',
  'date' => 'Thu, Sep 21, 2017',
  'time' => '12:30',
  'now_or_specific' => 'now',
  'credit_card_id' => '1320',
  'tip' => '16',
  'sub_total' => '105',
  'credit_card' => 'XXXX-XXXX-XXXX-1111',
  'cvv' => '',
  'exp_mth' => '01',
  'exp_yr' => '2023',
  '_card_number_auth' => '',
  '_expiry_month_auth' => '',
  '_expiry_year_auth' => '',
  'user_id' => '1184',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
  'customerProfileId' => '1501795437',
  'customerPaymentProfileId' => '1501996598',
  'customerShippingAddressId' => '1502034999',
)</td></tr></table><tr class='next-row'><td><h2>FINISHED TRANSACTION</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>40007235379</td</tr>
    <tr class='value-row'><td class='var-name'>1</td><td> array (
  0 => 
  array (
    'item_id' => '4094',
    'item_qty' => '15',
    'item_price' => '7.00',
    'sandwich_name' => 'XXX\'S CHEDDAR EXPERIENCE',
    'description' => ' ',
  ),
)</td></tr></table><tr class='next-row'><td><h2>SQL> build_sql_for_orders_table</h2><p class='sql-str'>
<i>
INSERT INTO orders (
                user_id, 
                store_id,
                address_id,
                billinginfo_id,
                order_item_id,
                sub_total,
                tip,
                coupon_code,
                total,
                tax,
                delivery,
                date, 
                manual_discount,
                time, 
                authorizenet_transaction_id, 
                order_date 
                
                
            ) VALUES (1184,  
 12,  
 969 , 
 '1320' , 
 '14410' , 
'105' ,
'16' ,
'', 
'130.32', 
'9.32', 
1, 
'2017-09-21 12:25:35', 
'0', 
'0', 
'40007235379', 
'2017-09-21 12:25:36'           )
</i></p></td></tr>
<tr class='next-row'><td><h2>BUILT build_sql_for_orders_table</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>
INSERT INTO orders (
                user_id, 
                store_id,
                address_id,
                billinginfo_id,
                order_item_id,
                sub_total,
                tip,
                coupon_code,
                total,
                tax,
                delivery,
                date, 
                manual_discount,
                time, 
                authorizenet_transaction_id, 
                order_date 
                
                
            ) VALUES (1184,  
 12,  
 969 , 
 '1320' , 
 '14410' , 
'105' ,
'16' ,
'', 
'130.32', 
'9.32', 
1, 
'2017-09-21 12:25:35', 
'0', 
'0', 
'40007235379', 
'2017-09-21 12:25:36'           )
</td</tr>
    <tr class='value-row'><td class='var-name'>1</td><td> array (
  'store_id' => '12',
  'address_id' => '969',
  'order_item_id' => '14410',
  'total' => '130.32',
  'tax' => '9.32',
  'delivery' => '1',
  'date' => 'Thu, Sep 21, 2017',
  'time' => '12:30',
  'now_or_specific' => 'now',
  'credit_card_id' => '1320',
  'tip' => '16',
  'sub_total' => '105',
  'credit_card' => 'XXXX-XXXX-XXXX-1111',
  'cvv' => '',
  'exp_mth' => '01',
  'exp_yr' => '2023',
  '_card_number_auth' => '',
  '_expiry_month_auth' => '',
  '_expiry_year_auth' => '',
  'user_id' => '1184',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
  'customerProfileId' => '1501795437',
  'customerPaymentProfileId' => '1501996598',
  'customerShippingAddressId' => '1502034999',
)</td></tr>    <tr class='name-row'><td class='var-name'>2</td><td>40007235379</td</tr>
    <tr class='value-row'><td class='var-name'>3</td><td> array (
  'date' => '\'2017-09-21 12:25:35\'',
  'time' => 0,
)</td></tr></table><tr class='next-row'><td><h2>add_the_order_to_database</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>3281</td</tr>
    <tr class='name-row'><td class='var-name'>1</td><td>
INSERT INTO orders (
                user_id, 
                store_id,
                address_id,
                billinginfo_id,
                order_item_id,
                sub_total,
                tip,
                coupon_code,
                total,
                tax,
                delivery,
                date, 
                manual_discount,
                time, 
                authorizenet_transaction_id, 
                order_date 
                
                
            ) VALUES (1184,  
 12,  
 969 , 
 '1320' , 
 '14410' , 
'105' ,
'16' ,
'', 
'130.32', 
'9.32', 
1, 
'2017-09-21 12:25:35', 
'0', 
'0', 
'40007235379', 
'2017-09-21 12:25:36'           )
</td</tr>
</table><tr class='next-row'><td><h2>insert_order_id_with_offset</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>3281</td</tr>
    <tr class='name-row'><td class='var-name'>1</td><td>11103281</td</tr>
</table><tr class='next-row'><td><h2>save_meal_name</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>3281</td</tr>
    <tr class='value-row'><td class='var-name'>1</td><td> array (
  'store_id' => '12',
  'address_id' => '969',
  'order_item_id' => '14410',
  'total' => '130.32',
  'tax' => '9.32',
  'delivery' => '1',
  'date' => 'Thu, Sep 21, 2017',
  'time' => '12:30',
  'now_or_specific' => 'now',
  'credit_card_id' => '1320',
  'tip' => '16',
  'sub_total' => '105',
  'credit_card' => 'XXXX-XXXX-XXXX-1111',
  'cvv' => '',
  'exp_mth' => '01',
  'exp_yr' => '2023',
  '_card_number_auth' => '',
  '_expiry_month_auth' => '',
  '_expiry_year_auth' => '',
  'user_id' => '1184',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
  'customerProfileId' => '1501795437',
  'customerPaymentProfileId' => '1501996598',
  'customerShippingAddressId' => '1502034999',
)</td></tr></table><tr class='next-row'><td><h2>explode_order_items</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>14410</td</tr>
    <tr class='value-row'><td class='var-name'>1</td><td> array (
  'store_id' => '12',
  'address_id' => '969',
  'order_item_id' => '14410',
  'total' => '130.32',
  'tax' => '9.32',
  'delivery' => '1',
  'date' => 'Thu, Sep 21, 2017',
  'time' => '12:30',
  'now_or_specific' => 'now',
  'credit_card_id' => '1320',
  'tip' => '16',
  'sub_total' => '105',
  'credit_card' => 'XXXX-XXXX-XXXX-1111',
  'cvv' => '',
  'exp_mth' => '01',
  'exp_yr' => '2023',
  '_card_number_auth' => '',
  '_expiry_month_auth' => '',
  '_expiry_year_auth' => '',
  'user_id' => '1184',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
  'customerProfileId' => '1501795437',
  'customerPaymentProfileId' => '1501996598',
  'customerShippingAddressId' => '1502034999',
)</td></tr></table><tr class='next-row'><td><h2>SQL> set_order_items_to_order_id</h2><p class='sql-str'>
<i>UPDATE orders_items SET ordered = 1, orderid = 3281 WHERE order_item_id IN ( 14410 )</i></p></td></tr>
<tr class='next-row'><td><h2>set_order_items_to_order_id</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>3281</td</tr>
    <tr class='name-row'><td class='var-name'>1</td><td>14410</td</tr>
</table><tr class='next-row'><td><h2>SQL> increment_sandwich_count</h2><p class='sql-str'>
<i>UPDATE `user_sandwich_data` SET purchase_count = purchase_count + 1 
                    WHERE id IN (SELECT item_id FROM orders_items WHERE item_type='user_sandwich' AND order_item_id IN ( 14410 ) )</i></p></td></tr>
<tr class='next-row'><td><h2>increment_sandwich_count</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>3281</td</tr>
    <tr class='name-row'><td class='var-name'>1</td><td>14410</td</tr>
</table><tr class='next-row'><td><h2>ORDER COMPLETE: </h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>11103281</td</tr>
</table><tr class='next-row'><td><h2>COMPLETED RUN</h2><p class='func-name'>do_controller_action:67</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='value-row'><td class='var-name'>0</td><td> array (
  'store_id' => '12',
  'address_id' => '969',
  'order_item_id' => '14410',
  'total' => '130.32',
  'tax' => '9.32',
  'delivery' => '1',
  'date' => 'Thu%2C+Sep+21%2C+2017',
  'time' => '12%3A30',
  'now_or_specific' => 'now',
  'credit_card_id' => '1320',
  'tip' => '16',
  'sub_total' => '105',
  'credit_card' => 'XXXX-XXXX-XXXX-1111',
  'cvv' => '',
  'exp_mth' => '01',
  'exp_yr' => '2023',
  '_card_number_auth' => '',
  '_expiry_month_auth' => '',
  '_expiry_year_auth' => '',
  'user_id' => '1184',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
)</td></tr>    <tr class='name-row'><td class='var-name'>1</td><td>do_order</td</tr>
    <tr class='name-row'><td class='var-name'>2</td><td>11103281</td</tr>
</table><tr class='next-row'><td><h2>TRANSACTION LOGGING SUCCESS; Transaction log ID: 523</h2><p class='func-name'>do_controller_action:67</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>11103281</td</tr>
</table><tr class='next-row'><td><h2>FINSH - 200 </h2><p class='func-name'>do_controller_action:67</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>{"response":{"status_code":"200","message":"OK"},"data":"11103281"}</td</tr>
</table></table>