<head> <LINK href='superlog.css' rel='stylesheet' ></head>
<table>
<tr><td><h1>'do_order'</h1></td></tr>
<tr><td>17-10-18 04:06:10pm</td></tr>
<tr><td><h3>POST</h3><p>array (
  'mealname' => '',
  'store_id' => '12',
  'address_id' => '964',
  'order_item_id' => '14554%3A14555',
  'total' => '37.66',
  'tax' => '2.66',
  'delivery' => '1',
  'date' => 'Wed%2C+Oct+18%2C+2017',
  'time' => '12%3A00',
  'now_or_specific' => 'now',
  'credit_card_id' => '1306',
  'coupon_code' => '',
  'tip' => '5',
  'sub_total' => '30',
  'off_amount' => '',
  'credit_card' => '',
  'cvv' => '',
  'exp_mth' => '01',
  'exp_yr' => '2017',
  '_card_number_auth' => '',
  '_expiry_month_auth' => '',
  '_expiry_year_auth' => '',
  'user_id' => '1187',
  'application' => 'Mobile',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
)</p></td></tr><tr class='next-row'><td><h2>RUNNING COMMAND</h2><p class='func-name'>do_controller_action:67</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='value-row'><td class='var-name'>0</td><td> array (
  'mealname' => '',
  'store_id' => '12',
  'address_id' => '964',
  'order_item_id' => '14554%3A14555',
  'total' => '37.66',
  'tax' => '2.66',
  'delivery' => '1',
  'date' => 'Wed%2C+Oct+18%2C+2017',
  'time' => '12%3A00',
  'now_or_specific' => 'now',
  'credit_card_id' => '1306',
  'coupon_code' => '',
  'tip' => '5',
  'sub_total' => '30',
  'off_amount' => '',
  'credit_card' => '',
  'cvv' => '',
  'exp_mth' => '01',
  'exp_yr' => '2017',
  '_card_number_auth' => '',
  '_expiry_month_auth' => '',
  '_expiry_year_auth' => '',
  'user_id' => '1187',
  'application' => 'Mobile',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
)</td></tr>    <tr class='name-row'><td class='var-name'>1</td><td>do_order</td</tr>
</table><tr class='next-row'><td><h2>ENTER DO_ORDER</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='value-row'><td class='var-name'>0</td><td> array (
  'mealname' => '',
  'store_id' => '12',
  'address_id' => '964',
  'order_item_id' => '14554:14555',
  'total' => '37.66',
  'tax' => '2.66',
  'delivery' => '1',
  'date' => 'Wed, Oct 18, 2017',
  'time' => '12:00',
  'now_or_specific' => 'now',
  'credit_card_id' => '1306',
  'coupon_code' => '',
  'tip' => '5',
  'sub_total' => '30',
  'off_amount' => '',
  'credit_card' => '',
  'cvv' => '',
  'exp_mth' => '01',
  'exp_yr' => '2017',
  '_card_number_auth' => '',
  '_expiry_month_auth' => '',
  '_expiry_year_auth' => '',
  'user_id' => '1187',
  'application' => 'Mobile',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
)</td></tr></table><tr class='next-row'><td><h2>AUTH NUMS: paymentID:  1501961765; shippingID: 1501358437; userID: 1501806312 </h2><p class='func-name'>prepare_post_for_purchase:849</p></td></tr>
<tr class='next-row'><td><h2>PREPARING TO DO TRANSACTION</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='value-row'><td class='var-name'>0</td><td> array (
  'mealname' => '',
  'store_id' => '12',
  'address_id' => '964',
  'order_item_id' => '14554:14555',
  'total' => '37.66',
  'tax' => '2.66',
  'delivery' => '1',
  'date' => 'Wed, Oct 18, 2017',
  'time' => '12:00',
  'now_or_specific' => 'now',
  'credit_card_id' => '1306',
  'coupon_code' => '',
  'tip' => '5',
  'sub_total' => '30',
  'off_amount' => '',
  'credit_card' => '',
  'cvv' => '',
  'exp_mth' => '01',
  'exp_yr' => '2017',
  '_card_number_auth' => '',
  '_expiry_month_auth' => '',
  '_expiry_year_auth' => '',
  'user_id' => '1187',
  'application' => 'Mobile',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
  'customerProfileId' => '1501806312',
  'customerPaymentProfileId' => '1501961765',
  'customerShippingAddressId' => '1501358437',
)</td></tr></table><tr class='next-row'><td><h2>FINISHED TRANSACTION</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>40007773237</td</tr>
    <tr class='value-row'><td class='var-name'>1</td><td> array (
  0 => 
  array (
    'item_id' => '4157',
    'item_qty' => '1',
    'item_price' => '10.00',
    'sandwich_name' => 'FACEBOOKLOGINTEST1',
    'description' => ' ',
  ),
  1 => 
  array (
    'item_id' => '3958',
    'item_qty' => '1',
    'item_price' => '20.00',
    'sandwich_name' => 'TAYLOR\'S HAM',
    'description' => ' ',
  ),
)</td></tr></table><tr class='next-row'><td><h2>SQL> build_sql_for_orders_table</h2><p class='sql-str'>
<i>
INSERT INTO orders (
                user_id, 
                store_id,
                address_id,
                billinginfo_id,
                order_item_id,
                sub_total,
                tip,
                coupon_code,
                total,
                tax,
                delivery,
                date, 
                manual_discount,
                time, 
                authorizenet_transaction_id, 
                order_date 
                
                
            ) VALUES (1187,  
 12,  
 964 , 
 '1306' , 
 '14554:14555' , 
'30' ,
'5' ,
'', 
'37.66', 
'2.66', 
1, 
'2017-10-18 16:06:10', 
'0', 
'0', 
'40007773237', 
'2017-10-18 16:06:11'           )
</i></p></td></tr>
<tr class='next-row'><td><h2>BUILT build_sql_for_orders_table</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>
INSERT INTO orders (
                user_id, 
                store_id,
                address_id,
                billinginfo_id,
                order_item_id,
                sub_total,
                tip,
                coupon_code,
                total,
                tax,
                delivery,
                date, 
                manual_discount,
                time, 
                authorizenet_transaction_id, 
                order_date 
                
                
            ) VALUES (1187,  
 12,  
 964 , 
 '1306' , 
 '14554:14555' , 
'30' ,
'5' ,
'', 
'37.66', 
'2.66', 
1, 
'2017-10-18 16:06:10', 
'0', 
'0', 
'40007773237', 
'2017-10-18 16:06:11'           )
</td</tr>
    <tr class='value-row'><td class='var-name'>1</td><td> array (
  'mealname' => '',
  'store_id' => '12',
  'address_id' => '964',
  'order_item_id' => '14554:14555',
  'total' => '37.66',
  'tax' => '2.66',
  'delivery' => '1',
  'date' => 'Wed, Oct 18, 2017',
  'time' => '12:00',
  'now_or_specific' => 'now',
  'credit_card_id' => '1306',
  'coupon_code' => '',
  'tip' => '5',
  'sub_total' => '30',
  'off_amount' => '',
  'credit_card' => '',
  'cvv' => '',
  'exp_mth' => '01',
  'exp_yr' => '2017',
  '_card_number_auth' => '',
  '_expiry_month_auth' => '',
  '_expiry_year_auth' => '',
  'user_id' => '1187',
  'application' => 'Mobile',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
  'customerProfileId' => '1501806312',
  'customerPaymentProfileId' => '1501961765',
  'customerShippingAddressId' => '1501358437',
)</td></tr>    <tr class='name-row'><td class='var-name'>2</td><td>40007773237</td</tr>
    <tr class='value-row'><td class='var-name'>3</td><td> array (
  'date' => '\'2017-10-18 16:06:10\'',
  'time' => 0,
)</td></tr></table><tr class='next-row'><td><h2>add_the_order_to_database</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>3317</td</tr>
    <tr class='name-row'><td class='var-name'>1</td><td>
INSERT INTO orders (
                user_id, 
                store_id,
                address_id,
                billinginfo_id,
                order_item_id,
                sub_total,
                tip,
                coupon_code,
                total,
                tax,
                delivery,
                date, 
                manual_discount,
                time, 
                authorizenet_transaction_id, 
                order_date 
                
                
            ) VALUES (1187,  
 12,  
 964 , 
 '1306' , 
 '14554:14555' , 
'30' ,
'5' ,
'', 
'37.66', 
'2.66', 
1, 
'2017-10-18 16:06:10', 
'0', 
'0', 
'40007773237', 
'2017-10-18 16:06:11'           )
</td</tr>
</table><tr class='next-row'><td><h2>insert_order_id_with_offset</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>3317</td</tr>
    <tr class='name-row'><td class='var-name'>1</td><td>11103317</td</tr>
</table><tr class='next-row'><td><h2>save_meal_name</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>3317</td</tr>
    <tr class='value-row'><td class='var-name'>1</td><td> array (
  'mealname' => '',
  'store_id' => '12',
  'address_id' => '964',
  'order_item_id' => '14554:14555',
  'total' => '37.66',
  'tax' => '2.66',
  'delivery' => '1',
  'date' => 'Wed, Oct 18, 2017',
  'time' => '12:00',
  'now_or_specific' => 'now',
  'credit_card_id' => '1306',
  'coupon_code' => '',
  'tip' => '5',
  'sub_total' => '30',
  'off_amount' => '',
  'credit_card' => '',
  'cvv' => '',
  'exp_mth' => '01',
  'exp_yr' => '2017',
  '_card_number_auth' => '',
  '_expiry_month_auth' => '',
  '_expiry_year_auth' => '',
  'user_id' => '1187',
  'application' => 'Mobile',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
  'customerProfileId' => '1501806312',
  'customerPaymentProfileId' => '1501961765',
  'customerShippingAddressId' => '1501358437',
)</td></tr></table><tr class='next-row'><td><h2>explode_order_items</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>14554,14555</td</tr>
    <tr class='value-row'><td class='var-name'>1</td><td> array (
  'mealname' => '',
  'store_id' => '12',
  'address_id' => '964',
  'order_item_id' => '14554:14555',
  'total' => '37.66',
  'tax' => '2.66',
  'delivery' => '1',
  'date' => 'Wed, Oct 18, 2017',
  'time' => '12:00',
  'now_or_specific' => 'now',
  'credit_card_id' => '1306',
  'coupon_code' => '',
  'tip' => '5',
  'sub_total' => '30',
  'off_amount' => '',
  'credit_card' => '',
  'cvv' => '',
  'exp_mth' => '01',
  'exp_yr' => '2017',
  '_card_number_auth' => '',
  '_expiry_month_auth' => '',
  '_expiry_year_auth' => '',
  'user_id' => '1187',
  'application' => 'Mobile',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
  'customerProfileId' => '1501806312',
  'customerPaymentProfileId' => '1501961765',
  'customerShippingAddressId' => '1501358437',
)</td></tr></table><tr class='next-row'><td><h2>SQL> set_order_items_to_order_id</h2><p class='sql-str'>
<i>UPDATE orders_items SET ordered = 1, orderid = 3317 WHERE order_item_id IN ( 14554,14555 )</i></p></td></tr>
<tr class='next-row'><td><h2>set_order_items_to_order_id</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>3317</td</tr>
    <tr class='name-row'><td class='var-name'>1</td><td>14554,14555</td</tr>
</table><tr class='next-row'><td><h2>SQL> increment_sandwich_count</h2><p class='sql-str'>
<i>UPDATE `user_sandwich_data` SET purchase_count = purchase_count + 1 
                    WHERE id IN (SELECT item_id FROM orders_items WHERE item_type='user_sandwich' AND order_item_id IN ( 14554,14555 ) )</i></p></td></tr>
<tr class='next-row'><td><h2>increment_sandwich_count</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>3317</td</tr>
    <tr class='name-row'><td class='var-name'>1</td><td>14554,14555</td</tr>
</table><tr class='next-row'><td><h2>ORDER COMPLETE: </h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>11103317</td</tr>
</table><tr class='next-row'><td><h2>COMPLETED RUN</h2><p class='func-name'>do_controller_action:67</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='value-row'><td class='var-name'>0</td><td> array (
  'mealname' => '',
  'store_id' => '12',
  'address_id' => '964',
  'order_item_id' => '14554%3A14555',
  'total' => '37.66',
  'tax' => '2.66',
  'delivery' => '1',
  'date' => 'Wed%2C+Oct+18%2C+2017',
  'time' => '12%3A00',
  'now_or_specific' => 'now',
  'credit_card_id' => '1306',
  'coupon_code' => '',
  'tip' => '5',
  'sub_total' => '30',
  'off_amount' => '',
  'credit_card' => '',
  'cvv' => '',
  'exp_mth' => '01',
  'exp_yr' => '2017',
  '_card_number_auth' => '',
  '_expiry_month_auth' => '',
  '_expiry_year_auth' => '',
  'user_id' => '1187',
  'application' => 'Mobile',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
)</td></tr>    <tr class='name-row'><td class='var-name'>1</td><td>do_order</td</tr>
    <tr class='name-row'><td class='var-name'>2</td><td>11103317</td</tr>
</table><tr class='next-row'><td><h2>TRANSACTION LOGGING SUCCESS; Transaction log ID: 562</h2><p class='func-name'>do_controller_action:67</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>11103317</td</tr>
</table><tr class='next-row'><td><h2>FINSH - 200 </h2><p class='func-name'>do_controller_action:67</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>{"response":{"status_code":"200","message":"OK"},"data":"11103317"}</td</tr>
</table></table>