<head> <LINK href='superlog.css' rel='stylesheet' ></head>
<table>
<tr><td><h1>'do_order'</h1></td></tr>
<tr><td>17-09-21 02:36:20pm</td></tr>
<tr><td><h3>POST</h3><p>array (
  'mealname' => '',
  'store_id' => '12',
  'address_id' => '970',
  'order_item_id' => '14421%3A14423%3A14422',
  'total' => '40.38',
  'tax' => '2.88',
  'delivery' => '1',
  'date' => 'Sat%2C+Sep+23%2C+2017',
  'time' => '10%3A00',
  'now_or_specific' => 'now',
  'credit_card_id' => '1322',
  'coupon_code' => '',
  'tip' => '5',
  'sub_total' => '32.5',
  'off_amount' => '',
  'credit_card' => '',
  'cvv' => '',
  'exp_mth' => '01',
  'exp_yr' => '2017',
  '_card_number_auth' => '',
  '_expiry_month_auth' => '',
  '_expiry_year_auth' => '',
  'user_id' => '1188',
  'application' => 'Mobile',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
)</p></td></tr><tr class='next-row'><td><h2>RUNNING COMMAND</h2><p class='func-name'>do_controller_action:67</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='value-row'><td class='var-name'>0</td><td> array (
  'mealname' => '',
  'store_id' => '12',
  'address_id' => '970',
  'order_item_id' => '14421%3A14423%3A14422',
  'total' => '40.38',
  'tax' => '2.88',
  'delivery' => '1',
  'date' => 'Sat%2C+Sep+23%2C+2017',
  'time' => '10%3A00',
  'now_or_specific' => 'now',
  'credit_card_id' => '1322',
  'coupon_code' => '',
  'tip' => '5',
  'sub_total' => '32.5',
  'off_amount' => '',
  'credit_card' => '',
  'cvv' => '',
  'exp_mth' => '01',
  'exp_yr' => '2017',
  '_card_number_auth' => '',
  '_expiry_month_auth' => '',
  '_expiry_year_auth' => '',
  'user_id' => '1188',
  'application' => 'Mobile',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
)</td></tr>    <tr class='name-row'><td class='var-name'>1</td><td>do_order</td</tr>
</table><tr class='next-row'><td><h2>ENTER DO_ORDER</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='value-row'><td class='var-name'>0</td><td> array (
  'mealname' => '',
  'store_id' => '12',
  'address_id' => '970',
  'order_item_id' => '14421:14423:14422',
  'total' => '40.38',
  'tax' => '2.88',
  'delivery' => '1',
  'date' => 'Sat, Sep 23, 2017',
  'time' => '10:00',
  'now_or_specific' => 'now',
  'credit_card_id' => '1322',
  'coupon_code' => '',
  'tip' => '5',
  'sub_total' => '32.5',
  'off_amount' => '',
  'credit_card' => '',
  'cvv' => '',
  'exp_mth' => '01',
  'exp_yr' => '2017',
  '_card_number_auth' => '',
  '_expiry_month_auth' => '',
  '_expiry_year_auth' => '',
  'user_id' => '1188',
  'application' => 'Mobile',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
)</td></tr></table><tr class='next-row'><td><h2>create_shipping_profile_id return 1502037442</h2><p class='func-name'>create_shipping_profile_id:1003</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>1502474135</td</tr>
    <tr class='value-row'><td class='var-name'>1</td><td> array (
  0 => '970',
  'address_id' => '970',
  1 => 'joe schmo',
  'name' => 'joe schmo',
  2 => '111',
  'company' => '111',
  3 => '111',
  'address1' => '111',
  4 => ' ',
  'address2' => '111',
  5 => '111',
  'street' => '111',
  6 => '111',
  'cross_streets' => '111',
  7 => '111-111-7111',
  'phone' => '111-111-7111',
  8 => '',
  'extn' => '',
  9 => '10001',
  'zip' => '10001',
  10 => '',
  'delivery_instructions' => '',
  11 => '1188',
  'uid' => '1188',
  12 => '0',
  'authorizenet_shipping_profile_id' => '0',
  13 => '1',
  'status' => '1',
)</td></tr>    <tr class='name-row'><td class='var-name'>2</td><td>970</td</tr>
</table><tr class='next-row'><td><h2>SQL> create_shipping_profile_id </h2><p class='sql-str'>
<i>UPDATE order_address SET authorizenet_shipping_profile_id = 1502037442 WHERE address_id = 970 </i></p></td></tr>
<tr class='next-row'><td><h2>AUTH NUMS: paymentID:  1501997478; shippingID: 1502037442; userID: 1502474135 </h2><p class='func-name'>prepare_post_for_purchase:849</p></td></tr>
<tr class='next-row'><td><h2>PREPARING TO DO TRANSACTION</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='value-row'><td class='var-name'>0</td><td> array (
  'mealname' => '',
  'store_id' => '12',
  'address_id' => '970',
  'order_item_id' => '14421:14423:14422',
  'total' => '40.38',
  'tax' => '2.88',
  'delivery' => '1',
  'date' => 'Sat, Sep 23, 2017',
  'time' => '10:00',
  'now_or_specific' => 'now',
  'credit_card_id' => '1322',
  'coupon_code' => '',
  'tip' => '5',
  'sub_total' => '32.5',
  'off_amount' => '',
  'credit_card' => '',
  'cvv' => '',
  'exp_mth' => '01',
  'exp_yr' => '2017',
  '_card_number_auth' => '',
  '_expiry_month_auth' => '',
  '_expiry_year_auth' => '',
  'user_id' => '1188',
  'application' => 'Mobile',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
  'customerProfileId' => '1502474135',
  'customerPaymentProfileId' => '1501997478',
  'customerShippingAddressId' => '1502037442',
)</td></tr></table><tr class='next-row'><td><h2>FINISHED TRANSACTION</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>40007238228</td</tr>
    <tr class='value-row'><td class='var-name'>1</td><td> array (
  0 => 
  array (
    'item_id' => '4147',
    'item_qty' => '1',
    'item_price' => '12.00',
    'sandwich_name' => 'JOE\'S VEGGIE FLAIR',
    'description' => ' ',
  ),
  1 => 
  array (
    'item_id' => '4148',
    'item_qty' => '1',
    'item_price' => '11.50',
    'sandwich_name' => 'XXX\'S PROTEIN TAKEOVER',
    'description' => ' ',
  ),
  2 => 
  array (
    'item_id' => '37',
    'item_qty' => '1',
    'item_price' => '9.00',
    'product_name' => 'Kale Caesar',
    'description' => 'Kale and romaine lettuce, grat',
  ),
)</td></tr></table><tr class='next-row'><td><h2>SQL> build_sql_for_orders_table</h2><p class='sql-str'>
<i>
INSERT INTO orders (
                user_id, 
                store_id,
                address_id,
                billinginfo_id,
                order_item_id,
                sub_total,
                tip,
                coupon_code,
                total,
                tax,
                delivery,
                date, 
                manual_discount,
                time, 
                authorizenet_transaction_id, 
                order_date 
                
                
            ) VALUES (1188,  
 12,  
 970 , 
 '1322' , 
 '14421:14423:14422' , 
'32.5' ,
'5' ,
'', 
'40.38', 
'2.88', 
1, 
'2017-09-21 14:36:20', 
'0', 
'0', 
'40007238228', 
'2017-09-21 14:36:21'           )
</i></p></td></tr>
<tr class='next-row'><td><h2>BUILT build_sql_for_orders_table</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>
INSERT INTO orders (
                user_id, 
                store_id,
                address_id,
                billinginfo_id,
                order_item_id,
                sub_total,
                tip,
                coupon_code,
                total,
                tax,
                delivery,
                date, 
                manual_discount,
                time, 
                authorizenet_transaction_id, 
                order_date 
                
                
            ) VALUES (1188,  
 12,  
 970 , 
 '1322' , 
 '14421:14423:14422' , 
'32.5' ,
'5' ,
'', 
'40.38', 
'2.88', 
1, 
'2017-09-21 14:36:20', 
'0', 
'0', 
'40007238228', 
'2017-09-21 14:36:21'           )
</td</tr>
    <tr class='value-row'><td class='var-name'>1</td><td> array (
  'mealname' => '',
  'store_id' => '12',
  'address_id' => '970',
  'order_item_id' => '14421:14423:14422',
  'total' => '40.38',
  'tax' => '2.88',
  'delivery' => '1',
  'date' => 'Sat, Sep 23, 2017',
  'time' => '10:00',
  'now_or_specific' => 'now',
  'credit_card_id' => '1322',
  'coupon_code' => '',
  'tip' => '5',
  'sub_total' => '32.5',
  'off_amount' => '',
  'credit_card' => '',
  'cvv' => '',
  'exp_mth' => '01',
  'exp_yr' => '2017',
  '_card_number_auth' => '',
  '_expiry_month_auth' => '',
  '_expiry_year_auth' => '',
  'user_id' => '1188',
  'application' => 'Mobile',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
  'customerProfileId' => '1502474135',
  'customerPaymentProfileId' => '1501997478',
  'customerShippingAddressId' => '1502037442',
)</td></tr>    <tr class='name-row'><td class='var-name'>2</td><td>40007238228</td</tr>
    <tr class='value-row'><td class='var-name'>3</td><td> array (
  'date' => '\'2017-09-21 14:36:20\'',
  'time' => 0,
)</td></tr></table><tr class='next-row'><td><h2>add_the_order_to_database</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>3284</td</tr>
    <tr class='name-row'><td class='var-name'>1</td><td>
INSERT INTO orders (
                user_id, 
                store_id,
                address_id,
                billinginfo_id,
                order_item_id,
                sub_total,
                tip,
                coupon_code,
                total,
                tax,
                delivery,
                date, 
                manual_discount,
                time, 
                authorizenet_transaction_id, 
                order_date 
                
                
            ) VALUES (1188,  
 12,  
 970 , 
 '1322' , 
 '14421:14423:14422' , 
'32.5' ,
'5' ,
'', 
'40.38', 
'2.88', 
1, 
'2017-09-21 14:36:20', 
'0', 
'0', 
'40007238228', 
'2017-09-21 14:36:21'           )
</td</tr>
</table><tr class='next-row'><td><h2>insert_order_id_with_offset</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>3284</td</tr>
    <tr class='name-row'><td class='var-name'>1</td><td>11103284</td</tr>
</table><tr class='next-row'><td><h2>save_meal_name</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>3284</td</tr>
    <tr class='value-row'><td class='var-name'>1</td><td> array (
  'mealname' => '',
  'store_id' => '12',
  'address_id' => '970',
  'order_item_id' => '14421:14423:14422',
  'total' => '40.38',
  'tax' => '2.88',
  'delivery' => '1',
  'date' => 'Sat, Sep 23, 2017',
  'time' => '10:00',
  'now_or_specific' => 'now',
  'credit_card_id' => '1322',
  'coupon_code' => '',
  'tip' => '5',
  'sub_total' => '32.5',
  'off_amount' => '',
  'credit_card' => '',
  'cvv' => '',
  'exp_mth' => '01',
  'exp_yr' => '2017',
  '_card_number_auth' => '',
  '_expiry_month_auth' => '',
  '_expiry_year_auth' => '',
  'user_id' => '1188',
  'application' => 'Mobile',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
  'customerProfileId' => '1502474135',
  'customerPaymentProfileId' => '1501997478',
  'customerShippingAddressId' => '1502037442',
)</td></tr></table><tr class='next-row'><td><h2>explode_order_items</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>14421,14423,14422</td</tr>
    <tr class='value-row'><td class='var-name'>1</td><td> array (
  'mealname' => '',
  'store_id' => '12',
  'address_id' => '970',
  'order_item_id' => '14421:14423:14422',
  'total' => '40.38',
  'tax' => '2.88',
  'delivery' => '1',
  'date' => 'Sat, Sep 23, 2017',
  'time' => '10:00',
  'now_or_specific' => 'now',
  'credit_card_id' => '1322',
  'coupon_code' => '',
  'tip' => '5',
  'sub_total' => '32.5',
  'off_amount' => '',
  'credit_card' => '',
  'cvv' => '',
  'exp_mth' => '01',
  'exp_yr' => '2017',
  '_card_number_auth' => '',
  '_expiry_month_auth' => '',
  '_expiry_year_auth' => '',
  'user_id' => '1188',
  'application' => 'Mobile',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
  'customerProfileId' => '1502474135',
  'customerPaymentProfileId' => '1501997478',
  'customerShippingAddressId' => '1502037442',
)</td></tr></table><tr class='next-row'><td><h2>SQL> set_order_items_to_order_id</h2><p class='sql-str'>
<i>UPDATE orders_items SET ordered = 1, orderid = 3284 WHERE order_item_id IN ( 14421,14423,14422 )</i></p></td></tr>
<tr class='next-row'><td><h2>set_order_items_to_order_id</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>3284</td</tr>
    <tr class='name-row'><td class='var-name'>1</td><td>14421,14423,14422</td</tr>
</table><tr class='next-row'><td><h2>SQL> increment_sandwich_count</h2><p class='sql-str'>
<i>UPDATE `user_sandwich_data` SET purchase_count = purchase_count + 1 
                    WHERE id IN (SELECT item_id FROM orders_items WHERE item_type='user_sandwich' AND order_item_id IN ( 14421,14423,14422 ) )</i></p></td></tr>
<tr class='next-row'><td><h2>increment_sandwich_count</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>3284</td</tr>
    <tr class='name-row'><td class='var-name'>1</td><td>14421,14423,14422</td</tr>
</table><tr class='next-row'><td><h2>ORDER COMPLETE: </h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>11103284</td</tr>
</table><tr class='next-row'><td><h2>COMPLETED RUN</h2><p class='func-name'>do_controller_action:67</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='value-row'><td class='var-name'>0</td><td> array (
  'mealname' => '',
  'store_id' => '12',
  'address_id' => '970',
  'order_item_id' => '14421%3A14423%3A14422',
  'total' => '40.38',
  'tax' => '2.88',
  'delivery' => '1',
  'date' => 'Sat%2C+Sep+23%2C+2017',
  'time' => '10%3A00',
  'now_or_specific' => 'now',
  'credit_card_id' => '1322',
  'coupon_code' => '',
  'tip' => '5',
  'sub_total' => '32.5',
  'off_amount' => '',
  'credit_card' => '',
  'cvv' => '',
  'exp_mth' => '01',
  'exp_yr' => '2017',
  '_card_number_auth' => '',
  '_expiry_month_auth' => '',
  '_expiry_year_auth' => '',
  'user_id' => '1188',
  'application' => 'Mobile',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
)</td></tr>    <tr class='name-row'><td class='var-name'>1</td><td>do_order</td</tr>
    <tr class='name-row'><td class='var-name'>2</td><td>11103284</td</tr>
</table><tr class='next-row'><td><h2>TRANSACTION LOGGING SUCCESS; Transaction log ID: 526</h2><p class='func-name'>do_controller_action:67</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>11103284</td</tr>
</table><tr class='next-row'><td><h2>FINSH - 200 </h2><p class='func-name'>do_controller_action:67</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>{"response":{"status_code":"200","message":"OK"},"data":"11103284"}</td</tr>
</table></table>