<head> <LINK href='superlog.css' rel='stylesheet' ></head>
<table>
<tr><td><h1>'do_order'</h1></td></tr>
<tr><td>17-10-30 05:49:21am</td></tr>
<tr><td><h3>POST</h3><p>array (
  'store_id' => '12',
  'address_id' => '973',
  'order_item_id' => '14634%3A14635',
  'total' => '13.43',
  'tax' => '0.93',
  'delivery' => '1',
  'date' => 'Mon%2C+Oct+30%2C+2017',
  'time' => '15%3A30',
  'now_or_specific' => 'now',
  'credit_card_id' => '1325',
  'tip' => '2',
  'sub_total' => '10.5',
  'credit_card' => '4111111111111111',
  'cvv' => '123',
  'exp_mth' => '01',
  'exp_yr' => '2031',
  '_card_number_auth' => '4111111111111111',
  '_expiry_month_auth' => '01',
  '_expiry_year_auth' => '2031',
  'user_id' => '1190',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
)</p></td></tr><tr class='next-row'><td><h2>RUNNING COMMAND</h2><p class='func-name'>do_controller_action:67</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='value-row'><td class='var-name'>0</td><td> array (
  'store_id' => '12',
  'address_id' => '973',
  'order_item_id' => '14634%3A14635',
  'total' => '13.43',
  'tax' => '0.93',
  'delivery' => '1',
  'date' => 'Mon%2C+Oct+30%2C+2017',
  'time' => '15%3A30',
  'now_or_specific' => 'now',
  'credit_card_id' => '1325',
  'tip' => '2',
  'sub_total' => '10.5',
  'credit_card' => '4111111111111111',
  'cvv' => '123',
  'exp_mth' => '01',
  'exp_yr' => '2031',
  '_card_number_auth' => '4111111111111111',
  '_expiry_month_auth' => '01',
  '_expiry_year_auth' => '2031',
  'user_id' => '1190',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
)</td></tr>    <tr class='name-row'><td class='var-name'>1</td><td>do_order</td</tr>
</table><tr class='next-row'><td><h2>ENTER DO_ORDER</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='value-row'><td class='var-name'>0</td><td> array (
  'store_id' => '12',
  'address_id' => '973',
  'order_item_id' => '14634:14635',
  'total' => '13.43',
  'tax' => '0.93',
  'delivery' => '1',
  'date' => 'Mon, Oct 30, 2017',
  'time' => '15:30',
  'now_or_specific' => 'now',
  'credit_card_id' => '1325',
  'tip' => '2',
  'sub_total' => '10.5',
  'credit_card' => '4111111111111111',
  'cvv' => '123',
  'exp_mth' => '01',
  'exp_yr' => '2031',
  '_card_number_auth' => '4111111111111111',
  '_expiry_month_auth' => '01',
  '_expiry_year_auth' => '2031',
  'user_id' => '1190',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
)</td></tr></table><tr class='next-row'><td><h2>create_shipping_profile_id return 1502272786</h2><p class='func-name'>create_shipping_profile_id:1003</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>1502680599</td</tr>
    <tr class='value-row'><td class='var-name'>1</td><td> array (
  0 => '973',
  'address_id' => '973',
  1 => 'Test test',
  'name' => 'Test test',
  2 => 'tes',
  'company' => 'tes',
  3 => 'af',
  'address1' => 'af',
  4 => ' ',
  'address2' => 'sdf',
  5 => 'sdf',
  'street' => 'sdf',
  6 => 'daf',
  'cross_streets' => 'daf',
  7 => '123-123-123',
  'phone' => '123-123-123',
  8 => '123',
  'extn' => '123',
  9 => '10001',
  'zip' => '10001',
  10 => '',
  'delivery_instructions' => '',
  11 => '1190',
  'uid' => '1190',
  12 => '0',
  'authorizenet_shipping_profile_id' => '0',
  13 => '1',
  'status' => '1',
)</td></tr>    <tr class='name-row'><td class='var-name'>2</td><td>973</td</tr>
</table><tr class='next-row'><td><h2>SQL> create_shipping_profile_id </h2><p class='sql-str'>
<i>UPDATE order_address SET authorizenet_shipping_profile_id = 1502272786 WHERE address_id = 973 </i></p></td></tr>
<tr class='next-row'><td><h2>AUTH NUMS: paymentID:  1502218862; shippingID: 1502272786; userID: 1502680599 </h2><p class='func-name'>prepare_post_for_purchase:849</p></td></tr>
<tr class='next-row'><td><h2>PREPARING TO DO TRANSACTION</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='value-row'><td class='var-name'>0</td><td> array (
  'store_id' => '12',
  'address_id' => '973',
  'order_item_id' => '14634:14635',
  'total' => '13.43',
  'tax' => '0.93',
  'delivery' => '1',
  'date' => 'Mon, Oct 30, 2017',
  'time' => '15:30',
  'now_or_specific' => 'now',
  'credit_card_id' => '1325',
  'tip' => '2',
  'sub_total' => '10.5',
  'credit_card' => '4111111111111111',
  'cvv' => '123',
  'exp_mth' => '01',
  'exp_yr' => '2031',
  '_card_number_auth' => '4111111111111111',
  '_expiry_month_auth' => '01',
  '_expiry_year_auth' => '2031',
  'user_id' => '1190',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
  'customerProfileId' => '1502680599',
  'customerPaymentProfileId' => '1502218862',
  'customerShippingAddressId' => '1502272786',
)</td></tr></table><tr class='next-row'><td><h2>FINISHED TRANSACTION</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>40008014349</td</tr>
    <tr class='value-row'><td class='var-name'>1</td><td> array (
  0 => 
  array (
    'item_id' => '37',
    'item_qty' => '1',
    'item_price' => '9.00',
    'product_name' => 'Kale Caesar',
    'description' => 'Kale and romaine lettuce, grat',
  ),
  1 => 
  array (
    'item_id' => '48',
    'item_qty' => '1',
    'item_price' => '1.50',
    'product_name' => 'Sour Pickle',
    'description' => '',
  ),
)</td></tr></table><tr class='next-row'><td><h2>SQL> build_sql_for_orders_table</h2><p class='sql-str'>
<i>
INSERT INTO orders (
                user_id, 
                store_id,
                address_id,
                billinginfo_id,
                order_item_id,
                sub_total,
                tip,
                coupon_code,
                total,
                tax,
                delivery,
                date, 
                manual_discount,
                time, 
                authorizenet_transaction_id, 
                order_date 
                
                
            ) VALUES (1190,  
 12,  
 973 , 
 '1325' , 
 '14634:14635' , 
'10.5' ,
'2' ,
'', 
'13.43', 
'0.93', 
1, 
'2017-10-30 05:49:21', 
'0', 
'0', 
'40008014349', 
'2017-10-30 05:49:24'           )
</i></p></td></tr>
<tr class='next-row'><td><h2>BUILT build_sql_for_orders_table</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>
INSERT INTO orders (
                user_id, 
                store_id,
                address_id,
                billinginfo_id,
                order_item_id,
                sub_total,
                tip,
                coupon_code,
                total,
                tax,
                delivery,
                date, 
                manual_discount,
                time, 
                authorizenet_transaction_id, 
                order_date 
                
                
            ) VALUES (1190,  
 12,  
 973 , 
 '1325' , 
 '14634:14635' , 
'10.5' ,
'2' ,
'', 
'13.43', 
'0.93', 
1, 
'2017-10-30 05:49:21', 
'0', 
'0', 
'40008014349', 
'2017-10-30 05:49:24'           )
</td</tr>
    <tr class='value-row'><td class='var-name'>1</td><td> array (
  'store_id' => '12',
  'address_id' => '973',
  'order_item_id' => '14634:14635',
  'total' => '13.43',
  'tax' => '0.93',
  'delivery' => '1',
  'date' => 'Mon, Oct 30, 2017',
  'time' => '15:30',
  'now_or_specific' => 'now',
  'credit_card_id' => '1325',
  'tip' => '2',
  'sub_total' => '10.5',
  'credit_card' => '4111111111111111',
  'cvv' => '123',
  'exp_mth' => '01',
  'exp_yr' => '2031',
  '_card_number_auth' => '4111111111111111',
  '_expiry_month_auth' => '01',
  '_expiry_year_auth' => '2031',
  'user_id' => '1190',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
  'customerProfileId' => '1502680599',
  'customerPaymentProfileId' => '1502218862',
  'customerShippingAddressId' => '1502272786',
)</td></tr>    <tr class='name-row'><td class='var-name'>2</td><td>40008014349</td</tr>
    <tr class='value-row'><td class='var-name'>3</td><td> array (
  'date' => '\'2017-10-30 05:49:21\'',
  'time' => 0,
)</td></tr></table><tr class='next-row'><td><h2>add_the_order_to_database</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>3330</td</tr>
    <tr class='name-row'><td class='var-name'>1</td><td>
INSERT INTO orders (
                user_id, 
                store_id,
                address_id,
                billinginfo_id,
                order_item_id,
                sub_total,
                tip,
                coupon_code,
                total,
                tax,
                delivery,
                date, 
                manual_discount,
                time, 
                authorizenet_transaction_id, 
                order_date 
                
                
            ) VALUES (1190,  
 12,  
 973 , 
 '1325' , 
 '14634:14635' , 
'10.5' ,
'2' ,
'', 
'13.43', 
'0.93', 
1, 
'2017-10-30 05:49:21', 
'0', 
'0', 
'40008014349', 
'2017-10-30 05:49:24'           )
</td</tr>
</table><tr class='next-row'><td><h2>insert_order_id_with_offset</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>3330</td</tr>
    <tr class='name-row'><td class='var-name'>1</td><td>11103330</td</tr>
</table><tr class='next-row'><td><h2>save_meal_name</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>3330</td</tr>
    <tr class='value-row'><td class='var-name'>1</td><td> array (
  'store_id' => '12',
  'address_id' => '973',
  'order_item_id' => '14634:14635',
  'total' => '13.43',
  'tax' => '0.93',
  'delivery' => '1',
  'date' => 'Mon, Oct 30, 2017',
  'time' => '15:30',
  'now_or_specific' => 'now',
  'credit_card_id' => '1325',
  'tip' => '2',
  'sub_total' => '10.5',
  'credit_card' => '4111111111111111',
  'cvv' => '123',
  'exp_mth' => '01',
  'exp_yr' => '2031',
  '_card_number_auth' => '4111111111111111',
  '_expiry_month_auth' => '01',
  '_expiry_year_auth' => '2031',
  'user_id' => '1190',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
  'customerProfileId' => '1502680599',
  'customerPaymentProfileId' => '1502218862',
  'customerShippingAddressId' => '1502272786',
)</td></tr></table><tr class='next-row'><td><h2>explode_order_items</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>14634,14635</td</tr>
    <tr class='value-row'><td class='var-name'>1</td><td> array (
  'store_id' => '12',
  'address_id' => '973',
  'order_item_id' => '14634:14635',
  'total' => '13.43',
  'tax' => '0.93',
  'delivery' => '1',
  'date' => 'Mon, Oct 30, 2017',
  'time' => '15:30',
  'now_or_specific' => 'now',
  'credit_card_id' => '1325',
  'tip' => '2',
  'sub_total' => '10.5',
  'credit_card' => '4111111111111111',
  'cvv' => '123',
  'exp_mth' => '01',
  'exp_yr' => '2031',
  '_card_number_auth' => '4111111111111111',
  '_expiry_month_auth' => '01',
  '_expiry_year_auth' => '2031',
  'user_id' => '1190',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
  'customerProfileId' => '1502680599',
  'customerPaymentProfileId' => '1502218862',
  'customerShippingAddressId' => '1502272786',
)</td></tr></table><tr class='next-row'><td><h2>SQL> set_order_items_to_order_id</h2><p class='sql-str'>
<i>UPDATE orders_items SET ordered = 1, orderid = 3330 WHERE order_item_id IN ( 14634,14635 )</i></p></td></tr>
<tr class='next-row'><td><h2>set_order_items_to_order_id</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>3330</td</tr>
    <tr class='name-row'><td class='var-name'>1</td><td>14634,14635</td</tr>
</table><tr class='next-row'><td><h2>SQL> increment_sandwich_count</h2><p class='sql-str'>
<i>UPDATE `user_sandwich_data` SET purchase_count = purchase_count + 1 
                    WHERE id IN (SELECT item_id FROM orders_items WHERE item_type='user_sandwich' AND order_item_id IN ( 14634,14635 ) )</i></p></td></tr>
<tr class='next-row'><td><h2>increment_sandwich_count</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>3330</td</tr>
    <tr class='name-row'><td class='var-name'>1</td><td>14634,14635</td</tr>
</table><tr class='next-row'><td><h2>ORDER COMPLETE: </h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>11103330</td</tr>
</table><tr class='next-row'><td><h2>COMPLETED RUN</h2><p class='func-name'>do_controller_action:67</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='value-row'><td class='var-name'>0</td><td> array (
  'store_id' => '12',
  'address_id' => '973',
  'order_item_id' => '14634%3A14635',
  'total' => '13.43',
  'tax' => '0.93',
  'delivery' => '1',
  'date' => 'Mon%2C+Oct+30%2C+2017',
  'time' => '15%3A30',
  'now_or_specific' => 'now',
  'credit_card_id' => '1325',
  'tip' => '2',
  'sub_total' => '10.5',
  'credit_card' => '4111111111111111',
  'cvv' => '123',
  'exp_mth' => '01',
  'exp_yr' => '2031',
  '_card_number_auth' => '4111111111111111',
  '_expiry_month_auth' => '01',
  '_expiry_year_auth' => '2031',
  'user_id' => '1190',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
)</td></tr>    <tr class='name-row'><td class='var-name'>1</td><td>do_order</td</tr>
    <tr class='name-row'><td class='var-name'>2</td><td>11103330</td</tr>
</table><tr class='next-row'><td><h2>TRANSACTION LOGGING SUCCESS; Transaction log ID: 576</h2><p class='func-name'>do_controller_action:67</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>11103330</td</tr>
</table><tr class='next-row'><td><h2>FINSH - 200 </h2><p class='func-name'>do_controller_action:67</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>{"response":{"status_code":"200","message":"OK"},"data":"11103330"}</td</tr>
</table></table>