<head> <LINK href='superlog.css' rel='stylesheet' ></head>
<table>
<tr><td><h1>'do_order'</h1></td></tr>
<tr><td>17-09-21 02:39:58pm</td></tr>
<tr><td><h3>POST</h3><p>array (
  'mealname' => '',
  'store_id' => '12',
  'address_id' => '970',
  'order_item_id' => '14424%3A14425',
  'total' => '249.93',
  'tax' => '17.93',
  'delivery' => '1',
  'date' => '2017-9-22',
  'time' => '14%3A45',
  'now_or_specific' => 'specific',
  'credit_card_id' => '1322',
  'coupon_code' => '',
  'tip' => '30',
  'sub_total' => '202',
  'off_amount' => '',
  'credit_card' => '',
  'cvv' => '',
  'exp_mth' => '01',
  'exp_yr' => '2017',
  '_card_number_auth' => '',
  '_expiry_month_auth' => '',
  '_expiry_year_auth' => '',
  'user_id' => '1188',
  'application' => 'Mobile',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
)</p></td></tr><tr class='next-row'><td><h2>RUNNING COMMAND</h2><p class='func-name'>do_controller_action:67</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='value-row'><td class='var-name'>0</td><td> array (
  'mealname' => '',
  'store_id' => '12',
  'address_id' => '970',
  'order_item_id' => '14424%3A14425',
  'total' => '249.93',
  'tax' => '17.93',
  'delivery' => '1',
  'date' => '2017-9-22',
  'time' => '14%3A45',
  'now_or_specific' => 'specific',
  'credit_card_id' => '1322',
  'coupon_code' => '',
  'tip' => '30',
  'sub_total' => '202',
  'off_amount' => '',
  'credit_card' => '',
  'cvv' => '',
  'exp_mth' => '01',
  'exp_yr' => '2017',
  '_card_number_auth' => '',
  '_expiry_month_auth' => '',
  '_expiry_year_auth' => '',
  'user_id' => '1188',
  'application' => 'Mobile',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
)</td></tr>    <tr class='name-row'><td class='var-name'>1</td><td>do_order</td</tr>
</table><tr class='next-row'><td><h2>ENTER DO_ORDER</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='value-row'><td class='var-name'>0</td><td> array (
  'mealname' => '',
  'store_id' => '12',
  'address_id' => '970',
  'order_item_id' => '14424:14425',
  'total' => '249.93',
  'tax' => '17.93',
  'delivery' => '1',
  'date' => '2017-9-22',
  'time' => '14:45',
  'now_or_specific' => 'specific',
  'credit_card_id' => '1322',
  'coupon_code' => '',
  'tip' => '30',
  'sub_total' => '202',
  'off_amount' => '',
  'credit_card' => '',
  'cvv' => '',
  'exp_mth' => '01',
  'exp_yr' => '2017',
  '_card_number_auth' => '',
  '_expiry_month_auth' => '',
  '_expiry_year_auth' => '',
  'user_id' => '1188',
  'application' => 'Mobile',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
)</td></tr></table><tr class='next-row'><td><h2>AUTH NUMS: paymentID:  1501997478; shippingID: 1502037442; userID: 1502474135 </h2><p class='func-name'>prepare_post_for_purchase:849</p></td></tr>
<tr class='next-row'><td><h2>PREPARING TO DO TRANSACTION</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='value-row'><td class='var-name'>0</td><td> array (
  'mealname' => '',
  'store_id' => '12',
  'address_id' => '970',
  'order_item_id' => '14424:14425',
  'total' => '249.93',
  'tax' => '17.93',
  'delivery' => '1',
  'date' => '2017-9-22',
  'time' => '14:45',
  'now_or_specific' => 'specific',
  'credit_card_id' => '1322',
  'coupon_code' => '',
  'tip' => '30',
  'sub_total' => '202',
  'off_amount' => '',
  'credit_card' => '',
  'cvv' => '',
  'exp_mth' => '01',
  'exp_yr' => '2017',
  '_card_number_auth' => '',
  '_expiry_month_auth' => '',
  '_expiry_year_auth' => '',
  'user_id' => '1188',
  'application' => 'Mobile',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
  'customerProfileId' => '1502474135',
  'customerPaymentProfileId' => '1501997478',
  'customerShippingAddressId' => '1502037442',
)</td></tr></table><tr class='next-row'><td><h2>FINISHED TRANSACTION</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>40007238291</td</tr>
    <tr class='value-row'><td class='var-name'>1</td><td> array (
  0 => 
  array (
    'item_id' => '4147',
    'item_qty' => '1',
    'item_price' => '12.00',
    'sandwich_name' => 'JOE\'S VEGGIE FLAIR',
    'description' => ' ',
  ),
  1 => 
  array (
    'item_id' => '4149',
    'item_qty' => '1',
    'item_price' => '190.00',
    'sandwich_name' => 'JOE\'S PROSCIUTTO GLEE',
    'description' => ' ',
  ),
)</td></tr></table><tr class='next-row'><td><h2>SQL> build_sql_for_orders_table</h2><p class='sql-str'>
<i>
INSERT INTO orders (
                user_id, 
                store_id,
                address_id,
                billinginfo_id,
                order_item_id,
                sub_total,
                tip,
                coupon_code,
                total,
                tax,
                delivery,
                date, 
                manual_discount,
                time, 
                authorizenet_transaction_id, 
                order_date 
                
                
            ) VALUES (1188,  
 12,  
 970 , 
 '1322' , 
 '14424:14425' , 
'202' ,
'30' ,
'', 
'249.93', 
'17.93', 
1, 
'2017-09-22 14:45:00', 
'0', 
'1', 
'40007238291', 
'2017-09-21 14:40:00'           )
</i></p></td></tr>
<tr class='next-row'><td><h2>BUILT build_sql_for_orders_table</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>
INSERT INTO orders (
                user_id, 
                store_id,
                address_id,
                billinginfo_id,
                order_item_id,
                sub_total,
                tip,
                coupon_code,
                total,
                tax,
                delivery,
                date, 
                manual_discount,
                time, 
                authorizenet_transaction_id, 
                order_date 
                
                
            ) VALUES (1188,  
 12,  
 970 , 
 '1322' , 
 '14424:14425' , 
'202' ,
'30' ,
'', 
'249.93', 
'17.93', 
1, 
'2017-09-22 14:45:00', 
'0', 
'1', 
'40007238291', 
'2017-09-21 14:40:00'           )
</td</tr>
    <tr class='value-row'><td class='var-name'>1</td><td> array (
  'mealname' => '',
  'store_id' => '12',
  'address_id' => '970',
  'order_item_id' => '14424:14425',
  'total' => '249.93',
  'tax' => '17.93',
  'delivery' => '1',
  'date' => '2017-9-22',
  'time' => '14:45',
  'now_or_specific' => 'specific',
  'credit_card_id' => '1322',
  'coupon_code' => '',
  'tip' => '30',
  'sub_total' => '202',
  'off_amount' => '',
  'credit_card' => '',
  'cvv' => '',
  'exp_mth' => '01',
  'exp_yr' => '2017',
  '_card_number_auth' => '',
  '_expiry_month_auth' => '',
  '_expiry_year_auth' => '',
  'user_id' => '1188',
  'application' => 'Mobile',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
  'customerProfileId' => '1502474135',
  'customerPaymentProfileId' => '1501997478',
  'customerShippingAddressId' => '1502037442',
)</td></tr>    <tr class='name-row'><td class='var-name'>2</td><td>40007238291</td</tr>
    <tr class='value-row'><td class='var-name'>3</td><td> array (
  'date' => '\'2017-09-22 14:45:00\'',
  'time' => 1,
)</td></tr></table><tr class='next-row'><td><h2>add_the_order_to_database</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>3285</td</tr>
    <tr class='name-row'><td class='var-name'>1</td><td>
INSERT INTO orders (
                user_id, 
                store_id,
                address_id,
                billinginfo_id,
                order_item_id,
                sub_total,
                tip,
                coupon_code,
                total,
                tax,
                delivery,
                date, 
                manual_discount,
                time, 
                authorizenet_transaction_id, 
                order_date 
                
                
            ) VALUES (1188,  
 12,  
 970 , 
 '1322' , 
 '14424:14425' , 
'202' ,
'30' ,
'', 
'249.93', 
'17.93', 
1, 
'2017-09-22 14:45:00', 
'0', 
'1', 
'40007238291', 
'2017-09-21 14:40:00'           )
</td</tr>
</table><tr class='next-row'><td><h2>insert_order_id_with_offset</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>3285</td</tr>
    <tr class='name-row'><td class='var-name'>1</td><td>11103285</td</tr>
</table><tr class='next-row'><td><h2>save_meal_name</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>3285</td</tr>
    <tr class='value-row'><td class='var-name'>1</td><td> array (
  'mealname' => '',
  'store_id' => '12',
  'address_id' => '970',
  'order_item_id' => '14424:14425',
  'total' => '249.93',
  'tax' => '17.93',
  'delivery' => '1',
  'date' => '2017-9-22',
  'time' => '14:45',
  'now_or_specific' => 'specific',
  'credit_card_id' => '1322',
  'coupon_code' => '',
  'tip' => '30',
  'sub_total' => '202',
  'off_amount' => '',
  'credit_card' => '',
  'cvv' => '',
  'exp_mth' => '01',
  'exp_yr' => '2017',
  '_card_number_auth' => '',
  '_expiry_month_auth' => '',
  '_expiry_year_auth' => '',
  'user_id' => '1188',
  'application' => 'Mobile',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
  'customerProfileId' => '1502474135',
  'customerPaymentProfileId' => '1501997478',
  'customerShippingAddressId' => '1502037442',
)</td></tr></table><tr class='next-row'><td><h2>explode_order_items</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>14424,14425</td</tr>
    <tr class='value-row'><td class='var-name'>1</td><td> array (
  'mealname' => '',
  'store_id' => '12',
  'address_id' => '970',
  'order_item_id' => '14424:14425',
  'total' => '249.93',
  'tax' => '17.93',
  'delivery' => '1',
  'date' => '2017-9-22',
  'time' => '14:45',
  'now_or_specific' => 'specific',
  'credit_card_id' => '1322',
  'coupon_code' => '',
  'tip' => '30',
  'sub_total' => '202',
  'off_amount' => '',
  'credit_card' => '',
  'cvv' => '',
  'exp_mth' => '01',
  'exp_yr' => '2017',
  '_card_number_auth' => '',
  '_expiry_month_auth' => '',
  '_expiry_year_auth' => '',
  'user_id' => '1188',
  'application' => 'Mobile',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
  'customerProfileId' => '1502474135',
  'customerPaymentProfileId' => '1501997478',
  'customerShippingAddressId' => '1502037442',
)</td></tr></table><tr class='next-row'><td><h2>SQL> set_order_items_to_order_id</h2><p class='sql-str'>
<i>UPDATE orders_items SET ordered = 1, orderid = 3285 WHERE order_item_id IN ( 14424,14425 )</i></p></td></tr>
<tr class='next-row'><td><h2>set_order_items_to_order_id</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>3285</td</tr>
    <tr class='name-row'><td class='var-name'>1</td><td>14424,14425</td</tr>
</table><tr class='next-row'><td><h2>SQL> increment_sandwich_count</h2><p class='sql-str'>
<i>UPDATE `user_sandwich_data` SET purchase_count = purchase_count + 1 
                    WHERE id IN (SELECT item_id FROM orders_items WHERE item_type='user_sandwich' AND order_item_id IN ( 14424,14425 ) )</i></p></td></tr>
<tr class='next-row'><td><h2>increment_sandwich_count</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>3285</td</tr>
    <tr class='name-row'><td class='var-name'>1</td><td>14424,14425</td</tr>
</table><tr class='next-row'><td><h2>ORDER COMPLETE: </h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>11103285</td</tr>
</table><tr class='next-row'><td><h2>COMPLETED RUN</h2><p class='func-name'>do_controller_action:67</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='value-row'><td class='var-name'>0</td><td> array (
  'mealname' => '',
  'store_id' => '12',
  'address_id' => '970',
  'order_item_id' => '14424%3A14425',
  'total' => '249.93',
  'tax' => '17.93',
  'delivery' => '1',
  'date' => '2017-9-22',
  'time' => '14%3A45',
  'now_or_specific' => 'specific',
  'credit_card_id' => '1322',
  'coupon_code' => '',
  'tip' => '30',
  'sub_total' => '202',
  'off_amount' => '',
  'credit_card' => '',
  'cvv' => '',
  'exp_mth' => '01',
  'exp_yr' => '2017',
  '_card_number_auth' => '',
  '_expiry_month_auth' => '',
  '_expiry_year_auth' => '',
  'user_id' => '1188',
  'application' => 'Mobile',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
)</td></tr>    <tr class='name-row'><td class='var-name'>1</td><td>do_order</td</tr>
    <tr class='name-row'><td class='var-name'>2</td><td>11103285</td</tr>
</table><tr class='next-row'><td><h2>TRANSACTION LOGGING SUCCESS; Transaction log ID: 527</h2><p class='func-name'>do_controller_action:67</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>11103285</td</tr>
</table><tr class='next-row'><td><h2>FINSH - 200 </h2><p class='func-name'>do_controller_action:67</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>{"response":{"status_code":"200","message":"OK"},"data":"11103285"}</td</tr>
</table></table>