<head> <LINK href='superlog.css' rel='stylesheet' ></head>
<table>
<tr><td><h1>'do_order'</h1></td></tr>
<tr><td>17-09-21 11:26:10am</td></tr>
<tr><td><h3>POST</h3><p>array (
  'store_id' => '12',
  'address_id' => '969',
  'order_item_id' => '14406%3A14407',
  'total' => '601.04',
  'tax' => '43.04',
  'delivery' => '1',
  'date' => 'Sat%2C+Sep+23%2C+2017',
  'time' => '12%3A00',
  'now_or_specific' => 'specific',
  'credit_card_id' => '1310',
  'tip' => '73',
  'sub_total' => '485',
  'credit_card' => '2223000010309711',
  'cvv' => '233',
  'exp_mth' => '01',
  'exp_yr' => '2023',
  '_card_number_auth' => '2223000010309711',
  '_expiry_month_auth' => '01',
  '_expiry_year_auth' => '2023',
  'user_id' => '1184',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
)</p></td></tr><tr class='next-row'><td><h2>RUNNING COMMAND</h2><p class='func-name'>do_controller_action:67</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='value-row'><td class='var-name'>0</td><td> array (
  'store_id' => '12',
  'address_id' => '969',
  'order_item_id' => '14406%3A14407',
  'total' => '601.04',
  'tax' => '43.04',
  'delivery' => '1',
  'date' => 'Sat%2C+Sep+23%2C+2017',
  'time' => '12%3A00',
  'now_or_specific' => 'specific',
  'credit_card_id' => '1310',
  'tip' => '73',
  'sub_total' => '485',
  'credit_card' => '2223000010309711',
  'cvv' => '233',
  'exp_mth' => '01',
  'exp_yr' => '2023',
  '_card_number_auth' => '2223000010309711',
  '_expiry_month_auth' => '01',
  '_expiry_year_auth' => '2023',
  'user_id' => '1184',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
)</td></tr>    <tr class='name-row'><td class='var-name'>1</td><td>do_order</td</tr>
</table><tr class='next-row'><td><h2>ENTER DO_ORDER</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='value-row'><td class='var-name'>0</td><td> array (
  'store_id' => '12',
  'address_id' => '969',
  'order_item_id' => '14406:14407',
  'total' => '601.04',
  'tax' => '43.04',
  'delivery' => '1',
  'date' => 'Sat, Sep 23, 2017',
  'time' => '12:00',
  'now_or_specific' => 'specific',
  'credit_card_id' => '1310',
  'tip' => '73',
  'sub_total' => '485',
  'credit_card' => '2223000010309711',
  'cvv' => '233',
  'exp_mth' => '01',
  'exp_yr' => '2023',
  '_card_number_auth' => '2223000010309711',
  '_expiry_month_auth' => '01',
  '_expiry_year_auth' => '2023',
  'user_id' => '1184',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
)</td></tr></table><tr class='next-row'><td><h2>AUTH NUMS: paymentID:  1501996260; shippingID: 1502034999; userID: 1501795437 </h2><p class='func-name'>prepare_post_for_purchase:849</p></td></tr>
<tr class='next-row'><td><h2>PREPARING TO DO TRANSACTION</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='value-row'><td class='var-name'>0</td><td> array (
  'store_id' => '12',
  'address_id' => '969',
  'order_item_id' => '14406:14407',
  'total' => '601.04',
  'tax' => '43.04',
  'delivery' => '1',
  'date' => 'Sat, Sep 23, 2017',
  'time' => '12:00',
  'now_or_specific' => 'specific',
  'credit_card_id' => '1310',
  'tip' => '73',
  'sub_total' => '485',
  'credit_card' => '2223000010309711',
  'cvv' => '233',
  'exp_mth' => '01',
  'exp_yr' => '2023',
  '_card_number_auth' => '2223000010309711',
  '_expiry_month_auth' => '01',
  '_expiry_year_auth' => '2023',
  'user_id' => '1184',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
  'customerProfileId' => '1501795437',
  'customerPaymentProfileId' => '1501996260',
  'customerShippingAddressId' => '1502034999',
)</td></tr></table><tr class='next-row'><td><h2>FINISHED TRANSACTION</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>40007234413</td</tr>
    <tr class='value-row'><td class='var-name'>1</td><td> array (
  0 => 
  array (
    'item_id' => '4094',
    'item_qty' => '15',
    'item_price' => '7.00',
    'sandwich_name' => 'XXX\'S CHEDDAR EXPERIENCE',
    'description' => ' ',
  ),
  1 => 
  array (
    'item_id' => '4143',
    'item_qty' => '2',
    'item_price' => '190.00',
    'sandwich_name' => 'XXX\'S VEGGIE SURPRISE',
    'description' => ' ',
  ),
)</td></tr></table><tr class='next-row'><td><h2>SQL> build_sql_for_orders_table</h2><p class='sql-str'>
<i>
INSERT INTO orders (
                user_id, 
                store_id,
                address_id,
                billinginfo_id,
                order_item_id,
                sub_total,
                tip,
                coupon_code,
                total,
                tax,
                delivery,
                date, 
                manual_discount,
                time, 
                authorizenet_transaction_id, 
                order_date 
                
                
            ) VALUES (1184,  
 12,  
 969 , 
 '1310' , 
 '14406:14407' , 
'485' ,
'73' ,
'', 
'601.04', 
'43.04', 
1, 
'2017-09-23 12:00:00', 
'0', 
'1', 
'40007234413', 
'2017-09-21 11:26:11'           )
</i></p></td></tr>
<tr class='next-row'><td><h2>BUILT build_sql_for_orders_table</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>
INSERT INTO orders (
                user_id, 
                store_id,
                address_id,
                billinginfo_id,
                order_item_id,
                sub_total,
                tip,
                coupon_code,
                total,
                tax,
                delivery,
                date, 
                manual_discount,
                time, 
                authorizenet_transaction_id, 
                order_date 
                
                
            ) VALUES (1184,  
 12,  
 969 , 
 '1310' , 
 '14406:14407' , 
'485' ,
'73' ,
'', 
'601.04', 
'43.04', 
1, 
'2017-09-23 12:00:00', 
'0', 
'1', 
'40007234413', 
'2017-09-21 11:26:11'           )
</td</tr>
    <tr class='value-row'><td class='var-name'>1</td><td> array (
  'store_id' => '12',
  'address_id' => '969',
  'order_item_id' => '14406:14407',
  'total' => '601.04',
  'tax' => '43.04',
  'delivery' => '1',
  'date' => 'Sat, Sep 23, 2017',
  'time' => '12:00',
  'now_or_specific' => 'specific',
  'credit_card_id' => '1310',
  'tip' => '73',
  'sub_total' => '485',
  'credit_card' => '2223000010309711',
  'cvv' => '233',
  'exp_mth' => '01',
  'exp_yr' => '2023',
  '_card_number_auth' => '2223000010309711',
  '_expiry_month_auth' => '01',
  '_expiry_year_auth' => '2023',
  'user_id' => '1184',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
  'customerProfileId' => '1501795437',
  'customerPaymentProfileId' => '1501996260',
  'customerShippingAddressId' => '1502034999',
)</td></tr>    <tr class='name-row'><td class='var-name'>2</td><td>40007234413</td</tr>
    <tr class='value-row'><td class='var-name'>3</td><td> array (
  'date' => '\'2017-09-23 12:00:00\'',
  'time' => 1,
)</td></tr></table><tr class='next-row'><td><h2>add_the_order_to_database</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>3280</td</tr>
    <tr class='name-row'><td class='var-name'>1</td><td>
INSERT INTO orders (
                user_id, 
                store_id,
                address_id,
                billinginfo_id,
                order_item_id,
                sub_total,
                tip,
                coupon_code,
                total,
                tax,
                delivery,
                date, 
                manual_discount,
                time, 
                authorizenet_transaction_id, 
                order_date 
                
                
            ) VALUES (1184,  
 12,  
 969 , 
 '1310' , 
 '14406:14407' , 
'485' ,
'73' ,
'', 
'601.04', 
'43.04', 
1, 
'2017-09-23 12:00:00', 
'0', 
'1', 
'40007234413', 
'2017-09-21 11:26:11'           )
</td</tr>
</table><tr class='next-row'><td><h2>insert_order_id_with_offset</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>3280</td</tr>
    <tr class='name-row'><td class='var-name'>1</td><td>11103280</td</tr>
</table><tr class='next-row'><td><h2>save_meal_name</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>3280</td</tr>
    <tr class='value-row'><td class='var-name'>1</td><td> array (
  'store_id' => '12',
  'address_id' => '969',
  'order_item_id' => '14406:14407',
  'total' => '601.04',
  'tax' => '43.04',
  'delivery' => '1',
  'date' => 'Sat, Sep 23, 2017',
  'time' => '12:00',
  'now_or_specific' => 'specific',
  'credit_card_id' => '1310',
  'tip' => '73',
  'sub_total' => '485',
  'credit_card' => '2223000010309711',
  'cvv' => '233',
  'exp_mth' => '01',
  'exp_yr' => '2023',
  '_card_number_auth' => '2223000010309711',
  '_expiry_month_auth' => '01',
  '_expiry_year_auth' => '2023',
  'user_id' => '1184',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
  'customerProfileId' => '1501795437',
  'customerPaymentProfileId' => '1501996260',
  'customerShippingAddressId' => '1502034999',
)</td></tr></table><tr class='next-row'><td><h2>explode_order_items</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>14406,14407</td</tr>
    <tr class='value-row'><td class='var-name'>1</td><td> array (
  'store_id' => '12',
  'address_id' => '969',
  'order_item_id' => '14406:14407',
  'total' => '601.04',
  'tax' => '43.04',
  'delivery' => '1',
  'date' => 'Sat, Sep 23, 2017',
  'time' => '12:00',
  'now_or_specific' => 'specific',
  'credit_card_id' => '1310',
  'tip' => '73',
  'sub_total' => '485',
  'credit_card' => '2223000010309711',
  'cvv' => '233',
  'exp_mth' => '01',
  'exp_yr' => '2023',
  '_card_number_auth' => '2223000010309711',
  '_expiry_month_auth' => '01',
  '_expiry_year_auth' => '2023',
  'user_id' => '1184',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
  'customerProfileId' => '1501795437',
  'customerPaymentProfileId' => '1501996260',
  'customerShippingAddressId' => '1502034999',
)</td></tr></table><tr class='next-row'><td><h2>SQL> set_order_items_to_order_id</h2><p class='sql-str'>
<i>UPDATE orders_items SET ordered = 1, orderid = 3280 WHERE order_item_id IN ( 14406,14407 )</i></p></td></tr>
<tr class='next-row'><td><h2>set_order_items_to_order_id</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>3280</td</tr>
    <tr class='name-row'><td class='var-name'>1</td><td>14406,14407</td</tr>
</table><tr class='next-row'><td><h2>SQL> increment_sandwich_count</h2><p class='sql-str'>
<i>UPDATE `user_sandwich_data` SET purchase_count = purchase_count + 1 
                    WHERE id IN (SELECT item_id FROM orders_items WHERE item_type='user_sandwich' AND order_item_id IN ( 14406,14407 ) )</i></p></td></tr>
<tr class='next-row'><td><h2>increment_sandwich_count</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>3280</td</tr>
    <tr class='name-row'><td class='var-name'>1</td><td>14406,14407</td</tr>
</table><tr class='next-row'><td><h2>ORDER COMPLETE: </h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>11103280</td</tr>
</table><tr class='next-row'><td><h2>COMPLETED RUN</h2><p class='func-name'>do_controller_action:67</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='value-row'><td class='var-name'>0</td><td> array (
  'store_id' => '12',
  'address_id' => '969',
  'order_item_id' => '14406%3A14407',
  'total' => '601.04',
  'tax' => '43.04',
  'delivery' => '1',
  'date' => 'Sat%2C+Sep+23%2C+2017',
  'time' => '12%3A00',
  'now_or_specific' => 'specific',
  'credit_card_id' => '1310',
  'tip' => '73',
  'sub_total' => '485',
  'credit_card' => '2223000010309711',
  'cvv' => '233',
  'exp_mth' => '01',
  'exp_yr' => '2023',
  '_card_number_auth' => '2223000010309711',
  '_expiry_month_auth' => '01',
  '_expiry_year_auth' => '2023',
  'user_id' => '1184',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
)</td></tr>    <tr class='name-row'><td class='var-name'>1</td><td>do_order</td</tr>
    <tr class='name-row'><td class='var-name'>2</td><td>11103280</td</tr>
</table><tr class='next-row'><td><h2>TRANSACTION LOGGING SUCCESS; Transaction log ID: 522</h2><p class='func-name'>do_controller_action:67</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>11103280</td</tr>
</table><tr class='next-row'><td><h2>FINSH - 200 </h2><p class='func-name'>do_controller_action:67</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>{"response":{"status_code":"200","message":"OK"},"data":"11103280"}</td</tr>
</table></table>