<head> <LINK href='superlog.css' rel='stylesheet' ></head>
<table>
<tr><td><h1>'do_order'</h1></td></tr>
<tr><td>17-09-21 02:42:54pm</td></tr>
<tr><td><h3>POST</h3><p>array (
  'mealname' => '',
  'store_id' => '12',
  'address_id' => '971',
  'order_item_id' => '14426',
  'total' => '133.59',
  'tax' => '9.59',
  'delivery' => '1',
  'date' => 'Sun%2C+Sep+24%2C+2017',
  'time' => '12%3A00',
  'now_or_specific' => 'now',
  'credit_card_id' => '1323',
  'coupon_code' => '',
  'tip' => '16',
  'sub_total' => '108',
  'off_amount' => '',
  'credit_card' => '2223000010309711',
  'cvv' => '222',
  'exp_mth' => '01',
  'exp_yr' => '2023',
  '_card_number_auth' => '2223000010309711',
  '_expiry_month_auth' => '01',
  '_expiry_year_auth' => '2023',
  'user_id' => '1188',
  'application' => 'Mobile',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
)</p></td></tr><tr class='next-row'><td><h2>RUNNING COMMAND</h2><p class='func-name'>do_controller_action:67</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='value-row'><td class='var-name'>0</td><td> array (
  'mealname' => '',
  'store_id' => '12',
  'address_id' => '971',
  'order_item_id' => '14426',
  'total' => '133.59',
  'tax' => '9.59',
  'delivery' => '1',
  'date' => 'Sun%2C+Sep+24%2C+2017',
  'time' => '12%3A00',
  'now_or_specific' => 'now',
  'credit_card_id' => '1323',
  'coupon_code' => '',
  'tip' => '16',
  'sub_total' => '108',
  'off_amount' => '',
  'credit_card' => '2223000010309711',
  'cvv' => '222',
  'exp_mth' => '01',
  'exp_yr' => '2023',
  '_card_number_auth' => '2223000010309711',
  '_expiry_month_auth' => '01',
  '_expiry_year_auth' => '2023',
  'user_id' => '1188',
  'application' => 'Mobile',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
)</td></tr>    <tr class='name-row'><td class='var-name'>1</td><td>do_order</td</tr>
</table><tr class='next-row'><td><h2>ENTER DO_ORDER</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='value-row'><td class='var-name'>0</td><td> array (
  'mealname' => '',
  'store_id' => '12',
  'address_id' => '971',
  'order_item_id' => '14426',
  'total' => '133.59',
  'tax' => '9.59',
  'delivery' => '1',
  'date' => 'Sun, Sep 24, 2017',
  'time' => '12:00',
  'now_or_specific' => 'now',
  'credit_card_id' => '1323',
  'coupon_code' => '',
  'tip' => '16',
  'sub_total' => '108',
  'off_amount' => '',
  'credit_card' => '2223000010309711',
  'cvv' => '222',
  'exp_mth' => '01',
  'exp_yr' => '2023',
  '_card_number_auth' => '2223000010309711',
  '_expiry_month_auth' => '01',
  '_expiry_year_auth' => '2023',
  'user_id' => '1188',
  'application' => 'Mobile',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
)</td></tr></table><tr class='next-row'><td><h2>create_shipping_profile_id return 1502037727</h2><p class='func-name'>create_shipping_profile_id:1003</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>1502474135</td</tr>
    <tr class='value-row'><td class='var-name'>1</td><td> array (
  0 => '971',
  'address_id' => '971',
  1 => 'joe schmo',
  'name' => 'joe schmo',
  2 => '333',
  'company' => '333',
  3 => '333',
  'address1' => '333',
  4 => ' ',
  'address2' => '333',
  5 => '333',
  'street' => '333',
  6 => '3333',
  'cross_streets' => '3333',
  7 => '333-333-7333',
  'phone' => '333-333-7333',
  8 => '',
  'extn' => '',
  9 => '33333',
  'zip' => '33333',
  10 => '',
  'delivery_instructions' => '',
  11 => '1188',
  'uid' => '1188',
  12 => '0',
  'authorizenet_shipping_profile_id' => '0',
  13 => '1',
  'status' => '1',
)</td></tr>    <tr class='name-row'><td class='var-name'>2</td><td>971</td</tr>
</table><tr class='next-row'><td><h2>SQL> create_shipping_profile_id </h2><p class='sql-str'>
<i>UPDATE order_address SET authorizenet_shipping_profile_id = 1502037727 WHERE address_id = 971 </i></p></td></tr>
<tr class='next-row'><td><h2>AUTH NUMS: paymentID:  1501997915; shippingID: 1502037727; userID: 1502474135 </h2><p class='func-name'>prepare_post_for_purchase:849</p></td></tr>
<tr class='next-row'><td><h2>PREPARING TO DO TRANSACTION</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='value-row'><td class='var-name'>0</td><td> array (
  'mealname' => '',
  'store_id' => '12',
  'address_id' => '971',
  'order_item_id' => '14426',
  'total' => '133.59',
  'tax' => '9.59',
  'delivery' => '1',
  'date' => 'Sun, Sep 24, 2017',
  'time' => '12:00',
  'now_or_specific' => 'now',
  'credit_card_id' => '1323',
  'coupon_code' => '',
  'tip' => '16',
  'sub_total' => '108',
  'off_amount' => '',
  'credit_card' => '2223000010309711',
  'cvv' => '222',
  'exp_mth' => '01',
  'exp_yr' => '2023',
  '_card_number_auth' => '2223000010309711',
  '_expiry_month_auth' => '01',
  '_expiry_year_auth' => '2023',
  'user_id' => '1188',
  'application' => 'Mobile',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
  'customerProfileId' => '1502474135',
  'customerPaymentProfileId' => '1501997915',
  'customerShippingAddressId' => '1502037727',
)</td></tr></table><tr class='next-row'><td><h2>FINISHED TRANSACTION</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>40007238338</td</tr>
    <tr class='value-row'><td class='var-name'>1</td><td> array (
  0 => 
  array (
    'item_id' => '4147',
    'item_qty' => '9',
    'item_price' => '12.00',
    'sandwich_name' => 'JOE\'S VEGGIE FLAIR',
    'description' => ' ',
  ),
)</td></tr></table><tr class='next-row'><td><h2>SQL> build_sql_for_orders_table</h2><p class='sql-str'>
<i>
INSERT INTO orders (
                user_id, 
                store_id,
                address_id,
                billinginfo_id,
                order_item_id,
                sub_total,
                tip,
                coupon_code,
                total,
                tax,
                delivery,
                date, 
                manual_discount,
                time, 
                authorizenet_transaction_id, 
                order_date 
                
                
            ) VALUES (1188,  
 12,  
 971 , 
 '1323' , 
 '14426' , 
'108' ,
'16' ,
'', 
'133.59', 
'9.59', 
1, 
'2017-09-21 14:42:54', 
'0', 
'0', 
'40007238338', 
'2017-09-21 14:42:56'           )
</i></p></td></tr>
<tr class='next-row'><td><h2>BUILT build_sql_for_orders_table</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>
INSERT INTO orders (
                user_id, 
                store_id,
                address_id,
                billinginfo_id,
                order_item_id,
                sub_total,
                tip,
                coupon_code,
                total,
                tax,
                delivery,
                date, 
                manual_discount,
                time, 
                authorizenet_transaction_id, 
                order_date 
                
                
            ) VALUES (1188,  
 12,  
 971 , 
 '1323' , 
 '14426' , 
'108' ,
'16' ,
'', 
'133.59', 
'9.59', 
1, 
'2017-09-21 14:42:54', 
'0', 
'0', 
'40007238338', 
'2017-09-21 14:42:56'           )
</td</tr>
    <tr class='value-row'><td class='var-name'>1</td><td> array (
  'mealname' => '',
  'store_id' => '12',
  'address_id' => '971',
  'order_item_id' => '14426',
  'total' => '133.59',
  'tax' => '9.59',
  'delivery' => '1',
  'date' => 'Sun, Sep 24, 2017',
  'time' => '12:00',
  'now_or_specific' => 'now',
  'credit_card_id' => '1323',
  'coupon_code' => '',
  'tip' => '16',
  'sub_total' => '108',
  'off_amount' => '',
  'credit_card' => '2223000010309711',
  'cvv' => '222',
  'exp_mth' => '01',
  'exp_yr' => '2023',
  '_card_number_auth' => '2223000010309711',
  '_expiry_month_auth' => '01',
  '_expiry_year_auth' => '2023',
  'user_id' => '1188',
  'application' => 'Mobile',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
  'customerProfileId' => '1502474135',
  'customerPaymentProfileId' => '1501997915',
  'customerShippingAddressId' => '1502037727',
)</td></tr>    <tr class='name-row'><td class='var-name'>2</td><td>40007238338</td</tr>
    <tr class='value-row'><td class='var-name'>3</td><td> array (
  'date' => '\'2017-09-21 14:42:54\'',
  'time' => 0,
)</td></tr></table><tr class='next-row'><td><h2>add_the_order_to_database</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>3286</td</tr>
    <tr class='name-row'><td class='var-name'>1</td><td>
INSERT INTO orders (
                user_id, 
                store_id,
                address_id,
                billinginfo_id,
                order_item_id,
                sub_total,
                tip,
                coupon_code,
                total,
                tax,
                delivery,
                date, 
                manual_discount,
                time, 
                authorizenet_transaction_id, 
                order_date 
                
                
            ) VALUES (1188,  
 12,  
 971 , 
 '1323' , 
 '14426' , 
'108' ,
'16' ,
'', 
'133.59', 
'9.59', 
1, 
'2017-09-21 14:42:54', 
'0', 
'0', 
'40007238338', 
'2017-09-21 14:42:56'           )
</td</tr>
</table><tr class='next-row'><td><h2>insert_order_id_with_offset</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>3286</td</tr>
    <tr class='name-row'><td class='var-name'>1</td><td>11103286</td</tr>
</table><tr class='next-row'><td><h2>save_meal_name</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>3286</td</tr>
    <tr class='value-row'><td class='var-name'>1</td><td> array (
  'mealname' => '',
  'store_id' => '12',
  'address_id' => '971',
  'order_item_id' => '14426',
  'total' => '133.59',
  'tax' => '9.59',
  'delivery' => '1',
  'date' => 'Sun, Sep 24, 2017',
  'time' => '12:00',
  'now_or_specific' => 'now',
  'credit_card_id' => '1323',
  'coupon_code' => '',
  'tip' => '16',
  'sub_total' => '108',
  'off_amount' => '',
  'credit_card' => '2223000010309711',
  'cvv' => '222',
  'exp_mth' => '01',
  'exp_yr' => '2023',
  '_card_number_auth' => '2223000010309711',
  '_expiry_month_auth' => '01',
  '_expiry_year_auth' => '2023',
  'user_id' => '1188',
  'application' => 'Mobile',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
  'customerProfileId' => '1502474135',
  'customerPaymentProfileId' => '1501997915',
  'customerShippingAddressId' => '1502037727',
)</td></tr></table><tr class='next-row'><td><h2>explode_order_items</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>14426</td</tr>
    <tr class='value-row'><td class='var-name'>1</td><td> array (
  'mealname' => '',
  'store_id' => '12',
  'address_id' => '971',
  'order_item_id' => '14426',
  'total' => '133.59',
  'tax' => '9.59',
  'delivery' => '1',
  'date' => 'Sun, Sep 24, 2017',
  'time' => '12:00',
  'now_or_specific' => 'now',
  'credit_card_id' => '1323',
  'coupon_code' => '',
  'tip' => '16',
  'sub_total' => '108',
  'off_amount' => '',
  'credit_card' => '2223000010309711',
  'cvv' => '222',
  'exp_mth' => '01',
  'exp_yr' => '2023',
  '_card_number_auth' => '2223000010309711',
  '_expiry_month_auth' => '01',
  '_expiry_year_auth' => '2023',
  'user_id' => '1188',
  'application' => 'Mobile',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
  'customerProfileId' => '1502474135',
  'customerPaymentProfileId' => '1501997915',
  'customerShippingAddressId' => '1502037727',
)</td></tr></table><tr class='next-row'><td><h2>SQL> set_order_items_to_order_id</h2><p class='sql-str'>
<i>UPDATE orders_items SET ordered = 1, orderid = 3286 WHERE order_item_id IN ( 14426 )</i></p></td></tr>
<tr class='next-row'><td><h2>set_order_items_to_order_id</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>3286</td</tr>
    <tr class='name-row'><td class='var-name'>1</td><td>14426</td</tr>
</table><tr class='next-row'><td><h2>SQL> increment_sandwich_count</h2><p class='sql-str'>
<i>UPDATE `user_sandwich_data` SET purchase_count = purchase_count + 1 
                    WHERE id IN (SELECT item_id FROM orders_items WHERE item_type='user_sandwich' AND order_item_id IN ( 14426 ) )</i></p></td></tr>
<tr class='next-row'><td><h2>increment_sandwich_count</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>3286</td</tr>
    <tr class='name-row'><td class='var-name'>1</td><td>14426</td</tr>
</table><tr class='next-row'><td><h2>ORDER COMPLETE: </h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>11103286</td</tr>
</table><tr class='next-row'><td><h2>COMPLETED RUN</h2><p class='func-name'>do_controller_action:67</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='value-row'><td class='var-name'>0</td><td> array (
  'mealname' => '',
  'store_id' => '12',
  'address_id' => '971',
  'order_item_id' => '14426',
  'total' => '133.59',
  'tax' => '9.59',
  'delivery' => '1',
  'date' => 'Sun%2C+Sep+24%2C+2017',
  'time' => '12%3A00',
  'now_or_specific' => 'now',
  'credit_card_id' => '1323',
  'coupon_code' => '',
  'tip' => '16',
  'sub_total' => '108',
  'off_amount' => '',
  'credit_card' => '2223000010309711',
  'cvv' => '222',
  'exp_mth' => '01',
  'exp_yr' => '2023',
  '_card_number_auth' => '2223000010309711',
  '_expiry_month_auth' => '01',
  '_expiry_year_auth' => '2023',
  'user_id' => '1188',
  'application' => 'Mobile',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
)</td></tr>    <tr class='name-row'><td class='var-name'>1</td><td>do_order</td</tr>
    <tr class='name-row'><td class='var-name'>2</td><td>11103286</td</tr>
</table><tr class='next-row'><td><h2>TRANSACTION LOGGING SUCCESS; Transaction log ID: 528</h2><p class='func-name'>do_controller_action:67</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>11103286</td</tr>
</table><tr class='next-row'><td><h2>FINSH - 200 </h2><p class='func-name'>do_controller_action:67</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>{"response":{"status_code":"200","message":"OK"},"data":"11103286"}</td</tr>
</table></table>