<head> <LINK href='superlog.css' rel='stylesheet' ></head>
<table>
<tr><td><h1>'do_order'</h1></td></tr>
<tr><td>17-09-15 02:20:16pm</td></tr>
<tr><td><h3>POST</h3><p>array (
  'store_id' => '12',
  'address_id' => '952',
  'order_item_id' => '14386',
  'total' => '15.07',
  'tax' => '1.07',
  'delivery' => '1',
  'date' => 'Sun%2C+Sep+17%2C+2017',
  'time' => '12%3A00',
  'now_or_specific' => 'specific',
  'credit_card_id' => '1305',
  'tip' => '2',
  'sub_total' => '12',
  'credit_card' => 'XXXX-XXXX-XXXX-0015',
  'cvv' => '',
  'exp_mth' => '01',
  'exp_yr' => '2021',
  '_card_number_auth' => '',
  '_expiry_month_auth' => '',
  '_expiry_year_auth' => '',
  'user_id' => '1184',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
)</p></td></tr><tr class='next-row'><td><h2>RUNNING COMMAND</h2><p class='func-name'>do_controller_action:67</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='value-row'><td class='var-name'>0</td><td> array (
  'store_id' => '12',
  'address_id' => '952',
  'order_item_id' => '14386',
  'total' => '15.07',
  'tax' => '1.07',
  'delivery' => '1',
  'date' => 'Sun%2C+Sep+17%2C+2017',
  'time' => '12%3A00',
  'now_or_specific' => 'specific',
  'credit_card_id' => '1305',
  'tip' => '2',
  'sub_total' => '12',
  'credit_card' => 'XXXX-XXXX-XXXX-0015',
  'cvv' => '',
  'exp_mth' => '01',
  'exp_yr' => '2021',
  '_card_number_auth' => '',
  '_expiry_month_auth' => '',
  '_expiry_year_auth' => '',
  'user_id' => '1184',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
)</td></tr>    <tr class='name-row'><td class='var-name'>1</td><td>do_order</td</tr>
</table><tr class='next-row'><td><h2>ENTER DO_ORDER</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='value-row'><td class='var-name'>0</td><td> array (
  'store_id' => '12',
  'address_id' => '952',
  'order_item_id' => '14386',
  'total' => '15.07',
  'tax' => '1.07',
  'delivery' => '1',
  'date' => 'Sun, Sep 17, 2017',
  'time' => '12:00',
  'now_or_specific' => 'specific',
  'credit_card_id' => '1305',
  'tip' => '2',
  'sub_total' => '12',
  'credit_card' => 'XXXX-XXXX-XXXX-0015',
  'cvv' => '',
  'exp_mth' => '01',
  'exp_yr' => '2021',
  '_card_number_auth' => '',
  '_expiry_month_auth' => '',
  '_expiry_year_auth' => '',
  'user_id' => '1184',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
)</td></tr></table><tr class='next-row'><td><h2>AUTH NUMS: paymentID:  1501946526; shippingID: 1501348654; userID: 1501795437 </h2><p class='func-name'>prepare_post_for_purchase:849</p></td></tr>
<tr class='next-row'><td><h2>PREPARING TO DO TRANSACTION</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='value-row'><td class='var-name'>0</td><td> array (
  'store_id' => '12',
  'address_id' => '952',
  'order_item_id' => '14386',
  'total' => '15.07',
  'tax' => '1.07',
  'delivery' => '1',
  'date' => 'Sun, Sep 17, 2017',
  'time' => '12:00',
  'now_or_specific' => 'specific',
  'credit_card_id' => '1305',
  'tip' => '2',
  'sub_total' => '12',
  'credit_card' => 'XXXX-XXXX-XXXX-0015',
  'cvv' => '',
  'exp_mth' => '01',
  'exp_yr' => '2021',
  '_card_number_auth' => '',
  '_expiry_month_auth' => '',
  '_expiry_year_auth' => '',
  'user_id' => '1184',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
  'customerProfileId' => '1501795437',
  'customerPaymentProfileId' => '1501946526',
  'customerShippingAddressId' => '1501348654',
)</td></tr></table><tr class='next-row'><td><h2>FINISHED TRANSACTION</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>40007128131</td</tr>
    <tr class='value-row'><td class='var-name'>1</td><td> array (
  0 => 
  array (
    'item_id' => '4140',
    'item_qty' => '2',
    'item_price' => '6.00',
    'sandwich_name' => 'XXX\'S VEGGIE FANTASY',
    'description' => ' ',
  ),
)</td></tr></table><tr class='next-row'><td><h2>SQL> build_sql_for_orders_table</h2><p class='sql-str'>
<i>
INSERT INTO orders (
                user_id, 
                store_id,
                address_id,
                billinginfo_id,
                order_item_id,
                sub_total,
                tip,
                coupon_code,
                total,
                tax,
                delivery,
                date, 
                manual_discount,
                time, 
                authorizenet_transaction_id, 
                order_date 
                
                
            ) VALUES (1184,  
 12,  
 952 , 
 '1305' , 
 '14386' , 
'12' ,
'2' ,
'', 
'15.07', 
'1.07', 
1, 
'2017-09-17 12:00:00', 
'0', 
'1', 
'40007128131', 
'2017-09-15 14:20:17'           )
</i></p></td></tr>
<tr class='next-row'><td><h2>BUILT build_sql_for_orders_table</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>
INSERT INTO orders (
                user_id, 
                store_id,
                address_id,
                billinginfo_id,
                order_item_id,
                sub_total,
                tip,
                coupon_code,
                total,
                tax,
                delivery,
                date, 
                manual_discount,
                time, 
                authorizenet_transaction_id, 
                order_date 
                
                
            ) VALUES (1184,  
 12,  
 952 , 
 '1305' , 
 '14386' , 
'12' ,
'2' ,
'', 
'15.07', 
'1.07', 
1, 
'2017-09-17 12:00:00', 
'0', 
'1', 
'40007128131', 
'2017-09-15 14:20:17'           )
</td</tr>
    <tr class='value-row'><td class='var-name'>1</td><td> array (
  'store_id' => '12',
  'address_id' => '952',
  'order_item_id' => '14386',
  'total' => '15.07',
  'tax' => '1.07',
  'delivery' => '1',
  'date' => 'Sun, Sep 17, 2017',
  'time' => '12:00',
  'now_or_specific' => 'specific',
  'credit_card_id' => '1305',
  'tip' => '2',
  'sub_total' => '12',
  'credit_card' => 'XXXX-XXXX-XXXX-0015',
  'cvv' => '',
  'exp_mth' => '01',
  'exp_yr' => '2021',
  '_card_number_auth' => '',
  '_expiry_month_auth' => '',
  '_expiry_year_auth' => '',
  'user_id' => '1184',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
  'customerProfileId' => '1501795437',
  'customerPaymentProfileId' => '1501946526',
  'customerShippingAddressId' => '1501348654',
)</td></tr>    <tr class='name-row'><td class='var-name'>2</td><td>40007128131</td</tr>
    <tr class='value-row'><td class='var-name'>3</td><td> array (
  'date' => '\'2017-09-17 12:00:00\'',
  'time' => 1,
)</td></tr></table><tr class='next-row'><td><h2>add_the_order_to_database</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>3275</td</tr>
    <tr class='name-row'><td class='var-name'>1</td><td>
INSERT INTO orders (
                user_id, 
                store_id,
                address_id,
                billinginfo_id,
                order_item_id,
                sub_total,
                tip,
                coupon_code,
                total,
                tax,
                delivery,
                date, 
                manual_discount,
                time, 
                authorizenet_transaction_id, 
                order_date 
                
                
            ) VALUES (1184,  
 12,  
 952 , 
 '1305' , 
 '14386' , 
'12' ,
'2' ,
'', 
'15.07', 
'1.07', 
1, 
'2017-09-17 12:00:00', 
'0', 
'1', 
'40007128131', 
'2017-09-15 14:20:17'           )
</td</tr>
</table><tr class='next-row'><td><h2>insert_order_id_with_offset</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>3275</td</tr>
    <tr class='name-row'><td class='var-name'>1</td><td>11103275</td</tr>
</table><tr class='next-row'><td><h2>save_meal_name</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>3275</td</tr>
    <tr class='value-row'><td class='var-name'>1</td><td> array (
  'store_id' => '12',
  'address_id' => '952',
  'order_item_id' => '14386',
  'total' => '15.07',
  'tax' => '1.07',
  'delivery' => '1',
  'date' => 'Sun, Sep 17, 2017',
  'time' => '12:00',
  'now_or_specific' => 'specific',
  'credit_card_id' => '1305',
  'tip' => '2',
  'sub_total' => '12',
  'credit_card' => 'XXXX-XXXX-XXXX-0015',
  'cvv' => '',
  'exp_mth' => '01',
  'exp_yr' => '2021',
  '_card_number_auth' => '',
  '_expiry_month_auth' => '',
  '_expiry_year_auth' => '',
  'user_id' => '1184',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
  'customerProfileId' => '1501795437',
  'customerPaymentProfileId' => '1501946526',
  'customerShippingAddressId' => '1501348654',
)</td></tr></table><tr class='next-row'><td><h2>explode_order_items</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>14386</td</tr>
    <tr class='value-row'><td class='var-name'>1</td><td> array (
  'store_id' => '12',
  'address_id' => '952',
  'order_item_id' => '14386',
  'total' => '15.07',
  'tax' => '1.07',
  'delivery' => '1',
  'date' => 'Sun, Sep 17, 2017',
  'time' => '12:00',
  'now_or_specific' => 'specific',
  'credit_card_id' => '1305',
  'tip' => '2',
  'sub_total' => '12',
  'credit_card' => 'XXXX-XXXX-XXXX-0015',
  'cvv' => '',
  'exp_mth' => '01',
  'exp_yr' => '2021',
  '_card_number_auth' => '',
  '_expiry_month_auth' => '',
  '_expiry_year_auth' => '',
  'user_id' => '1184',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
  'customerProfileId' => '1501795437',
  'customerPaymentProfileId' => '1501946526',
  'customerShippingAddressId' => '1501348654',
)</td></tr></table><tr class='next-row'><td><h2>SQL> set_order_items_to_order_id</h2><p class='sql-str'>
<i>UPDATE orders_items SET ordered = 1, orderid = 3275 WHERE order_item_id IN ( 14386 )</i></p></td></tr>
<tr class='next-row'><td><h2>set_order_items_to_order_id</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>3275</td</tr>
    <tr class='name-row'><td class='var-name'>1</td><td>14386</td</tr>
</table><tr class='next-row'><td><h2>SQL> increment_sandwich_count</h2><p class='sql-str'>
<i>UPDATE `user_sandwich_data` SET purchase_count = purchase_count + 1 
                    WHERE id IN (SELECT item_id FROM orders_items WHERE item_type='user_sandwich' AND order_item_id IN ( 14386 ) )</i></p></td></tr>
<tr class='next-row'><td><h2>increment_sandwich_count</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>3275</td</tr>
    <tr class='name-row'><td class='var-name'>1</td><td>14386</td</tr>
</table><tr class='next-row'><td><h2>ORDER COMPLETE: </h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>11103275</td</tr>
</table><tr class='next-row'><td><h2>COMPLETED RUN</h2><p class='func-name'>do_controller_action:67</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='value-row'><td class='var-name'>0</td><td> array (
  'store_id' => '12',
  'address_id' => '952',
  'order_item_id' => '14386',
  'total' => '15.07',
  'tax' => '1.07',
  'delivery' => '1',
  'date' => 'Sun%2C+Sep+17%2C+2017',
  'time' => '12%3A00',
  'now_or_specific' => 'specific',
  'credit_card_id' => '1305',
  'tip' => '2',
  'sub_total' => '12',
  'credit_card' => 'XXXX-XXXX-XXXX-0015',
  'cvv' => '',
  'exp_mth' => '01',
  'exp_yr' => '2021',
  '_card_number_auth' => '',
  '_expiry_month_auth' => '',
  '_expiry_year_auth' => '',
  'user_id' => '1184',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
)</td></tr>    <tr class='name-row'><td class='var-name'>1</td><td>do_order</td</tr>
    <tr class='name-row'><td class='var-name'>2</td><td>11103275</td</tr>
</table><tr class='next-row'><td><h2>TRANSACTION LOGGING SUCCESS; Transaction log ID: 517</h2><p class='func-name'>do_controller_action:67</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>11103275</td</tr>
</table><tr class='next-row'><td><h2>FINSH - 200 </h2><p class='func-name'>do_controller_action:67</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>{"response":{"status_code":"200","message":"OK"},"data":"11103275"}</td</tr>
</table></table>