<head> <LINK href='superlog.css' rel='stylesheet' ></head>
<table>
<tr><td><h1>'do_order'</h1></td></tr>
<tr><td>17-11-03 02:46:48am</td></tr>
<tr><td><h3>POST</h3><p>array (
  'mealname' => '',
  'store_id' => '12',
  'address_id' => '771',
  'order_item_id' => '14640%3A14641',
  'total' => '130.32',
  'tax' => '9.32',
  'delivery' => '1',
  'date' => '2017-11-4',
  'time' => '14%3A45',
  'now_or_specific' => 'specific',
  'credit_card_id' => '1193',
  'coupon_code' => '',
  'tip' => '16',
  'sub_total' => '105',
  'off_amount' => '',
  'credit_card' => '',
  'cvv' => '',
  'exp_mth' => '01',
  'exp_yr' => '2017',
  '_card_number_auth' => '',
  '_expiry_month_auth' => '',
  '_expiry_year_auth' => '',
  'user_id' => '16',
  'application' => 'Mobile',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
)</p></td></tr><tr class='next-row'><td><h2>RUNNING COMMAND</h2><p class='func-name'>do_controller_action:67</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='value-row'><td class='var-name'>0</td><td> array (
  'mealname' => '',
  'store_id' => '12',
  'address_id' => '771',
  'order_item_id' => '14640%3A14641',
  'total' => '130.32',
  'tax' => '9.32',
  'delivery' => '1',
  'date' => '2017-11-4',
  'time' => '14%3A45',
  'now_or_specific' => 'specific',
  'credit_card_id' => '1193',
  'coupon_code' => '',
  'tip' => '16',
  'sub_total' => '105',
  'off_amount' => '',
  'credit_card' => '',
  'cvv' => '',
  'exp_mth' => '01',
  'exp_yr' => '2017',
  '_card_number_auth' => '',
  '_expiry_month_auth' => '',
  '_expiry_year_auth' => '',
  'user_id' => '16',
  'application' => 'Mobile',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
)</td></tr>    <tr class='name-row'><td class='var-name'>1</td><td>do_order</td</tr>
</table><tr class='next-row'><td><h2>ENTER DO_ORDER</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='value-row'><td class='var-name'>0</td><td> array (
  'mealname' => '',
  'store_id' => '12',
  'address_id' => '771',
  'order_item_id' => '14640:14641',
  'total' => '130.32',
  'tax' => '9.32',
  'delivery' => '1',
  'date' => '2017-11-4',
  'time' => '14:45',
  'now_or_specific' => 'specific',
  'credit_card_id' => '1193',
  'coupon_code' => '',
  'tip' => '16',
  'sub_total' => '105',
  'off_amount' => '',
  'credit_card' => '',
  'cvv' => '',
  'exp_mth' => '01',
  'exp_yr' => '2017',
  '_card_number_auth' => '',
  '_expiry_month_auth' => '',
  '_expiry_year_auth' => '',
  'user_id' => '16',
  'application' => 'Mobile',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
)</td></tr></table><tr class='next-row'><td><h2>create_shipping_profile_id return 1502299248</h2><p class='func-name'>create_shipping_profile_id:1003</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>1500566515</td</tr>
    <tr class='value-row'><td class='var-name'>1</td><td> array (
  0 => '771',
  'address_id' => '771',
  1 => 'surveer op',
  'name' => 'surveer op',
  2 => 'sdfsf',
  'company' => 'sdfsf',
  3 => 'sfsaf',
  'address1' => 'sfsaf',
  4 => ' ',
  'address2' => 'sfsaf',
  5 => 'sfsaf',
  'street' => 'sfsaf',
  6 => 'sfsaf',
  'cross_streets' => 'sfsaf',
  7 => '111-111-11',
  'phone' => '111-111-11',
  8 => '1',
  'extn' => '1',
  9 => '11111',
  'zip' => '11111',
  10 => '1111',
  'delivery_instructions' => '1111',
  11 => '16',
  'uid' => '16',
  12 => '0',
  'authorizenet_shipping_profile_id' => '0',
  13 => '1',
  'status' => '1',
)</td></tr>    <tr class='name-row'><td class='var-name'>2</td><td>771</td</tr>
</table><tr class='next-row'><td><h2>SQL> create_shipping_profile_id </h2><p class='sql-str'>
<i>UPDATE order_address SET authorizenet_shipping_profile_id = 1502299248 WHERE address_id = 771 </i></p></td></tr>
<tr class='next-row'><td><h2>AUTH NUMS: paymentID:  1500887412; shippingID: 1502299248; userID: 1500566515 </h2><p class='func-name'>prepare_post_for_purchase:849</p></td></tr>
<tr class='next-row'><td><h2>PREPARING TO DO TRANSACTION</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='value-row'><td class='var-name'>0</td><td> array (
  'mealname' => '',
  'store_id' => '12',
  'address_id' => '771',
  'order_item_id' => '14640:14641',
  'total' => '130.32',
  'tax' => '9.32',
  'delivery' => '1',
  'date' => '2017-11-4',
  'time' => '14:45',
  'now_or_specific' => 'specific',
  'credit_card_id' => '1193',
  'coupon_code' => '',
  'tip' => '16',
  'sub_total' => '105',
  'off_amount' => '',
  'credit_card' => '',
  'cvv' => '',
  'exp_mth' => '01',
  'exp_yr' => '2017',
  '_card_number_auth' => '',
  '_expiry_month_auth' => '',
  '_expiry_year_auth' => '',
  'user_id' => '16',
  'application' => 'Mobile',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
  'customerProfileId' => '1500566515',
  'customerPaymentProfileId' => '1500887412',
  'customerShippingAddressId' => '1502299248',
)</td></tr></table><tr class='next-row'><td><h2>FINISHED TRANSACTION</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>40008119210</td</tr>
    <tr class='value-row'><td class='var-name'>1</td><td> array (
  0 => 
  array (
    'item_id' => '3870',
    'item_qty' => '5',
    'item_price' => '6.00',
    'sandwich_name' => 'SURVEER\'S VEGGIE COMPLEX',
    'description' => ' ',
  ),
  1 => 
  array (
    'item_id' => '3930',
    'item_qty' => '5',
    'item_price' => '15.00',
    'sandwich_name' => 'SURVEER\'S CORNED BEEF JAM',
    'description' => ' ',
  ),
)</td></tr></table><tr class='next-row'><td><h2>SQL> build_sql_for_orders_table</h2><p class='sql-str'>
<i>
INSERT INTO orders (
                user_id, 
                store_id,
                address_id,
                billinginfo_id,
                order_item_id,
                sub_total,
                tip,
                coupon_code,
                total,
                tax,
                delivery,
                date, 
                manual_discount,
                time, 
                authorizenet_transaction_id, 
                order_date 
                
                
            ) VALUES (16,  
 12,  
 771 , 
 '1193' , 
 '14640:14641' , 
'105' ,
'16' ,
'', 
'130.32', 
'9.32', 
1, 
'2017-11-04 14:45:00', 
'0', 
'1', 
'40008119210', 
'2017-11-03 02:46:50'           )
</i></p></td></tr>
<tr class='next-row'><td><h2>BUILT build_sql_for_orders_table</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>
INSERT INTO orders (
                user_id, 
                store_id,
                address_id,
                billinginfo_id,
                order_item_id,
                sub_total,
                tip,
                coupon_code,
                total,
                tax,
                delivery,
                date, 
                manual_discount,
                time, 
                authorizenet_transaction_id, 
                order_date 
                
                
            ) VALUES (16,  
 12,  
 771 , 
 '1193' , 
 '14640:14641' , 
'105' ,
'16' ,
'', 
'130.32', 
'9.32', 
1, 
'2017-11-04 14:45:00', 
'0', 
'1', 
'40008119210', 
'2017-11-03 02:46:50'           )
</td</tr>
    <tr class='value-row'><td class='var-name'>1</td><td> array (
  'mealname' => '',
  'store_id' => '12',
  'address_id' => '771',
  'order_item_id' => '14640:14641',
  'total' => '130.32',
  'tax' => '9.32',
  'delivery' => '1',
  'date' => '2017-11-4',
  'time' => '14:45',
  'now_or_specific' => 'specific',
  'credit_card_id' => '1193',
  'coupon_code' => '',
  'tip' => '16',
  'sub_total' => '105',
  'off_amount' => '',
  'credit_card' => '',
  'cvv' => '',
  'exp_mth' => '01',
  'exp_yr' => '2017',
  '_card_number_auth' => '',
  '_expiry_month_auth' => '',
  '_expiry_year_auth' => '',
  'user_id' => '16',
  'application' => 'Mobile',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
  'customerProfileId' => '1500566515',
  'customerPaymentProfileId' => '1500887412',
  'customerShippingAddressId' => '1502299248',
)</td></tr>    <tr class='name-row'><td class='var-name'>2</td><td>40008119210</td</tr>
    <tr class='value-row'><td class='var-name'>3</td><td> array (
  'date' => '\'2017-11-04 14:45:00\'',
  'time' => 1,
)</td></tr></table><tr class='next-row'><td><h2>add_the_order_to_database</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>3331</td</tr>
    <tr class='name-row'><td class='var-name'>1</td><td>
INSERT INTO orders (
                user_id, 
                store_id,
                address_id,
                billinginfo_id,
                order_item_id,
                sub_total,
                tip,
                coupon_code,
                total,
                tax,
                delivery,
                date, 
                manual_discount,
                time, 
                authorizenet_transaction_id, 
                order_date 
                
                
            ) VALUES (16,  
 12,  
 771 , 
 '1193' , 
 '14640:14641' , 
'105' ,
'16' ,
'', 
'130.32', 
'9.32', 
1, 
'2017-11-04 14:45:00', 
'0', 
'1', 
'40008119210', 
'2017-11-03 02:46:50'           )
</td</tr>
</table><tr class='next-row'><td><h2>insert_order_id_with_offset</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>3331</td</tr>
    <tr class='name-row'><td class='var-name'>1</td><td>11103331</td</tr>
</table><tr class='next-row'><td><h2>save_meal_name</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>3331</td</tr>
    <tr class='value-row'><td class='var-name'>1</td><td> array (
  'mealname' => '',
  'store_id' => '12',
  'address_id' => '771',
  'order_item_id' => '14640:14641',
  'total' => '130.32',
  'tax' => '9.32',
  'delivery' => '1',
  'date' => '2017-11-4',
  'time' => '14:45',
  'now_or_specific' => 'specific',
  'credit_card_id' => '1193',
  'coupon_code' => '',
  'tip' => '16',
  'sub_total' => '105',
  'off_amount' => '',
  'credit_card' => '',
  'cvv' => '',
  'exp_mth' => '01',
  'exp_yr' => '2017',
  '_card_number_auth' => '',
  '_expiry_month_auth' => '',
  '_expiry_year_auth' => '',
  'user_id' => '16',
  'application' => 'Mobile',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
  'customerProfileId' => '1500566515',
  'customerPaymentProfileId' => '1500887412',
  'customerShippingAddressId' => '1502299248',
)</td></tr></table><tr class='next-row'><td><h2>explode_order_items</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>14640,14641</td</tr>
    <tr class='value-row'><td class='var-name'>1</td><td> array (
  'mealname' => '',
  'store_id' => '12',
  'address_id' => '771',
  'order_item_id' => '14640:14641',
  'total' => '130.32',
  'tax' => '9.32',
  'delivery' => '1',
  'date' => '2017-11-4',
  'time' => '14:45',
  'now_or_specific' => 'specific',
  'credit_card_id' => '1193',
  'coupon_code' => '',
  'tip' => '16',
  'sub_total' => '105',
  'off_amount' => '',
  'credit_card' => '',
  'cvv' => '',
  'exp_mth' => '01',
  'exp_yr' => '2017',
  '_card_number_auth' => '',
  '_expiry_month_auth' => '',
  '_expiry_year_auth' => '',
  'user_id' => '16',
  'application' => 'Mobile',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
  'customerProfileId' => '1500566515',
  'customerPaymentProfileId' => '1500887412',
  'customerShippingAddressId' => '1502299248',
)</td></tr></table><tr class='next-row'><td><h2>SQL> set_order_items_to_order_id</h2><p class='sql-str'>
<i>UPDATE orders_items SET ordered = 1, orderid = 3331 WHERE order_item_id IN ( 14640,14641 )</i></p></td></tr>
<tr class='next-row'><td><h2>set_order_items_to_order_id</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>3331</td</tr>
    <tr class='name-row'><td class='var-name'>1</td><td>14640,14641</td</tr>
</table><tr class='next-row'><td><h2>SQL> increment_sandwich_count</h2><p class='sql-str'>
<i>UPDATE `user_sandwich_data` SET purchase_count = purchase_count + 1 
                    WHERE id IN (SELECT item_id FROM orders_items WHERE item_type='user_sandwich' AND order_item_id IN ( 14640,14641 ) )</i></p></td></tr>
<tr class='next-row'><td><h2>increment_sandwich_count</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>3331</td</tr>
    <tr class='name-row'><td class='var-name'>1</td><td>14640,14641</td</tr>
</table><tr class='next-row'><td><h2>ORDER COMPLETE: </h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>11103331</td</tr>
</table><tr class='next-row'><td><h2>COMPLETED RUN</h2><p class='func-name'>do_controller_action:67</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='value-row'><td class='var-name'>0</td><td> array (
  'mealname' => '',
  'store_id' => '12',
  'address_id' => '771',
  'order_item_id' => '14640%3A14641',
  'total' => '130.32',
  'tax' => '9.32',
  'delivery' => '1',
  'date' => '2017-11-4',
  'time' => '14%3A45',
  'now_or_specific' => 'specific',
  'credit_card_id' => '1193',
  'coupon_code' => '',
  'tip' => '16',
  'sub_total' => '105',
  'off_amount' => '',
  'credit_card' => '',
  'cvv' => '',
  'exp_mth' => '01',
  'exp_yr' => '2017',
  '_card_number_auth' => '',
  '_expiry_month_auth' => '',
  '_expiry_year_auth' => '',
  'user_id' => '16',
  'application' => 'Mobile',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
)</td></tr>    <tr class='name-row'><td class='var-name'>1</td><td>do_order</td</tr>
    <tr class='name-row'><td class='var-name'>2</td><td>11103331</td</tr>
</table><tr class='next-row'><td><h2>TRANSACTION LOGGING SUCCESS; Transaction log ID: 577</h2><p class='func-name'>do_controller_action:67</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>11103331</td</tr>
</table><tr class='next-row'><td><h2>FINSH - 200 </h2><p class='func-name'>do_controller_action:67</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>{"response":{"status_code":"200","message":"OK"},"data":"11103331"}</td</tr>
</table></table>