<head> <LINK href='superlog.css' rel='stylesheet' ></head>
<table>
<tr><td><h1>'do_order'</h1></td></tr>
<tr><td>17-10-17 02:07:51pm</td></tr>
<tr><td><h3>POST</h3><p>array (
  'mealname' => '',
  'store_id' => '12',
  'address_id' => '913',
  'order_item_id' => '14491',
  'total' => '17.24',
  'tax' => '1.24',
  'delivery' => '1',
  'date' => 'Tue%2C+Oct+17%2C+2017',
  'time' => '12%3A00',
  'now_or_specific' => 'now',
  'credit_card_id' => '1248',
  'coupon_code' => '',
  'tip' => '2',
  'sub_total' => '14',
  'off_amount' => '',
  'credit_card' => '',
  'cvv' => '',
  'exp_mth' => '01',
  'exp_yr' => '2017',
  '_card_number_auth' => '',
  '_expiry_month_auth' => '',
  '_expiry_year_auth' => '',
  'user_id' => '1161',
  'application' => 'Mobile',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
)</p></td></tr><tr class='next-row'><td><h2>RUNNING COMMAND</h2><p class='func-name'>do_controller_action:67</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='value-row'><td class='var-name'>0</td><td> array (
  'mealname' => '',
  'store_id' => '12',
  'address_id' => '913',
  'order_item_id' => '14491',
  'total' => '17.24',
  'tax' => '1.24',
  'delivery' => '1',
  'date' => 'Tue%2C+Oct+17%2C+2017',
  'time' => '12%3A00',
  'now_or_specific' => 'now',
  'credit_card_id' => '1248',
  'coupon_code' => '',
  'tip' => '2',
  'sub_total' => '14',
  'off_amount' => '',
  'credit_card' => '',
  'cvv' => '',
  'exp_mth' => '01',
  'exp_yr' => '2017',
  '_card_number_auth' => '',
  '_expiry_month_auth' => '',
  '_expiry_year_auth' => '',
  'user_id' => '1161',
  'application' => 'Mobile',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
)</td></tr>    <tr class='name-row'><td class='var-name'>1</td><td>do_order</td</tr>
</table><tr class='next-row'><td><h2>ENTER DO_ORDER</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='value-row'><td class='var-name'>0</td><td> array (
  'mealname' => '',
  'store_id' => '12',
  'address_id' => '913',
  'order_item_id' => '14491',
  'total' => '17.24',
  'tax' => '1.24',
  'delivery' => '1',
  'date' => 'Tue, Oct 17, 2017',
  'time' => '12:00',
  'now_or_specific' => 'now',
  'credit_card_id' => '1248',
  'coupon_code' => '',
  'tip' => '2',
  'sub_total' => '14',
  'off_amount' => '',
  'credit_card' => '',
  'cvv' => '',
  'exp_mth' => '01',
  'exp_yr' => '2017',
  '_card_number_auth' => '',
  '_expiry_month_auth' => '',
  '_expiry_year_auth' => '',
  'user_id' => '1161',
  'application' => 'Mobile',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
)</td></tr></table><tr class='next-row'><td><h2>AUTH NUMS: paymentID:  1501301956; shippingID: 1501331116; userID: 1501419903 </h2><p class='func-name'>prepare_post_for_purchase:849</p></td></tr>
<tr class='next-row'><td><h2>PREPARING TO DO TRANSACTION</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='value-row'><td class='var-name'>0</td><td> array (
  'mealname' => '',
  'store_id' => '12',
  'address_id' => '913',
  'order_item_id' => '14491',
  'total' => '17.24',
  'tax' => '1.24',
  'delivery' => '1',
  'date' => 'Tue, Oct 17, 2017',
  'time' => '12:00',
  'now_or_specific' => 'now',
  'credit_card_id' => '1248',
  'coupon_code' => '',
  'tip' => '2',
  'sub_total' => '14',
  'off_amount' => '',
  'credit_card' => '',
  'cvv' => '',
  'exp_mth' => '01',
  'exp_yr' => '2017',
  '_card_number_auth' => '',
  '_expiry_month_auth' => '',
  '_expiry_year_auth' => '',
  'user_id' => '1161',
  'application' => 'Mobile',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
  'customerProfileId' => '1501419903',
  'customerPaymentProfileId' => '1501301956',
  'customerShippingAddressId' => '1501331116',
)</td></tr></table><tr class='next-row'><td><h2>FINISHED TRANSACTION</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>40007749737</td</tr>
    <tr class='value-row'><td class='var-name'>1</td><td> array (
  0 => 
  array (
    'item_id' => '4152',
    'item_qty' => '2',
    'item_price' => '7.00',
    'sandwich_name' => 'DAN\'S BRIE JUMBLE',
    'description' => ' ',
  ),
)</td></tr></table><tr class='next-row'><td><h2>SQL> build_sql_for_orders_table</h2><p class='sql-str'>
<i>
INSERT INTO orders (
                user_id, 
                store_id,
                address_id,
                billinginfo_id,
                order_item_id,
                sub_total,
                tip,
                coupon_code,
                total,
                tax,
                delivery,
                date, 
                manual_discount,
                time, 
                authorizenet_transaction_id, 
                order_date 
                
                
            ) VALUES (1161,  
 12,  
 913 , 
 '1248' , 
 '14491' , 
'14' ,
'2' ,
'', 
'17.24', 
'1.24', 
1, 
'2017-10-17 14:07:51', 
'0', 
'0', 
'40007749737', 
'2017-10-17 14:07:52'           )
</i></p></td></tr>
<tr class='next-row'><td><h2>BUILT build_sql_for_orders_table</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>
INSERT INTO orders (
                user_id, 
                store_id,
                address_id,
                billinginfo_id,
                order_item_id,
                sub_total,
                tip,
                coupon_code,
                total,
                tax,
                delivery,
                date, 
                manual_discount,
                time, 
                authorizenet_transaction_id, 
                order_date 
                
                
            ) VALUES (1161,  
 12,  
 913 , 
 '1248' , 
 '14491' , 
'14' ,
'2' ,
'', 
'17.24', 
'1.24', 
1, 
'2017-10-17 14:07:51', 
'0', 
'0', 
'40007749737', 
'2017-10-17 14:07:52'           )
</td</tr>
    <tr class='value-row'><td class='var-name'>1</td><td> array (
  'mealname' => '',
  'store_id' => '12',
  'address_id' => '913',
  'order_item_id' => '14491',
  'total' => '17.24',
  'tax' => '1.24',
  'delivery' => '1',
  'date' => 'Tue, Oct 17, 2017',
  'time' => '12:00',
  'now_or_specific' => 'now',
  'credit_card_id' => '1248',
  'coupon_code' => '',
  'tip' => '2',
  'sub_total' => '14',
  'off_amount' => '',
  'credit_card' => '',
  'cvv' => '',
  'exp_mth' => '01',
  'exp_yr' => '2017',
  '_card_number_auth' => '',
  '_expiry_month_auth' => '',
  '_expiry_year_auth' => '',
  'user_id' => '1161',
  'application' => 'Mobile',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
  'customerProfileId' => '1501419903',
  'customerPaymentProfileId' => '1501301956',
  'customerShippingAddressId' => '1501331116',
)</td></tr>    <tr class='name-row'><td class='var-name'>2</td><td>40007749737</td</tr>
    <tr class='value-row'><td class='var-name'>3</td><td> array (
  'date' => '\'2017-10-17 14:07:51\'',
  'time' => 0,
)</td></tr></table><tr class='next-row'><td><h2>add_the_order_to_database</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>3306</td</tr>
    <tr class='name-row'><td class='var-name'>1</td><td>
INSERT INTO orders (
                user_id, 
                store_id,
                address_id,
                billinginfo_id,
                order_item_id,
                sub_total,
                tip,
                coupon_code,
                total,
                tax,
                delivery,
                date, 
                manual_discount,
                time, 
                authorizenet_transaction_id, 
                order_date 
                
                
            ) VALUES (1161,  
 12,  
 913 , 
 '1248' , 
 '14491' , 
'14' ,
'2' ,
'', 
'17.24', 
'1.24', 
1, 
'2017-10-17 14:07:51', 
'0', 
'0', 
'40007749737', 
'2017-10-17 14:07:52'           )
</td</tr>
</table><tr class='next-row'><td><h2>insert_order_id_with_offset</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>3306</td</tr>
    <tr class='name-row'><td class='var-name'>1</td><td>11103306</td</tr>
</table><tr class='next-row'><td><h2>save_meal_name</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>3306</td</tr>
    <tr class='value-row'><td class='var-name'>1</td><td> array (
  'mealname' => '',
  'store_id' => '12',
  'address_id' => '913',
  'order_item_id' => '14491',
  'total' => '17.24',
  'tax' => '1.24',
  'delivery' => '1',
  'date' => 'Tue, Oct 17, 2017',
  'time' => '12:00',
  'now_or_specific' => 'now',
  'credit_card_id' => '1248',
  'coupon_code' => '',
  'tip' => '2',
  'sub_total' => '14',
  'off_amount' => '',
  'credit_card' => '',
  'cvv' => '',
  'exp_mth' => '01',
  'exp_yr' => '2017',
  '_card_number_auth' => '',
  '_expiry_month_auth' => '',
  '_expiry_year_auth' => '',
  'user_id' => '1161',
  'application' => 'Mobile',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
  'customerProfileId' => '1501419903',
  'customerPaymentProfileId' => '1501301956',
  'customerShippingAddressId' => '1501331116',
)</td></tr></table><tr class='next-row'><td><h2>explode_order_items</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>14491</td</tr>
    <tr class='value-row'><td class='var-name'>1</td><td> array (
  'mealname' => '',
  'store_id' => '12',
  'address_id' => '913',
  'order_item_id' => '14491',
  'total' => '17.24',
  'tax' => '1.24',
  'delivery' => '1',
  'date' => 'Tue, Oct 17, 2017',
  'time' => '12:00',
  'now_or_specific' => 'now',
  'credit_card_id' => '1248',
  'coupon_code' => '',
  'tip' => '2',
  'sub_total' => '14',
  'off_amount' => '',
  'credit_card' => '',
  'cvv' => '',
  'exp_mth' => '01',
  'exp_yr' => '2017',
  '_card_number_auth' => '',
  '_expiry_month_auth' => '',
  '_expiry_year_auth' => '',
  'user_id' => '1161',
  'application' => 'Mobile',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
  'customerProfileId' => '1501419903',
  'customerPaymentProfileId' => '1501301956',
  'customerShippingAddressId' => '1501331116',
)</td></tr></table><tr class='next-row'><td><h2>SQL> set_order_items_to_order_id</h2><p class='sql-str'>
<i>UPDATE orders_items SET ordered = 1, orderid = 3306 WHERE order_item_id IN ( 14491 )</i></p></td></tr>
<tr class='next-row'><td><h2>set_order_items_to_order_id</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>3306</td</tr>
    <tr class='name-row'><td class='var-name'>1</td><td>14491</td</tr>
</table><tr class='next-row'><td><h2>SQL> increment_sandwich_count</h2><p class='sql-str'>
<i>UPDATE `user_sandwich_data` SET purchase_count = purchase_count + 1 
                    WHERE id IN (SELECT item_id FROM orders_items WHERE item_type='user_sandwich' AND order_item_id IN ( 14491 ) )</i></p></td></tr>
<tr class='next-row'><td><h2>increment_sandwich_count</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>3306</td</tr>
    <tr class='name-row'><td class='var-name'>1</td><td>14491</td</tr>
</table><tr class='next-row'><td><h2>ORDER COMPLETE: </h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>11103306</td</tr>
</table><tr class='next-row'><td><h2>COMPLETED RUN</h2><p class='func-name'>do_controller_action:67</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='value-row'><td class='var-name'>0</td><td> array (
  'mealname' => '',
  'store_id' => '12',
  'address_id' => '913',
  'order_item_id' => '14491',
  'total' => '17.24',
  'tax' => '1.24',
  'delivery' => '1',
  'date' => 'Tue%2C+Oct+17%2C+2017',
  'time' => '12%3A00',
  'now_or_specific' => 'now',
  'credit_card_id' => '1248',
  'coupon_code' => '',
  'tip' => '2',
  'sub_total' => '14',
  'off_amount' => '',
  'credit_card' => '',
  'cvv' => '',
  'exp_mth' => '01',
  'exp_yr' => '2017',
  '_card_number_auth' => '',
  '_expiry_month_auth' => '',
  '_expiry_year_auth' => '',
  'user_id' => '1161',
  'application' => 'Mobile',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
)</td></tr>    <tr class='name-row'><td class='var-name'>1</td><td>do_order</td</tr>
    <tr class='name-row'><td class='var-name'>2</td><td>11103306</td</tr>
</table><tr class='next-row'><td><h2>TRANSACTION LOGGING SUCCESS; Transaction log ID: 548</h2><p class='func-name'>do_controller_action:67</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>11103306</td</tr>
</table><tr class='next-row'><td><h2>FINSH - 200 </h2><p class='func-name'>do_controller_action:67</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>{"response":{"status_code":"200","message":"OK"},"data":"11103306"}</td</tr>
</table></table>