<head> <LINK href='superlog.css' rel='stylesheet' ></head>
<table>
<tr><td><h1>'do_order'</h1></td></tr>
<tr><td>17-09-21 10:19:26am</td></tr>
<tr><td><h3>POST</h3><p>array (
  'store_id' => '12',
  'address_id' => '969',
  'order_item_id' => '14396%3A14397%3A14403%3A14404%3A14405%3A14398%3A14399%3A14400%3A14401%3A14402',
  'total' => '442.68',
  'tax' => '31.68',
  'delivery' => '1',
  'date' => 'Sat%2C+Sep+23%2C+2017',
  'time' => '10%3A30',
  'now_or_specific' => 'specific',
  'credit_card_id' => '1307',
  'tip' => '54',
  'sub_total' => '357',
  'credit_card' => '370000000000002',
  'cvv' => '1234',
  'exp_mth' => '01',
  'exp_yr' => '2021',
  '_card_number_auth' => '370000000000002',
  '_expiry_month_auth' => '01',
  '_expiry_year_auth' => '2021',
  'user_id' => '1184',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
)</p></td></tr><tr class='next-row'><td><h2>RUNNING COMMAND</h2><p class='func-name'>do_controller_action:67</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='value-row'><td class='var-name'>0</td><td> array (
  'store_id' => '12',
  'address_id' => '969',
  'order_item_id' => '14396%3A14397%3A14403%3A14404%3A14405%3A14398%3A14399%3A14400%3A14401%3A14402',
  'total' => '442.68',
  'tax' => '31.68',
  'delivery' => '1',
  'date' => 'Sat%2C+Sep+23%2C+2017',
  'time' => '10%3A30',
  'now_or_specific' => 'specific',
  'credit_card_id' => '1307',
  'tip' => '54',
  'sub_total' => '357',
  'credit_card' => '370000000000002',
  'cvv' => '1234',
  'exp_mth' => '01',
  'exp_yr' => '2021',
  '_card_number_auth' => '370000000000002',
  '_expiry_month_auth' => '01',
  '_expiry_year_auth' => '2021',
  'user_id' => '1184',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
)</td></tr>    <tr class='name-row'><td class='var-name'>1</td><td>do_order</td</tr>
</table><tr class='next-row'><td><h2>ENTER DO_ORDER</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='value-row'><td class='var-name'>0</td><td> array (
  'store_id' => '12',
  'address_id' => '969',
  'order_item_id' => '14396:14397:14403:14404:14405:14398:14399:14400:14401:14402',
  'total' => '442.68',
  'tax' => '31.68',
  'delivery' => '1',
  'date' => 'Sat, Sep 23, 2017',
  'time' => '10:30',
  'now_or_specific' => 'specific',
  'credit_card_id' => '1307',
  'tip' => '54',
  'sub_total' => '357',
  'credit_card' => '370000000000002',
  'cvv' => '1234',
  'exp_mth' => '01',
  'exp_yr' => '2021',
  '_card_number_auth' => '370000000000002',
  '_expiry_month_auth' => '01',
  '_expiry_year_auth' => '2021',
  'user_id' => '1184',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
)</td></tr></table><tr class='next-row'><td><h2>create_shipping_profile_id return 1502034999</h2><p class='func-name'>create_shipping_profile_id:1003</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>1501795437</td</tr>
    <tr class='value-row'><td class='var-name'>1</td><td> array (
  0 => '969',
  'address_id' => '969',
  1 => 'xxx xxx',
  'name' => 'xxx xxx',
  2 => '',
  'company' => '',
  3 => '333',
  'address1' => '333',
  4 => ' ',
  'address2' => '33',
  5 => '33',
  'street' => '33',
  6 => '33',
  'cross_streets' => '33',
  7 => '333-333-333',
  'phone' => '333-333-333',
  8 => '',
  'extn' => '',
  9 => '33333',
  'zip' => '33333',
  10 => '',
  'delivery_instructions' => '',
  11 => '1184',
  'uid' => '1184',
  12 => '0',
  'authorizenet_shipping_profile_id' => '0',
  13 => '1',
  'status' => '1',
)</td></tr>    <tr class='name-row'><td class='var-name'>2</td><td>969</td</tr>
</table><tr class='next-row'><td><h2>SQL> create_shipping_profile_id </h2><p class='sql-str'>
<i>UPDATE order_address SET authorizenet_shipping_profile_id = 1502034999 WHERE address_id = 969 </i></p></td></tr>
<tr class='next-row'><td><h2>AUTH NUMS: paymentID:  1501995793; shippingID: 1502034999; userID: 1501795437 </h2><p class='func-name'>prepare_post_for_purchase:849</p></td></tr>
<tr class='next-row'><td><h2>PREPARING TO DO TRANSACTION</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='value-row'><td class='var-name'>0</td><td> array (
  'store_id' => '12',
  'address_id' => '969',
  'order_item_id' => '14396:14397:14403:14404:14405:14398:14399:14400:14401:14402',
  'total' => '442.68',
  'tax' => '31.68',
  'delivery' => '1',
  'date' => 'Sat, Sep 23, 2017',
  'time' => '10:30',
  'now_or_specific' => 'specific',
  'credit_card_id' => '1307',
  'tip' => '54',
  'sub_total' => '357',
  'credit_card' => '370000000000002',
  'cvv' => '1234',
  'exp_mth' => '01',
  'exp_yr' => '2021',
  '_card_number_auth' => '370000000000002',
  '_expiry_month_auth' => '01',
  '_expiry_year_auth' => '2021',
  'user_id' => '1184',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
  'customerProfileId' => '1501795437',
  'customerPaymentProfileId' => '1501995793',
  'customerShippingAddressId' => '1502034999',
)</td></tr></table><tr class='next-row'><td><h2>FINISHED TRANSACTION</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>40007233210</td</tr>
    <tr class='value-row'><td class='var-name'>1</td><td> array (
  0 => 
  array (
    'item_id' => '4142',
    'item_qty' => '2',
    'item_price' => '19.00',
    'sandwich_name' => 'XXX\'S CHICKEN SALAD CLASSIC',
    'description' => ' ',
  ),
  1 => 
  array (
    'item_id' => '4136',
    'item_qty' => '1',
    'item_price' => '190.00',
    'sandwich_name' => 'XXX\'S VEGGIE INSPIRATION',
    'description' => ' ',
  ),
  2 => 
  array (
    'item_id' => '4140',
    'item_qty' => '1',
    'item_price' => '6.00',
    'sandwich_name' => 'XXX\'S VEGGIE FANTASY',
    'description' => ' ',
  ),
  3 => 
  array (
    'item_id' => '4137',
    'item_qty' => '1',
    'item_price' => '10.00',
    'sandwich_name' => 'YYY\'S CORNED BEEF TWO-STEP',
    'description' => ' ',
  ),
  4 => 
  array (
    'item_id' => '4121',
    'item_qty' => '1',
    'item_price' => '13.50',
    'sandwich_name' => 'MARIO\'S PROTEIN INFLUENCE',
    'description' => ' ',
  ),
  5 => 
  array (
    'item_id' => '37',
    'item_qty' => '1',
    'item_price' => '9.00',
    'product_name' => 'Kale Caesar',
    'description' => 'Kale and romaine lettuce, grat',
  ),
  6 => 
  array (
    'item_id' => '56',
    'item_qty' => '4',
    'item_price' => '2.50',
    'product_name' => 'Kettle Cooked Chips',
    'description' => '',
  ),
  7 => 
  array (
    'item_id' => '49',
    'item_qty' => '4',
    'item_price' => '9.00',
    'product_name' => 'Cherry Pistachio',
    'description' => 'Arugula, dried cherries, shave',
  ),
  8 => 
  array (
    'item_id' => '59',
    'item_qty' => '3',
    'item_price' => '9.00',
    'product_name' => 'Mediterranean',
    'description' => 'Romaine lettuce, tomatoes, cuc',
  ),
  9 => 
  array (
    'item_id' => '102',
    'item_qty' => '7',
    'item_price' => '2.50',
    'product_name' => 'Snapple Diet Lemon Iced Tea',
    'description' => '',
  ),
)</td></tr></table><tr class='next-row'><td><h2>SQL> build_sql_for_orders_table</h2><p class='sql-str'>
<i>
INSERT INTO orders (
                user_id, 
                store_id,
                address_id,
                billinginfo_id,
                order_item_id,
                sub_total,
                tip,
                coupon_code,
                total,
                tax,
                delivery,
                date, 
                manual_discount,
                time, 
                authorizenet_transaction_id, 
                order_date 
                
                
            ) VALUES (1184,  
 12,  
 969 , 
 '1307' , 
 '14396:14397:14403:14404:14405:14398:14399:14400:14401:14402' , 
'357' ,
'54' ,
'', 
'442.68', 
'31.68', 
1, 
'2017-09-23 10:30:00', 
'0', 
'1', 
'40007233210', 
'2017-09-21 10:19:28'           )
</i></p></td></tr>
<tr class='next-row'><td><h2>BUILT build_sql_for_orders_table</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>
INSERT INTO orders (
                user_id, 
                store_id,
                address_id,
                billinginfo_id,
                order_item_id,
                sub_total,
                tip,
                coupon_code,
                total,
                tax,
                delivery,
                date, 
                manual_discount,
                time, 
                authorizenet_transaction_id, 
                order_date 
                
                
            ) VALUES (1184,  
 12,  
 969 , 
 '1307' , 
 '14396:14397:14403:14404:14405:14398:14399:14400:14401:14402' , 
'357' ,
'54' ,
'', 
'442.68', 
'31.68', 
1, 
'2017-09-23 10:30:00', 
'0', 
'1', 
'40007233210', 
'2017-09-21 10:19:28'           )
</td</tr>
    <tr class='value-row'><td class='var-name'>1</td><td> array (
  'store_id' => '12',
  'address_id' => '969',
  'order_item_id' => '14396:14397:14403:14404:14405:14398:14399:14400:14401:14402',
  'total' => '442.68',
  'tax' => '31.68',
  'delivery' => '1',
  'date' => 'Sat, Sep 23, 2017',
  'time' => '10:30',
  'now_or_specific' => 'specific',
  'credit_card_id' => '1307',
  'tip' => '54',
  'sub_total' => '357',
  'credit_card' => '370000000000002',
  'cvv' => '1234',
  'exp_mth' => '01',
  'exp_yr' => '2021',
  '_card_number_auth' => '370000000000002',
  '_expiry_month_auth' => '01',
  '_expiry_year_auth' => '2021',
  'user_id' => '1184',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
  'customerProfileId' => '1501795437',
  'customerPaymentProfileId' => '1501995793',
  'customerShippingAddressId' => '1502034999',
)</td></tr>    <tr class='name-row'><td class='var-name'>2</td><td>40007233210</td</tr>
    <tr class='value-row'><td class='var-name'>3</td><td> array (
  'date' => '\'2017-09-23 10:30:00\'',
  'time' => 1,
)</td></tr></table><tr class='next-row'><td><h2>add_the_order_to_database</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>3279</td</tr>
    <tr class='name-row'><td class='var-name'>1</td><td>
INSERT INTO orders (
                user_id, 
                store_id,
                address_id,
                billinginfo_id,
                order_item_id,
                sub_total,
                tip,
                coupon_code,
                total,
                tax,
                delivery,
                date, 
                manual_discount,
                time, 
                authorizenet_transaction_id, 
                order_date 
                
                
            ) VALUES (1184,  
 12,  
 969 , 
 '1307' , 
 '14396:14397:14403:14404:14405:14398:14399:14400:14401:14402' , 
'357' ,
'54' ,
'', 
'442.68', 
'31.68', 
1, 
'2017-09-23 10:30:00', 
'0', 
'1', 
'40007233210', 
'2017-09-21 10:19:28'           )
</td</tr>
</table><tr class='next-row'><td><h2>insert_order_id_with_offset</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>3279</td</tr>
    <tr class='name-row'><td class='var-name'>1</td><td>11103279</td</tr>
</table><tr class='next-row'><td><h2>save_meal_name</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>3279</td</tr>
    <tr class='value-row'><td class='var-name'>1</td><td> array (
  'store_id' => '12',
  'address_id' => '969',
  'order_item_id' => '14396:14397:14403:14404:14405:14398:14399:14400:14401:14402',
  'total' => '442.68',
  'tax' => '31.68',
  'delivery' => '1',
  'date' => 'Sat, Sep 23, 2017',
  'time' => '10:30',
  'now_or_specific' => 'specific',
  'credit_card_id' => '1307',
  'tip' => '54',
  'sub_total' => '357',
  'credit_card' => '370000000000002',
  'cvv' => '1234',
  'exp_mth' => '01',
  'exp_yr' => '2021',
  '_card_number_auth' => '370000000000002',
  '_expiry_month_auth' => '01',
  '_expiry_year_auth' => '2021',
  'user_id' => '1184',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
  'customerProfileId' => '1501795437',
  'customerPaymentProfileId' => '1501995793',
  'customerShippingAddressId' => '1502034999',
)</td></tr></table><tr class='next-row'><td><h2>explode_order_items</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>14396,14397,14403,14404,14405,14398,14399,14400,14401,14402</td</tr>
    <tr class='value-row'><td class='var-name'>1</td><td> array (
  'store_id' => '12',
  'address_id' => '969',
  'order_item_id' => '14396:14397:14403:14404:14405:14398:14399:14400:14401:14402',
  'total' => '442.68',
  'tax' => '31.68',
  'delivery' => '1',
  'date' => 'Sat, Sep 23, 2017',
  'time' => '10:30',
  'now_or_specific' => 'specific',
  'credit_card_id' => '1307',
  'tip' => '54',
  'sub_total' => '357',
  'credit_card' => '370000000000002',
  'cvv' => '1234',
  'exp_mth' => '01',
  'exp_yr' => '2021',
  '_card_number_auth' => '370000000000002',
  '_expiry_month_auth' => '01',
  '_expiry_year_auth' => '2021',
  'user_id' => '1184',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
  'customerProfileId' => '1501795437',
  'customerPaymentProfileId' => '1501995793',
  'customerShippingAddressId' => '1502034999',
)</td></tr></table><tr class='next-row'><td><h2>SQL> set_order_items_to_order_id</h2><p class='sql-str'>
<i>UPDATE orders_items SET ordered = 1, orderid = 3279 WHERE order_item_id IN ( 14396,14397,14403,14404,14405,14398,14399,14400,14401,14402 )</i></p></td></tr>
<tr class='next-row'><td><h2>set_order_items_to_order_id</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>3279</td</tr>
    <tr class='name-row'><td class='var-name'>1</td><td>14396,14397,14403,14404,14405,14398,14399,14400,14401,14402</td</tr>
</table><tr class='next-row'><td><h2>SQL> increment_sandwich_count</h2><p class='sql-str'>
<i>UPDATE `user_sandwich_data` SET purchase_count = purchase_count + 1 
                    WHERE id IN (SELECT item_id FROM orders_items WHERE item_type='user_sandwich' AND order_item_id IN ( 14396,14397,14403,14404,14405,14398,14399,14400,14401,14402 ) )</i></p></td></tr>
<tr class='next-row'><td><h2>increment_sandwich_count</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>3279</td</tr>
    <tr class='name-row'><td class='var-name'>1</td><td>14396,14397,14403,14404,14405,14398,14399,14400,14401,14402</td</tr>
</table><tr class='next-row'><td><h2>ORDER COMPLETE: </h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>11103279</td</tr>
</table><tr class='next-row'><td><h2>COMPLETED RUN</h2><p class='func-name'>do_controller_action:67</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='value-row'><td class='var-name'>0</td><td> array (
  'store_id' => '12',
  'address_id' => '969',
  'order_item_id' => '14396%3A14397%3A14403%3A14404%3A14405%3A14398%3A14399%3A14400%3A14401%3A14402',
  'total' => '442.68',
  'tax' => '31.68',
  'delivery' => '1',
  'date' => 'Sat%2C+Sep+23%2C+2017',
  'time' => '10%3A30',
  'now_or_specific' => 'specific',
  'credit_card_id' => '1307',
  'tip' => '54',
  'sub_total' => '357',
  'credit_card' => '370000000000002',
  'cvv' => '1234',
  'exp_mth' => '01',
  'exp_yr' => '2021',
  '_card_number_auth' => '370000000000002',
  '_expiry_month_auth' => '01',
  '_expiry_year_auth' => '2021',
  'user_id' => '1184',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
)</td></tr>    <tr class='name-row'><td class='var-name'>1</td><td>do_order</td</tr>
    <tr class='name-row'><td class='var-name'>2</td><td>11103279</td</tr>
</table><tr class='next-row'><td><h2>TRANSACTION LOGGING SUCCESS; Transaction log ID: 521</h2><p class='func-name'>do_controller_action:67</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>11103279</td</tr>
</table><tr class='next-row'><td><h2>FINSH - 200 </h2><p class='func-name'>do_controller_action:67</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>{"response":{"status_code":"200","message":"OK"},"data":"11103279"}</td</tr>
</table></table>