<head> <LINK href='superlog.css' rel='stylesheet' ></head>
<table>
<tr><td><h1>'savebillinginfo_wrapped'</h1></td></tr>
<tr><td>17-09-21 02:42:40pm</td></tr>
<tr><td><h3>POST</h3><p>array (
  'card_name' => '',
  'card_no' => '2223000010309711',
  'card_type' => 'Visa',
  'expiry_month' => '01',
  'expiry_year' => '2023',
  'card_zip' => '11234',
  'cvv' => '222',
  'uid' => '1188',
  'display_in_menu' => '1',
  'address1' => '',
  'street' => '',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
)</p></td></tr><tr class='next-row'><td><h2>RUNNING COMMAND</h2><p class='func-name'>do_controller_action:46</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='value-row'><td class='var-name'>0</td><td> array (
  'card_name' => '',
  'card_no' => '2223000010309711',
  'card_type' => 'Visa',
  'expiry_month' => '01',
  'expiry_year' => '2023',
  'card_zip' => '11234',
  'cvv' => '222',
  'uid' => '1188',
  'display_in_menu' => '1',
  'address1' => '',
  'street' => '',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
)</td></tr>    <tr class='name-row'><td class='var-name'>1</td><td>savebillinginfo_wrapped</td</tr>
</table><tr class='next-row'><td><h2>SAVE BILLING INFO: savebillinginfo_wrapped</h2><p class='func-name'>savebillinginfo_wrapped:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='value-row'><td class='var-name'>0</td><td> array (
  'card_name' => '',
  'card_no' => '2223000010309711',
  'card_type' => 'Visa',
  'expiry_month' => '01',
  'expiry_year' => '2023',
  'card_zip' => '11234',
  'cvv' => '222',
  'uid' => '1188',
  'display_in_menu' => '1',
  'address1' => '',
  'street' => '',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
)</td></tr></table><tr class='next-row'><td><h2>User information and address information</h2><p class='func-name'>savebillinginfo_wrapped:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='value-row'><td class='var-name'>0</td><td> array (
  0 => 'joe',
  'first_name' => 'joe',
  1 => 'schmo',
  'last_name' => 'schmo',
  2 => 'joe@schmo.com',
  'username' => 'joe@schmo.com',
  3 => '1502474135',
  'authorizenet_profile_id' => '1502474135',
  4 => ' ',
  'company' => ' ',
  5 => '000-000-0000',
  'phone' => '000-000-0000',
  'email' => 'joe@schmo.com',
)</td></tr>    <tr class='value-row'><td class='var-name'>1</td><td> array (
  'phone' => '000-000-0000',
  'name' => 'joe',
  'last_name' => 'schmo',
  'company' => ' ',
  'zip' => '11234',
  'address1' => '',
  'address2' => '',
)</td></tr></table><tr class='next-row'><td><h2>Checking Customer Profile ID: 1502474135</h2><p class='func-name'>savebillinginfo_wrapped:113</p></td></tr>
<tr class='next-row'><td><h2>SQL> Getting Credit Card Info</h2><p class='sql-str'>
<i>SELECT * FROM order_billinginfo WHERE uid = '1188' AND card_number = 'XXXX-XXXX-XXXX-9711' AND card_type = 'Visa'</i></p></td></tr>
<tr class='next-row'><td><h2>Result of Credit Card Info</h2><p class='func-name'>savebillinginfo_wrapped:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td></td</tr>
</table><tr class='next-row'><td><h2>Creating New Card first then reg with AuthorizeNet;</h2><p class='func-name'>savebillinginfo_wrapped:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='value-row'><td class='var-name'>0</td><td> array (
  0 => '2223000010309711',
  1 => '01',
  2 => '2023',
)</td></tr></table><tr class='next-row'><td><h2>Registering Card with AuthorizeNet; createPaymentProfile: </h2><p class='func-name'>savebillinginfo_wrapped:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>1501997915</td</tr>
</table><tr class='next-row'><td><h2>SQL> insert_billinginfo_table_with_new_card</h2><p class='sql-str'>
<i>INSERT INTO order_billinginfo (
card_name,card_number,card_type,card_zip,expire_month,expire_year,uid,display_dropdown,card_cvv,address1,street,authorizenet_payment_profile_id
) VALUES ( '
','XXXX-XXXX-XXXX-9711','Visa','11234','01','2023','1188','1',
            'XXX','','','1501997915') </i></p></td></tr>
<tr class='next-row'><td><h2>COMPLETED RUN</h2><p class='func-name'>do_controller_action:46</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='value-row'><td class='var-name'>0</td><td> array (
  'card_name' => '',
  'card_no' => '2223000010309711',
  'card_type' => 'Visa',
  'expiry_month' => '01',
  'expiry_year' => '2023',
  'card_zip' => '11234',
  'cvv' => '222',
  'uid' => '1188',
  'display_in_menu' => '1',
  'address1' => '',
  'street' => '',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
)</td></tr>    <tr class='name-row'><td class='var-name'>1</td><td>savebillinginfo_wrapped</td</tr>
    <tr class='name-row'><td class='var-name'>2</td><td>1323</td</tr>
</table><tr class='next-row'><td><h2>NON-transaction LOGGING SUCCESS; Function run: $function_name_root</h2><p class='func-name'>do_controller_action:46</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>1323</td</tr>
</table><tr class='next-row'><td><h2>FINSH - 200 </h2><p class='func-name'>do_controller_action:46</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>{"response":{"status_code":"200","message":"OK"},"data":"1323"}</td</tr>
</table></table>