<head> <LINK href='superlog.css' rel='stylesheet' ></head>
<table>
<tr><td><h1>'savebillinginfo_wrapped'</h1></td></tr>
<tr><td>17-10-30 05:49:14am</td></tr>
<tr><td><h3>POST</h3><p>array (
  'card_name' => '',
  'card_no' => '4111111111111111',
  'card_type' => 'visa',
  'expiry_month' => '01',
  'expiry_year' => '2031',
  'card_zip' => '123',
  'cvv' => '123',
  'uid' => '1190',
  'crd_id' => '',
  'display_in_menu' => '1',
  'address1' => '',
  'street' => '',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
)</p></td></tr><tr class='next-row'><td><h2>RUNNING COMMAND</h2><p class='func-name'>do_controller_action:46</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='value-row'><td class='var-name'>0</td><td> array (
  'card_name' => '',
  'card_no' => '4111111111111111',
  'card_type' => 'visa',
  'expiry_month' => '01',
  'expiry_year' => '2031',
  'card_zip' => '123',
  'cvv' => '123',
  'uid' => '1190',
  'crd_id' => '',
  'display_in_menu' => '1',
  'address1' => '',
  'street' => '',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
)</td></tr>    <tr class='name-row'><td class='var-name'>1</td><td>savebillinginfo_wrapped</td</tr>
</table><tr class='next-row'><td><h2>SAVE BILLING INFO: savebillinginfo_wrapped</h2><p class='func-name'>savebillinginfo_wrapped:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='value-row'><td class='var-name'>0</td><td> array (
  'card_name' => '',
  'card_no' => '4111111111111111',
  'card_type' => 'visa',
  'expiry_month' => '01',
  'expiry_year' => '2031',
  'card_zip' => '123',
  'cvv' => '123',
  'uid' => '1190',
  'crd_id' => '',
  'display_in_menu' => '1',
  'address1' => '',
  'street' => '',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
)</td></tr></table><tr class='next-row'><td><h2>User information and address information</h2><p class='func-name'>savebillinginfo_wrapped:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='value-row'><td class='var-name'>0</td><td> array (
  0 => 'Test',
  'first_name' => 'Test',
  1 => 'test',
  'last_name' => 'test',
  2 => 'testb@testb.com',
  'username' => 'testb@testb.com',
  3 => '0',
  'authorizenet_profile_id' => '0',
  4 => ' ',
  'company' => ' ',
  5 => '000-000-0000',
  'phone' => '000-000-0000',
  'email' => 'testb@testb.com',
)</td></tr>    <tr class='value-row'><td class='var-name'>1</td><td> array (
  'phone' => '000-000-0000',
  'name' => 'Test',
  'last_name' => 'test',
  'company' => ' ',
  'zip' => '123',
  'address1' => '',
  'address2' => '',
)</td></tr></table><tr class='next-row'><td><h2>Checking Customer Profile ID: 0</h2><p class='func-name'>savebillinginfo_wrapped:113</p></td></tr>
<tr class='next-row'><td><h2>create_profile_id return 1502680599</h2><p class='func-name'>create_profile_id:498</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>testb@testb.com</td</tr>
    <tr class='name-row'><td class='var-name'>1</td><td>1190</td</tr>
</table><tr class='next-row'><td><h2>SQL> set_authorize_profile_id_with_uid </h2><p class='sql-str'>
<i>UPDATE users SET authorizenet_profile_id = '1502680599'  WHERE uid = '1190' </i></p></td></tr>
<tr class='next-row'><td><h2>Was 0! Created Customer Profile ID: 1502680599</h2><p class='func-name'>savebillinginfo_wrapped:113</p></td></tr>
<tr class='next-row'><td><h2>SQL> Getting Credit Card Info</h2><p class='sql-str'>
<i>SELECT * FROM order_billinginfo WHERE uid = '1190' AND card_number = 'XXXX-XXXX-XXXX-1111' AND card_type = 'visa'</i></p></td></tr>
<tr class='next-row'><td><h2>Result of Credit Card Info</h2><p class='func-name'>savebillinginfo_wrapped:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td></td</tr>
</table><tr class='next-row'><td><h2>Creating New Card first then reg with AuthorizeNet;</h2><p class='func-name'>savebillinginfo_wrapped:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='value-row'><td class='var-name'>0</td><td> array (
  0 => '4111111111111111',
  1 => '01',
  2 => '2031',
)</td></tr></table><tr class='next-row'><td><h2>Registering Card with AuthorizeNet; createPaymentProfile: </h2><p class='func-name'>savebillinginfo_wrapped:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>1502218862</td</tr>
</table><tr class='next-row'><td><h2>SQL> insert_billinginfo_table_with_new_card</h2><p class='sql-str'>
<i>INSERT INTO order_billinginfo (
card_name,card_number,card_type,card_zip,expire_month,expire_year,uid,display_dropdown,card_cvv,address1,street,authorizenet_payment_profile_id
) VALUES ( '
','XXXX-XXXX-XXXX-1111','visa','123','01','2031','1190','1',
            'XXX','','','1502218862') </i></p></td></tr>
<tr class='next-row'><td><h2>COMPLETED RUN</h2><p class='func-name'>do_controller_action:46</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='value-row'><td class='var-name'>0</td><td> array (
  'card_name' => '',
  'card_no' => '4111111111111111',
  'card_type' => 'visa',
  'expiry_month' => '01',
  'expiry_year' => '2031',
  'card_zip' => '123',
  'cvv' => '123',
  'uid' => '1190',
  'crd_id' => '',
  'display_in_menu' => '1',
  'address1' => '',
  'street' => '',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
)</td></tr>    <tr class='name-row'><td class='var-name'>1</td><td>savebillinginfo_wrapped</td</tr>
    <tr class='name-row'><td class='var-name'>2</td><td>1325</td</tr>
</table><tr class='next-row'><td><h2>NON-transaction LOGGING SUCCESS; Function run: $function_name_root</h2><p class='func-name'>do_controller_action:46</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>1325</td</tr>
</table><tr class='next-row'><td><h2>FINSH - 200 </h2><p class='func-name'>do_controller_action:46</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>{"response":{"status_code":"200","message":"OK"},"data":"1325"}</td</tr>
</table></table>