<head> <LINK href='superlog.css' rel='stylesheet' ></head>
<table>
<tr><td><h1>'savebillinginfo_wrapped'</h1></td></tr>
<tr><td>17-09-21 10:23:34am</td></tr>
<tr><td><h3>POST</h3><p>array (
  'card_name' => '',
  'card_no' => '6011000000000012',
  'card_type' => 'Discover',
  'expiry_month' => '01',
  'expiry_year' => '2023',
  'card_zip' => '21323',
  'cvv' => '222',
  'uid' => '1184',
  'crd_id' => '',
  'display_in_menu' => '1',
  'address1' => '',
  'street' => '',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
)</p></td></tr><tr class='next-row'><td><h2>RUNNING COMMAND</h2><p class='func-name'>do_controller_action:46</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='value-row'><td class='var-name'>0</td><td> array (
  'card_name' => '',
  'card_no' => '6011000000000012',
  'card_type' => 'Discover',
  'expiry_month' => '01',
  'expiry_year' => '2023',
  'card_zip' => '21323',
  'cvv' => '222',
  'uid' => '1184',
  'crd_id' => '',
  'display_in_menu' => '1',
  'address1' => '',
  'street' => '',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
)</td></tr>    <tr class='name-row'><td class='var-name'>1</td><td>savebillinginfo_wrapped</td</tr>
</table><tr class='next-row'><td><h2>SAVE BILLING INFO: savebillinginfo_wrapped</h2><p class='func-name'>savebillinginfo_wrapped:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='value-row'><td class='var-name'>0</td><td> array (
  'card_name' => '',
  'card_no' => '6011000000000012',
  'card_type' => 'Discover',
  'expiry_month' => '01',
  'expiry_year' => '2023',
  'card_zip' => '21323',
  'cvv' => '222',
  'uid' => '1184',
  'crd_id' => '',
  'display_in_menu' => '1',
  'address1' => '',
  'street' => '',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
)</td></tr></table><tr class='next-row'><td><h2>User information and address information</h2><p class='func-name'>savebillinginfo_wrapped:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='value-row'><td class='var-name'>0</td><td> array (
  0 => 'xxx',
  'first_name' => 'xxx',
  1 => 'xxx',
  'last_name' => 'xxx',
  2 => 'xxx@xxx.com',
  'username' => 'xxx@xxx.com',
  3 => '1501795437',
  'authorizenet_profile_id' => '1501795437',
  4 => ' ',
  'company' => ' ',
  5 => '000-000-0000',
  'phone' => '000-000-0000',
  'email' => 'xxx@xxx.com',
)</td></tr>    <tr class='value-row'><td class='var-name'>1</td><td> array (
  'phone' => '000-000-0000',
  'name' => 'xxx',
  'last_name' => 'xxx',
  'company' => ' ',
  'zip' => '21323',
  'address1' => '',
  'address2' => '',
)</td></tr></table><tr class='next-row'><td><h2>Checking Customer Profile ID: 1501795437</h2><p class='func-name'>savebillinginfo_wrapped:113</p></td></tr>
<tr class='next-row'><td><h2>SQL> Getting Credit Card Info</h2><p class='sql-str'>
<i>SELECT * FROM order_billinginfo WHERE uid = '1184' AND card_number = 'XXXX-XXXX-XXXX-0012' AND card_type = 'Discover'</i></p></td></tr>
<tr class='next-row'><td><h2>Result of Credit Card Info</h2><p class='func-name'>savebillinginfo_wrapped:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td></td</tr>
</table><tr class='next-row'><td><h2>Creating New Card first then reg with AuthorizeNet;</h2><p class='func-name'>savebillinginfo_wrapped:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='value-row'><td class='var-name'>0</td><td> array (
  0 => '6011000000000012',
  1 => '01',
  2 => '2023',
)</td></tr></table><tr class='next-row'><td><h2>Registering Card with AuthorizeNet; createPaymentProfile: </h2><p class='func-name'>savebillinginfo_wrapped:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>1501995830</td</tr>
</table><tr class='next-row'><td><h2>SQL> insert_billinginfo_table_with_new_card</h2><p class='sql-str'>
<i>INSERT INTO order_billinginfo (
card_name,card_number,card_type,card_zip,expire_month,expire_year,uid,display_dropdown,card_cvv,address1,street,authorizenet_payment_profile_id
) VALUES ( '
','XXXX-XXXX-XXXX-0012','Discover','21323','01','2023','1184','1',
            'XXX','','','1501995830') </i></p></td></tr>
<tr class='next-row'><td><h2>COMPLETED RUN</h2><p class='func-name'>do_controller_action:46</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='value-row'><td class='var-name'>0</td><td> array (
  'card_name' => '',
  'card_no' => '6011000000000012',
  'card_type' => 'Discover',
  'expiry_month' => '01',
  'expiry_year' => '2023',
  'card_zip' => '21323',
  'cvv' => '222',
  'uid' => '1184',
  'crd_id' => '',
  'display_in_menu' => '1',
  'address1' => '',
  'street' => '',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
)</td></tr>    <tr class='name-row'><td class='var-name'>1</td><td>savebillinginfo_wrapped</td</tr>
    <tr class='name-row'><td class='var-name'>2</td><td>1308</td</tr>
</table><tr class='next-row'><td><h2>NON-transaction LOGGING SUCCESS; Function run: $function_name_root</h2><p class='func-name'>do_controller_action:46</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>1308</td</tr>
</table><tr class='next-row'><td><h2>FINSH - 200 </h2><p class='func-name'>do_controller_action:46</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>{"response":{"status_code":"200","message":"OK"},"data":"1308"}</td</tr>
</table></table>