<head> <LINK href='superlog.css' rel='stylesheet' ></head>
<table>
<tr><td><h1>'do_order'</h1></td></tr>
<tr><td>17-10-17 01:30:34pm</td></tr>
<tr><td><h3>POST</h3><p>array (
  'mealname' => '',
  'store_id' => '12',
  'address_id' => '952',
  'order_item_id' => '14472%3A14473%3A14474%3A14475%3A14477%3A14478',
  'total' => '1400.51',
  'tax' => '106.01',
  'delivery' => '1',
  'date' => '2017-10-19',
  'time' => '13%3A00',
  'now_or_specific' => 'specific',
  'credit_card_id' => '1321',
  'coupon_code' => '',
  'tip' => '100.00',
  'sub_total' => '1194.5',
  'off_amount' => '',
  'credit_card' => '',
  'cvv' => '',
  'exp_mth' => '01',
  'exp_yr' => '2017',
  '_card_number_auth' => '',
  '_expiry_month_auth' => '',
  '_expiry_year_auth' => '',
  'user_id' => '1184',
  'application' => 'Mobile',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
)</p></td></tr><tr class='next-row'><td><h2>RUNNING COMMAND</h2><p class='func-name'>do_controller_action:67</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='value-row'><td class='var-name'>0</td><td> array (
  'mealname' => '',
  'store_id' => '12',
  'address_id' => '952',
  'order_item_id' => '14472%3A14473%3A14474%3A14475%3A14477%3A14478',
  'total' => '1400.51',
  'tax' => '106.01',
  'delivery' => '1',
  'date' => '2017-10-19',
  'time' => '13%3A00',
  'now_or_specific' => 'specific',
  'credit_card_id' => '1321',
  'coupon_code' => '',
  'tip' => '100.00',
  'sub_total' => '1194.5',
  'off_amount' => '',
  'credit_card' => '',
  'cvv' => '',
  'exp_mth' => '01',
  'exp_yr' => '2017',
  '_card_number_auth' => '',
  '_expiry_month_auth' => '',
  '_expiry_year_auth' => '',
  'user_id' => '1184',
  'application' => 'Mobile',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
)</td></tr>    <tr class='name-row'><td class='var-name'>1</td><td>do_order</td</tr>
</table><tr class='next-row'><td><h2>ENTER DO_ORDER</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='value-row'><td class='var-name'>0</td><td> array (
  'mealname' => '',
  'store_id' => '12',
  'address_id' => '952',
  'order_item_id' => '14472:14473:14474:14475:14477:14478',
  'total' => '1400.51',
  'tax' => '106.01',
  'delivery' => '1',
  'date' => '2017-10-19',
  'time' => '13:00',
  'now_or_specific' => 'specific',
  'credit_card_id' => '1321',
  'coupon_code' => '',
  'tip' => '100.00',
  'sub_total' => '1194.5',
  'off_amount' => '',
  'credit_card' => '',
  'cvv' => '',
  'exp_mth' => '01',
  'exp_yr' => '2017',
  '_card_number_auth' => '',
  '_expiry_month_auth' => '',
  '_expiry_year_auth' => '',
  'user_id' => '1184',
  'application' => 'Mobile',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
)</td></tr></table><tr class='next-row'><td><h2>AUTH NUMS: paymentID:  1501996964; shippingID: 1501348654; userID: 1501795437 </h2><p class='func-name'>prepare_post_for_purchase:849</p></td></tr>
<tr class='next-row'><td><h2>PREPARING TO DO TRANSACTION</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='value-row'><td class='var-name'>0</td><td> array (
  'mealname' => '',
  'store_id' => '12',
  'address_id' => '952',
  'order_item_id' => '14472:14473:14474:14475:14477:14478',
  'total' => '1400.51',
  'tax' => '106.01',
  'delivery' => '1',
  'date' => '2017-10-19',
  'time' => '13:00',
  'now_or_specific' => 'specific',
  'credit_card_id' => '1321',
  'coupon_code' => '',
  'tip' => '100.00',
  'sub_total' => '1194.5',
  'off_amount' => '',
  'credit_card' => '',
  'cvv' => '',
  'exp_mth' => '01',
  'exp_yr' => '2017',
  '_card_number_auth' => '',
  '_expiry_month_auth' => '',
  '_expiry_year_auth' => '',
  'user_id' => '1184',
  'application' => 'Mobile',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
  'customerProfileId' => '1501795437',
  'customerPaymentProfileId' => '1501996964',
  'customerShippingAddressId' => '1501348654',
)</td></tr></table><tr class='next-row'><td><h2>FINISHED TRANSACTION</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>40007748776</td</tr>
    <tr class='value-row'><td class='var-name'>1</td><td> array (
  0 => 
  array (
    'item_id' => '4146',
    'item_qty' => '1',
    'item_price' => '11.50',
    'sandwich_name' => 'XXX\'S PROTEIN TAKEOVER',
    'description' => ' ',
  ),
  1 => 
  array (
    'item_id' => '4144',
    'item_qty' => '6',
    'item_price' => '190.00',
    'sandwich_name' => 'XXX\'S PASTRAMI TURN-ON',
    'description' => ' ',
  ),
  2 => 
  array (
    'item_id' => '4147',
    'item_qty' => '1',
    'item_price' => '12.00',
    'sandwich_name' => 'JOE\'S VEGGIE FLAIR',
    'description' => ' ',
  ),
  3 => 
  array (
    'item_id' => '4150',
    'item_qty' => '1',
    'item_price' => '6.00',
    'sandwich_name' => 'JOE\'S &amp; VEGGIE &amp;* MOJO',
    'description' => ' ',
  ),
  4 => 
  array (
    'item_id' => '4142',
    'item_qty' => '1',
    'item_price' => '19.00',
    'sandwich_name' => 'XXX\'S CHICKEN SALAD CLASSIC',
    'description' => ' ',
  ),
  5 => 
  array (
    'item_id' => '4140',
    'item_qty' => '1',
    'item_price' => '6.00',
    'sandwich_name' => 'XXX\'S VEGGIE FANTASY',
    'description' => ' ',
  ),
)</td></tr></table><tr class='next-row'><td><h2>SQL> build_sql_for_orders_table</h2><p class='sql-str'>
<i>
INSERT INTO orders (
                user_id, 
                store_id,
                address_id,
                billinginfo_id,
                order_item_id,
                sub_total,
                tip,
                coupon_code,
                total,
                tax,
                delivery,
                date, 
                manual_discount,
                time, 
                authorizenet_transaction_id, 
                order_date 
                
                
            ) VALUES (1184,  
 12,  
 952 , 
 '1321' , 
 '14472:14473:14474:14475:14477:14478' , 
'1194.5' ,
'100.00' ,
'', 
'1400.51', 
'106.01', 
1, 
'2017-10-19 13:00:00', 
'0', 
'1', 
'40007748776', 
'2017-10-17 13:30:35'           )
</i></p></td></tr>
<tr class='next-row'><td><h2>BUILT build_sql_for_orders_table</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>
INSERT INTO orders (
                user_id, 
                store_id,
                address_id,
                billinginfo_id,
                order_item_id,
                sub_total,
                tip,
                coupon_code,
                total,
                tax,
                delivery,
                date, 
                manual_discount,
                time, 
                authorizenet_transaction_id, 
                order_date 
                
                
            ) VALUES (1184,  
 12,  
 952 , 
 '1321' , 
 '14472:14473:14474:14475:14477:14478' , 
'1194.5' ,
'100.00' ,
'', 
'1400.51', 
'106.01', 
1, 
'2017-10-19 13:00:00', 
'0', 
'1', 
'40007748776', 
'2017-10-17 13:30:35'           )
</td</tr>
    <tr class='value-row'><td class='var-name'>1</td><td> array (
  'mealname' => '',
  'store_id' => '12',
  'address_id' => '952',
  'order_item_id' => '14472:14473:14474:14475:14477:14478',
  'total' => '1400.51',
  'tax' => '106.01',
  'delivery' => '1',
  'date' => '2017-10-19',
  'time' => '13:00',
  'now_or_specific' => 'specific',
  'credit_card_id' => '1321',
  'coupon_code' => '',
  'tip' => '100.00',
  'sub_total' => '1194.5',
  'off_amount' => '',
  'credit_card' => '',
  'cvv' => '',
  'exp_mth' => '01',
  'exp_yr' => '2017',
  '_card_number_auth' => '',
  '_expiry_month_auth' => '',
  '_expiry_year_auth' => '',
  'user_id' => '1184',
  'application' => 'Mobile',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
  'customerProfileId' => '1501795437',
  'customerPaymentProfileId' => '1501996964',
  'customerShippingAddressId' => '1501348654',
)</td></tr>    <tr class='name-row'><td class='var-name'>2</td><td>40007748776</td</tr>
    <tr class='value-row'><td class='var-name'>3</td><td> array (
  'date' => '\'2017-10-19 13:00:00\'',
  'time' => 1,
)</td></tr></table><tr class='next-row'><td><h2>add_the_order_to_database</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>3302</td</tr>
    <tr class='name-row'><td class='var-name'>1</td><td>
INSERT INTO orders (
                user_id, 
                store_id,
                address_id,
                billinginfo_id,
                order_item_id,
                sub_total,
                tip,
                coupon_code,
                total,
                tax,
                delivery,
                date, 
                manual_discount,
                time, 
                authorizenet_transaction_id, 
                order_date 
                
                
            ) VALUES (1184,  
 12,  
 952 , 
 '1321' , 
 '14472:14473:14474:14475:14477:14478' , 
'1194.5' ,
'100.00' ,
'', 
'1400.51', 
'106.01', 
1, 
'2017-10-19 13:00:00', 
'0', 
'1', 
'40007748776', 
'2017-10-17 13:30:35'           )
</td</tr>
</table><tr class='next-row'><td><h2>insert_order_id_with_offset</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>3302</td</tr>
    <tr class='name-row'><td class='var-name'>1</td><td>11103302</td</tr>
</table><tr class='next-row'><td><h2>save_meal_name</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>3302</td</tr>
    <tr class='value-row'><td class='var-name'>1</td><td> array (
  'mealname' => '',
  'store_id' => '12',
  'address_id' => '952',
  'order_item_id' => '14472:14473:14474:14475:14477:14478',
  'total' => '1400.51',
  'tax' => '106.01',
  'delivery' => '1',
  'date' => '2017-10-19',
  'time' => '13:00',
  'now_or_specific' => 'specific',
  'credit_card_id' => '1321',
  'coupon_code' => '',
  'tip' => '100.00',
  'sub_total' => '1194.5',
  'off_amount' => '',
  'credit_card' => '',
  'cvv' => '',
  'exp_mth' => '01',
  'exp_yr' => '2017',
  '_card_number_auth' => '',
  '_expiry_month_auth' => '',
  '_expiry_year_auth' => '',
  'user_id' => '1184',
  'application' => 'Mobile',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
  'customerProfileId' => '1501795437',
  'customerPaymentProfileId' => '1501996964',
  'customerShippingAddressId' => '1501348654',
)</td></tr></table><tr class='next-row'><td><h2>explode_order_items</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>14472,14473,14474,14475,14477,14478</td</tr>
    <tr class='value-row'><td class='var-name'>1</td><td> array (
  'mealname' => '',
  'store_id' => '12',
  'address_id' => '952',
  'order_item_id' => '14472:14473:14474:14475:14477:14478',
  'total' => '1400.51',
  'tax' => '106.01',
  'delivery' => '1',
  'date' => '2017-10-19',
  'time' => '13:00',
  'now_or_specific' => 'specific',
  'credit_card_id' => '1321',
  'coupon_code' => '',
  'tip' => '100.00',
  'sub_total' => '1194.5',
  'off_amount' => '',
  'credit_card' => '',
  'cvv' => '',
  'exp_mth' => '01',
  'exp_yr' => '2017',
  '_card_number_auth' => '',
  '_expiry_month_auth' => '',
  '_expiry_year_auth' => '',
  'user_id' => '1184',
  'application' => 'Mobile',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
  'customerProfileId' => '1501795437',
  'customerPaymentProfileId' => '1501996964',
  'customerShippingAddressId' => '1501348654',
)</td></tr></table><tr class='next-row'><td><h2>SQL> set_order_items_to_order_id</h2><p class='sql-str'>
<i>UPDATE orders_items SET ordered = 1, orderid = 3302 WHERE order_item_id IN ( 14472,14473,14474,14475,14477,14478 )</i></p></td></tr>
<tr class='next-row'><td><h2>set_order_items_to_order_id</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>3302</td</tr>
    <tr class='name-row'><td class='var-name'>1</td><td>14472,14473,14474,14475,14477,14478</td</tr>
</table><tr class='next-row'><td><h2>SQL> increment_sandwich_count</h2><p class='sql-str'>
<i>UPDATE `user_sandwich_data` SET purchase_count = purchase_count + 1 
                    WHERE id IN (SELECT item_id FROM orders_items WHERE item_type='user_sandwich' AND order_item_id IN ( 14472,14473,14474,14475,14477,14478 ) )</i></p></td></tr>
<tr class='next-row'><td><h2>increment_sandwich_count</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>3302</td</tr>
    <tr class='name-row'><td class='var-name'>1</td><td>14472,14473,14474,14475,14477,14478</td</tr>
</table><tr class='next-row'><td><h2>ORDER COMPLETE: </h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>11103302</td</tr>
</table><tr class='next-row'><td><h2>COMPLETED RUN</h2><p class='func-name'>do_controller_action:67</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='value-row'><td class='var-name'>0</td><td> array (
  'mealname' => '',
  'store_id' => '12',
  'address_id' => '952',
  'order_item_id' => '14472%3A14473%3A14474%3A14475%3A14477%3A14478',
  'total' => '1400.51',
  'tax' => '106.01',
  'delivery' => '1',
  'date' => '2017-10-19',
  'time' => '13%3A00',
  'now_or_specific' => 'specific',
  'credit_card_id' => '1321',
  'coupon_code' => '',
  'tip' => '100.00',
  'sub_total' => '1194.5',
  'off_amount' => '',
  'credit_card' => '',
  'cvv' => '',
  'exp_mth' => '01',
  'exp_yr' => '2017',
  '_card_number_auth' => '',
  '_expiry_month_auth' => '',
  '_expiry_year_auth' => '',
  'user_id' => '1184',
  'application' => 'Mobile',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
)</td></tr>    <tr class='name-row'><td class='var-name'>1</td><td>do_order</td</tr>
    <tr class='name-row'><td class='var-name'>2</td><td>11103302</td</tr>
</table><tr class='next-row'><td><h2>TRANSACTION LOGGING SUCCESS; Transaction log ID: 544</h2><p class='func-name'>do_controller_action:67</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>11103302</td</tr>
</table><tr class='next-row'><td><h2>FINSH - 200 </h2><p class='func-name'>do_controller_action:67</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>{"response":{"status_code":"200","message":"OK"},"data":"11103302"}</td</tr>
</table></table>

<table>
<tr><td><h1>'do_order'</h1></td></tr>
<tr><td>17-10-17 01:48:10pm</td></tr>
<tr><td><h3>POST</h3><p>array (
  'mealname' => '',
  'store_id' => '12',
  'address_id' => '913',
  'order_item_id' => '14468%3A14469%3A14485',
  'total' => '35.57',
  'tax' => '2.57',
  'delivery' => '1',
  'date' => 'Tue%2C+Oct+17%2C+2017',
  'time' => '12%3A00',
  'now_or_specific' => 'now',
  'credit_card_id' => '1248',
  'coupon_code' => '',
  'tip' => '4',
  'sub_total' => '29',
  'off_amount' => '',
  'credit_card' => '',
  'cvv' => '',
  'exp_mth' => '01',
  'exp_yr' => '2017',
  '_card_number_auth' => '',
  '_expiry_month_auth' => '',
  '_expiry_year_auth' => '',
  'user_id' => '1161',
  'application' => 'Mobile',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
)</p></td></tr><tr class='next-row'><td><h2>RUNNING COMMAND</h2><p class='func-name'>do_controller_action:67</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='value-row'><td class='var-name'>0</td><td> array (
  'mealname' => '',
  'store_id' => '12',
  'address_id' => '913',
  'order_item_id' => '14468%3A14469%3A14485',
  'total' => '35.57',
  'tax' => '2.57',
  'delivery' => '1',
  'date' => 'Tue%2C+Oct+17%2C+2017',
  'time' => '12%3A00',
  'now_or_specific' => 'now',
  'credit_card_id' => '1248',
  'coupon_code' => '',
  'tip' => '4',
  'sub_total' => '29',
  'off_amount' => '',
  'credit_card' => '',
  'cvv' => '',
  'exp_mth' => '01',
  'exp_yr' => '2017',
  '_card_number_auth' => '',
  '_expiry_month_auth' => '',
  '_expiry_year_auth' => '',
  'user_id' => '1161',
  'application' => 'Mobile',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
)</td></tr>    <tr class='name-row'><td class='var-name'>1</td><td>do_order</td</tr>
</table><tr class='next-row'><td><h2>ENTER DO_ORDER</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='value-row'><td class='var-name'>0</td><td> array (
  'mealname' => '',
  'store_id' => '12',
  'address_id' => '913',
  'order_item_id' => '14468:14469:14485',
  'total' => '35.57',
  'tax' => '2.57',
  'delivery' => '1',
  'date' => 'Tue, Oct 17, 2017',
  'time' => '12:00',
  'now_or_specific' => 'now',
  'credit_card_id' => '1248',
  'coupon_code' => '',
  'tip' => '4',
  'sub_total' => '29',
  'off_amount' => '',
  'credit_card' => '',
  'cvv' => '',
  'exp_mth' => '01',
  'exp_yr' => '2017',
  '_card_number_auth' => '',
  '_expiry_month_auth' => '',
  '_expiry_year_auth' => '',
  'user_id' => '1161',
  'application' => 'Mobile',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
)</td></tr></table><tr class='next-row'><td><h2>AUTH NUMS: paymentID:  1501301956; shippingID: 1501331116; userID: 1501419903 </h2><p class='func-name'>prepare_post_for_purchase:849</p></td></tr>
<tr class='next-row'><td><h2>PREPARING TO DO TRANSACTION</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='value-row'><td class='var-name'>0</td><td> array (
  'mealname' => '',
  'store_id' => '12',
  'address_id' => '913',
  'order_item_id' => '14468:14469:14485',
  'total' => '35.57',
  'tax' => '2.57',
  'delivery' => '1',
  'date' => 'Tue, Oct 17, 2017',
  'time' => '12:00',
  'now_or_specific' => 'now',
  'credit_card_id' => '1248',
  'coupon_code' => '',
  'tip' => '4',
  'sub_total' => '29',
  'off_amount' => '',
  'credit_card' => '',
  'cvv' => '',
  'exp_mth' => '01',
  'exp_yr' => '2017',
  '_card_number_auth' => '',
  '_expiry_month_auth' => '',
  '_expiry_year_auth' => '',
  'user_id' => '1161',
  'application' => 'Mobile',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
  'customerProfileId' => '1501419903',
  'customerPaymentProfileId' => '1501301956',
  'customerShippingAddressId' => '1501331116',
)</td></tr></table><tr class='next-row'><td><h2>FINISHED TRANSACTION</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>40007749177</td</tr>
    <tr class='value-row'><td class='var-name'>1</td><td> array (
  0 => 
  array (
    'item_id' => '4038',
    'item_qty' => '2',
    'item_price' => '6.00',
    'sandwich_name' => 'DAN\'S VEGGIE RAINBOW',
    'description' => ' ',
  ),
  1 => 
  array (
    'item_id' => '4151',
    'item_qty' => '1',
    'item_price' => '10.00',
    'sandwich_name' => 'DAN\'S ROAST BEEF DOMINANCE',
    'description' => ' ',
  ),
  2 => 
  array (
    'item_id' => '4152',
    'item_qty' => '1',
    'item_price' => '7.00',
    'sandwich_name' => 'DAN\'S BRIE JUMBLE',
    'description' => ' ',
  ),
)</td></tr></table><tr class='next-row'><td><h2>SQL> build_sql_for_orders_table</h2><p class='sql-str'>
<i>
INSERT INTO orders (
                user_id, 
                store_id,
                address_id,
                billinginfo_id,
                order_item_id,
                sub_total,
                tip,
                coupon_code,
                total,
                tax,
                delivery,
                date, 
                manual_discount,
                time, 
                authorizenet_transaction_id, 
                order_date 
                
                
            ) VALUES (1161,  
 12,  
 913 , 
 '1248' , 
 '14468:14469:14485' , 
'29' ,
'4' ,
'', 
'35.57', 
'2.57', 
1, 
'2017-10-17 13:48:10', 
'0', 
'0', 
'40007749177', 
'2017-10-17 13:48:11'           )
</i></p></td></tr>
<tr class='next-row'><td><h2>BUILT build_sql_for_orders_table</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>
INSERT INTO orders (
                user_id, 
                store_id,
                address_id,
                billinginfo_id,
                order_item_id,
                sub_total,
                tip,
                coupon_code,
                total,
                tax,
                delivery,
                date, 
                manual_discount,
                time, 
                authorizenet_transaction_id, 
                order_date 
                
                
            ) VALUES (1161,  
 12,  
 913 , 
 '1248' , 
 '14468:14469:14485' , 
'29' ,
'4' ,
'', 
'35.57', 
'2.57', 
1, 
'2017-10-17 13:48:10', 
'0', 
'0', 
'40007749177', 
'2017-10-17 13:48:11'           )
</td</tr>
    <tr class='value-row'><td class='var-name'>1</td><td> array (
  'mealname' => '',
  'store_id' => '12',
  'address_id' => '913',
  'order_item_id' => '14468:14469:14485',
  'total' => '35.57',
  'tax' => '2.57',
  'delivery' => '1',
  'date' => 'Tue, Oct 17, 2017',
  'time' => '12:00',
  'now_or_specific' => 'now',
  'credit_card_id' => '1248',
  'coupon_code' => '',
  'tip' => '4',
  'sub_total' => '29',
  'off_amount' => '',
  'credit_card' => '',
  'cvv' => '',
  'exp_mth' => '01',
  'exp_yr' => '2017',
  '_card_number_auth' => '',
  '_expiry_month_auth' => '',
  '_expiry_year_auth' => '',
  'user_id' => '1161',
  'application' => 'Mobile',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
  'customerProfileId' => '1501419903',
  'customerPaymentProfileId' => '1501301956',
  'customerShippingAddressId' => '1501331116',
)</td></tr>    <tr class='name-row'><td class='var-name'>2</td><td>40007749177</td</tr>
    <tr class='value-row'><td class='var-name'>3</td><td> array (
  'date' => '\'2017-10-17 13:48:10\'',
  'time' => 0,
)</td></tr></table><tr class='next-row'><td><h2>add_the_order_to_database</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>3303</td</tr>
    <tr class='name-row'><td class='var-name'>1</td><td>
INSERT INTO orders (
                user_id, 
                store_id,
                address_id,
                billinginfo_id,
                order_item_id,
                sub_total,
                tip,
                coupon_code,
                total,
                tax,
                delivery,
                date, 
                manual_discount,
                time, 
                authorizenet_transaction_id, 
                order_date 
                
                
            ) VALUES (1161,  
 12,  
 913 , 
 '1248' , 
 '14468:14469:14485' , 
'29' ,
'4' ,
'', 
'35.57', 
'2.57', 
1, 
'2017-10-17 13:48:10', 
'0', 
'0', 
'40007749177', 
'2017-10-17 13:48:11'           )
</td</tr>
</table><tr class='next-row'><td><h2>insert_order_id_with_offset</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>3303</td</tr>
    <tr class='name-row'><td class='var-name'>1</td><td>11103303</td</tr>
</table><tr class='next-row'><td><h2>save_meal_name</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>3303</td</tr>
    <tr class='value-row'><td class='var-name'>1</td><td> array (
  'mealname' => '',
  'store_id' => '12',
  'address_id' => '913',
  'order_item_id' => '14468:14469:14485',
  'total' => '35.57',
  'tax' => '2.57',
  'delivery' => '1',
  'date' => 'Tue, Oct 17, 2017',
  'time' => '12:00',
  'now_or_specific' => 'now',
  'credit_card_id' => '1248',
  'coupon_code' => '',
  'tip' => '4',
  'sub_total' => '29',
  'off_amount' => '',
  'credit_card' => '',
  'cvv' => '',
  'exp_mth' => '01',
  'exp_yr' => '2017',
  '_card_number_auth' => '',
  '_expiry_month_auth' => '',
  '_expiry_year_auth' => '',
  'user_id' => '1161',
  'application' => 'Mobile',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
  'customerProfileId' => '1501419903',
  'customerPaymentProfileId' => '1501301956',
  'customerShippingAddressId' => '1501331116',
)</td></tr></table><tr class='next-row'><td><h2>explode_order_items</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>14468,14469,14485</td</tr>
    <tr class='value-row'><td class='var-name'>1</td><td> array (
  'mealname' => '',
  'store_id' => '12',
  'address_id' => '913',
  'order_item_id' => '14468:14469:14485',
  'total' => '35.57',
  'tax' => '2.57',
  'delivery' => '1',
  'date' => 'Tue, Oct 17, 2017',
  'time' => '12:00',
  'now_or_specific' => 'now',
  'credit_card_id' => '1248',
  'coupon_code' => '',
  'tip' => '4',
  'sub_total' => '29',
  'off_amount' => '',
  'credit_card' => '',
  'cvv' => '',
  'exp_mth' => '01',
  'exp_yr' => '2017',
  '_card_number_auth' => '',
  '_expiry_month_auth' => '',
  '_expiry_year_auth' => '',
  'user_id' => '1161',
  'application' => 'Mobile',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
  'customerProfileId' => '1501419903',
  'customerPaymentProfileId' => '1501301956',
  'customerShippingAddressId' => '1501331116',
)</td></tr></table><tr class='next-row'><td><h2>SQL> set_order_items_to_order_id</h2><p class='sql-str'>
<i>UPDATE orders_items SET ordered = 1, orderid = 3303 WHERE order_item_id IN ( 14468,14469,14485 )</i></p></td></tr>
<tr class='next-row'><td><h2>set_order_items_to_order_id</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>3303</td</tr>
    <tr class='name-row'><td class='var-name'>1</td><td>14468,14469,14485</td</tr>
</table><tr class='next-row'><td><h2>SQL> increment_sandwich_count</h2><p class='sql-str'>
<i>UPDATE `user_sandwich_data` SET purchase_count = purchase_count + 1 
                    WHERE id IN (SELECT item_id FROM orders_items WHERE item_type='user_sandwich' AND order_item_id IN ( 14468,14469,14485 ) )</i></p></td></tr>
<tr class='next-row'><td><h2>increment_sandwich_count</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>3303</td</tr>
    <tr class='name-row'><td class='var-name'>1</td><td>14468,14469,14485</td</tr>
</table><tr class='next-row'><td><h2>ORDER COMPLETE: </h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>11103303</td</tr>
</table><tr class='next-row'><td><h2>COMPLETED RUN</h2><p class='func-name'>do_controller_action:67</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='value-row'><td class='var-name'>0</td><td> array (
  'mealname' => '',
  'store_id' => '12',
  'address_id' => '913',
  'order_item_id' => '14468%3A14469%3A14485',
  'total' => '35.57',
  'tax' => '2.57',
  'delivery' => '1',
  'date' => 'Tue%2C+Oct+17%2C+2017',
  'time' => '12%3A00',
  'now_or_specific' => 'now',
  'credit_card_id' => '1248',
  'coupon_code' => '',
  'tip' => '4',
  'sub_total' => '29',
  'off_amount' => '',
  'credit_card' => '',
  'cvv' => '',
  'exp_mth' => '01',
  'exp_yr' => '2017',
  '_card_number_auth' => '',
  '_expiry_month_auth' => '',
  '_expiry_year_auth' => '',
  'user_id' => '1161',
  'application' => 'Mobile',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
)</td></tr>    <tr class='name-row'><td class='var-name'>1</td><td>do_order</td</tr>
    <tr class='name-row'><td class='var-name'>2</td><td>11103303</td</tr>
</table><tr class='next-row'><td><h2>TRANSACTION LOGGING SUCCESS; Transaction log ID: 545</h2><p class='func-name'>do_controller_action:67</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>11103303</td</tr>
</table><tr class='next-row'><td><h2>FINSH - 200 </h2><p class='func-name'>do_controller_action:67</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>{"response":{"status_code":"200","message":"OK"},"data":"11103303"}</td</tr>
</table></table>

<table>
<tr><td><h1>'do_order'</h1></td></tr>
<tr><td>17-10-17 01:57:12pm</td></tr>
<tr><td><h3>POST</h3><p>array (
  'mealname' => '',
  'store_id' => '12',
  'address_id' => '913',
  'order_item_id' => '14486%3A14487',
  'total' => '26.95',
  'tax' => '1.95',
  'delivery' => '1',
  'date' => 'Tue%2C+Oct+17%2C+2017',
  'time' => '12%3A00',
  'now_or_specific' => 'now',
  'credit_card_id' => '1248',
  'coupon_code' => '',
  'tip' => '3',
  'sub_total' => '22',
  'off_amount' => '',
  'credit_card' => '',
  'cvv' => '',
  'exp_mth' => '01',
  'exp_yr' => '2017',
  '_card_number_auth' => '',
  '_expiry_month_auth' => '',
  '_expiry_year_auth' => '',
  'user_id' => '1161',
  'application' => 'Mobile',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
)</p></td></tr><tr class='next-row'><td><h2>RUNNING COMMAND</h2><p class='func-name'>do_controller_action:67</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='value-row'><td class='var-name'>0</td><td> array (
  'mealname' => '',
  'store_id' => '12',
  'address_id' => '913',
  'order_item_id' => '14486%3A14487',
  'total' => '26.95',
  'tax' => '1.95',
  'delivery' => '1',
  'date' => 'Tue%2C+Oct+17%2C+2017',
  'time' => '12%3A00',
  'now_or_specific' => 'now',
  'credit_card_id' => '1248',
  'coupon_code' => '',
  'tip' => '3',
  'sub_total' => '22',
  'off_amount' => '',
  'credit_card' => '',
  'cvv' => '',
  'exp_mth' => '01',
  'exp_yr' => '2017',
  '_card_number_auth' => '',
  '_expiry_month_auth' => '',
  '_expiry_year_auth' => '',
  'user_id' => '1161',
  'application' => 'Mobile',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
)</td></tr>    <tr class='name-row'><td class='var-name'>1</td><td>do_order</td</tr>
</table><tr class='next-row'><td><h2>ENTER DO_ORDER</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='value-row'><td class='var-name'>0</td><td> array (
  'mealname' => '',
  'store_id' => '12',
  'address_id' => '913',
  'order_item_id' => '14486:14487',
  'total' => '26.95',
  'tax' => '1.95',
  'delivery' => '1',
  'date' => 'Tue, Oct 17, 2017',
  'time' => '12:00',
  'now_or_specific' => 'now',
  'credit_card_id' => '1248',
  'coupon_code' => '',
  'tip' => '3',
  'sub_total' => '22',
  'off_amount' => '',
  'credit_card' => '',
  'cvv' => '',
  'exp_mth' => '01',
  'exp_yr' => '2017',
  '_card_number_auth' => '',
  '_expiry_month_auth' => '',
  '_expiry_year_auth' => '',
  'user_id' => '1161',
  'application' => 'Mobile',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
)</td></tr></table><tr class='next-row'><td><h2>AUTH NUMS: paymentID:  1501301956; shippingID: 1501331116; userID: 1501419903 </h2><p class='func-name'>prepare_post_for_purchase:849</p></td></tr>
<tr class='next-row'><td><h2>PREPARING TO DO TRANSACTION</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='value-row'><td class='var-name'>0</td><td> array (
  'mealname' => '',
  'store_id' => '12',
  'address_id' => '913',
  'order_item_id' => '14486:14487',
  'total' => '26.95',
  'tax' => '1.95',
  'delivery' => '1',
  'date' => 'Tue, Oct 17, 2017',
  'time' => '12:00',
  'now_or_specific' => 'now',
  'credit_card_id' => '1248',
  'coupon_code' => '',
  'tip' => '3',
  'sub_total' => '22',
  'off_amount' => '',
  'credit_card' => '',
  'cvv' => '',
  'exp_mth' => '01',
  'exp_yr' => '2017',
  '_card_number_auth' => '',
  '_expiry_month_auth' => '',
  '_expiry_year_auth' => '',
  'user_id' => '1161',
  'application' => 'Mobile',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
  'customerProfileId' => '1501419903',
  'customerPaymentProfileId' => '1501301956',
  'customerShippingAddressId' => '1501331116',
)</td></tr></table><tr class='next-row'><td><h2>FINISHED TRANSACTION</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>40007749394</td</tr>
    <tr class='value-row'><td class='var-name'>1</td><td> array (
  0 => 
  array (
    'item_id' => '4038',
    'item_qty' => '2',
    'item_price' => '6.00',
    'sandwich_name' => 'DAN\'S VEGGIE RAINBOW',
    'description' => ' ',
  ),
  1 => 
  array (
    'item_id' => '4151',
    'item_qty' => '1',
    'item_price' => '10.00',
    'sandwich_name' => 'DAN\'S ROAST BEEF DOMINANCE',
    'description' => ' ',
  ),
)</td></tr></table><tr class='next-row'><td><h2>SQL> build_sql_for_orders_table</h2><p class='sql-str'>
<i>
INSERT INTO orders (
                user_id, 
                store_id,
                address_id,
                billinginfo_id,
                order_item_id,
                sub_total,
                tip,
                coupon_code,
                total,
                tax,
                delivery,
                date, 
                manual_discount,
                time, 
                authorizenet_transaction_id, 
                order_date 
                
                
            ) VALUES (1161,  
 12,  
 913 , 
 '1248' , 
 '14486:14487' , 
'22' ,
'3' ,
'', 
'26.95', 
'1.95', 
1, 
'2017-10-17 13:57:12', 
'0', 
'0', 
'40007749394', 
'2017-10-17 13:57:13'           )
</i></p></td></tr>
<tr class='next-row'><td><h2>BUILT build_sql_for_orders_table</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>
INSERT INTO orders (
                user_id, 
                store_id,
                address_id,
                billinginfo_id,
                order_item_id,
                sub_total,
                tip,
                coupon_code,
                total,
                tax,
                delivery,
                date, 
                manual_discount,
                time, 
                authorizenet_transaction_id, 
                order_date 
                
                
            ) VALUES (1161,  
 12,  
 913 , 
 '1248' , 
 '14486:14487' , 
'22' ,
'3' ,
'', 
'26.95', 
'1.95', 
1, 
'2017-10-17 13:57:12', 
'0', 
'0', 
'40007749394', 
'2017-10-17 13:57:13'           )
</td</tr>
    <tr class='value-row'><td class='var-name'>1</td><td> array (
  'mealname' => '',
  'store_id' => '12',
  'address_id' => '913',
  'order_item_id' => '14486:14487',
  'total' => '26.95',
  'tax' => '1.95',
  'delivery' => '1',
  'date' => 'Tue, Oct 17, 2017',
  'time' => '12:00',
  'now_or_specific' => 'now',
  'credit_card_id' => '1248',
  'coupon_code' => '',
  'tip' => '3',
  'sub_total' => '22',
  'off_amount' => '',
  'credit_card' => '',
  'cvv' => '',
  'exp_mth' => '01',
  'exp_yr' => '2017',
  '_card_number_auth' => '',
  '_expiry_month_auth' => '',
  '_expiry_year_auth' => '',
  'user_id' => '1161',
  'application' => 'Mobile',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
  'customerProfileId' => '1501419903',
  'customerPaymentProfileId' => '1501301956',
  'customerShippingAddressId' => '1501331116',
)</td></tr>    <tr class='name-row'><td class='var-name'>2</td><td>40007749394</td</tr>
    <tr class='value-row'><td class='var-name'>3</td><td> array (
  'date' => '\'2017-10-17 13:57:12\'',
  'time' => 0,
)</td></tr></table><tr class='next-row'><td><h2>add_the_order_to_database</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>3304</td</tr>
    <tr class='name-row'><td class='var-name'>1</td><td>
INSERT INTO orders (
                user_id, 
                store_id,
                address_id,
                billinginfo_id,
                order_item_id,
                sub_total,
                tip,
                coupon_code,
                total,
                tax,
                delivery,
                date, 
                manual_discount,
                time, 
                authorizenet_transaction_id, 
                order_date 
                
                
            ) VALUES (1161,  
 12,  
 913 , 
 '1248' , 
 '14486:14487' , 
'22' ,
'3' ,
'', 
'26.95', 
'1.95', 
1, 
'2017-10-17 13:57:12', 
'0', 
'0', 
'40007749394', 
'2017-10-17 13:57:13'           )
</td</tr>
</table><tr class='next-row'><td><h2>insert_order_id_with_offset</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>3304</td</tr>
    <tr class='name-row'><td class='var-name'>1</td><td>11103304</td</tr>
</table><tr class='next-row'><td><h2>save_meal_name</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>3304</td</tr>
    <tr class='value-row'><td class='var-name'>1</td><td> array (
  'mealname' => '',
  'store_id' => '12',
  'address_id' => '913',
  'order_item_id' => '14486:14487',
  'total' => '26.95',
  'tax' => '1.95',
  'delivery' => '1',
  'date' => 'Tue, Oct 17, 2017',
  'time' => '12:00',
  'now_or_specific' => 'now',
  'credit_card_id' => '1248',
  'coupon_code' => '',
  'tip' => '3',
  'sub_total' => '22',
  'off_amount' => '',
  'credit_card' => '',
  'cvv' => '',
  'exp_mth' => '01',
  'exp_yr' => '2017',
  '_card_number_auth' => '',
  '_expiry_month_auth' => '',
  '_expiry_year_auth' => '',
  'user_id' => '1161',
  'application' => 'Mobile',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
  'customerProfileId' => '1501419903',
  'customerPaymentProfileId' => '1501301956',
  'customerShippingAddressId' => '1501331116',
)</td></tr></table><tr class='next-row'><td><h2>explode_order_items</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>14486,14487</td</tr>
    <tr class='value-row'><td class='var-name'>1</td><td> array (
  'mealname' => '',
  'store_id' => '12',
  'address_id' => '913',
  'order_item_id' => '14486:14487',
  'total' => '26.95',
  'tax' => '1.95',
  'delivery' => '1',
  'date' => 'Tue, Oct 17, 2017',
  'time' => '12:00',
  'now_or_specific' => 'now',
  'credit_card_id' => '1248',
  'coupon_code' => '',
  'tip' => '3',
  'sub_total' => '22',
  'off_amount' => '',
  'credit_card' => '',
  'cvv' => '',
  'exp_mth' => '01',
  'exp_yr' => '2017',
  '_card_number_auth' => '',
  '_expiry_month_auth' => '',
  '_expiry_year_auth' => '',
  'user_id' => '1161',
  'application' => 'Mobile',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
  'customerProfileId' => '1501419903',
  'customerPaymentProfileId' => '1501301956',
  'customerShippingAddressId' => '1501331116',
)</td></tr></table><tr class='next-row'><td><h2>SQL> set_order_items_to_order_id</h2><p class='sql-str'>
<i>UPDATE orders_items SET ordered = 1, orderid = 3304 WHERE order_item_id IN ( 14486,14487 )</i></p></td></tr>
<tr class='next-row'><td><h2>set_order_items_to_order_id</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>3304</td</tr>
    <tr class='name-row'><td class='var-name'>1</td><td>14486,14487</td</tr>
</table><tr class='next-row'><td><h2>SQL> increment_sandwich_count</h2><p class='sql-str'>
<i>UPDATE `user_sandwich_data` SET purchase_count = purchase_count + 1 
                    WHERE id IN (SELECT item_id FROM orders_items WHERE item_type='user_sandwich' AND order_item_id IN ( 14486,14487 ) )</i></p></td></tr>
<tr class='next-row'><td><h2>increment_sandwich_count</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>3304</td</tr>
    <tr class='name-row'><td class='var-name'>1</td><td>14486,14487</td</tr>
</table><tr class='next-row'><td><h2>ORDER COMPLETE: </h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>11103304</td</tr>
</table><tr class='next-row'><td><h2>COMPLETED RUN</h2><p class='func-name'>do_controller_action:67</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='value-row'><td class='var-name'>0</td><td> array (
  'mealname' => '',
  'store_id' => '12',
  'address_id' => '913',
  'order_item_id' => '14486%3A14487',
  'total' => '26.95',
  'tax' => '1.95',
  'delivery' => '1',
  'date' => 'Tue%2C+Oct+17%2C+2017',
  'time' => '12%3A00',
  'now_or_specific' => 'now',
  'credit_card_id' => '1248',
  'coupon_code' => '',
  'tip' => '3',
  'sub_total' => '22',
  'off_amount' => '',
  'credit_card' => '',
  'cvv' => '',
  'exp_mth' => '01',
  'exp_yr' => '2017',
  '_card_number_auth' => '',
  '_expiry_month_auth' => '',
  '_expiry_year_auth' => '',
  'user_id' => '1161',
  'application' => 'Mobile',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
)</td></tr>    <tr class='name-row'><td class='var-name'>1</td><td>do_order</td</tr>
    <tr class='name-row'><td class='var-name'>2</td><td>11103304</td</tr>
</table><tr class='next-row'><td><h2>TRANSACTION LOGGING SUCCESS; Transaction log ID: 546</h2><p class='func-name'>do_controller_action:67</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>11103304</td</tr>
</table><tr class='next-row'><td><h2>FINSH - 200 </h2><p class='func-name'>do_controller_action:67</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>{"response":{"status_code":"200","message":"OK"},"data":"11103304"}</td</tr>
</table></table>

<table>
<tr><td><h1>'do_order'</h1></td></tr>
<tr><td>17-10-17 02:07:20pm</td></tr>
<tr><td><h3>POST</h3><p>array (
  'mealname' => '',
  'store_id' => '12',
  'address_id' => '913',
  'order_item_id' => '14489%3A14490',
  'total' => '26.95',
  'tax' => '1.95',
  'delivery' => '1',
  'date' => 'Tue%2C+Oct+17%2C+2017',
  'time' => '12%3A00',
  'now_or_specific' => 'now',
  'credit_card_id' => '1248',
  'coupon_code' => '',
  'tip' => '3',
  'sub_total' => '22',
  'off_amount' => '',
  'credit_card' => '',
  'cvv' => '',
  'exp_mth' => '01',
  'exp_yr' => '2017',
  '_card_number_auth' => '',
  '_expiry_month_auth' => '',
  '_expiry_year_auth' => '',
  'user_id' => '1161',
  'application' => 'Mobile',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
)</p></td></tr><tr class='next-row'><td><h2>RUNNING COMMAND</h2><p class='func-name'>do_controller_action:67</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='value-row'><td class='var-name'>0</td><td> array (
  'mealname' => '',
  'store_id' => '12',
  'address_id' => '913',
  'order_item_id' => '14489%3A14490',
  'total' => '26.95',
  'tax' => '1.95',
  'delivery' => '1',
  'date' => 'Tue%2C+Oct+17%2C+2017',
  'time' => '12%3A00',
  'now_or_specific' => 'now',
  'credit_card_id' => '1248',
  'coupon_code' => '',
  'tip' => '3',
  'sub_total' => '22',
  'off_amount' => '',
  'credit_card' => '',
  'cvv' => '',
  'exp_mth' => '01',
  'exp_yr' => '2017',
  '_card_number_auth' => '',
  '_expiry_month_auth' => '',
  '_expiry_year_auth' => '',
  'user_id' => '1161',
  'application' => 'Mobile',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
)</td></tr>    <tr class='name-row'><td class='var-name'>1</td><td>do_order</td</tr>
</table><tr class='next-row'><td><h2>ENTER DO_ORDER</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='value-row'><td class='var-name'>0</td><td> array (
  'mealname' => '',
  'store_id' => '12',
  'address_id' => '913',
  'order_item_id' => '14489:14490',
  'total' => '26.95',
  'tax' => '1.95',
  'delivery' => '1',
  'date' => 'Tue, Oct 17, 2017',
  'time' => '12:00',
  'now_or_specific' => 'now',
  'credit_card_id' => '1248',
  'coupon_code' => '',
  'tip' => '3',
  'sub_total' => '22',
  'off_amount' => '',
  'credit_card' => '',
  'cvv' => '',
  'exp_mth' => '01',
  'exp_yr' => '2017',
  '_card_number_auth' => '',
  '_expiry_month_auth' => '',
  '_expiry_year_auth' => '',
  'user_id' => '1161',
  'application' => 'Mobile',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
)</td></tr></table><tr class='next-row'><td><h2>AUTH NUMS: paymentID:  1501301956; shippingID: 1501331116; userID: 1501419903 </h2><p class='func-name'>prepare_post_for_purchase:849</p></td></tr>
<tr class='next-row'><td><h2>PREPARING TO DO TRANSACTION</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='value-row'><td class='var-name'>0</td><td> array (
  'mealname' => '',
  'store_id' => '12',
  'address_id' => '913',
  'order_item_id' => '14489:14490',
  'total' => '26.95',
  'tax' => '1.95',
  'delivery' => '1',
  'date' => 'Tue, Oct 17, 2017',
  'time' => '12:00',
  'now_or_specific' => 'now',
  'credit_card_id' => '1248',
  'coupon_code' => '',
  'tip' => '3',
  'sub_total' => '22',
  'off_amount' => '',
  'credit_card' => '',
  'cvv' => '',
  'exp_mth' => '01',
  'exp_yr' => '2017',
  '_card_number_auth' => '',
  '_expiry_month_auth' => '',
  '_expiry_year_auth' => '',
  'user_id' => '1161',
  'application' => 'Mobile',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
  'customerProfileId' => '1501419903',
  'customerPaymentProfileId' => '1501301956',
  'customerShippingAddressId' => '1501331116',
)</td></tr></table><tr class='next-row'><td><h2>FINISHED TRANSACTION</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>40007749726</td</tr>
    <tr class='value-row'><td class='var-name'>1</td><td> array (
  0 => 
  array (
    'item_id' => '4038',
    'item_qty' => '2',
    'item_price' => '6.00',
    'sandwich_name' => 'DAN\'S VEGGIE RAINBOW',
    'description' => ' ',
  ),
  1 => 
  array (
    'item_id' => '4151',
    'item_qty' => '1',
    'item_price' => '10.00',
    'sandwich_name' => 'DAN\'S ROAST BEEF DOMINANCE',
    'description' => ' ',
  ),
)</td></tr></table><tr class='next-row'><td><h2>SQL> build_sql_for_orders_table</h2><p class='sql-str'>
<i>
INSERT INTO orders (
                user_id, 
                store_id,
                address_id,
                billinginfo_id,
                order_item_id,
                sub_total,
                tip,
                coupon_code,
                total,
                tax,
                delivery,
                date, 
                manual_discount,
                time, 
                authorizenet_transaction_id, 
                order_date 
                
                
            ) VALUES (1161,  
 12,  
 913 , 
 '1248' , 
 '14489:14490' , 
'22' ,
'3' ,
'', 
'26.95', 
'1.95', 
1, 
'2017-10-17 14:07:20', 
'0', 
'0', 
'40007749726', 
'2017-10-17 14:07:21'           )
</i></p></td></tr>
<tr class='next-row'><td><h2>BUILT build_sql_for_orders_table</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>
INSERT INTO orders (
                user_id, 
                store_id,
                address_id,
                billinginfo_id,
                order_item_id,
                sub_total,
                tip,
                coupon_code,
                total,
                tax,
                delivery,
                date, 
                manual_discount,
                time, 
                authorizenet_transaction_id, 
                order_date 
                
                
            ) VALUES (1161,  
 12,  
 913 , 
 '1248' , 
 '14489:14490' , 
'22' ,
'3' ,
'', 
'26.95', 
'1.95', 
1, 
'2017-10-17 14:07:20', 
'0', 
'0', 
'40007749726', 
'2017-10-17 14:07:21'           )
</td</tr>
    <tr class='value-row'><td class='var-name'>1</td><td> array (
  'mealname' => '',
  'store_id' => '12',
  'address_id' => '913',
  'order_item_id' => '14489:14490',
  'total' => '26.95',
  'tax' => '1.95',
  'delivery' => '1',
  'date' => 'Tue, Oct 17, 2017',
  'time' => '12:00',
  'now_or_specific' => 'now',
  'credit_card_id' => '1248',
  'coupon_code' => '',
  'tip' => '3',
  'sub_total' => '22',
  'off_amount' => '',
  'credit_card' => '',
  'cvv' => '',
  'exp_mth' => '01',
  'exp_yr' => '2017',
  '_card_number_auth' => '',
  '_expiry_month_auth' => '',
  '_expiry_year_auth' => '',
  'user_id' => '1161',
  'application' => 'Mobile',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
  'customerProfileId' => '1501419903',
  'customerPaymentProfileId' => '1501301956',
  'customerShippingAddressId' => '1501331116',
)</td></tr>    <tr class='name-row'><td class='var-name'>2</td><td>40007749726</td</tr>
    <tr class='value-row'><td class='var-name'>3</td><td> array (
  'date' => '\'2017-10-17 14:07:20\'',
  'time' => 0,
)</td></tr></table><tr class='next-row'><td><h2>add_the_order_to_database</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>3305</td</tr>
    <tr class='name-row'><td class='var-name'>1</td><td>
INSERT INTO orders (
                user_id, 
                store_id,
                address_id,
                billinginfo_id,
                order_item_id,
                sub_total,
                tip,
                coupon_code,
                total,
                tax,
                delivery,
                date, 
                manual_discount,
                time, 
                authorizenet_transaction_id, 
                order_date 
                
                
            ) VALUES (1161,  
 12,  
 913 , 
 '1248' , 
 '14489:14490' , 
'22' ,
'3' ,
'', 
'26.95', 
'1.95', 
1, 
'2017-10-17 14:07:20', 
'0', 
'0', 
'40007749726', 
'2017-10-17 14:07:21'           )
</td</tr>
</table><tr class='next-row'><td><h2>insert_order_id_with_offset</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>3305</td</tr>
    <tr class='name-row'><td class='var-name'>1</td><td>11103305</td</tr>
</table><tr class='next-row'><td><h2>save_meal_name</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>3305</td</tr>
    <tr class='value-row'><td class='var-name'>1</td><td> array (
  'mealname' => '',
  'store_id' => '12',
  'address_id' => '913',
  'order_item_id' => '14489:14490',
  'total' => '26.95',
  'tax' => '1.95',
  'delivery' => '1',
  'date' => 'Tue, Oct 17, 2017',
  'time' => '12:00',
  'now_or_specific' => 'now',
  'credit_card_id' => '1248',
  'coupon_code' => '',
  'tip' => '3',
  'sub_total' => '22',
  'off_amount' => '',
  'credit_card' => '',
  'cvv' => '',
  'exp_mth' => '01',
  'exp_yr' => '2017',
  '_card_number_auth' => '',
  '_expiry_month_auth' => '',
  '_expiry_year_auth' => '',
  'user_id' => '1161',
  'application' => 'Mobile',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
  'customerProfileId' => '1501419903',
  'customerPaymentProfileId' => '1501301956',
  'customerShippingAddressId' => '1501331116',
)</td></tr></table><tr class='next-row'><td><h2>explode_order_items</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>14489,14490</td</tr>
    <tr class='value-row'><td class='var-name'>1</td><td> array (
  'mealname' => '',
  'store_id' => '12',
  'address_id' => '913',
  'order_item_id' => '14489:14490',
  'total' => '26.95',
  'tax' => '1.95',
  'delivery' => '1',
  'date' => 'Tue, Oct 17, 2017',
  'time' => '12:00',
  'now_or_specific' => 'now',
  'credit_card_id' => '1248',
  'coupon_code' => '',
  'tip' => '3',
  'sub_total' => '22',
  'off_amount' => '',
  'credit_card' => '',
  'cvv' => '',
  'exp_mth' => '01',
  'exp_yr' => '2017',
  '_card_number_auth' => '',
  '_expiry_month_auth' => '',
  '_expiry_year_auth' => '',
  'user_id' => '1161',
  'application' => 'Mobile',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
  'customerProfileId' => '1501419903',
  'customerPaymentProfileId' => '1501301956',
  'customerShippingAddressId' => '1501331116',
)</td></tr></table><tr class='next-row'><td><h2>SQL> set_order_items_to_order_id</h2><p class='sql-str'>
<i>UPDATE orders_items SET ordered = 1, orderid = 3305 WHERE order_item_id IN ( 14489,14490 )</i></p></td></tr>
<tr class='next-row'><td><h2>set_order_items_to_order_id</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>3305</td</tr>
    <tr class='name-row'><td class='var-name'>1</td><td>14489,14490</td</tr>
</table><tr class='next-row'><td><h2>SQL> increment_sandwich_count</h2><p class='sql-str'>
<i>UPDATE `user_sandwich_data` SET purchase_count = purchase_count + 1 
                    WHERE id IN (SELECT item_id FROM orders_items WHERE item_type='user_sandwich' AND order_item_id IN ( 14489,14490 ) )</i></p></td></tr>
<tr class='next-row'><td><h2>increment_sandwich_count</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>3305</td</tr>
    <tr class='name-row'><td class='var-name'>1</td><td>14489,14490</td</tr>
</table><tr class='next-row'><td><h2>ORDER COMPLETE: </h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>11103305</td</tr>
</table><tr class='next-row'><td><h2>COMPLETED RUN</h2><p class='func-name'>do_controller_action:67</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='value-row'><td class='var-name'>0</td><td> array (
  'mealname' => '',
  'store_id' => '12',
  'address_id' => '913',
  'order_item_id' => '14489%3A14490',
  'total' => '26.95',
  'tax' => '1.95',
  'delivery' => '1',
  'date' => 'Tue%2C+Oct+17%2C+2017',
  'time' => '12%3A00',
  'now_or_specific' => 'now',
  'credit_card_id' => '1248',
  'coupon_code' => '',
  'tip' => '3',
  'sub_total' => '22',
  'off_amount' => '',
  'credit_card' => '',
  'cvv' => '',
  'exp_mth' => '01',
  'exp_yr' => '2017',
  '_card_number_auth' => '',
  '_expiry_month_auth' => '',
  '_expiry_year_auth' => '',
  'user_id' => '1161',
  'application' => 'Mobile',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
)</td></tr>    <tr class='name-row'><td class='var-name'>1</td><td>do_order</td</tr>
    <tr class='name-row'><td class='var-name'>2</td><td>11103305</td</tr>
</table><tr class='next-row'><td><h2>TRANSACTION LOGGING SUCCESS; Transaction log ID: 547</h2><p class='func-name'>do_controller_action:67</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>11103305</td</tr>
</table><tr class='next-row'><td><h2>FINSH - 200 </h2><p class='func-name'>do_controller_action:67</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>{"response":{"status_code":"200","message":"OK"},"data":"11103305"}</td</tr>
</table></table>

<table>
<tr><td><h1>'do_order'</h1></td></tr>
<tr><td>17-10-17 02:07:51pm</td></tr>
<tr><td><h3>POST</h3><p>array (
  'mealname' => '',
  'store_id' => '12',
  'address_id' => '913',
  'order_item_id' => '14491',
  'total' => '17.24',
  'tax' => '1.24',
  'delivery' => '1',
  'date' => 'Tue%2C+Oct+17%2C+2017',
  'time' => '12%3A00',
  'now_or_specific' => 'now',
  'credit_card_id' => '1248',
  'coupon_code' => '',
  'tip' => '2',
  'sub_total' => '14',
  'off_amount' => '',
  'credit_card' => '',
  'cvv' => '',
  'exp_mth' => '01',
  'exp_yr' => '2017',
  '_card_number_auth' => '',
  '_expiry_month_auth' => '',
  '_expiry_year_auth' => '',
  'user_id' => '1161',
  'application' => 'Mobile',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
)</p></td></tr><tr class='next-row'><td><h2>RUNNING COMMAND</h2><p class='func-name'>do_controller_action:67</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='value-row'><td class='var-name'>0</td><td> array (
  'mealname' => '',
  'store_id' => '12',
  'address_id' => '913',
  'order_item_id' => '14491',
  'total' => '17.24',
  'tax' => '1.24',
  'delivery' => '1',
  'date' => 'Tue%2C+Oct+17%2C+2017',
  'time' => '12%3A00',
  'now_or_specific' => 'now',
  'credit_card_id' => '1248',
  'coupon_code' => '',
  'tip' => '2',
  'sub_total' => '14',
  'off_amount' => '',
  'credit_card' => '',
  'cvv' => '',
  'exp_mth' => '01',
  'exp_yr' => '2017',
  '_card_number_auth' => '',
  '_expiry_month_auth' => '',
  '_expiry_year_auth' => '',
  'user_id' => '1161',
  'application' => 'Mobile',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
)</td></tr>    <tr class='name-row'><td class='var-name'>1</td><td>do_order</td</tr>
</table><tr class='next-row'><td><h2>ENTER DO_ORDER</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='value-row'><td class='var-name'>0</td><td> array (
  'mealname' => '',
  'store_id' => '12',
  'address_id' => '913',
  'order_item_id' => '14491',
  'total' => '17.24',
  'tax' => '1.24',
  'delivery' => '1',
  'date' => 'Tue, Oct 17, 2017',
  'time' => '12:00',
  'now_or_specific' => 'now',
  'credit_card_id' => '1248',
  'coupon_code' => '',
  'tip' => '2',
  'sub_total' => '14',
  'off_amount' => '',
  'credit_card' => '',
  'cvv' => '',
  'exp_mth' => '01',
  'exp_yr' => '2017',
  '_card_number_auth' => '',
  '_expiry_month_auth' => '',
  '_expiry_year_auth' => '',
  'user_id' => '1161',
  'application' => 'Mobile',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
)</td></tr></table><tr class='next-row'><td><h2>AUTH NUMS: paymentID:  1501301956; shippingID: 1501331116; userID: 1501419903 </h2><p class='func-name'>prepare_post_for_purchase:849</p></td></tr>
<tr class='next-row'><td><h2>PREPARING TO DO TRANSACTION</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='value-row'><td class='var-name'>0</td><td> array (
  'mealname' => '',
  'store_id' => '12',
  'address_id' => '913',
  'order_item_id' => '14491',
  'total' => '17.24',
  'tax' => '1.24',
  'delivery' => '1',
  'date' => 'Tue, Oct 17, 2017',
  'time' => '12:00',
  'now_or_specific' => 'now',
  'credit_card_id' => '1248',
  'coupon_code' => '',
  'tip' => '2',
  'sub_total' => '14',
  'off_amount' => '',
  'credit_card' => '',
  'cvv' => '',
  'exp_mth' => '01',
  'exp_yr' => '2017',
  '_card_number_auth' => '',
  '_expiry_month_auth' => '',
  '_expiry_year_auth' => '',
  'user_id' => '1161',
  'application' => 'Mobile',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
  'customerProfileId' => '1501419903',
  'customerPaymentProfileId' => '1501301956',
  'customerShippingAddressId' => '1501331116',
)</td></tr></table><tr class='next-row'><td><h2>FINISHED TRANSACTION</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>40007749737</td</tr>
    <tr class='value-row'><td class='var-name'>1</td><td> array (
  0 => 
  array (
    'item_id' => '4152',
    'item_qty' => '2',
    'item_price' => '7.00',
    'sandwich_name' => 'DAN\'S BRIE JUMBLE',
    'description' => ' ',
  ),
)</td></tr></table><tr class='next-row'><td><h2>SQL> build_sql_for_orders_table</h2><p class='sql-str'>
<i>
INSERT INTO orders (
                user_id, 
                store_id,
                address_id,
                billinginfo_id,
                order_item_id,
                sub_total,
                tip,
                coupon_code,
                total,
                tax,
                delivery,
                date, 
                manual_discount,
                time, 
                authorizenet_transaction_id, 
                order_date 
                
                
            ) VALUES (1161,  
 12,  
 913 , 
 '1248' , 
 '14491' , 
'14' ,
'2' ,
'', 
'17.24', 
'1.24', 
1, 
'2017-10-17 14:07:51', 
'0', 
'0', 
'40007749737', 
'2017-10-17 14:07:52'           )
</i></p></td></tr>
<tr class='next-row'><td><h2>BUILT build_sql_for_orders_table</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>
INSERT INTO orders (
                user_id, 
                store_id,
                address_id,
                billinginfo_id,
                order_item_id,
                sub_total,
                tip,
                coupon_code,
                total,
                tax,
                delivery,
                date, 
                manual_discount,
                time, 
                authorizenet_transaction_id, 
                order_date 
                
                
            ) VALUES (1161,  
 12,  
 913 , 
 '1248' , 
 '14491' , 
'14' ,
'2' ,
'', 
'17.24', 
'1.24', 
1, 
'2017-10-17 14:07:51', 
'0', 
'0', 
'40007749737', 
'2017-10-17 14:07:52'           )
</td</tr>
    <tr class='value-row'><td class='var-name'>1</td><td> array (
  'mealname' => '',
  'store_id' => '12',
  'address_id' => '913',
  'order_item_id' => '14491',
  'total' => '17.24',
  'tax' => '1.24',
  'delivery' => '1',
  'date' => 'Tue, Oct 17, 2017',
  'time' => '12:00',
  'now_or_specific' => 'now',
  'credit_card_id' => '1248',
  'coupon_code' => '',
  'tip' => '2',
  'sub_total' => '14',
  'off_amount' => '',
  'credit_card' => '',
  'cvv' => '',
  'exp_mth' => '01',
  'exp_yr' => '2017',
  '_card_number_auth' => '',
  '_expiry_month_auth' => '',
  '_expiry_year_auth' => '',
  'user_id' => '1161',
  'application' => 'Mobile',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
  'customerProfileId' => '1501419903',
  'customerPaymentProfileId' => '1501301956',
  'customerShippingAddressId' => '1501331116',
)</td></tr>    <tr class='name-row'><td class='var-name'>2</td><td>40007749737</td</tr>
    <tr class='value-row'><td class='var-name'>3</td><td> array (
  'date' => '\'2017-10-17 14:07:51\'',
  'time' => 0,
)</td></tr></table><tr class='next-row'><td><h2>add_the_order_to_database</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>3306</td</tr>
    <tr class='name-row'><td class='var-name'>1</td><td>
INSERT INTO orders (
                user_id, 
                store_id,
                address_id,
                billinginfo_id,
                order_item_id,
                sub_total,
                tip,
                coupon_code,
                total,
                tax,
                delivery,
                date, 
                manual_discount,
                time, 
                authorizenet_transaction_id, 
                order_date 
                
                
            ) VALUES (1161,  
 12,  
 913 , 
 '1248' , 
 '14491' , 
'14' ,
'2' ,
'', 
'17.24', 
'1.24', 
1, 
'2017-10-17 14:07:51', 
'0', 
'0', 
'40007749737', 
'2017-10-17 14:07:52'           )
</td</tr>
</table><tr class='next-row'><td><h2>insert_order_id_with_offset</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>3306</td</tr>
    <tr class='name-row'><td class='var-name'>1</td><td>11103306</td</tr>
</table><tr class='next-row'><td><h2>save_meal_name</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>3306</td</tr>
    <tr class='value-row'><td class='var-name'>1</td><td> array (
  'mealname' => '',
  'store_id' => '12',
  'address_id' => '913',
  'order_item_id' => '14491',
  'total' => '17.24',
  'tax' => '1.24',
  'delivery' => '1',
  'date' => 'Tue, Oct 17, 2017',
  'time' => '12:00',
  'now_or_specific' => 'now',
  'credit_card_id' => '1248',
  'coupon_code' => '',
  'tip' => '2',
  'sub_total' => '14',
  'off_amount' => '',
  'credit_card' => '',
  'cvv' => '',
  'exp_mth' => '01',
  'exp_yr' => '2017',
  '_card_number_auth' => '',
  '_expiry_month_auth' => '',
  '_expiry_year_auth' => '',
  'user_id' => '1161',
  'application' => 'Mobile',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
  'customerProfileId' => '1501419903',
  'customerPaymentProfileId' => '1501301956',
  'customerShippingAddressId' => '1501331116',
)</td></tr></table><tr class='next-row'><td><h2>explode_order_items</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>14491</td</tr>
    <tr class='value-row'><td class='var-name'>1</td><td> array (
  'mealname' => '',
  'store_id' => '12',
  'address_id' => '913',
  'order_item_id' => '14491',
  'total' => '17.24',
  'tax' => '1.24',
  'delivery' => '1',
  'date' => 'Tue, Oct 17, 2017',
  'time' => '12:00',
  'now_or_specific' => 'now',
  'credit_card_id' => '1248',
  'coupon_code' => '',
  'tip' => '2',
  'sub_total' => '14',
  'off_amount' => '',
  'credit_card' => '',
  'cvv' => '',
  'exp_mth' => '01',
  'exp_yr' => '2017',
  '_card_number_auth' => '',
  '_expiry_month_auth' => '',
  '_expiry_year_auth' => '',
  'user_id' => '1161',
  'application' => 'Mobile',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
  'customerProfileId' => '1501419903',
  'customerPaymentProfileId' => '1501301956',
  'customerShippingAddressId' => '1501331116',
)</td></tr></table><tr class='next-row'><td><h2>SQL> set_order_items_to_order_id</h2><p class='sql-str'>
<i>UPDATE orders_items SET ordered = 1, orderid = 3306 WHERE order_item_id IN ( 14491 )</i></p></td></tr>
<tr class='next-row'><td><h2>set_order_items_to_order_id</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>3306</td</tr>
    <tr class='name-row'><td class='var-name'>1</td><td>14491</td</tr>
</table><tr class='next-row'><td><h2>SQL> increment_sandwich_count</h2><p class='sql-str'>
<i>UPDATE `user_sandwich_data` SET purchase_count = purchase_count + 1 
                    WHERE id IN (SELECT item_id FROM orders_items WHERE item_type='user_sandwich' AND order_item_id IN ( 14491 ) )</i></p></td></tr>
<tr class='next-row'><td><h2>increment_sandwich_count</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>3306</td</tr>
    <tr class='name-row'><td class='var-name'>1</td><td>14491</td</tr>
</table><tr class='next-row'><td><h2>ORDER COMPLETE: </h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>11103306</td</tr>
</table><tr class='next-row'><td><h2>COMPLETED RUN</h2><p class='func-name'>do_controller_action:67</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='value-row'><td class='var-name'>0</td><td> array (
  'mealname' => '',
  'store_id' => '12',
  'address_id' => '913',
  'order_item_id' => '14491',
  'total' => '17.24',
  'tax' => '1.24',
  'delivery' => '1',
  'date' => 'Tue%2C+Oct+17%2C+2017',
  'time' => '12%3A00',
  'now_or_specific' => 'now',
  'credit_card_id' => '1248',
  'coupon_code' => '',
  'tip' => '2',
  'sub_total' => '14',
  'off_amount' => '',
  'credit_card' => '',
  'cvv' => '',
  'exp_mth' => '01',
  'exp_yr' => '2017',
  '_card_number_auth' => '',
  '_expiry_month_auth' => '',
  '_expiry_year_auth' => '',
  'user_id' => '1161',
  'application' => 'Mobile',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
)</td></tr>    <tr class='name-row'><td class='var-name'>1</td><td>do_order</td</tr>
    <tr class='name-row'><td class='var-name'>2</td><td>11103306</td</tr>
</table><tr class='next-row'><td><h2>TRANSACTION LOGGING SUCCESS; Transaction log ID: 548</h2><p class='func-name'>do_controller_action:67</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>11103306</td</tr>
</table><tr class='next-row'><td><h2>FINSH - 200 </h2><p class='func-name'>do_controller_action:67</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>{"response":{"status_code":"200","message":"OK"},"data":"11103306"}</td</tr>
</table></table>

<table>
<tr><td><h1>'do_order'</h1></td></tr>
<tr><td>17-10-17 02:09:40pm</td></tr>
<tr><td><h3>POST</h3><p>array (
  'mealname' => '',
  'store_id' => '12',
  'address_id' => '913',
  'order_item_id' => '14493%3A14494',
  'total' => '23.69',
  'tax' => '1.69',
  'delivery' => '1',
  'date' => 'Tue%2C+Oct+17%2C+2017',
  'time' => '12%3A00',
  'now_or_specific' => 'now',
  'credit_card_id' => '1248',
  'coupon_code' => '',
  'tip' => '3',
  'sub_total' => '19',
  'off_amount' => '',
  'credit_card' => '',
  'cvv' => '',
  'exp_mth' => '01',
  'exp_yr' => '2017',
  '_card_number_auth' => '',
  '_expiry_month_auth' => '',
  '_expiry_year_auth' => '',
  'user_id' => '1161',
  'application' => 'Mobile',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
)</p></td></tr><tr class='next-row'><td><h2>RUNNING COMMAND</h2><p class='func-name'>do_controller_action:67</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='value-row'><td class='var-name'>0</td><td> array (
  'mealname' => '',
  'store_id' => '12',
  'address_id' => '913',
  'order_item_id' => '14493%3A14494',
  'total' => '23.69',
  'tax' => '1.69',
  'delivery' => '1',
  'date' => 'Tue%2C+Oct+17%2C+2017',
  'time' => '12%3A00',
  'now_or_specific' => 'now',
  'credit_card_id' => '1248',
  'coupon_code' => '',
  'tip' => '3',
  'sub_total' => '19',
  'off_amount' => '',
  'credit_card' => '',
  'cvv' => '',
  'exp_mth' => '01',
  'exp_yr' => '2017',
  '_card_number_auth' => '',
  '_expiry_month_auth' => '',
  '_expiry_year_auth' => '',
  'user_id' => '1161',
  'application' => 'Mobile',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
)</td></tr>    <tr class='name-row'><td class='var-name'>1</td><td>do_order</td</tr>
</table><tr class='next-row'><td><h2>ENTER DO_ORDER</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='value-row'><td class='var-name'>0</td><td> array (
  'mealname' => '',
  'store_id' => '12',
  'address_id' => '913',
  'order_item_id' => '14493:14494',
  'total' => '23.69',
  'tax' => '1.69',
  'delivery' => '1',
  'date' => 'Tue, Oct 17, 2017',
  'time' => '12:00',
  'now_or_specific' => 'now',
  'credit_card_id' => '1248',
  'coupon_code' => '',
  'tip' => '3',
  'sub_total' => '19',
  'off_amount' => '',
  'credit_card' => '',
  'cvv' => '',
  'exp_mth' => '01',
  'exp_yr' => '2017',
  '_card_number_auth' => '',
  '_expiry_month_auth' => '',
  '_expiry_year_auth' => '',
  'user_id' => '1161',
  'application' => 'Mobile',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
)</td></tr></table><tr class='next-row'><td><h2>AUTH NUMS: paymentID:  1501301956; shippingID: 1501331116; userID: 1501419903 </h2><p class='func-name'>prepare_post_for_purchase:849</p></td></tr>
<tr class='next-row'><td><h2>PREPARING TO DO TRANSACTION</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='value-row'><td class='var-name'>0</td><td> array (
  'mealname' => '',
  'store_id' => '12',
  'address_id' => '913',
  'order_item_id' => '14493:14494',
  'total' => '23.69',
  'tax' => '1.69',
  'delivery' => '1',
  'date' => 'Tue, Oct 17, 2017',
  'time' => '12:00',
  'now_or_specific' => 'now',
  'credit_card_id' => '1248',
  'coupon_code' => '',
  'tip' => '3',
  'sub_total' => '19',
  'off_amount' => '',
  'credit_card' => '',
  'cvv' => '',
  'exp_mth' => '01',
  'exp_yr' => '2017',
  '_card_number_auth' => '',
  '_expiry_month_auth' => '',
  '_expiry_year_auth' => '',
  'user_id' => '1161',
  'application' => 'Mobile',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
  'customerProfileId' => '1501419903',
  'customerPaymentProfileId' => '1501301956',
  'customerShippingAddressId' => '1501331116',
)</td></tr></table><tr class='next-row'><td><h2>FINISHED TRANSACTION</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>40007749783</td</tr>
    <tr class='value-row'><td class='var-name'>1</td><td> array (
  0 => 
  array (
    'item_id' => '3982',
    'item_qty' => '1',
    'item_price' => '9.00',
    'sandwich_name' => 'DAN\'S SALAMI PHENOMENON',
    'description' => ' ',
  ),
  1 => 
  array (
    'item_id' => '3973',
    'item_qty' => '1',
    'item_price' => '10.00',
    'sandwich_name' => 'DAN\'S PROSCIUTTO SPECTACLE',
    'description' => ' ',
  ),
)</td></tr></table><tr class='next-row'><td><h2>SQL> build_sql_for_orders_table</h2><p class='sql-str'>
<i>
INSERT INTO orders (
                user_id, 
                store_id,
                address_id,
                billinginfo_id,
                order_item_id,
                sub_total,
                tip,
                coupon_code,
                total,
                tax,
                delivery,
                date, 
                manual_discount,
                time, 
                authorizenet_transaction_id, 
                order_date 
                
                
            ) VALUES (1161,  
 12,  
 913 , 
 '1248' , 
 '14493:14494' , 
'19' ,
'3' ,
'', 
'23.69', 
'1.69', 
1, 
'2017-10-17 14:09:40', 
'0', 
'0', 
'40007749783', 
'2017-10-17 14:09:41'           )
</i></p></td></tr>
<tr class='next-row'><td><h2>BUILT build_sql_for_orders_table</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>
INSERT INTO orders (
                user_id, 
                store_id,
                address_id,
                billinginfo_id,
                order_item_id,
                sub_total,
                tip,
                coupon_code,
                total,
                tax,
                delivery,
                date, 
                manual_discount,
                time, 
                authorizenet_transaction_id, 
                order_date 
                
                
            ) VALUES (1161,  
 12,  
 913 , 
 '1248' , 
 '14493:14494' , 
'19' ,
'3' ,
'', 
'23.69', 
'1.69', 
1, 
'2017-10-17 14:09:40', 
'0', 
'0', 
'40007749783', 
'2017-10-17 14:09:41'           )
</td</tr>
    <tr class='value-row'><td class='var-name'>1</td><td> array (
  'mealname' => '',
  'store_id' => '12',
  'address_id' => '913',
  'order_item_id' => '14493:14494',
  'total' => '23.69',
  'tax' => '1.69',
  'delivery' => '1',
  'date' => 'Tue, Oct 17, 2017',
  'time' => '12:00',
  'now_or_specific' => 'now',
  'credit_card_id' => '1248',
  'coupon_code' => '',
  'tip' => '3',
  'sub_total' => '19',
  'off_amount' => '',
  'credit_card' => '',
  'cvv' => '',
  'exp_mth' => '01',
  'exp_yr' => '2017',
  '_card_number_auth' => '',
  '_expiry_month_auth' => '',
  '_expiry_year_auth' => '',
  'user_id' => '1161',
  'application' => 'Mobile',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
  'customerProfileId' => '1501419903',
  'customerPaymentProfileId' => '1501301956',
  'customerShippingAddressId' => '1501331116',
)</td></tr>    <tr class='name-row'><td class='var-name'>2</td><td>40007749783</td</tr>
    <tr class='value-row'><td class='var-name'>3</td><td> array (
  'date' => '\'2017-10-17 14:09:40\'',
  'time' => 0,
)</td></tr></table><tr class='next-row'><td><h2>add_the_order_to_database</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>3307</td</tr>
    <tr class='name-row'><td class='var-name'>1</td><td>
INSERT INTO orders (
                user_id, 
                store_id,
                address_id,
                billinginfo_id,
                order_item_id,
                sub_total,
                tip,
                coupon_code,
                total,
                tax,
                delivery,
                date, 
                manual_discount,
                time, 
                authorizenet_transaction_id, 
                order_date 
                
                
            ) VALUES (1161,  
 12,  
 913 , 
 '1248' , 
 '14493:14494' , 
'19' ,
'3' ,
'', 
'23.69', 
'1.69', 
1, 
'2017-10-17 14:09:40', 
'0', 
'0', 
'40007749783', 
'2017-10-17 14:09:41'           )
</td</tr>
</table><tr class='next-row'><td><h2>insert_order_id_with_offset</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>3307</td</tr>
    <tr class='name-row'><td class='var-name'>1</td><td>11103307</td</tr>
</table><tr class='next-row'><td><h2>save_meal_name</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>3307</td</tr>
    <tr class='value-row'><td class='var-name'>1</td><td> array (
  'mealname' => '',
  'store_id' => '12',
  'address_id' => '913',
  'order_item_id' => '14493:14494',
  'total' => '23.69',
  'tax' => '1.69',
  'delivery' => '1',
  'date' => 'Tue, Oct 17, 2017',
  'time' => '12:00',
  'now_or_specific' => 'now',
  'credit_card_id' => '1248',
  'coupon_code' => '',
  'tip' => '3',
  'sub_total' => '19',
  'off_amount' => '',
  'credit_card' => '',
  'cvv' => '',
  'exp_mth' => '01',
  'exp_yr' => '2017',
  '_card_number_auth' => '',
  '_expiry_month_auth' => '',
  '_expiry_year_auth' => '',
  'user_id' => '1161',
  'application' => 'Mobile',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
  'customerProfileId' => '1501419903',
  'customerPaymentProfileId' => '1501301956',
  'customerShippingAddressId' => '1501331116',
)</td></tr></table><tr class='next-row'><td><h2>explode_order_items</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>14493,14494</td</tr>
    <tr class='value-row'><td class='var-name'>1</td><td> array (
  'mealname' => '',
  'store_id' => '12',
  'address_id' => '913',
  'order_item_id' => '14493:14494',
  'total' => '23.69',
  'tax' => '1.69',
  'delivery' => '1',
  'date' => 'Tue, Oct 17, 2017',
  'time' => '12:00',
  'now_or_specific' => 'now',
  'credit_card_id' => '1248',
  'coupon_code' => '',
  'tip' => '3',
  'sub_total' => '19',
  'off_amount' => '',
  'credit_card' => '',
  'cvv' => '',
  'exp_mth' => '01',
  'exp_yr' => '2017',
  '_card_number_auth' => '',
  '_expiry_month_auth' => '',
  '_expiry_year_auth' => '',
  'user_id' => '1161',
  'application' => 'Mobile',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
  'customerProfileId' => '1501419903',
  'customerPaymentProfileId' => '1501301956',
  'customerShippingAddressId' => '1501331116',
)</td></tr></table><tr class='next-row'><td><h2>SQL> set_order_items_to_order_id</h2><p class='sql-str'>
<i>UPDATE orders_items SET ordered = 1, orderid = 3307 WHERE order_item_id IN ( 14493,14494 )</i></p></td></tr>
<tr class='next-row'><td><h2>set_order_items_to_order_id</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>3307</td</tr>
    <tr class='name-row'><td class='var-name'>1</td><td>14493,14494</td</tr>
</table><tr class='next-row'><td><h2>SQL> increment_sandwich_count</h2><p class='sql-str'>
<i>UPDATE `user_sandwich_data` SET purchase_count = purchase_count + 1 
                    WHERE id IN (SELECT item_id FROM orders_items WHERE item_type='user_sandwich' AND order_item_id IN ( 14493,14494 ) )</i></p></td></tr>
<tr class='next-row'><td><h2>increment_sandwich_count</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>3307</td</tr>
    <tr class='name-row'><td class='var-name'>1</td><td>14493,14494</td</tr>
</table><tr class='next-row'><td><h2>ORDER COMPLETE: </h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>11103307</td</tr>
</table><tr class='next-row'><td><h2>COMPLETED RUN</h2><p class='func-name'>do_controller_action:67</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='value-row'><td class='var-name'>0</td><td> array (
  'mealname' => '',
  'store_id' => '12',
  'address_id' => '913',
  'order_item_id' => '14493%3A14494',
  'total' => '23.69',
  'tax' => '1.69',
  'delivery' => '1',
  'date' => 'Tue%2C+Oct+17%2C+2017',
  'time' => '12%3A00',
  'now_or_specific' => 'now',
  'credit_card_id' => '1248',
  'coupon_code' => '',
  'tip' => '3',
  'sub_total' => '19',
  'off_amount' => '',
  'credit_card' => '',
  'cvv' => '',
  'exp_mth' => '01',
  'exp_yr' => '2017',
  '_card_number_auth' => '',
  '_expiry_month_auth' => '',
  '_expiry_year_auth' => '',
  'user_id' => '1161',
  'application' => 'Mobile',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
)</td></tr>    <tr class='name-row'><td class='var-name'>1</td><td>do_order</td</tr>
    <tr class='name-row'><td class='var-name'>2</td><td>11103307</td</tr>
</table><tr class='next-row'><td><h2>TRANSACTION LOGGING SUCCESS; Transaction log ID: 549</h2><p class='func-name'>do_controller_action:67</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>11103307</td</tr>
</table><tr class='next-row'><td><h2>FINSH - 200 </h2><p class='func-name'>do_controller_action:67</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>{"response":{"status_code":"200","message":"OK"},"data":"11103307"}</td</tr>
</table></table>

