<head> <LINK href='superlog.css' rel='stylesheet' ></head>
<table>
<tr><td><h1>'cardAddEditEvent_wrapped'</h1></td></tr>
<tr><td>17-10-18 03:21:02pm</td></tr>
<tr><td><h3>POST</h3><p>array (
  'card_number' => '4111111111111111',
  'card_cvv' => '123',
  'card_type' => 'visa',
  'expire_month' => '03',
  'expire_year' => '2019',
  'card_zip' => '07430',
  'id' => '1194',
  'uid' => '17',
  'display_dropdown' => '1',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
)</p></td></tr><tr class='next-row'><td><h2>RUNNING COMMAND</h2><p class='func-name'>do_controller_action:36</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='value-row'><td class='var-name'>0</td><td> array (
  'card_number' => '4111111111111111',
  'card_cvv' => '123',
  'card_type' => 'visa',
  'expire_month' => '03',
  'expire_year' => '2019',
  'card_zip' => '07430',
  'id' => '1194',
  'uid' => '17',
  'display_dropdown' => '1',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
)</td></tr>    <tr class='name-row'><td class='var-name'>1</td><td>cardAddEditEvent_wrapped</td</tr>
</table><tr class='next-row'><td><h2>Card Add Edit Event</h2><p class='func-name'>cardAddEditEvent_wrapped:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='value-row'><td class='var-name'>0</td><td> array (
  'card_number' => '4111111111111111',
  'card_cvv' => '123',
  'card_type' => 'visa',
  'expire_month' => '03',
  'expire_year' => '2019',
  'card_zip' => '07430',
  'id' => '1194',
  'uid' => '17',
  'display_dropdown' => '1',
)</td></tr></table><tr class='next-row'><td><h2>Attempting to get Customer profile ID</h2><p class='func-name'>cardAddEditEvent_wrapped:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>1811893258</td</tr>
</table><tr class='next-row'><td><h2>cardAddEditEvent_create_or_update_card</h2><p class='func-name'>cardAddEditEvent_create_or_update_card:353</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>1811893258</td</tr>
    <tr class='value-row'><td class='var-name'>1</td><td> array (
  'card_number' => '4111111111111111',
  'card_cvv' => '123',
  'card_type' => 'visa',
  'expire_month' => '03',
  'expire_year' => '2019',
  'card_zip' => '07430',
  'id' => '1194',
  'uid' => '17',
  'display_dropdown' => '1',
)</td></tr>    <tr class='value-row'><td class='var-name'>2</td><td> array (
  'phone' => '000-000-0000',
  'name' => 'mario',
  'last_name' => 'cortess',
  'company' => ' ',
  'zip' => '07430',
  'address1' => '',
  'address2' => '',
)</td></tr></table><tr class='next-row'><td><h2>Has ID so card exists. Payment Profile: </h2><p class='func-name'>cardAddEditEvent_create_or_update_card:353</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>0</td</tr>
</table><tr class='next-row'><td><h2>EXCEPTION: CustomExceptionApi; LOG ID:  $transaction_log_id; </h2><p class='func-name'>do_controller_action:36</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>CODE: 1200; AuthorizeNet Error: E00042 - You cannot add more than 10 payment profiles.</td</tr>
</table><tr class='next-row'><td><h2>FAIL-API - 204 </h2><p class='func-name'>do_controller_action:36</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>{"response":{"status_code":"204","message":"FAIL-API: 1200"},"data":"AuthorizeNet Error: E00042 - You cannot add more than 10 payment profiles."}</td</tr>
</table>