<head> <LINK href='superlog.css' rel='stylesheet' ></head>
<table>
<tr><td><h1>'cardRemoveEvent_wrapped'</h1></td></tr>
<tr><td>17-10-18 03:20:32pm</td></tr>
<tr><td><h3>POST</h3><p>array (
  'id' => '1194',
  'uid' => '17',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
)</p></td></tr><tr class='next-row'><td><h2>RUNNING COMMAND</h2><p class='func-name'>do_controller_action:56</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='value-row'><td class='var-name'>0</td><td> array (
  'id' => '1194',
  'uid' => '17',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
)</td></tr>    <tr class='name-row'><td class='var-name'>1</td><td>cardRemoveEvent_wrapped</td</tr>
</table><tr class='next-row'><td><h2>cardRemoveEvent_wrapped</h2><p class='func-name'>cardRemoveEvent_wrapped:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='value-row'><td class='var-name'>0</td><td> array (
  'id' => '1194',
  'uid' => '17',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
)</td></tr></table><tr class='next-row'><td><h2>SQL> cardRemoveEvent_wrapped</h2><p class='sql-str'>
<i>SELECT * FROM order_billinginfo WHERE id= 1194 </i></p></td></tr>
<tr class='next-row'><td><h2>SQL> get User information</h2><p class='sql-str'>
<i>SELECT * FROM users WHERE uid = 17 </i></p></td></tr>
<tr class='next-row'><td><h2>Delete </h2><p class='func-name'>cardRemoveEvent_wrapped:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='value-row'><td class='var-name'>0</td><td> array (
  'customerPaymentProfileId' => '0',
  'customerProfileId' => '1811893258',
)</td></tr></table><tr class='next-row'><td><h2>EXCEPTION: CustomExceptionApi; LOG ID:  $transaction_log_id; </h2><p class='func-name'>do_controller_action:56</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>CODE: 1200; AuthorizeNet Error: E00013 - Payment Profile ID is invalid.</td</tr>
</table><tr class='next-row'><td><h2>FAIL-API - 204 </h2><p class='func-name'>do_controller_action:56</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>{"response":{"status_code":"204","message":"FAIL-API: 1200"},"data":"AuthorizeNet Error: E00013 - Payment Profile ID is invalid."}</td</tr>
</table>