<head> <LINK href='superlog.css' rel='stylesheet' ></head>
<table>
<tr><td><h1>'do_order'</h1></td></tr>
<tr><td>17-09-14 06:02:54pm</td></tr>
<tr><td><h3>POST</h3><p>array (
  'store_id' => '12',
  'address_id' => '962',
  'order_item_id' => '14371%3A14373%3A14374%3A14375%3A14376',
  'total' => '81.86',
  'tax' => '5.86',
  'delivery' => '1',
  'date' => 'Mon%2C+Sep+18%2C+2017',
  'time' => '08%3A00',
  'now_or_specific' => 'specific',
  'credit_card_id' => '1306',
  'tip' => '10',
  'sub_total' => '66',
  'credit_card' => '4111111111111111',
  'cvv' => '100',
  'exp_mth' => '01',
  'exp_yr' => '2021',
  '_card_number_auth' => '4111111111111111',
  '_expiry_month_auth' => '01',
  '_expiry_year_auth' => '2021',
  'user_id' => '1187',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
)</p></td></tr><tr class='next-row'><td><h2>RUNNING COMMAND</h2><p class='func-name'>do_controller_action:67</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='value-row'><td class='var-name'>0</td><td> array (
  'store_id' => '12',
  'address_id' => '962',
  'order_item_id' => '14371%3A14373%3A14374%3A14375%3A14376',
  'total' => '81.86',
  'tax' => '5.86',
  'delivery' => '1',
  'date' => 'Mon%2C+Sep+18%2C+2017',
  'time' => '08%3A00',
  'now_or_specific' => 'specific',
  'credit_card_id' => '1306',
  'tip' => '10',
  'sub_total' => '66',
  'credit_card' => '4111111111111111',
  'cvv' => '100',
  'exp_mth' => '01',
  'exp_yr' => '2021',
  '_card_number_auth' => '4111111111111111',
  '_expiry_month_auth' => '01',
  '_expiry_year_auth' => '2021',
  'user_id' => '1187',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
)</td></tr>    <tr class='name-row'><td class='var-name'>1</td><td>do_order</td</tr>
</table><tr class='next-row'><td><h2>ENTER DO_ORDER</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='value-row'><td class='var-name'>0</td><td> array (
  'store_id' => '12',
  'address_id' => '962',
  'order_item_id' => '14371:14373:14374:14375:14376',
  'total' => '81.86',
  'tax' => '5.86',
  'delivery' => '1',
  'date' => 'Mon, Sep 18, 2017',
  'time' => '08:00',
  'now_or_specific' => 'specific',
  'credit_card_id' => '1306',
  'tip' => '10',
  'sub_total' => '66',
  'credit_card' => '4111111111111111',
  'cvv' => '100',
  'exp_mth' => '01',
  'exp_yr' => '2021',
  '_card_number_auth' => '4111111111111111',
  '_expiry_month_auth' => '01',
  '_expiry_year_auth' => '2021',
  'user_id' => '1187',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
)</td></tr></table><tr class='next-row'><td><h2>AUTH NUMS: paymentID:  1501961765; shippingID: 1501358218; userID: 1501806312 </h2><p class='func-name'>prepare_post_for_purchase:849</p></td></tr>
<tr class='next-row'><td><h2>PREPARING TO DO TRANSACTION</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='value-row'><td class='var-name'>0</td><td> array (
  'store_id' => '12',
  'address_id' => '962',
  'order_item_id' => '14371:14373:14374:14375:14376',
  'total' => '81.86',
  'tax' => '5.86',
  'delivery' => '1',
  'date' => 'Mon, Sep 18, 2017',
  'time' => '08:00',
  'now_or_specific' => 'specific',
  'credit_card_id' => '1306',
  'tip' => '10',
  'sub_total' => '66',
  'credit_card' => '4111111111111111',
  'cvv' => '100',
  'exp_mth' => '01',
  'exp_yr' => '2021',
  '_card_number_auth' => '4111111111111111',
  '_expiry_month_auth' => '01',
  '_expiry_year_auth' => '2021',
  'user_id' => '1187',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
  'customerProfileId' => '1501806312',
  'customerPaymentProfileId' => '1501961765',
  'customerShippingAddressId' => '1501358218',
)</td></tr></table><tr class='next-row'><td><h2>FINISHED TRANSACTION</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>40007108427</td</tr>
    <tr class='value-row'><td class='var-name'>1</td><td> array (
  0 => 
  array (
    'item_id' => '4124',
    'item_qty' => '2',
    'item_price' => '10.00',
    'sandwich_name' => 'MARIO\'S PEPPERONI GEM',
    'description' => ' ',
  ),
  1 => 
  array (
    'item_id' => '4120',
    'item_qty' => '1',
    'item_price' => '9.00',
    'sandwich_name' => 'HAM &amp; SALAMI TWERK',
    'description' => ' ',
  ),
  2 => 
  array (
    'item_id' => '4121',
    'item_qty' => '1',
    'item_price' => '13.50',
    'sandwich_name' => 'MARIO\'S PROTEIN INFLUENCE',
    'description' => ' ',
  ),
  3 => 
  array (
    'item_id' => '4118',
    'item_qty' => '1',
    'item_price' => '10.00',
    'sandwich_name' => 'MARIO\'S TURKEY EFFECT',
    'description' => ' ',
  ),
  4 => 
  array (
    'item_id' => '4117',
    'item_qty' => '1',
    'item_price' => '13.50',
    'sandwich_name' => 'MARIO\'S PROTEIN ATTRACTION',
    'description' => ' ',
  ),
)</td></tr></table><tr class='next-row'><td><h2>SQL> build_sql_for_orders_table</h2><p class='sql-str'>
<i>
INSERT INTO orders (
                user_id, 
                store_id,
                address_id,
                billinginfo_id,
                order_item_id,
                sub_total,
                tip,
                coupon_code,
                total,
                tax,
                delivery,
                date, 
                manual_discount,
                time, 
                authorizenet_transaction_id, 
                order_date 
                
                
            ) VALUES (1187,  
 12,  
 962 , 
 '1306' , 
 '14371:14373:14374:14375:14376' , 
'66' ,
'10' ,
'', 
'81.86', 
'5.86', 
1, 
'2017-09-18 08:00:00', 
'0', 
'1', 
'40007108427', 
'2017-09-14 18:02:56'           )
</i></p></td></tr>
<tr class='next-row'><td><h2>BUILT build_sql_for_orders_table</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>
INSERT INTO orders (
                user_id, 
                store_id,
                address_id,
                billinginfo_id,
                order_item_id,
                sub_total,
                tip,
                coupon_code,
                total,
                tax,
                delivery,
                date, 
                manual_discount,
                time, 
                authorizenet_transaction_id, 
                order_date 
                
                
            ) VALUES (1187,  
 12,  
 962 , 
 '1306' , 
 '14371:14373:14374:14375:14376' , 
'66' ,
'10' ,
'', 
'81.86', 
'5.86', 
1, 
'2017-09-18 08:00:00', 
'0', 
'1', 
'40007108427', 
'2017-09-14 18:02:56'           )
</td</tr>
    <tr class='value-row'><td class='var-name'>1</td><td> array (
  'store_id' => '12',
  'address_id' => '962',
  'order_item_id' => '14371:14373:14374:14375:14376',
  'total' => '81.86',
  'tax' => '5.86',
  'delivery' => '1',
  'date' => 'Mon, Sep 18, 2017',
  'time' => '08:00',
  'now_or_specific' => 'specific',
  'credit_card_id' => '1306',
  'tip' => '10',
  'sub_total' => '66',
  'credit_card' => '4111111111111111',
  'cvv' => '100',
  'exp_mth' => '01',
  'exp_yr' => '2021',
  '_card_number_auth' => '4111111111111111',
  '_expiry_month_auth' => '01',
  '_expiry_year_auth' => '2021',
  'user_id' => '1187',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
  'customerProfileId' => '1501806312',
  'customerPaymentProfileId' => '1501961765',
  'customerShippingAddressId' => '1501358218',
)</td></tr>    <tr class='name-row'><td class='var-name'>2</td><td>40007108427</td</tr>
    <tr class='value-row'><td class='var-name'>3</td><td> array (
  'date' => '\'2017-09-18 08:00:00\'',
  'time' => 1,
)</td></tr></table><tr class='next-row'><td><h2>add_the_order_to_database</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>3274</td</tr>
    <tr class='name-row'><td class='var-name'>1</td><td>
INSERT INTO orders (
                user_id, 
                store_id,
                address_id,
                billinginfo_id,
                order_item_id,
                sub_total,
                tip,
                coupon_code,
                total,
                tax,
                delivery,
                date, 
                manual_discount,
                time, 
                authorizenet_transaction_id, 
                order_date 
                
                
            ) VALUES (1187,  
 12,  
 962 , 
 '1306' , 
 '14371:14373:14374:14375:14376' , 
'66' ,
'10' ,
'', 
'81.86', 
'5.86', 
1, 
'2017-09-18 08:00:00', 
'0', 
'1', 
'40007108427', 
'2017-09-14 18:02:56'           )
</td</tr>
</table><tr class='next-row'><td><h2>insert_order_id_with_offset</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>3274</td</tr>
    <tr class='name-row'><td class='var-name'>1</td><td>11103274</td</tr>
</table><tr class='next-row'><td><h2>save_meal_name</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>3274</td</tr>
    <tr class='value-row'><td class='var-name'>1</td><td> array (
  'store_id' => '12',
  'address_id' => '962',
  'order_item_id' => '14371:14373:14374:14375:14376',
  'total' => '81.86',
  'tax' => '5.86',
  'delivery' => '1',
  'date' => 'Mon, Sep 18, 2017',
  'time' => '08:00',
  'now_or_specific' => 'specific',
  'credit_card_id' => '1306',
  'tip' => '10',
  'sub_total' => '66',
  'credit_card' => '4111111111111111',
  'cvv' => '100',
  'exp_mth' => '01',
  'exp_yr' => '2021',
  '_card_number_auth' => '4111111111111111',
  '_expiry_month_auth' => '01',
  '_expiry_year_auth' => '2021',
  'user_id' => '1187',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
  'customerProfileId' => '1501806312',
  'customerPaymentProfileId' => '1501961765',
  'customerShippingAddressId' => '1501358218',
)</td></tr></table><tr class='next-row'><td><h2>explode_order_items</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>14371,14373,14374,14375,14376</td</tr>
    <tr class='value-row'><td class='var-name'>1</td><td> array (
  'store_id' => '12',
  'address_id' => '962',
  'order_item_id' => '14371:14373:14374:14375:14376',
  'total' => '81.86',
  'tax' => '5.86',
  'delivery' => '1',
  'date' => 'Mon, Sep 18, 2017',
  'time' => '08:00',
  'now_or_specific' => 'specific',
  'credit_card_id' => '1306',
  'tip' => '10',
  'sub_total' => '66',
  'credit_card' => '4111111111111111',
  'cvv' => '100',
  'exp_mth' => '01',
  'exp_yr' => '2021',
  '_card_number_auth' => '4111111111111111',
  '_expiry_month_auth' => '01',
  '_expiry_year_auth' => '2021',
  'user_id' => '1187',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
  'customerProfileId' => '1501806312',
  'customerPaymentProfileId' => '1501961765',
  'customerShippingAddressId' => '1501358218',
)</td></tr></table><tr class='next-row'><td><h2>SQL> set_order_items_to_order_id</h2><p class='sql-str'>
<i>UPDATE orders_items SET ordered = 1, orderid = 3274 WHERE order_item_id IN ( 14371,14373,14374,14375,14376 )</i></p></td></tr>
<tr class='next-row'><td><h2>set_order_items_to_order_id</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>3274</td</tr>
    <tr class='name-row'><td class='var-name'>1</td><td>14371,14373,14374,14375,14376</td</tr>
</table><tr class='next-row'><td><h2>SQL> increment_sandwich_count</h2><p class='sql-str'>
<i>UPDATE `user_sandwich_data` SET purchase_count = purchase_count + 1 
                    WHERE id IN (SELECT item_id FROM orders_items WHERE item_type='user_sandwich' AND order_item_id IN ( 14371,14373,14374,14375,14376 ) )</i></p></td></tr>
<tr class='next-row'><td><h2>increment_sandwich_count</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>3274</td</tr>
    <tr class='name-row'><td class='var-name'>1</td><td>14371,14373,14374,14375,14376</td</tr>
</table><tr class='next-row'><td><h2>ORDER COMPLETE: </h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>11103274</td</tr>
</table><tr class='next-row'><td><h2>COMPLETED RUN</h2><p class='func-name'>do_controller_action:67</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='value-row'><td class='var-name'>0</td><td> array (
  'store_id' => '12',
  'address_id' => '962',
  'order_item_id' => '14371%3A14373%3A14374%3A14375%3A14376',
  'total' => '81.86',
  'tax' => '5.86',
  'delivery' => '1',
  'date' => 'Mon%2C+Sep+18%2C+2017',
  'time' => '08%3A00',
  'now_or_specific' => 'specific',
  'credit_card_id' => '1306',
  'tip' => '10',
  'sub_total' => '66',
  'credit_card' => '4111111111111111',
  'cvv' => '100',
  'exp_mth' => '01',
  'exp_yr' => '2021',
  '_card_number_auth' => '4111111111111111',
  '_expiry_month_auth' => '01',
  '_expiry_year_auth' => '2021',
  'user_id' => '1187',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
)</td></tr>    <tr class='name-row'><td class='var-name'>1</td><td>do_order</td</tr>
    <tr class='name-row'><td class='var-name'>2</td><td>11103274</td</tr>
</table><tr class='next-row'><td><h2>TRANSACTION LOGGING SUCCESS; Transaction log ID: $transaction_log_id</h2><p class='func-name'>do_controller_action:67</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>11103274</td</tr>
</table><tr class='next-row'><td><h2>FINSH - 200 </h2><p class='func-name'>do_controller_action:67</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>{"response":{"status_code":"200","message":"OK"},"data":"11103274"}</td</tr>
</table></table>