<head> <LINK href='superlog.css' rel='stylesheet' ></head>
<table>
<tr><td><h1>'do_order'</h1></td></tr>
<tr><td>17-10-18 03:20:20pm</td></tr>
<tr><td><h3>POST</h3><p>array (
  'store_id' => '12',
  'address_id' => '909',
  'order_item_id' => '14522%3A14523%3A14524%3A14525',
  'total' => '1110.90',
  'tax' => '82.40',
  'delivery' => '1',
  'date' => 'Sat%2C+Oct+21%2C+2017',
  'time' => '12%3A00',
  'now_or_specific' => 'specific',
  'credit_card_id' => '1194',
  'tip' => '100.00',
  'sub_total' => '928.5',
  'credit_card' => 'XXXX-XXXX-XXXX-1111',
  'cvv' => '',
  'exp_mth' => '03',
  'exp_yr' => '2019',
  '_card_number_auth' => '',
  '_expiry_month_auth' => '',
  '_expiry_year_auth' => '',
  'user_id' => '17',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
)</p></td></tr><tr class='next-row'><td><h2>RUNNING COMMAND</h2><p class='func-name'>do_controller_action:67</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='value-row'><td class='var-name'>0</td><td> array (
  'store_id' => '12',
  'address_id' => '909',
  'order_item_id' => '14522%3A14523%3A14524%3A14525',
  'total' => '1110.90',
  'tax' => '82.40',
  'delivery' => '1',
  'date' => 'Sat%2C+Oct+21%2C+2017',
  'time' => '12%3A00',
  'now_or_specific' => 'specific',
  'credit_card_id' => '1194',
  'tip' => '100.00',
  'sub_total' => '928.5',
  'credit_card' => 'XXXX-XXXX-XXXX-1111',
  'cvv' => '',
  'exp_mth' => '03',
  'exp_yr' => '2019',
  '_card_number_auth' => '',
  '_expiry_month_auth' => '',
  '_expiry_year_auth' => '',
  'user_id' => '17',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
)</td></tr>    <tr class='name-row'><td class='var-name'>1</td><td>do_order</td</tr>
</table><tr class='next-row'><td><h2>ENTER DO_ORDER</h2><p class='func-name'>do_order:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='value-row'><td class='var-name'>0</td><td> array (
  'store_id' => '12',
  'address_id' => '909',
  'order_item_id' => '14522:14523:14524:14525',
  'total' => '1110.90',
  'tax' => '82.40',
  'delivery' => '1',
  'date' => 'Sat, Oct 21, 2017',
  'time' => '12:00',
  'now_or_specific' => 'specific',
  'credit_card_id' => '1194',
  'tip' => '100.00',
  'sub_total' => '928.5',
  'credit_card' => 'XXXX-XXXX-XXXX-1111',
  'cvv' => '',
  'exp_mth' => '03',
  'exp_yr' => '2019',
  '_card_number_auth' => '',
  '_expiry_month_auth' => '',
  '_expiry_year_auth' => '',
  'user_id' => '17',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
)</td></tr></table><tr class='next-row'><td><h2>create_payment_profile_id </h2><p class='func-name'>create_payment_profile_id:1014</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>1811893258</td</tr>
    <tr class='value-row'><td class='var-name'>1</td><td> array (
  'store_id' => '12',
  'address_id' => '909',
  'order_item_id' => '14522:14523:14524:14525',
  'total' => '1110.90',
  'tax' => '82.40',
  'delivery' => '1',
  'date' => 'Sat, Oct 21, 2017',
  'time' => '12:00',
  'now_or_specific' => 'specific',
  'credit_card_id' => '1194',
  'tip' => '100.00',
  'sub_total' => '928.5',
  'credit_card' => 'XXXX-XXXX-XXXX-1111',
  'cvv' => '',
  'exp_mth' => '03',
  'exp_yr' => '2019',
  '_card_number_auth' => 'XXXX-XXXX-XXXX-1111',
  '_expiry_month_auth' => '03',
  '_expiry_year_auth' => '2019',
  'user_id' => '17',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
)</td></tr>    <tr class='value-row'><td class='var-name'>2</td><td> array (
  0 => '909',
  'address_id' => '909',
  1 => 'mario cortez',
  'name' => 'mario cortez',
  2 => '',
  'company' => '',
  3 => '455 8ths ave ',
  'address1' => '',
  4 => ' ',
  'address2' => '',
  5 => '',
  'street' => '',
  6 => '10th ave',
  'cross_streets' => '10th ave',
  7 => '212-345-6565',
  'phone' => '212-345-6565',
  8 => '',
  'extn' => '',
  9 => '10001',
  'zip' => '07430',
  10 => '',
  'delivery_instructions' => '',
  11 => '17',
  'uid' => '17',
  12 => '1500940118',
  'authorizenet_shipping_profile_id' => '1500940118',
  13 => '1',
  'status' => '1',
)</td></tr></table><tr class='next-row'><td><h2>createPaymentProfile </h2><p class='func-name'>create_payment_profile_id:1014</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>1811893258</td</tr>
    <tr class='name-row'><td class='var-name'>1</td><td>XXXX-XXXX-XXXX-1111</td</tr>
    <tr class='name-row'><td class='var-name'>2</td><td>03</td</tr>
    <tr class='name-row'><td class='var-name'>3</td><td>2019</td</tr>
    <tr class='value-row'><td class='var-name'>4</td><td> array (
  0 => '909',
  'address_id' => '909',
  1 => 'mario cortez',
  'name' => 'mario cortez',
  2 => '',
  'company' => '',
  3 => '455 8ths ave ',
  'address1' => '',
  4 => ' ',
  'address2' => '',
  5 => '',
  'street' => '',
  6 => '10th ave',
  'cross_streets' => '10th ave',
  7 => '212-345-6565',
  'phone' => '212-345-6565',
  8 => '',
  'extn' => '',
  9 => '10001',
  'zip' => '07430',
  10 => '',
  'delivery_instructions' => '',
  11 => '17',
  'uid' => '17',
  12 => '1500940118',
  'authorizenet_shipping_profile_id' => '1500940118',
  13 => '1',
  'status' => '1',
)</td></tr></table><tr class='next-row'><td><h2>EXCEPTION: TRANSACTION via do_order CustomExceptionApi; LOG ID:  $transaction_log_id; </h2><p class='func-name'>do_controller_action:67</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>CODE: 1200; AuthorizeNet Error: E00013 - Card Number is invalid.</td</tr>
</table><tr class='next-row'><td><h2>FAIL-API - 204 </h2><p class='func-name'>do_controller_action:67</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>{"response":{"status_code":"204","message":"FAIL-API: 1200"},"data":"AuthorizeNet Error: E00013 - Card Number is invalid."}</td</tr>
</table>