<head> <LINK href='superlog.css' rel='stylesheet' ></head>
<table>
<tr><td><h1>'savebillinginfo_wrapped'</h1></td></tr>
<tr><td>17-10-18 04:31:11pm</td></tr>
<tr><td><h3>POST</h3><p>array (
  'card_name' => '',
  'card_no' => '375000000000007',
  'card_type' => 'American+Express',
  'expiry_month' => '01',
  'expiry_year' => '2021',
  'card_zip' => '08820',
  'cvv' => '1234',
  'uid' => '17',
  'crd_id' => '',
  'display_in_menu' => '1',
  'address1' => '',
  'street' => '',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
)</p></td></tr><tr class='next-row'><td><h2>RUNNING COMMAND</h2><p class='func-name'>do_controller_action:46</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='value-row'><td class='var-name'>0</td><td> array (
  'card_name' => '',
  'card_no' => '375000000000007',
  'card_type' => 'American+Express',
  'expiry_month' => '01',
  'expiry_year' => '2021',
  'card_zip' => '08820',
  'cvv' => '1234',
  'uid' => '17',
  'crd_id' => '',
  'display_in_menu' => '1',
  'address1' => '',
  'street' => '',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
)</td></tr>    <tr class='name-row'><td class='var-name'>1</td><td>savebillinginfo_wrapped</td</tr>
</table><tr class='next-row'><td><h2>SAVE BILLING INFO: savebillinginfo_wrapped</h2><p class='func-name'>savebillinginfo_wrapped:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='value-row'><td class='var-name'>0</td><td> array (
  'card_name' => '',
  'card_no' => '375000000000007',
  'card_type' => 'American Express',
  'expiry_month' => '01',
  'expiry_year' => '2021',
  'card_zip' => '08820',
  'cvv' => '1234',
  'uid' => '17',
  'crd_id' => '',
  'display_in_menu' => '1',
  'address1' => '',
  'street' => '',
  'api_username' => 'hashburyuser',
  'api_password' => 'hashburypass',
)</td></tr></table><tr class='next-row'><td><h2>User information and address information</h2><p class='func-name'>savebillinginfo_wrapped:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='value-row'><td class='var-name'>0</td><td> array (
  0 => 'mario',
  'first_name' => 'mario',
  1 => 'cortess',
  'last_name' => 'cortess',
  2 => 'null@null.com',
  'username' => 'null@null.com',
  3 => '1811893258',
  'authorizenet_profile_id' => '1811893258',
  4 => ' ',
  'company' => ' ',
  5 => '000-000-0000',
  'phone' => '000-000-0000',
  'email' => 'null@null.com',
)</td></tr>    <tr class='value-row'><td class='var-name'>1</td><td> array (
  'phone' => '000-000-0000',
  'name' => 'mario',
  'last_name' => 'cortess',
  'company' => ' ',
  'zip' => '08820',
  'address1' => '',
  'address2' => '',
)</td></tr></table><tr class='next-row'><td><h2>Checking Customer Profile ID: 1811893258</h2><p class='func-name'>savebillinginfo_wrapped:113</p></td></tr>
<tr class='next-row'><td><h2>SQL> Getting Credit Card Info</h2><p class='sql-str'>
<i>SELECT * FROM order_billinginfo WHERE uid = '17' AND card_number = 'XXXX-XXXX-XXXX-0007' AND card_type = 'American Express'</i></p></td></tr>
<tr class='next-row'><td><h2>Result of Credit Card Info</h2><p class='func-name'>savebillinginfo_wrapped:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td></td</tr>
</table><tr class='next-row'><td><h2>Creating New Card first then reg with AuthorizeNet;</h2><p class='func-name'>savebillinginfo_wrapped:113</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='value-row'><td class='var-name'>0</td><td> array (
  0 => '375000000000007',
  1 => '01',
  2 => '2021',
)</td></tr></table><tr class='next-row'><td><h2>EXCEPTION: CustomExceptionApi; LOG ID:  $transaction_log_id; </h2><p class='func-name'>do_controller_action:46</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>CODE: 1200; AuthorizeNet Error: E00042 - You cannot add more than 10 payment profiles.</td</tr>
</table><tr class='next-row'><td><h2>FAIL-API - 204 </h2><p class='func-name'>do_controller_action:46</p></td></tr>
<tr><td>
  <table class='param-table'>
    <tr class='name-row'><td class='var-name'>0</td><td>{"response":{"status_code":"204","message":"FAIL-API: 1200"},"data":"AuthorizeNet Error: E00042 - You cannot add more than 10 payment profiles."}</td</tr>
</table>