body {
	font-family:Calibri;
	margin-left:30%;
	margin-right:auto;
	text-align:center;

}

h1{
	font-size:28px;
	color:darkred;
}


h2{
	font-size:18px;
		margin-top:20px;
	margin-bottom:5px;
	margin-left:10px;
}

h3
{
	margin-top:20px;
	margin-bottom:5px;
	margin-left:10px;
}

table{
	  border: 3px solid black;
	  margin-bottom:20px;
	  max-wdith:75%;
	  min-width:75%;
	  width:75%;
}

tr, td {
   border: 1px solid black;
}

table.param-table
{
	margin:5px 20px 5px 20px;
	border:1px solid grey;
		  max-wdith:75%;
	  min-width:75%;
	  width:75%;
}

table.param-table td 
{
	padding:5px;
}

.func-name
{
	margin-left:10px;
	margin-top:0px;
	margin-bottom:5px;
}

p.sql-str
{
	margin-top:4px;
	margin-left:20px;
	margin-bottom:5px;
}