/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";





@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  src: local('Oswald Light'), local('Oswald-Light'), url('../fonts/Oswald300.woff') format('woff');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url('../fonts/Oswald400.woff') format('woff');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  src: local('Oswald Bold'), local('Oswald-Bold'), url('../fonts/Oswald700.woff') format('woff');
}

@font-face {
	font-family: 'Futuramc';
	src: url('../fonts/futuramedium/Futuramc.eot');
	src: local('Futuramc'), url('../fonts/futuramedium/Futuramc.woff') format('woff'), url('../fonts/futuramedium/Futuramc.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url('../fonts/opensans.woff') format('woff');
}


@font-face {
  font-family: 'steelfishextrabold';
  src: url('../fonts/steelfish/steelfish_eb-webfont.eot');
  src: url('../fonts/steelfish/steelfish_eb-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/steelfish/steelfish_eb-webfont.woff2') format('woff2'),
       url('../fonts/steelfish/steelfish_eb-webfont.woff') format('woff'),
       url('../fonts/steelfish/steelfish_eb-webfont.ttf') format('truetype'),
       url('../fonts/steelfish/steelfish_eb-webfont.svg#steelfishextrabold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'oswald_stencilregular';
  src: url('../fonts/oswald-stencil/oswald-stencil-webfont.eot');
  src: url('../fonts/oswald-stencil/oswald-stencil-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/oswald-stencil/oswald-stencil-webfont.woff2') format('woff2'),
       url('../fonts/oswald-stencil/oswald-stencil-webfont.woff') format('woff'),
       url('../fonts/oswald-stencil/oswald-stencil-webfont.ttf') format('truetype'),
       url('../fonts/oswald-stencil/oswald-stencil-webfont.svg#oswald_stencilregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'lobster_1.4regular';
  src: url('../fonts/lobster/lobster_1.4-webfont.eot');
  src: url('../fonts/lobster/lobster_1.4-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/lobster/lobster_1.4-webfont.woff2') format('woff2'),
       url('../fonts/lobster/lobster_1.4-webfont.woff') format('woff'),
       url('../fonts/lobster/lobster_1.4-webfont.ttf') format('truetype'),
       url('../fonts/lobster/lobster_1.4-webfont.svg#lobster_1.4regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*Color*/
$primary-color: #342920;
$font-color: #dab37f;
$facebook-button-color: #3f4c4e;
$border-box: #d0ab79;
$popup-inner-bg: #1e1612;
$text-box-bg1:	#887358;
$text-box-color: #1e1612;
$create-sandwich-menu: #887358;
$add-menu-button: #241a12;
$white: #fff;
$grey: #777;
$scroll-bar: #6b594a;
$link-hover: #241a12;
$facebook-button-hover: #2e3f41;



$popup-wrapper-bg: url("../images/popup-wrapper.png");
$popup-close-icon: url("../images/close-popup.png");
$eamil-icon: url("../images/email.png") no-repeat 7px center #887358;
$password-icon: url("../images/password.png") no-repeat 7px center #887358;
$user-icon: url("../images/username.png") no-repeat 7px center #887358;
$left-arrow: url("../images/left-arrow.png") no-repeat;
$right-arrow: url("../images/right-arrow-hover.png") no-repeat;
$left-arrow2: url("../images/left-arrow-hover.png") no-repeat;
$right-arrow2: url("../images/right-arrow.png") no-repeat;
$like-sandwich: url("../images/like-sandwich.jpg") no-repeat;
$share-sandwich: url("../images/share-sandwich.jpg") no-repeat;
$text-box-bg: url("../images/text-box-bg.png");
$drop-down-arrow: url("../images/select-box-arrow.png");
$view-all-button: url(../images/view-all.png);
$checkbox: url(../images/checkbox-bg.png);
$checkbox-dark: url(../images/checkbox2-bg.png);
$textbox: url(../images/text-box-bg.png);
$radio-bg: url(../images/radio2-bg.png);
$radio-bg-dark: url(../images/radio-bg.png);


/*Font*/
$oswald: 'Oswald';
$open-sans: 'Open Sans';
$steelfish: 'steelfishextrabold';
$oswald-stencil: 'oswald_stencilregular';
$lobster: 'lobster_1.4regular';
$futuramedium: 'Futuramc';

* {
  margin: 0;
}
html, body {
  height: 100%;
}

form :focus {
  outline: none;
}

::-webkit-input-placeholder {
   color: $text-box-color;
}

a { 
  text-decoration: none;
}


body {
	background: url(../images/background.jpg);
	width: 100%;
	height: 100%;
	color: $font-color;
}

select {
	-moz-appearance: none;
	background: $drop-down-arrow no-repeat center right;
	border: medium none;
	color: $primary-color;
}

.link {
	&:hover { 
    background-color: $link-hover !important;	
  }
}

.facebook-login {
	&:hover { 
    background-color: $facebook-button-hover !important;	
  }
}

#outer-wrapper {
	min-height: 100%;
	margin: 0 auto -47px; 
	height: auto !important;
	height: 100%;
}

#inner-wrapper {
	 padding-bottom: 69px;
}

.footer, .push {
  height: 47px; 
	clear: both;
}

.container {
	width: 960px;
	height: auto;
	margin: 0 auto;
}

.bg_color {
	background-color: $primary-color;
	float:left;
}

.top-control {
	width: 1176px;
	margin: 0 auto;
	display: table;
}

.header {
	width: 100%;
	height: 137px;
	position: relative;
	
	  .logo {
		  width: 234px;
	    height: auto;
	    float: left;
	    padding-top: 20px;
		}
}

.navigation { 
  float: left;
	width: 440px;
	ul {
		list-style-type: none;
		
	  li {
		  margin: 0 4px;
			float: left;
	  }
		a {
			color: $primary-color;
			font: 700 20px/22px $oswald, sans-serif;
			text-align: center;
			display: table-cell;
			height: 50px;
			vertical-align: middle;
			width: 66px;
			padding:40px 6px 10px 6px;
		
			  &:hover {
				  color: $font-color;
					background-color: $primary-color;
				}
		}
	}
}

.navigation ul li a.active {
  color: $font-color;
  background-color: $primary-color;
}

.facebook-container {
  width: 26%;
	height: auto;
	float: right;
	background-color: $primary-color;
	padding: 13px 12px;
	  .facebook-container-right {
		  width: 162px;
			float: left;
			height: auto;
			
	    a.login-facebook{
			  color: $font-color;
			  font: 700 15px/15px $oswald, sans-serif;
			  text-transform: uppercase;
			  background-color: $facebook-button-color;
			  border: solid 1px $font-color;
			  display: block;
			  padding:5px 10px;
				margin-bottom: 12px;
		  }
			a.login {
			  color: $font-color;
			  font: 700 15px/15px $oswald, sans-serif;
			  text-transform: uppercase;
			  background-color: $primary-color;
			  border: solid 1px $font-color;
			  display: block;
			  padding:5px 10px; 
				width: 28%;
				text-align: center;
				float: left;
				
			}
			a.create-account {
			  font: normal 11px $open-sans, sans-serif;
				float: right;
				text-decoration: underline;
				margin-top: 13px;
				color: $font-color;
				
				&:hover{
				  text-decoration: none;
				}
			}
	  }
		.facebook-container-left {
		  float: left;
			
			   a.shopping-cart {
				   width: auto;
					 height: auto;
					 float: left;
					 font: 700 20px/34px $oswald, sans-serif;
					 padding: 15px 13px;
					 border: solid 1px $font-color;
					 margin-left: 15px;
					 color: $font-color;
					 
					   img {
						   position: relative;
							 top: -2px;
							 left: -3px;
					   }
						 
						 &:hover {
							 background-color: $add-menu-button;
							}
				 }
		}
}

.deliver-button {  
	position: absolute;
	right: 0;
	background-color: $primary-color;
	font: normal 27px/17px $futuramedium, sans-serif;
	padding: 5px;
	text-transform: uppercase;
	top: 138px;
	color: $font-color;
	z-index: 1;
}

.slide {
  float: left;
	position: relative;
	height: 340px;
	
	 .banner-image{
		  float: left;
			display: block;			
		  img {
			  float: left;
			  margin-right: 42px;
		  }
		 } 
	.banner-caption{
		  float: left;
			display: block;
		h1 {
			float: none;
			font: 56px/74px $oswald-stencil, sans-serif;
			color: $primary-color;
			width: 39%;
			margin:30px 0 21px;
		}
		.placeorder {
		  font: 700 25px/14px $oswald, sans-serif;
			color: $font-color;
			background-color: $primary-color;
			text-transform: uppercase;
			text-align: center;
			padding: 20px 38px;
			float: left;
		}
	}
		
		.thumbnail {
			float: left;
			width: 100%;
			margin: 45px 0 20px 0;
				a {
				  display: block;
          margin: 0 auto;
          width: 22%;
					color: $font-color;
					
					img {
						 margin: 0 6px;
					}
				}
		}
}

.slide {
  float: left;
	position: relative;
	width: 100%;
	
	  img {
			float: left;
			margin-right: 42px;
		}
		
		h1 {
			float: left;
			font: 56px/74px $oswald-stencil, sans-serif;
			color: $primary-color;
			width: 41%;
			margin:30px 0 21px;
		}
		
		.placeorder {
		  font: 700 25px/14px $oswald, sans-serif;
			color: $font-color;
			background-color: $primary-color;
			text-transform: uppercase;
			text-align: center;
			padding: 20px 38px;
			float: left;
		}
		.thumbnail {
			float: left;
			width: 100%;
			margin: 45px 0 20px 0;
				a {
				  display: block;
          margin: 0 auto;
          width: 22%;
					color: $font-color;
					
					img {
						 margin: 0 6px;
					}
				}
		}
}


.bannernew {
	width: 100%;
	height: auto;
	padding: 50px 0 22px 53px;
}

.center-align {
  width: 100%;
  float: left;
}

.caption-center{
  float: none;
}

/* Slider */

#slides .next,#slides .prev {
	position:absolute;
	top:107px;
	left:-39px;
	width:24px;
	height:43px;
	display:block;
	z-index:101;
}

#slides .next {
	left:585px;
}

/*
	Pagination
*/

.pagination {
	float: left;
	width: 100%;
	margin: 36px 0 19px 0;
	text-align: center;
}

.pagination li {
	display: block;
	margin: 0 auto;
	width: 22%;
}

.pagination li a {
	display:block;
	width:16px;
	height: 2px;
	padding-top:13px;
	background:url(../images/thumbnail.png) no-repeat;
	background-position:left top;
	float:left;
	overflow:hidden;
	text-indent: -9999;
	margin:0px 6px;
}

.pagination li.current a {
	background:url(../images/thumbnail-active.png) no-repeat;
}

/*
	Caption
*/

.caption {
	z-index:500;
	position:absolute;
	bottom:-35px;
	left:0;
	height:30px;
	padding:5px 20px 0 20px;
	background:#000;
	background:rgba(0,0,0,.5);
	width:540px;
	font-size:1.3em;
	line-height:1.33;
	color:#fff;
	border-top:1px solid #000;
	text-shadow:none;
}

.two-column {
	width: 100%;
	float: left;
	
		.two-column-inner {
			width: 100%;
			margin: 0 auto;
			background-color: $primary-color;
			display: table;
			padding: 28px 0;
		}
	
	  .past-orders {
		  width: 48%;
			padding-right: 10px;
			float: left;
			
			
				
					a.view-all {
						background:  $primary-color;
						border: 1px solid $font-color;
						display: block;
						width: 100px;
						height: 30px;
						margin: 29px 0 0 0;
						font: 700 15px/27px $oswald, sans-serif; 
						color: $font-color;
						text-align: center;
						float: left;
						position: relative;
					}
					a.view-all:after, a.view-all:before {
						right: 61px;
						top: 16px;
						border: solid transparent;
						content: " ";
						height: 0;
						width: 0;
						position: absolute;
						pointer-events: none;
					}
					a.view-all:after {
						border-color: rgba(136, 183, 213, 0);
						border-left-color: $primary-color;
						border-width: 15px;
						margin-top: -16px;
						right: -30px;
					}
					a.view-all:before {
						border-color: rgba(194, 225, 245, 0);
						border-left-color: $font-color;
						border-width: 17px;
						margin-top: -18px;
						right: -34px;
					}
				
					a.view-all:hover {
						background: $link-hover;
					}
					
					a.view-all:hover.view-all:after{
						border-left-color: $link-hover;
					}
				
			  h2 {
				  font: normal 35px/15px $lobster;	
					margin-bottom: 22px;
					margin-top: 8px;
				}
				
				ul {
				  list-style-type: none;
					
					li {
						width: 100%;
						float: left;
						margin-bottom: 7px;
							
							p {
								font: bold 12px $open-sans;
								float: left;
								margin-top: 6px;
								display: block;
								width: 78%;
								display: block;
									
							}
							span.date-address {
								display: block;	
								float: left;
								width: 56%;
								margin: 6px 3px 0;
								overflow: hidden;
								position: relative;
									
									&:after
										{
											content: "\00a0";
											border-bottom: solid 1px  $font-color;
											position: absolute;
											top: -5px;
											width: 100%;
											margin-left: 3px;
										}
							}
							
						  span.delivery {
							  font: normal 21px $lobster, sans-serif;
								padding-right: 5px;
								display: block;
								float: left;
								width: 20%;
						  }
							span.price {
							  font: 700 21px/22px $oswald, sans-serif;
								padding-left: 2px;
								display: block;
								float: left;
								width: 20%;
						  }
							a.reorder-button {
							  background-color: $primary-color;
		           	text-transform: uppercase;
			          text-align: center;
								border: solid 1px $font-color;
								color: $font-color;
								padding:5px 18px;
								font: 700 15px/15px $oswald, sans-serif;
								margin-left: 0px;
								display: block; 
								margin-right: 4px;
								float: right;
							}
							
					}
				}
		}
		
		.saved-sandwich {
			 width: 50.3%;
			 float: left;
			 
			   h2 {
				  font: normal 35px/15px $lobster;	
					margin-bottom: 22px;
					text-transform: uppercase;
					margin-top: 8px;
					margin-left: 12px;
				}
				
				a.view-all {
					background:  $primary-color;
					border: 1px solid $font-color;
					display: block;
					width: 100px;
					height: 30px;
					margin: 29px 0 0 13px;
					font: 700 15px/27px $oswald, sans-serif; 
					color: $font-color;
					text-align: center;
					float: left;
					position: relative;
				}
				a.view-all:after, a.view-all:before {
					right: 61px;
					top: 16px;
					border: solid transparent;
					content: " ";
					height: 0;
					width: 0;
					position: absolute;
					pointer-events: none;
				}
				a.view-all:after {
					border-color: rgba(136, 183, 213, 0);
					border-left-color: $primary-color;
					border-width: 15px;
					margin-top: -16px;
					right: -30px;
				}
				a.view-all:before {
					border-color: rgba(194, 225, 245, 0);
					border-left-color: $font-color;
					border-width: 17px;
					margin-top: -18px;
					right: -34px;
				}
				
				a.view-all:hover {
						background: $link-hover;
					}
					
					a.view-all:hover.view-all:after{
						border-left-color: $link-hover;
					}
				
				ul {
				  list-style-type: none;
					width:100%;
					float:left;
					
					li {
						width: 100%;
						float: left;
						margin-bottom: 13px;
						padding-left: 12px;
						
						p {
							font: bold 12px $open-sans;
							text-transform: uppercase;
							float: left;
							width: 75%;
							margin-top: 10px;
							display: block;
							
							span.price {
							  font: 700 21px/14px $oswald, sans-serif;
								padding-left: 2px;
								float: right;
								display: block;
						  }
								
							span.save-sandwich-text {
								display: block;
								float: left;
								width: 82%;
								overflow: hidden;
								position: relative;
									
									&:after
										{
											content: "\00a0";
											border-bottom: solid 1px  $font-color;
											position: absolute;
											top: -5px;
											width: 100%;
											margin-left: 3px;
										}
							}
							
						}
							
							a.addtocart-button {
							  background-color: $primary-color;
		           	text-transform: uppercase;
			          text-align: center;
								border: solid 1px $font-color;
								color: $font-color;
								padding:5px 5px;
								font: 700 15px/15px $oswald, sans-serif;
								margin-left: 12px;
								display: block; 
								float: left;
							}
							
					}
				}
		}
}

.sandwich-main-link-box {
	width: 100%;
	float: left;
	
		li {
			width: 31%;
			margin: 0 30px 0 0;
			float: left;
			border: 1px solid $border-box;
										
			  &:last-child {
	        margin: 0 0 0 0;
	        float: right;
	        width:31.1%;
					
					img {
						display: block;
						margin:0 auto;
						padding-bottom: 2px;
					}
					
			  }
			
				h1 {
					font: normal 26px $lobster;
					width: 100%;
					text-align: center;
					margin-bottom: 2px;
					margin-top: 16px;
					
				}
				
				h2 {
					font: normal 12px $open-sans;
					text-align: center;
					width: 100%;
					margin-bottom: 5px;
				}
			 a.get-button {
					border: 1px solid $border-box;
					font: 15px $oswald, sans-serif;
					width: 166px;
					height: 26px;
					display: table;
					padding-top: 3px;
					margin: 10px auto 18px auto;
					text-align: center;
					color: $border-box;
				}
		}
}

.connect-color {
	background-color: $facebook-button-color !important;
	
	&:hover {
			background-color: $facebook-button-hover !important;
		}
}

.popup-wrapper {
	background: $popup-wrapper-bg;
	height: 100%;
	position: fixed;
	width: 100%;
	z-index: 9999;
	top:0;
	display: none;

		.close-button {
			background: $popup-close-icon;
			width: 18px;
			height: 18px;
			position:absolute;
			top: 12px;
			right: 12px;
			text-indent: -9999px;
			
		}
		
		.popup-logo {
			display: table;
			margin: 0 auto;
			
		}
}
.log-facebook-inner {
	background: $popup-inner-bg;
	width: 269px;
	height: 399px;
	position: absolute;
	top: 14%;
	left: 50%;
	padding: 28px;
	margin-left: -162px;
	
		h1 {
			font: normal 30px $lobster;
			text-align: center;
			margin-top: 40px;
		} 
		
		h6 {
			font: normal 10px $open-sans;
			text-align: right;
			width: 65%;
			float: right;
			margin-top: 12px;
			
			a {
				color: $border-box;
				text-decoration: underline;
				
				&:hover {
					text-decoration: none;
				}
			}
		}
		
		p {
			font: normal 12px $open-sans;
		}
		
		.facebook-button {
			width: 269px;
			height: 35px;
			display: table;
			margin: 30px auto 0 auto;
			border: 1px solid $border-box;
			font: 18px $oswald, sans-serif;
			text-align: center;
			color: $border-box;
			padding-top: 9px;
		}
}

.log-facebook-menu-inner {
	background: $popup-inner-bg;
	width: 275px;
	height: 399px;
	position: absolute;
	top: 14%;
	left: 50%;
	padding: 32px;
	margin-left: -169px;
	
		h1 {
			font: normal 30px $lobster;
			text-align: left;
			margin-top: 40px;
		} 
		
		h6 {
			font: normal 10px $open-sans;
			text-align: right;
			width: 65%;
			float: right;
			margin-top: 12px;
			
			a {
				color: $border-box;
				text-decoration: underline;
				
				&:hover {
					text-decoration: none;
				}
			}
		}
		
		p {
			font: normal 12px $open-sans;
		}
		
		.facebook-button {
			width: 269px;
			height: 35px;
			display: table;
			margin: 30px auto 0 auto;
			border: 1px solid $border-box;
			font: 18px $oswald, sans-serif;
			text-align: center;
			color: $border-box;
			padding-top: 9px;
		}
}

.please-login {
	background: $popup-inner-bg;
	width: 286px;
	position: absolute;
	top: 14%;
	left: 50%;
	margin-left: -171px;
	padding: 38px 28px 36px 28px;
	
		h1 {
			font: normal 30px $lobster;
			margin-top: 12px;
		}
		
		p {
			font: normal 12px $open-sans;
			margin-bottom: 22px
		}
		
		.list-buttons {
			width: 269px;
			height: 35px;
			display: table;
			margin: 16px auto 0 auto;
			border: 1px solid $border-box;
			font: 18px $oswald, sans-serif;
			text-align: center;
			color: $border-box;
			padding-top: 9px;
			background-color: $primary-color;
			
				&:hover {
					background-color: $link-hover;
				}
		}
}

.login-inner {
	background: $popup-inner-bg;
	width: 269px;
	height: 399px;
	position: absolute;
	top: 14%;
	left: 50%;
	margin-left: -162px;
	padding: 28px;
	
		h1 {
			font: normal 30px $lobster;
			margin-top: 14px;
		} 
		
		h6 {
			font: normal 10px $open-sans;
			text-align: right;
			width: 65%;
			float: right;
			margin-top: 12px;
			
			a {
				color: $border-box;
				text-decoration: underline;
				
				&:hover {
					text-decoration: none;
				}
			}
		}
		
		p {
			font: normal 12px $open-sans;
		}
		
		.login-button {
			width: 100%;
			height: 35px;
			display: table;
			margin: 54px auto 0 auto;
			border: 1px solid $border-box;
			font: 18px $oswald, sans-serif;
			text-align: center;
			color: $border-box;
			padding-top: 9px;
			background-color: $primary-color;
				
				&:hover {
					background-color: $link-hover;
				}
		}
		.text-email {
			border: 1px solid $border-box;
			width: 87%;
			background: $eamil-icon;
			height: 28px;
			padding-left: 36px;
			font: bold 12px $open-sans;
			color: $text-box-color;
			margin-top: 16px;
		}
		
		.text-password {
			border: 1px solid $border-box;
			width: 87%;
			background: $password-icon;
			height: 28px;
			padding-left: 36px;
			color: $text-box-color;
			font: bold 12px $open-sans;
			margin-top: 16px;
		}
		
		.form-holder {
			width:100%;
			
				.text-firstname {
				border: 1px solid $border-box;
				width: 34%;
				float: left;
				background: $user-icon;
				height: 28px;
				padding-left: 36px;
				color: $text-box-color;
				font: bold 12px $open-sans;
				margin-top: 16px;
				}
				
				.text-lastname {
				border: 1px solid $border-box;
				width: 42.9%;
				float: left;
				background: $text-box-bg1;
				height: 28px;
				padding-left: 10px;
				color: $text-box-color;
				font: bold 12px $open-sans;
				margin-top: 16px;
				margin-left: 10px;
				}
			
		}
		
		
}

.bold-text {
	font-weight: bold;
}

.footer {
	width: 100%;
	float: left;
	height: 47px;
	
	.footer-inner {
		width: 100%;
		margin: 0 auto;
		background-color: $primary-color;
		display: table;
	}
	
	p.telephone-number {
    font: 700 26px/15px $oswald, sans-serif; 
    color: $font-color;
		float: left;
		width: 15%;
		padding: 16px 0 16px 0;
  }
	ul.footer-link {
	  list-style-type: none;
		margin: 15px 0 0 10px;
		float: left;
		
		li {
		  float: left;
			margin:0 5px;
		}
		a {
		  font: bold 12px $open-sans, sans-serif; 	
			color: $font-color;
			
		}
	}
	ul.social-link {
	  list-style-type: none;
		margin: 10px 0 0 10px;
		float: right;
		
		li {
		  float: left;
			margin:0 5px;
		}
		a {
		  font: bold 12px $open-sans, sans-serif; 	
			color: $font-color;
			
		}
	}
}

.footer ul.social-link li:last-child {
  margin-right: 0;
}

.login-name-holder {
	width: 100%;
	position: relative;
	
	h1 {
		font: normal 13px $open-sans, sans-serif; 
		float:left;
		width: 70%;
		
		span {
			font-weight: bold;
		}
		
	}
	
	a {
		float: right;
		font: normal 11px $open-sans, sans-serif;
		color: $border-box;
		text-decoration: underline;
		
		&:hover {
			text-decoration: none;
		}
	}
}

.account-profile {
	width: 100%;
	border: 1px solid $border-box;
	height: 26px;
	text-align: center;
	font: 15px $oswald, sans-serif;
	text-transform: uppercase;
	float: left;
	color:  $border-box;
	margin: 20px 0 0;
	
	
}

.facebook-likes {
	width: 28.5%;
	position: absolute;
	top: 106px;
	right: 0;
	
	img {
		float: left;
	}
	
	p {
		font: 700 11px $open-sans, sans-serif;
		color: $primary-color;
		margin-left: 10px;
		width: 67%;
		float: left;
	}
}

.menu-list-wrapper {
	float: left;
	width: 100%;
	
	h1 {
		width:100%;
		font: normal 56px/53px $oswald-stencil;
		text-transform: uppercase;
		color: $primary-color;
	}
	
	h2 {
		width: 100%;
		background-color: $primary-color;
		font: normal 28px $lobster;
		text-align: center;
		margin: 6px 0 10px 0;
		float: left;
	}
	
	ul.menu-listing {
		float: left;
		
		li {
			list-style-type: none;
			width:154px;				
			float: left;
			height: 226px;
			margin-bottom: 30px;
			margin-right: 32px;
			&:nth-child(6n) {
				width:177px;
			}
		
			.side-button-holder {
				width: 192px;
				margin: 11px auto 0 auto;
				display: table;
				
				.buttons {
					background-color: $primary-color;
					width: 93%;
					height: 68px;
					display: block;
					font: 18px $oswald, sans-serif;
					color: $border-box;
					margin-top: 5px;
					margin-bottom: 15px;
					
					span.plus {
						font: 300 91px/43px $oswald, sans-serif !important;
						float: left;
						margin: 0 14px 0 18px;
						height: 68px;
					}
					span.links {
						float: left;
						width: 65%;
						padding-top: 7px;
					}
					
				}
				
			}
		 		
			.inner-holder {
				display: table; 
				margin: 21px auto;
				text-align: center;
				width: 153px;
				
					h3 {
						width: 87%;
						text-align: center;
						font:  18px/20px $oswald, sans-serif;
						color: $primary-color;
						text-transform : uppercase;
						height: 35px;	
						margin-bottom: 8px;					
					}
					
					p {
						width: 100%;
						text-align: center;
						font: bold 12px $open-sans, sans-serif;
						color: $primary-color;
					}
					
					a {
						background-color: $primary-color;
						color: $border-box;
						text-align: center;
						width: 87%;
						display: block;
						font:  15px $oswald, sans-serif;
						margin-top: 7px;
						padding: 4px 0;
					}
			}
		
		}
		
		div.salads-wrapper{
			ul {
				
				li {
					min-height:75px; 
					width:23.6%;
				}
			}
		}
	}
	
}

.salads-wrapper {
	width: 100%;
	float: left;
	
		ul {
			width: 100%;
			float:left;
			margin: 0 0 7px 0;
		
				li {
					list-style-type: none;
					float: left;
									
					h3 {
						font:  24px $oswald, sans-serif;
						color: $primary-color;
						overflow: hidden;
						position: relative;
						text-transform : uppercase;
							
							&:after
								{
									content: "\00a0";
									border-bottom: solid 3px  $primary-color;
									position: absolute;
									top: -8px;
									width: 100%;
									margin-left: 3px;
								}
						
							span {
								letter-spacing: -1px;
							}
						
						
					}
					
					p {
						font: 600 12px $open-sans, sans-serif;
						color: $primary-color;
					}
					
					h4 {
						font:  24px $oswald, sans-serif;
						color: $primary-color;
						padding-left: 4px;
					}
					.add-cart {
						width: 100%;
						text-align: center;
						font:  15px $oswald, sans-serif;
						text-transform: uppercase;
						background-color: $primary-color;
						color: $border-box;
						display: table;
						padding: 4px 0;
						margin-top: 3px;
					}
					
					.quantity-control {
						width: 66px;
						float: left;
						
							a.left {
								background: $left-arrow;
								width: 10px;
								height: 22px;
								display: block;
								float: left;
								margin-top: 8px;
							}
							
							a.left-hover {
								background: $left-arrow2;
								width: 10px;
								height: 22px;
								display: block;
								float: left;
								margin-top: 8px;
							}
							
							a.right {
								background: $right-arrow;
								width: 10px;
								height: 22px;
								display: block;
								float: left;
								margin-top: 8px;
							}
							
							a.right-hover {
								background: $right-arrow2;
								width: 10px;
								height: 22px;
								display: block;
								float: left;
								margin-top: 8px;
							}
							
							.text-box {
								border: none;
								background: none;
								font:  24px $oswald, sans-serif;
								width: 40px;
								text-align: center;
								float:left;
							}
							
					}
				}
		}
}
.list1 {
	width: 600px;
	padding: 0 8px;
}

.list2 {
	width: 76px;
	text-align: right;
}

.list3 {
	width: 66px;
	padding: 0 10px;
}

.list4 {
	width: 156px;
	padding: 0 8px;
}

.added-menu-sandwiches-inner {
	background: $popup-inner-bg;
	width: 560px;
	position: absolute;
	top: 10%;
	left: 50%;
	padding: 28px;
	text-align: center;
	margin-left: -308px;
	
		.title-holder {
			float: left;
			width: 100%;
			
			h1 {
				font:  24px $oswald, sans-serif;
				margin: 0 5px 0 0;
				text-align: left;
				width: 86%;
				float: left;
				overflow: hidden;
				position: relative;
				text-transform: uppercase;
					
					&:after
						{
							content: "\00a0";
							border-bottom: solid 2px  $font-color;
							position: absolute;
							top: -8px;
							width: 100%;
							margin-left: 3px;
						}
					
			} 
			
			h2 {
				font:  24px $oswald, sans-serif;
				margin-top: 0;
				text-align: left;
				width: 13%;
				float: left;
			}
		}
	
		.title2-holder {
			float: left;
			width: 100%;
				
				p {
					float: left;
					width: 50%;									
				}
				
				.save-menu {
					width: 136px;
					height: 25px;
					display: table;
					margin:  50px 0 0 0;
					border: 1px solid $border-box;
					font:  15px $oswald, sans-serif;
					text-align: center;
					color: $border-box;
					float: right;
					padding-top: 2px;
					background-color: $primary-color;
				}
				
		}
				
		p {
			font: normal 12px $open-sans;
			text-align: left;
			width: 84%;
			margin-top: 10px;
			
				a {
					color: $border-box;
					text-decoration: underline;
					margin-top: 8px;
					float: left;
					
						&:hover {
							text-decoration: none;
						}
					
				}
			
		}
		
		.button-holder {
			width: 100%;
			float: left;
			margin-top: 10px;
			
			.like-sandwich {
				background: $like-sandwich;
				font:  18px $oswald, sans-serif;
				text-align: left;
				float: left;
				padding-left: 38px;
				margin-right: 10px;
				height: 28px;
				color: $border-box;
				margin-top: 10px;
			}
			
			.share-sandwich {
				background: $share-sandwich;
				font:  18px $oswald, sans-serif;
				text-align: left;
				float: left;
				padding-left: 38px;
				color: $border-box;
				height: 28px;
				margin-top: 10px;
			}
			
			.add-to-cart {
				width: 183px;
				height: 32px;
				display: table;
				margin:  0 0 0 0;
				border: 1px solid $border-box;
				font:  18px $oswald, sans-serif;
				text-align: center;
				color: $border-box;
				float: right;
				padding-top: 6px;
				background-color: $primary-color;
			}
		}
		
}

.checkbox-holder {
	float: left;
	margin-left: 30px;
}

label {
	display: inline-block;
	cursor: pointer;
	position: relative;
	padding-left: 34px;
	font:  18px $oswald, sans-serif;
	color: $border-box;
	margin-top: 4px;
	
		span {
			font: normal 28px $lobster;
			margin-left: 6px;
		}
}

label:before {
	content:"";
	display: inline-block;
	width: 21px;
	height: 21px;
	position: absolute;
	left: 7px;
	top: 9px;
	bottom: 1px;
	background: $checkbox no-repeat;
}

input[type=checkbox] {
	display: none;
}

input[type=checkbox]:checked + label:before {
	background: $checkbox 0 -22px no-repeat;
	color: $border-box;
	text-align: center;
	line-height: 15px;
}

.friends-menu-inner {
	background: $popup-inner-bg;
	width: 576px;
	position: absolute;
	top: 10%;
	left: 50%;
	padding: 10px 0px 0 40px;
	margin-left: -308px;
	
		h1 {
			font: normal 30px $lobster;
			text-align: left;
			margin-top: 18px;
			margin-bottom: 10px;
		} 
		
		.scroller-wrapper {
			width: 100%;
			height: 434px;
			float:left;
			overflow-y: auto;
			
				ul {
					width: 535px;
					float:left;
					
						li {
							float:left;
							width: 100%;
							list-style-type: none;
							border-bottom: 2px solid $border-box;
							padding: 18px 0;
							
							.image-box {
								float:left;
								width: 57px;
								height: 57px;
							}
							
							.content-box{
								width: 55%;
								float:left;
								margin: 7px 0 0 18px;
								
									h2 {
										font:  18px $oswald, sans-serif;
									}
									
									p {
										font: normal 12px $open-sans;
									}

							}
							
							.view-menu {
								width: 136px;
								height: 25px;
								display: table;
								margin:  16px 0 0 0;
								border: 1px solid $border-box;
								font:  15px $oswald, sans-serif;
								text-align: center;
								color: $border-box;
								float: right;
								padding-top: 2px;
								background-color: $primary-color;
								text-transform: uppercase;
							
								&:hover {
										background-color: $link-hover;
									}
								
							}
							
							
						}
					
				}
			
		}
		
}

.friens-list-the-sandwich {
	width: 100%;
	float:left;
	margin: 8px 0 11px;
	
		.my-menu {
			width: 136px;
			height: 32px;
			display: table;
			margin:  0px 0 0 20px;
			font:  15px $oswald, sans-serif;
			text-align: center;
			color: $border-box;
			float: left;
			padding-top: 8px;
			background-color: $primary-color;
			position: relative;
			
				&:hover {
					background: $link-hover;
						
						&:hover.my-menu:after {
							border-right-color: $link-hover;
						}
				}
			
			&:after {
				position: absolute;
				display: block;
				content: "";  
				border-color: transparent $primary-color transparent transparent;
				border-style: solid;
				border-width: 20px;
				height: 0;
				width: 0;
				position:absolute;
				bottom: 0;
				left: -40px;
				top: 0;
			}
			
		}
		
		.all-friend {
			width: 136px;
			height: 32px;
			display: table;
			margin:  0px 0 0 20px;
			font: 15px $oswald, sans-serif;
			text-align: center;
			color: $border-box;
			float: right;
			padding-top: 8px;
			background-color: $primary-color;
			position: relative;
			text-transform: uppercase;
		}
		
		.friens-list-image-content {
			width: 53%;
			float: left;
			margin: 0 0 0 112px;
			
				.image-box {
					float:left;
				}
				
				.content-box{
					width: 80%;
					float:left;
					margin: 7px 0 0 16px;
					
						h3 {
							font: 24px $oswald, sans-serif;
							color: $primary-color;
						}
						
						p {
							font: bold 12px $open-sans;
							color: $primary-color;
						}
				}
		}
}

.currently-no-save {
	width: 56%;
	float:left;
	margin: 16px 0 0 25px;
	
		h1 {
			font: normal 56px/62px $oswald-stencil;
			text-transform: uppercase;
			color: $primary-color;
		}
		
		h3 {
			font: 18px $oswald, sans-serif;
			color: $primary-color;
			margin-top: 6px;
		}
}

.create-sandwich-wrapper {
	width: 100%;
	float: left;
	margin-top: 8px;
	
		.create-sandwich-left {
			width: 68%;
			float: left;
			position: relative;
				
				.image-holder {
				
                   width: 100%;
                   text-align: center;
                   margin: 26px 0 0 0;
                   /* float: left; */
                   position: absolute;
                   
                   
				}
				
				.button-holder {
					float: left;
					width: 100%;
					margin: 10px 0 0 0; 
					
						ul {
							margin: 0 auto;
							display: table;
							
								li {
									float: left;
									list-style-type: none;
										
										.edit-sandwich {
											width: 145px;
											height: 32px;
											display: table;
											margin:  0px 0 0 20px;
											font: 15px $oswald, sans-serif;
											text-align: center;
											color: $border-box;
											float: left;
											padding-top: 8px;
											background-color: $primary-color;
											position: relative;
											
												&:hover {
												background: $link-hover;
													
													&:hover.edit-sandwich:after {
														border-right-color: $link-hover;
													}
											}
												
											&:after {
												position: absolute;
												display: block;
												content: "";  
												border-color: transparent $primary-color transparent transparent;
												border-style: solid;
												border-width: 20px;
												height: 0;
												width: 0;
												position:absolute;
												bottom: 0;
												left: -40px;
												top: 0;
											}
											
										}
									
										.back {
											width: 88px;
											height: 32px;
											display: table;
											margin:  0px 0 0 20px;
											font:  15px $oswald, sans-serif;
											text-align: center;
											color: $border-box;
											float: left;
											padding-top: 8px;
											background-color: $primary-color;
											position: relative;
											
											&:hover {
												background: $link-hover;
													
													&:hover.back:after {
														border-right-color: $link-hover;
													}
											}
											
											&:after {
												position: absolute;
												display: block;
												content: "";  
												border-color: transparent $primary-color transparent transparent;
												border-style: solid;
												border-width: 20px;
												height: 0;
												width: 0;
												position:absolute;
												bottom: 0;
												left: -40px;
												top: 0;
											}
											
										}
										
										.next {
											width: 88px;
											height: 32px;
											display: table;
											margin:  0px 0 0 12px;
											font:  15px $oswald, sans-serif;
											text-align: center;
											color: $border-box;
											float: left;
											padding-top: 8px;
											background-color: $primary-color;
											position: relative;
											
											&:hover {
												background: $link-hover;
													
													&:hover.back:after {
														border-left-color: $link-hover;
													}
											}
											
											&:after {
												position: absolute;
												display: block;
												content: "";  
												border-color: transparent transparent transparent $primary-color;
												border-style: solid;
												border-width: 20px;
												height: 0;
												width: 0;
												position:absolute;
												bottom: 0;
												left: 88px;
												top: 0;
												
												
											}
											
										}
									
								}
							
						}
					
				}
				
				.create-sandwich-menu {
					width: 100%;
					background-color: $primary-color;
					float: left;
					
						ul {
							width: 100%;
							float:left;
							
								li {
									float: left;
									margin: 0;
									padding: 0;
									list-style-type: none;
									
										a {
											color: $create-sandwich-menu;
											font: 18px $oswald, sans-serif;
											margin: 0;
											padding: 6px 0 5px 52px;
											display: block;
											
											&:hover {
												color: $border-box;
											}
											
										}
										
										a.active {
											color: $border-box;
										}
									
								}
							
						}
					
				}
		}
		
		.create-sandwich-right-wrapper {
				width: 280px;
				float:left;
				margin: 0 0 0 26px;
				
					.bottom-buttons {
						float: left;
						width: 100%;
						
							h4 {
								font: 24px $oswald, sans-serif;
								color: $primary-color;
								width: 27%;
								float: left;
								margin: 15px 0 0 0;
							}
							
							a.am-done {
								width: 187px;
								height: 32px;
								display: table;
								margin:  10px 0 0 17px;
								font:  15px $oswald, sans-serif;
								text-align: center;
								color: $border-box;
								float: left;
								padding-top: 8px;
								background-color: $primary-color;
							}
							
					}
				
		}
		.create-sandwich-right {
			width: 274px;
			float: left;
			border: 3px solid $primary-color;
			
				h2 {
					float: left;
					font: normal 24px $lobster;
					margin: 0 0 0 0;
					padding: 3px 0 0 0;
					text-align: center;
				}
				
				h3 {
					font: bold 12px $open-sans;
					color: $primary-color;
					text-transform: uppercase;
					margin: 8px 0 0 8px;
					float: left;
				}
			
			  .main-category-list {
					width: 100%;
					float: left;
					height: 340px;
					
						ul {
							float:left; 
							width: 100%;
							
								li {
									float: left;
									width: 100%;
									
										label {
											display: inline-block;
											cursor: pointer;
											position: relative;
											padding-left: 40px;
											font:  18px $oswald, sans-serif;
											color: $primary-color;
											margin-top: 4px;
											
										}
										
										label:before {
											content:"";
											display: inline-block;
											width: 23px;
											height: 23px;
											position: absolute;
											left: 7px;
											top: 1px;
											bottom: 1px;
											background: $radio-bg-dark no-repeat;
										}
										
										input[type=radio] {
											display: none;
										}
										
										input[type=radio]:checked + label:before {
											background: $radio-bg-dark 0 -24px no-repeat ;
											color: $border-box;
											text-align: center;
											line-height: 15px;
										}	
								}
							
						}
					
				}
		}
	
}

.protein-select-wrapper {
	width: 100%;
	float: left;
	height: 330px;
	overflow-y: auto;
		
		ul {
			float:left; 
			width: 100%;
		
		li {
			float: left;
			width: 100%;
			
			 span.price {
					  display: inline-block;	
						font:  18px $oswald, sans-serif;
					  color: $primary-color;
						float: right;
						padding-right: 15px;
					}
			
				.sub-value {
					float: left;
					width: 60%;
					margin: 6px 0 4px 44px;
					display:none;
						
						a.left {
								background: $left-arrow;
								width: 10px;
								height: 22px;
								display: block;
								float: left;
								margin-top: 0px;
							}
							a.left-hover {
								background: $left-arrow2;
								width: 10px;
								height: 22px;
								display: block;
								float: left;
								margin-top: 0px;
							}
							a.right {
								background: $right-arrow2;
								width: 10px;
								height: 22px;
								display: block;
								float: left;
								margin-top: 0px;
							}
							a.right-hover {
								background: $right-arrow;
								width: 10px;
								height: 22px;
								display: block;
								float: left;
								margin-top: 0px;
							}
							.text-box {
								border: none;
								background: none;
								font: bold 14px $open-sans;
								width: 110px;
								padding: 0 5;
								text-align: center;
								float:left;
								text-transform: uppercase;
							}
				}
			
				label {
					display: inline-block;
					cursor: pointer;
					position: relative;
					padding-left: 40px;
					font: 18px $oswald, sans-serif;
					color: $primary-color;
					margin-top: 4px;
					
				}
				
				label:before {
					content:"";
					display: inline-block;
					width: 21px;
					height: 21px;
					position: absolute;
					left: 7px;
					top: 2px;
					bottom: 1px;
					background: $checkbox-dark no-repeat;
				}
				
				input[type=checkbox] {
					display: none;
				}
				
				input[type=checkbox]:checked + label:before {
					background: $checkbox-dark 0 -22px no-repeat;
					color: $border-box;
					text-align: center;
					line-height: 15px;
				}
			
			}
		}
		
}

.fill-color {
	background-color: $primary-color;
}

.final-list-wrapper {
	width: 97%;
	background-color: $primary-color;
	float: left;
	padding-left:10px;
	height: 265px;
	overflow-y: auto;
	margin: 10px 0 4px 0;
	
		
		ul {
			float:left; 
			width: 97%;
		
		li {
			float: left;
			width: 100%;
			margin-bottom: 4px;
			
			
			h4 {
			
			font:  18px $oswald, sans-serif; 
			color: $border-box;
			float: left;
			width: 100%;
			text-decoration: underline;
			
				span {
					text-decoration: none;
					float: right;
				}
				
		}
		
		p {
			font: bold 12px $open-sans;
			width:100%;
			color: $border-box;
		}
		
		
			
		}
	}
		
}

.checkbox-holder-final {
	float: left;
	margin-left: 0;
	
	label {
		display: inline-block;
		cursor: pointer;
		position: relative;
		padding-left: 26px;
		font: bold 18px $oswald, sans-serif;
		color: $primary-color;
		margin-top: 4px;
		
			span {
				font: normal 28px $lobster;
				margin-left: 6px;
			}
	}
	
	label:before {
		content:"";
		display: inline-block;
		width: 21px;
		height: 21px;
		position: absolute;
		left: 0px;
		top: 9px;
		bottom: 1px;
		background: $checkbox-dark no-repeat;
	}
	
	input[type=checkbox] {
		display: none;
	}
	
	input[type=checkbox]:checked + label:before {
		background: $checkbox-dark 0 -22px no-repeat;
		color: $border-box;
		text-align: center;
		line-height: 15px;
	}
	
}

.save-button-share {
	width: 100%;
	border-bottom: 2px solid $primary-color;
	border-top: 2px solid $primary-color;
	float: left;
	padding: 8px 0 ;
	margin: 4px 0 0 0;
	
		.checkbox-holder-final {
			width: 100%;
			
			label { 
				font: bold 12px $open-sans;
			}
			
			label:before {
				top: -3px;
			}
			
		}
	
	.share-sandwich {
		background: $share-sandwich;
		font: bold 18px $oswald, sans-serif;
		text-align: left;
		float: left;
		padding-left: 38px;
		color: $primary-color;
		height: 28px;
		margin-top: 10px;
	}
	
	.save-to-my-menu {
		width: 136px;
		height: 26px;
		display: table;
		margin:  9px 0 0 0;
		font: bold 15px $oswald, sans-serif;
		text-align: center;
		color: $border-box;
		float: right;
		padding-top: 2px;
		background-color: $primary-color;
	}
	
}

.finalize-It-heading {
	width: 100%;
	float: left;
	
		h3{
			font: normal 28px $lobster;
			color: $primary-color;
		}
}

.name-your-creation-popup {
	width: 71%;
	position: absolute;
	top: 190px;
	left: 74px;
	border: 5px solid  $primary-color;
	background-color: hsla(29, 43%, 71%, 0.3);
		
		h2 {
			width: 98%;
			font: bold 14px $open-sans;
			text-transform: uppercase;
			margin: 0;
			padding: 3px 0 7px 12px;
			text-align: left;
		}
		
		h3 {
			font: bold 33px $oswald, sans-serif;
			text-align: left;
			color: $primary-color;
			padding: 0 0 0 11px;
			float: left;
		}
		
		h3 input {
			font: bold 33px $oswald, sans-serif;
			text-align: left;
			color: $primary-color;
			padding: 0 0 0 11px;
			float: left;
			 background: none repeat scroll 0 0 hsla(0, 0%, 0%, 0);
             border: medium none;
		}
}

.added-button-color {
	background-color: $add-menu-button !important;
}

.sandwich-gallery-wrapper {
	width: 100%;
	float: left;
	margin-top: 10px;
		
		p {
			font: 700 12px $open-sans;
			color: $primary-color;
			margin-bottom: 4px;
		}
		
		.selectParent {
				border: 1px solid  $primary-color;
				float: left;
				margin: 0 0 10px 0;
				overflow: hidden;
				width: 93%;
				
				select {					
					@extend select;					
					width: 110%;
				  height: 28px;
					text-transform: uppercase;
					font: 700 12px $open-sans;					
					padding: 0 0 0 5px;
			}
				
		}
	
		.sandwich-gallery-left {
			float: left;
			width: 192px;
			
			
				.bread-protein-list {
					width:170px;
					background-color: $primary-color;
					float: left;
					padding: 0 0 0 10px;
					
						h3 {
							font: normal 28px $lobster;
							margin: 10px 0 10px 0;
							padding: 0;
							float: left;
						}
						ul {
							float:left; 
							width: 100%;
						
						li {
							float: left;
							width: 100%;
							margin-bottom: 10px;
							
								label {
									display: inline-block;
									cursor: pointer;
									position: relative;
									padding-left: 30px;
									font: 700 12px $open-sans;
									text-transform: none;
									color: $border-box;
									margin-top: 4px;
									
								}
								
								label:before {
									content:"";
									display: inline-block;
									width: 21px;
									height: 21px;
									position: absolute;
									left: 0px;
									top: -2px;
									bottom: 1px;
									background: $checkbox no-repeat;
								}
								
								input[type=checkbox] {
									display: none;
								}
								
								input[type=checkbox]:checked + label:before {
									background: $checkbox 0 -22px no-repeat;
									color: $border-box;
									text-align: center;
									line-height: 15px;
								}
							
						}
					}
				}
			
		}
		
		.sandwich-gallery-right {
			float: left;
			width: 80%;
					
				ul.menu-listing li {
					width: 159px;
					height: auto;
				}
			
		}
		
}

.checkout-wrapper {
	float: left;
	width: 100%;
	
		.check-out-left {
			width: 68%;
			float: left;
			
				.checkout-header {
					float: left;
					width: 100%;
					border-bottom: 2px solid $primary-color;
					padding: 8px 0 4px 0;
					 
					 	.header-item1 {
							width: 427px;
						}
						
						.header-item2 {
							width: 75px;
						}
						
						.header-item3 {
							width: 75px;
						}
						
						li {
							float:left;
							width: 100%;
							color: $primary-color;
							font: normal 20px $lobster;
						}
				}
			
			.sub-total-wrapper {
				width: 100%;
				float:left;
				border-bottom: 1px solid $primary-color;
				margin-top: 10px;
				
					ul.sub-total {
						width: 100%;
						float:left;
						border: none;
						margin: 0 0 12px 0;
						padding: 0;
							
							.sub-total-list1{
								width: 209px;
							}
							
							.sub-total-list2{
								width: 350px;
							}
							
							.sub-total-list3{
								width: 78px;
							}
							
							.tip {
								width: 430px;
									
									h3 {
										width: 65%;
									}
							}
						
							li {
								list-style-type: none;
								float: left;
									
									.sub-total-text {
										width: 98%;
										height: 28px;
										border: 1px solid $primary-color;
										padding: 0 0 0 10px;
										margin: 0;
										background: $text-box-bg;
										font: 700 12px $open-sans;
									}
									
									p {
										font: 700 12px $open-sans;
										text-align: right;
										margin-right: 8px;
										margin-top: 16px;
									}
									
									h3 {
										font: bold 24px $oswald, sans-serif;
										width: 74%;
										float: left;
											
									}
									
									h4 {
										font: bold 24px $oswald, sans-serif;
										width: 22%;
										float: right;
										text-align: right;
									}
									h5 {
										font: normal 42px/30px $lobster;
										width: 73%;
										float: left;
										color: $primary-color;
										text-align: right;
									}
									
									.selectParent {
										float: left;
										overflow: hidden;
										width: 34%;
											
											select {
												@extend select;																			
												width: 113%;
												height: 30px;
												text-transform: uppercase;
												font: bold 24px $oswald, sans-serif;												
												padding: 0 0 0 10px;					
										}
									}
									
							}
					}
				}		
				.bottom-list {
						margin-top: 8px;
						float: left;
						border-bottom: 2px solid $primary-color;
						
					ul {
						border-bottom: none;
						padding: 0 0 8px 0;
						float: left;
					}
				}
			
				ul {
					float:left; 
					width: 100%;
					border-bottom: 1px solid $primary-color;
					padding: 9px 0 14px 0 ;
					
						.check-list1 {
							width: 392px;
							padding: 0 8px 0 0;
						}
						
						.check-list2 {
							width: 76px;
						}
						
						.check-list3 {
							width: 66px;
							padding: 0 10px;
						}
						
						.check-list4 {
							width: 86px;
							padding: 0 0px 0 4px;
						}
				
					li {
						float: left;
						
						h3 {
						font: bold 24px $oswald, sans-serif;
						color: $primary-color;
						overflow: hidden;
						position: relative;
							
							&:after
								{
									content: "\00a0";
									border-bottom: solid 3px  $primary-color;
									position: absolute;
									top: -8px;
									width: 100%;
									margin-left: 3px;
								}
					}
					
					p {
						font: 600 12px $open-sans, sans-serif;
						color: $primary-color;
						/* word-break: break-all; */
					}
					
					h4 {
						font: bold 24px $oswald, sans-serif;
						color: $primary-color;
						padding-left: 4px;
					}
					a.remove {
						width: 62px;
						text-align: center;
						font: bold 10px $open-sans, sans-serif;
						text-transform: uppercase;
						background-color: $primary-color;
						color: $border-box;
						display: table;
						padding: 1px 0;
						margin-top: 7px;
						float: right;
						
					}
					
					a.edit {
						width: 62px;
						text-align: center;
						font: bold 10px $open-sans, sans-serif;
						text-transform: uppercase;
						background-color: $primary-color;
						color: $border-box;
						display: table;
						padding: 1px 0;
						margin-top: 14px;
						float: right;
					}
					
					.quantity-control {
						width: 66px;
						float: left;
						
							a.left {
								background: $left-arrow;
								width: 10px;
								height: 22px;
								display: block;
								float: left;
								margin-top: 8px;
							}
							a.left-hover {
								background: $left-arrow2;
								width: 10px;
								height: 22px;
								display: block;
								float: left;
								margin-top: 8px;
							}
							a.right {
								background: $right-arrow;
								width: 10px;
								height: 22px;
								display: block;
								float: left;
								margin-top: 8px;
							}
							a.right-hover {
								background: $right-arrow2;
								width: 10px;
								height: 22px;
								display: block;
								float: left;
								margin-top: 8px;
							}
							.text-box {
								border: none;
								background: none;
								font: bold 24px $oswald, sans-serif;
								width: 40px;
								text-align: center;
								float:left;
							}
							
					}
						
					}
				}
				
				.save-meal {
					width: 100%;
					float: left;
					margin: 10px 0 0 0;
					
						h3{
							font: bold 24px $oswald, sans-serif;
							color: $primary-color;
							padding-left: 4px;
							float: right;
							margin-right: 10px;
							
								sub {
									font: bold 12px $open-sans, sans-serif;
								}
							
						}
						
						.save-meal-text {
							width: 212px;
							height: 28px;
							border: 1px solid $primary-color;
							padding: 0 0 0 10px;
							margin: 0;
							background: $text-box-bg;
							font: 700 12px $open-sans;
							float: right;
						}
				}
				
		}
		
		.check-out-right {
			float: left;
			margin: 0 0 0 26px;
			width: 273px;
				
				.place-order {
					width: 100%;
					float: left;
					height: 48px;
					font: bold 18px/46px $oswald, sans-serif;
					text-align: center;
					color: $border-box;
					float: left;
					background-color: $primary-color;
					margin-top: 10px;
				}
				
				.delivery-details-wrapper {
					width: 89%;
					float: left;
					background-color: $primary-color;
					padding: 0 15px 10px 15px;
					margin-top: 10px;
						
						
						
						p {
							width: 100%;
							float: left;
							font: normal 20px $lobster;
							margin-bottom: 8px;
								
								a.change {
									float: right;
									color: $border-box;
									font: bold 10px $open-sans;
									border: 1px solid $border-box;
									padding: 0 6px;
									margin: 5px 0 0 0;
								}
						}
						
						h6 {
							font: normal 12px $open-sans;
								
								span {
									font-weight: bold;
								}
						}
						
						.delivery-address {
							width: 162px;
							display: table;
							margin: 0 auto 6px auto;
							border: 1px solid $border-box;
							height: 24px;
							font: bold 15px $oswald, sans-serif;
							text-align: center;
							color: $border-box;
							padding-top: 2px;
							background-color: $primary-color;
						}
						
						.date-time {
							float: left;
							width: 100%;
							border-top: 1px solid $border-box;
							border-bottom: 1px solid $border-box;
							padding: 6px 0;
							margin: 5px 0;
								
								.date-time-text {
									width: 100%;
									float: left;
										
										.date-picker {
											width: 140px;
											height: 30px;
											float: left;
											position: relative;
											margin-top: 5px;
												
												.date {
													width: 76%;
													border: 1px solid $border-box;
													padding: 0 24px 0 5px;
													margin: 0;
													background: $text-box-bg;
													font: 700 12px $open-sans;
													height: 26px;
												}
												
												img {
													position: absolute;
													right: 8px;
													top: 6px;
													cursor: pointer;
												}
												
										}
										
										.time {
											border: 1px solid  $border-box;
											float: right;
											margin: 5px  0 0px 0;
											overflow: hidden;
											width: 93px;
											background: $text-box-bg;
											
												select {
													@extend select;													
													width: 115px;
													height: 26px;
													text-transform: uppercase;
													font: 700 12px $open-sans;													
													padding: 0 0 0 5px;
											}
										}
								}
								
								label {
									display: inline-block;
									cursor: pointer;
									position: relative;
									padding-left: 32px;
									font: 700 12px $open-sans;
									color: $border-box;
									margin-top: 4px;
									margin-right: 10px;
									margin-bottom: 6px;
								}
								
								label:before {
									content:"";
									display: inline-block;
									width: 23px;
									height: 23px;
									position: absolute;
									left: 0px;
									top: -2px;
									bottom: 0px;
									background: $radio-bg no-repeat;
								}
								
								input[type=radio] {
									display: none;
								}
								
								input[type=radio]:checked + label:before {
									background: $radio-bg 0 -24px no-repeat ;
									color: $border-box;
									text-align: center;
									line-height: 15px;
								}	
						}
					
						.top-buttons-wrapper {
							width: 100%;
							float: left;
							margin: 10px 0 10px 0;
								
								ul {
									width: 100%;
									float: left;
										
										li {
											width: 49%;
											float: left;
											border: 1px solid $border-box;
												
												a {
													font: bold 15px $oswald, sans-serif;
													text-align: center;
													color: $border-box;
													display: block;
													padding: 3px 0;
													
													&:hover {
														background-color: $border-box;
														color: $primary-color;
													}
												}
												
												a.active {
												background-color: $border-box;
												color: $primary-color;
											}
										}
								}
						}
					
				}
			
				.top-not-done {
					width: 100%;
					float: left;
					
					h3 {
						width: 50%;
						float: left;
						color: $primary-color;
						font: normal 28px/28px $lobster;
					}
					
					.keep-shop {
						width: 50%;
						float: left;
						height: 26px;
						font: bold 15px $oswald, sans-serif;
						text-align: center;
						color: $border-box;
						float: left;
						padding-top: 2px;
						background-color: $primary-color;
					}
				}
			
		}
}

.choose-address {
	width: 100%;
	float: left;
	height: 154px;
		
		.center-the-button {
			width: 100%;
			float: left;
			padding-top: 35px;
		}
}




.add-new-address-inner {
	background: $popup-inner-bg;
	width: 560px;
	position: absolute;
	top: 10%;
	left: 50%;
	padding: 28px;
	margin-left: -308px;
	
		.title-holder {
			float: left;
			width: 100%;
			
			h1 {
				font: bold 24px $oswald, sans-serif;
				margin-top: 0;
				text-align: left;
				width: 87%;
				float: left;
				margin-bottom: 20px;
			} 
			
			h2 {
				font: bold 24px $oswald, sans-serif;
				margin-top: 0;
				text-align: left;
				width: 13%;
				float: left;
			}
		}
		
		ul.from-holder {
			width: 100%;
			float:left;
				
				li {
					width: 100%;
					float:left;
					margin-bottom: 10px;
						
						.checkbox-save-bill {
							float: left;
							margin-left: 0;
							
							label {
								display: inline-block;
								cursor: pointer;
								position: relative;
								padding-left: 30px;
								font: bold 12px $open-sans;
								color: $font-color;
								margin-top: 4px;
								
									span {
										font: normal 12px $open-sans;
									}
							}
							
							label:before {
								content:"";
								display: inline-block;
								width: 21px;
								height: 21px;
								position: absolute;
								left: 0px;
								top: -2px;
								bottom: 1px;
								background: $checkbox no-repeat;
							}
							
							input[type=checkbox] {
								display: none;
							}
							
							input[type=checkbox]:checked + label:before {
								background: $checkbox 0 -22px no-repeat;
								color: $border-box;
								text-align: center;
								line-height: 15px;
							}
							
						}
						
						a.add-address {
							  background-color: $primary-color;
		           	text-transform: uppercase;
			          text-align: center;
								border: solid 1px $font-color;
								color: $font-color;
								height: 40px;
								font: 700 18px/38px $oswald, sans-serif;
								margin-left: 12px;
								display: block; 
								float: right;
								width: 180px;
								margin-top: 18px;
							}
					
						h3 {
							font: normal 12px $open-sans;
							float: left;
							width: 56%;
							margin-top: 5px;
						}
						
						.card-holder-margin {
							width: 100%;
							float: left;
							margin-top: 160px;
								
								h3 {
									width: 64%;
								}
								
								a.add-address {
									margin-top: 0;
								}
						}
						
						.delivery-instructions {
							width: 100%;
							float: left;
							margin-top: 18px;
								
								p {
									font: bold 12px $open-sans;
									color: $border-box;
									width: 100%;
									margin-bottom: 6px;
								}
							
								.text-box-delivery {
									background: $textbox repeat;
									border: 1px solid $border-box;
									float: left;
									font: 700 12px $open-sans;
									height: 28px;
									margin: 0;
									padding: 0 0 0 5px;
									width: 99%;
								}
								
						}
						
							.text-box-zip-holder1 {
								width: 75px;
								float: right;
								
								.text-box-zip {
									background: $textbox repeat;
									border: 1px solid $border-box;
									float: left;
									font: 700 12px $open-sans;
									height: 28px;
									margin: 0;
									padding: 0 0 0 5px;
									width: 95%;
								}
						}
						
						.text-box-holder1 {
							width: 92px;
							float: left;
								
								p {
									font: bold 12px $open-sans;
									color: $border-box;
									width: 100%;
									margin-bottom: 6px;
								}
								
								.text-box-control {
									background: $textbox repeat;
									border: 1px solid $border-box;
									float: left;
									font: 700 12px $open-sans;
									height: 28px;
									margin: 0;
									padding: 0 0 0 5px;
									width: 91%;
								}
								
								
						}
						
						.text-box-holder {
							width: 202px;
							float: left;
							margin: 0 24px 0 0;
								
								p {
									font: bold 12px $open-sans;
									color: $border-box;
									width: 100%;
									margin-bottom: 6px;
								}
								
								h2 {
									font: normal 20px $lobster;
									float:left;
									margin: 23px 0 0 0;
									padding: 0;
								}
								
								.text-box-control {
									background: $textbox repeat;
									border: 1px solid $border-box;
									float: left;
									font: 700 12px $open-sans;
									height: 28px;
									margin: 0;
									padding: 0 0 0 10px;
									width: 94%;
								}
								.text-box-phone {
									background: $textbox repeat;
									border: 1px solid $border-box;
									float: left;
									font: 700 12px $open-sans;
									height: 28px;
									margin: 0 8px 0 0;
									text-align: center;
									padding: 0 0 0 0px;
									width: 60px;
								}
								
								.text-box-billing-zip {
									background: $textbox repeat;
									border: 1px solid $border-box;
									float: left;
									font: 700 12px $open-sans;
									height: 28px;
									margin: 0;
									padding: 0 0 0 5px;
									width: 46%;
								}
								
								.margin-none {
									margin: 0;
								}
								
								.month {
									border: 1px solid  $border-box;
									float: left;
									margin: 0px  0 0px 0;
									overflow: hidden;
									width: 120px;
									background: $text-box-bg;
									
										select {
											@extend select;												
											width: 142px;
											height: 28px;
											font: 700 12px $open-sans;											
											padding: 0 0 0 5px;
									}
									
								}
								.year {
									border: 1px solid  $border-box;
									float: left;
									margin: 0px  0 0px 8px;
									overflow: hidden;
									width: 70px;
									background: $text-box-bg;
									
										select {
											@extend select;										
											width: 95px;
											height: 28px;											
											text-transform: uppercase;
											font: 700 12px $open-sans;											
											padding: 0 0 0 5px;
									}
								}
								
								.credit-card {
									border: 1px solid  $border-box;
									float: left;
									margin: 0px  0 0px 0;
									overflow: hidden;
									width: 99%;
									background: $text-box-bg;
									
										select {
											@extend select;											
											width: 112%;
											height: 28px;
											font: 700 12px $open-sans;											
											padding: 0 0 0 5px;
									}
									
								}
								
						}
				}
		}
		
}

.my-account-wrapper {		
	float: left;
	width: 100%;
		
	.my-account-menu {
	width: 100%;
	background-color: $primary-color;
	float: left;
	margin: 8px 0 16px 0 ;
	
		ul {
			width: 100%;
			float:left;
			
				li {
					float: left;
					margin: 0;
					padding: 0;
					list-style-type: none;
					
						a {
							color: $create-sandwich-menu;
							font: bold 18px $oswald, sans-serif;
							margin: 0;
							padding: 6px 0 5px 28px;
							display: block;
							
							&:hover {
								color: $border-box;
							}
							
						}
						
						a.active {
							color: $border-box;
						}
					
				}
			
		}
	
	}
}
.accout-info-wrapper {
	float: left;
	width: 100%;
	
		.accout-info-inner {
			width: 50%;
			float: left;
				
			h3 {
					font: bold 24px $oswald, sans-serif;
					width: 100%;
					float: left;
					color: $primary-color;
				}
				
				p {
					font: bold 12px $open-sans;
					color: $popup-inner-bg;
				}
				.edit {
					width: 62px;
					text-align: center;
					font: bold 10px $open-sans, sans-serif;
					text-transform: uppercase;
					background-color: $primary-color;
					color: $border-box;
					display: table;
					padding: 1px 0;
					margin-top: 14px;
					float: left;
				}
			
		}
		
		.accout-info-form {
			float: left;
			width: 53%;
		
			h3 {
				font: bold 24px $oswald, sans-serif;
				width: 100%;
				float: left;
				color: $primary-color;
				margin: 12px 0 12px 0;
			}
			
			p {
					font: bold 12px $open-sans;
					color: $primary-color;
					width: 100%;
					float: left;
					margin-bottom: 4px;
			}
			
			.accout-info-select-box {
				border: 1px solid  $primary-color;
				float: left;
				margin: 0px  0 8px 0;
				overflow: hidden;
				width: 51%;
				background: $text-box-bg;
				
					select {
    				@extend select;						
						width: 107%;
						height: 28px;
						font: 700 12px $open-sans;						
						padding: 0 0 0 5px;
				}
				
			}
			
			.text-area-accout-info {
				font: 700 12px $open-sans;
				padding: 8px 0 0 10px;
				width: 71%;
				border: 1px solid  $primary-color;
				background: $text-box-bg;
				resize: none;
				height: 82px;
				float: left;
			}
			
			a.submit {
				background-color: $primary-color;
				text-transform: uppercase;
				text-align: center;
				color: $font-color;
				padding:7px 0;
				font: 700 15px/15px $oswald, sans-serif;
				margin-right: 60px;
				margin-top: 18px;
				display: table; 
				float: left;
				width: 140px;
			}
			
		}
}

.saved-address-wrapper {
	width: 100%;
	float: left;
	
		ul.saved-address-inner {
			width: 100%;
			float: left;
			
				li {
					float: left;
					width: 180px;
					height: 220px;
					margin: 0 10px 30px 0;
						
						.add-new-address-main {
							width: 100%;
							float: left;
							
						a {
							float: left;
							width: 100%;
							text-align: center;
							font: bold 24px/30px $oswald, sans-serif;
							background-color: $primary-color;
							color: $font-color;
							height: 180px;
							display: block;
							padding: 40px 0 0;
								
								span {
									font-size: 98px;
									font-weight: normal;
									margin: 0 0 0 0;
								}
							}
						}
						
						.address-content {
							float: left;
							width: 98%;
							height: 190px;
							margin-left: 11px;
							
						h3 {
							float: left;
							font: bold 18px $oswald, sans-serif;
							color: $primary-color;
							width: 100%;
							margin-top: 6px;
						}
						
						p {
							font: 600 12px $open-sans;
							color: $popup-inner-bg;
							width: 100%;
							float: left;
							margin-top: 5px;
						}
					}
					
					.button-holder-address {
						float: left;
						width: 98%;
						margin: 14px 0 0 11px;
						
							.remove {
								width: 62px;
								text-align: center;
								font: bold 10px $open-sans, sans-serif;
								text-transform: uppercase;
								background-color: $primary-color;
								color: $border-box;
								display: table;
								padding: 1px 0;
								margin-top: 0px;
								float: left;
							}
							
							.edit {
								width: 62px;
								text-align: center;
								font: bold 10px $open-sans, sans-serif;
								text-transform: uppercase;
								background-color: $primary-color;
								color: $border-box;
								display: table;
								padding: 1px 0;
								margin-right: 6px;
								float: left;
							}
					}
				}
		}
}

.order-history {
	float: left;
	width: 100%;
		
		ul.order-history-inner {
			float: left;
			width: 100%;
			margin-bottom: 14px;
				
				.section1 {
					width: 108px;
					float: left;
					padding-left: 15px;
					
						h3 {
							font: normal 20px $lobster;
							color: $primary-color;
						}
						
						h4 {
						  font: bold 24px $oswald, sans-serif;
							color: $primary-color;
							margin-bottom: 8px;
						}
						
						.view-details {
							width: 86px;
							text-align: center;
							font: bold 10px $open-sans, sans-serif;
							text-transform: uppercase;
							background-color: $primary-color;
							color: $border-box;
							display: table;
							padding: 1px 0;
							margin-right: 6px;
							float: left;
						}
				}
				
				.section2 {
					width: 572px;
					float: left;
					padding-left: 8px;
					
					h3 {
						font: bold 24px $oswald, sans-serif;
						color: $primary-color;
						margin-bottom: 8px;
						overflow: hidden;
						position: relative;
							
							&:after
								{
									content: "\00a0";
									border-bottom: solid 2px  $primary-color;
									position: absolute;
									top: -8px;
									width: 100%;
									margin-left: 3px;
								}
							
				 }
						
					p {
						font: 600 12px $open-sans;
						color: $popup-inner-bg;
					}
				}
				
				.section3 {
					width: 80px;
					float: left;
					padding-left: 8px;
						
						h3 {
							font: bold 24px $oswald, sans-serif;
							color: $primary-color;
							margin-bottom: 8px;
					 }
				}
				
				.section4 {
					width: 138px;
					float: left;
					padding-left: 10px;
						
						a.reorder {
							background-color: $primary-color;
							text-transform: uppercase;
							text-align: center;
							color: $font-color;
							height: 28px;
							font: 700 15px/27px $oswald, sans-serif;
							display: table; 
							float: left;
							width: 100%;
					 }
				}
				
				li {
					float:left;
					
				}
		}
}

.background-color-remove {
	background: none !important;
}

a[href^=tel]{
	color:inherit;
	text-decoration:
	inherit;
	font-size:inherit;
	font-style:inherit;
	font-weight:inherit;
}

/*Scroll bar*/

/* 
------------------------------------------------------------------------------------------------------------------------
1. BASIC STYLE  
------------------------------------------------------------------------------------------------------------------------
*/

	.mCustomScrollbar {
	-ms-touch-action: none;
	touch-action: none; /* MSPointer events - direct all pointer events to js */
}

.mCustomScrollbar.mCS_no_scrollbar {
	-ms-touch-action: auto;
	touch-action: auto;
}

.mCustomScrollBox { /* contains plugin's markup */
	position: relative;
	overflow: hidden;
	height: 100%;
	max-width: 100%;
	outline: none;
	direction: ltr;
}

.mCSB_container { /* contains the original content */
	overflow: hidden;
	width: auto;
	height: auto;
}

/* 
------------------------------------------------------------------------------------------------------------------------
2. VERTICAL SCROLLBAR 
y-axis
------------------------------------------------------------------------------------------------------------------------
*/

	.mCSB_inside > .mCSB_container {
	margin-right: 30px;
}

.mCSB_container.mCS_no_scrollbar_y.mCS_y_hidden {
	margin-right: 0;
} /* non-visible scrollbar */

.mCS-dir-rtl > .mCSB_inside > .mCSB_container {
  /* RTL direction/left-side scrollbar */
  margin-right: 0;
  margin-left: 30px;
  &.mCS_no_scrollbar_y.mCS_y_hidden {
    margin-left: 0;
  }
}


.mCSB_scrollTools { /* contains scrollbar markup (draggable element, dragger rail, buttons etc.) */
	position: absolute;
	width: 16px;
	height: auto;
	left: auto;
	top: 0;
	right: 0;
	bottom: 0;
}

.mCSB_outside + .mCSB_scrollTools {
	right: -26px;
} /* scrollbar position: outside */

.mCS-dir-rtl > {
  .mCSB_inside > .mCSB_scrollTools {
    /* RTL direction/left-side scrollbar */
    right: auto;
    left: 0;
  }
  .mCSB_outside + .mCSB_scrollTools {
    /* RTL direction/left-side scrollbar */
    right: auto;
    left: 0;
    left: -26px;
  }
}


.mCSB_scrollTools {
  .mCSB_draggerContainer {
    /* contains the draggable element and dragger rail markup */
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: auto;
  }
  a + .mCSB_draggerContainer {
    margin: 20px 0;
  }
}

.mCSB_scrollTools .mCSB_draggerRail {
	width: 2px;
	height: 100%;
	margin: 0 auto;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 16px;
}

.mCSB_scrollTools .mCSB_dragger {
  /* the draggable element */
  cursor: pointer;
  width: 100%;
  height: 30px;
  /* minimum dragger height */
  z-index: 1;
  .mCSB_dragger_bar {
    /* the dragger element */
    position: relative;
    width: 4px;
    height: 100%;
    margin: 0 auto;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    text-align: center;
  }
}

.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand {
  .mCSB_dragger.mCSB_dragger_onDrag_expanded .mCSB_dragger_bar, .mCSB_draggerContainer:hover .mCSB_dragger .mCSB_dragger_bar {
    width: 12px;
    /* auto-expanded scrollbar */
  }
  .mCSB_dragger.mCSB_dragger_onDrag_expanded + .mCSB_draggerRail, .mCSB_draggerContainer:hover .mCSB_draggerRail {
    width: 8px;
    /* auto-expanded scrollbar */
  }
}

.mCSB_scrollTools {
  .mCSB_buttonUp {
    display: block;
    position: absolute;
    height: 20px;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    cursor: pointer;
  }
  .mCSB_buttonDown {
    display: block;
    position: absolute;
    height: 20px;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    cursor: pointer;
    bottom: 0;
  }
}

/* 


------------------------------------------------------------------------------------------------------------------------
6. SCROLLBAR COLORS, OPACITY AND BACKGROUNDS  
------------------------------------------------------------------------------------------------------------------------
*/

	/* 
	----------------------------------------
	6.1 THEMES 
	----------------------------------------
	*/
	
	/* default theme ("light") */

.mCSB_scrollTools {
  opacity: 0.75;
  filter: "alpha(opacity=75)";
  -ms-filter: "alpha(opacity=75)";
}

.mCS-autoHide > .mCustomScrollBox {
  > .mCSB_scrollTools, ~ .mCSB_scrollTools {
    opacity: 0;
    filter: "alpha(opacity=0)";
    -ms-filter: "alpha(opacity=0)";
  }
}

.mCustomScrollbar > .mCustomScrollBox {
  > .mCSB_scrollTools.mCSB_scrollTools_onDrag, ~ .mCSB_scrollTools.mCSB_scrollTools_onDrag {
    opacity: 1;
    filter: "alpha(opacity=100)";
    -ms-filter: "alpha(opacity=100)";
  }
}

.mCustomScrollBox:hover {
  > .mCSB_scrollTools, ~ .mCSB_scrollTools {
    opacity: 1;
    filter: "alpha(opacity=100)";
    -ms-filter: "alpha(opacity=100)";
  }
}

.mCS-autoHide:hover > .mCustomScrollBox {
  > .mCSB_scrollTools, ~ .mCSB_scrollTools {
    opacity: 1;
    filter: "alpha(opacity=100)";
    -ms-filter: "alpha(opacity=100)";
  }
}

.mCSB_scrollTools {
  .mCSB_dragger {
    .mCSB_dragger_bar {
      background-color: $white;
      background-color: $scroll-bar;
      filter: "alpha(opacity=75)";
      -ms-filter: "alpha(opacity=75)";
    }
    &:hover .mCSB_dragger_bar {
      background-color: $scroll-bar;
      background-color: $scroll-bar;
      filter: "alpha(opacity=85)";
      -ms-filter: "alpha(opacity=85)";
    }
    &:active .mCSB_dragger_bar, &.mCSB_dragger_onDrag .mCSB_dragger_bar {
      background-color: $scroll-bar;
      background-color: $scroll-bar;
      filter: "alpha(opacity=90)";
      -ms-filter: "alpha(opacity=90)";
    }
  }
  .mCSB_buttonUp, .mCSB_buttonDown, .mCSB_buttonLeft, .mCSB_buttonRight {
    background-image: url(mCSB_buttons.png);
    /* css sprites */
    background-repeat: no-repeat;
    opacity: 0.4;
    filter: "alpha(opacity=40)";
    -ms-filter: "alpha(opacity=40)";
  }
  .mCSB_buttonUp {
    background-position: 0 0;
                         /* 
	sprites locations 
	light: 0 0, -16px 0, -32px 0, -48px 0, 0 -72px, -16px -72px, -32px -72px
	dark: -80px 0, -96px 0, -112px 0, -128px 0, -80px -72px, -96px -72px, -112px -72px
	*/
  }
  .mCSB_buttonDown {
    background-position: 0 -20px;
                             /* 
	sprites locations
	light: 0 -20px, -16px -20px, -32px -20px, -48px -20px, 0 -92px, -16px -92px, -32px -92px
	dark: -80px -20px, -96px -20px, -112px -20px, -128px -20px, -80px -92px, -96px -92px, -112 -92px
	*/
  }
  .mCSB_buttonLeft {
    background-position: 0 -40px;
                             /* 
	sprites locations 
	light: 0 -40px, -20px -40px, -40px -40px, -60px -40px, 0 -112px, -20px -112px, -40px -112px
	dark: -80px -40px, -100px -40px, -120px -40px, -140px -40px, -80px -112px, -100px -112px, -120px -112px
	*/
  }
  .mCSB_buttonRight {
    background-position: 0 -56px;
                             /* 
	sprites locations 
	light: 0 -56px, -20px -56px, -40px -56px, -60px -56px, 0 -128px, -20px -128px, -40px -128px
	dark: -80px -56px, -100px -56px, -120px -56px, -140px -56px, -80px -128px, -100px -128px, -120px -128px
	*/
  }
  .mCSB_buttonUp:hover, .mCSB_buttonDown:hover, .mCSB_buttonLeft:hover, .mCSB_buttonRight:hover {
    opacity: 0.75;
    filter: "alpha(opacity=75)";
    -ms-filter: "alpha(opacity=75)";
  }
  .mCSB_buttonUp:active, .mCSB_buttonDown:active, .mCSB_buttonLeft:active, .mCSB_buttonRight:active {
    opacity: 0.9;
    filter: "alpha(opacity=90)";
    -ms-filter: "alpha(opacity=90)";
  }
}
/* theme: "3d-thick-dark" */
	
.mCS-3d-thick-dark {
  &.mCSB_scrollTools {
    box-shadow: inset 0 0 14px rgba(0, 0, 0, 0.2);
  }
  &.mCSB_scrollTools_horizontal {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), inset 0 0 14px rgba(0, 0, 0, 0.2);
  }
  &.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.4), inset -1px 0 0 rgba(0, 0, 0, 0.2);
  }
  &.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), inset 0 -1px 0 rgba(0, 0, 0, 0.2);
  }
  &.mCSB_scrollTools {
    .mCSB_dragger {
      .mCSB_dragger_bar, &:hover .mCSB_dragger_bar, &:active .mCSB_dragger_bar, &.mCSB_dragger_onDrag .mCSB_dragger_bar {
        background-color: $grey;
      }
    }
    .mCSB_draggerContainer {
      background-color: $white;
      background-color: rgba(0, 0, 0, 0.05);
      box-shadow: inset 1px 1px 16px rgba(0, 0, 0, 0.1);
    }
    .mCSB_draggerRail {
      background-color: transparent;
    }
    .mCSB_buttonUp {
      background-position: -112px -72px;
    }
    .mCSB_buttonDown {
      background-position: -112px -92px;
    }
    .mCSB_buttonLeft {
      background-position: -120px -112px;
    }
    .mCSB_buttonRight {
      background-position: -120px -128px;
    }
  }
}

/* ---------------------------------------- */
	
/* theme: "minimal", "minimal-dark" */
	
.mCSB_outside + {
  .mCS-minimal.mCSB_scrollTools_vertical, .mCS-minimal-dark.mCSB_scrollTools_vertical {
    right: 0;
    margin: 12px 0;
  }
}

.mCustomScrollBox {
  &.mCS-minimal + .mCSB_scrollTools {
    &.mCSB_scrollTools_horizontal, + .mCSB_scrollTools.mCSB_scrollTools_horizontal {
      bottom: 0;
      margin: 0 12px;
    }
  }
  &.mCS-minimal-dark + .mCSB_scrollTools {
    &.mCSB_scrollTools_horizontal, + .mCSB_scrollTools.mCSB_scrollTools_horizontal {
      bottom: 0;
      margin: 0 12px;
    }
  }
}

.register{
    border: 1px solid red !important;
}
.error_msg{
    color :red;
    font-size: 12px;
}
.rerror_msg{
     color :red;
    font-size: 12px;
}

/* Responsive */

@media screen and (min-width: 961px) and (max-width:1024px) {
input[type=text], input[type=password] {
	border-radius: 0;
}
.top-control, .two-column .two-column-inner, .footer .footer-inner {
  width: 1024px;
}
.banner {
	padding-left: 32px;
}

.salads-wrapper ul li .quantity-control {
	width: 69px;
}

.salads-wrapper ul li .quantity-control .text-box {
	width: 25px;
	border-radius: 0;
	height: 30px;
}

.checkout-wrapper .check-out-left ul li .quantity-control {
	width: 69px;
}

.checkout-wrapper .check-out-left ul li .quantity-control .text-box {
	width: 25px;
	border-radius: 0;
	height: 30px;
}

.login-inner .form-holder .text-lastname{
	float: left;
	width: 97%;
	margin-left: 0!important;
}

.login-inner .form-holder .text-firstname {
		width: 88%;
}

.two-column .past-orders ul li span.price {
	width: 17%;
}
.two-column .past-orders ul li span.date-address {
	width: 58%;
}

}

@media screen and (min-width:800px) and (max-width:960px){ 
input[type=text], input[type=password] {
	border-radius: 0;
}
.top-control, .two-column .two-column-inner, .footer .footer-inner, .container {
  width: 800px;
}

.banner {
  padding-left: 0;
	  
		h1 {
		  font-size: 46px;	
		}
}

.header .logo {
  width: 180px;
	
	  img {
		  width: 95%;	
		}
	
}

.navigation {
  width: 340px;
	
	  ul{
			
	    a{
		    width: 44px;
		    font-size: 16px;
		    padding-top: 34px;
		  }
	 }
}

.login-name-holder h1 {
  width: 66%;
}

.facebook-container {
  width: 31%;
}

.sandwich-main-link-box li {
	margin:0 16px 15px 16px;
  width: 45%;
	  &:last-child {
		  margin: 0 0 0 15px;
      width: 45%;
		  float: left;
		}
	  img {
		  margin: 0 auto;
			display: block;
		}
}

.footer p.telephone-number {
	width: 22%;
	margin-left: 10px;
}

.footer ul.social-link {
	padding-right: 10px;
	margin-left: 0;
}



.two-column .past-orders {
	width: 61%;
	padding-bottom: 20px;
	margin-left: 10px;
}

.two-column .saved-sandwich {
	width: 63%;
	margin-left: 10px;
	
	h2 {
	  margin-left: 2px;
	}
	
	ul{
	  li {
	    padding-left: 0;
	  }
	}
}

.facebook-likes {
  right: 44px;
	
		p {
		width: 96%;
		margin-left: 1px;
	}
}


.deliver-button {
  top: 152px;
}

.two-column .saved-sandwich a.view-all {
  margin-left: 0;
}

.accout-info-wrapper {
	width: 97.5%;
	padding: 0 10px;
}

.menu-list-wrapper ul.menu-listing li {
  .side-button-holder {
    width: 160px;
    .buttons span.plus {
      margin-left: 0;
    }
  }
  .inner-holder {
    width: 150px;
  }
}

.menu-list-wrapper ul.menu-listing li {  height:250px }

.friens-list-the-sandwich .friens-list-image-content {
  margin-left: 32px;
  width: 56%;
  .content-box {
    width: 78%;
  }
}

.create-sandwich-wrapper .create-sandwich-left {
	width: 100%;
}

.sandwich-gallery-wrapper {
  .sandwich-gallery-right {
    width: 73%;
  }
  .sandwich-gallery-left {
    margin-left: 10px;
  }
}

.checkout-wrapper {
  .check-out-left {
    width: 95%;
    margin-left: 10px;
  }
  .check-out-right {
    margin-top: 40px;
    width: 60%;
    .top-not-done .keep-shop {
      width: 45%;
    }
    .place-order {
      width: 95%;
    }
    .delivery-details-wrapper {
      .date-time .date-time-text .time {
        float: left;
        margin-left: 20px;
      }
      .top-buttons-wrapper ul li {
        width: 49.4%;
      }
    }
  }
}


.order-history ul.order-history-inner .section4 {
	padding-top: 10px;
}

.saved-address-wrapper ul.saved-address-inner {
	width: 98%;
	margin-left: 10px;
}

.salads-wrapper ul li .quantity-control {
  width: 69px;
  .text-box {
    width: 25px;
    border-radius: 0;
    height: 30px;
  }
}

.footer ul.social-link li {
	margin: 0 10px;
}


}


@media screen and (min-width:768px) and (max-width:799px){ 
input[type=text], input[type=password] {
	border-radius: 0;
}

.login-inner .form-holder .text-lastname{
	float: left;
	width: 97%;
	margin-left: 0!important;
}

.login-inner .form-holder .text-firstname {
		width: 88%;
}

.top-control, .two-column .two-column-inner, .footer .footer-inner, .container {
  width: 768px;
}

.banner {
  padding-left: 0;
	  
		h1 {
		  font-size: 46px;	
		}
}

.header .logo {
  width: 164px;
	
	  img {
		  width: 100%;	
		}
	
}

.deliver-button {
  top: 152px;
}


.login-name-holder h1 {
  width: 66%;
}

.facebook-likes {
  right: 0px;
	width: 33%;
	
	p {
		width: 96%;
		margin-left: 1px;
	}
}



.navigation {
  width: 340px;
	
	  ul{
			
	    a{
		    width: 44px;
		    font-size: 16px;
		    padding-top: 34px;
		  }
	 }
}

.facebook-container {
  width: 30%;
	  .facebook-container-right {
		  width: 142px;
			
	      a.login-facebook{
			    font: 700 13px/15px $oswald, sans-serif;
		    }
		}
}

.sandwich-main-link-box li {
	margin:0 16px 15px 16px;
  width: 45%;
	  &:last-child {
		  margin: 0 0 0 15px;
      width: 45%;
		  float: left;
		}
	  img {
		  margin: 0 auto;
			display: block;
		}
}

.footer {
  p.telephone-number {
    width: 22%;
    margin-left: 10px;
  }
  ul.social-link {
    padding-right: 10px;
    margin-left: 0;
  }
}


.two-column .past-orders {
	width: 63%;
	padding-bottom: 20px;
	margin-left: 10px;
}

.two-column .saved-sandwich {
	width: 71%;
	margin-left: 10px;
	
	h2 {
	  margin-left: 2px;
	}
	
	ul{
	  li {
	    padding-left: 0;
	  }
	}
}


.accout-info-wrapper {
	padding: 0 10px;
	width: 97.5%;
}


.two-column .saved-sandwich a.view-all {
  margin-left: 0;
}

.menu-list-wrapper ul.menu-listing li {
  .side-button-holder {
    width: 160px;
    .buttons span.plus {
      margin-left: 0;
    }
  }
  .inner-holder {
    width: 150px;
  }
}
.list3 {
	padding:0 5px;
}




.friens-list-the-sandwich .friens-list-image-content {
  margin-left: 32px;
  width: 55%;
  .content-box {
    width: 78%;
  }
}

.create-sandwich-wrapper {
  .create-sandwich-left {
    width: 100%;
  }
  .create-sandwich-right-wrapper {
    margin-top: 36px;
  }
}

.sandwich-gallery-wrapper {
  .sandwich-gallery-right {
    width: 75%;
  }
  .sandwich-gallery-left {
    margin-left: 10px;
    width: 182px;
  }
  .selectParent {
    width: 98%;
  }
}

.checkout-wrapper {
  .check-out-left {
    width: 95%;
    margin-left: 10px;
  }
  .check-out-right {
    margin-top: 40px;
    width: 60%;
    .top-not-done .keep-shop {
      width: 45%;
    }
    .place-order {
      width: 95%;
    }
    .delivery-details-wrapper {
      .date-time .date-time-text .time {
        float: left;
        margin-left: 20px;
      }
      .top-buttons-wrapper ul li {
        width: 49.4%;
      }
    }
  }
}


.order-history ul.order-history-inner {
  .section1 {
    width: 90px;
  }
  .section2 {
    width: 570px;
  }
  .section3 {
    width: 78px;
    padding-left: 2px;
  }
  .section4 {
    padding-top: 10px;
  }
}

.saved-address-wrapper ul.saved-address-inner {
	width: 99%;
	margin-left: 8px;
}

.salads-wrapper ul li .quantity-control {
  width: 69px;
  .text-box {
    width: 25px;
    border-radius: 0;
    height: 30px;
  }
}

.checkout-wrapper .check-out-left ul li .quantity-control {
  width: 69px;
  .text-box {
    width: 25px;
    border-radius: 0;
    height: 30px;
  }
}

.footer ul.social-link li {
	margin: 0 10px;
}

.login-inner .form-holder .text-lastname {
	margin-left: 5px;
}

}

.bread_images {
    width: 652px;
    min-height: 373px;
    float:left; 
}


select.billinglist, select.delevry_time, select.select_address{
	color:#000;
	background: url("../images/select-box-arrow.png") no-repeat center right #876D4F;
}

div.select_address_wrap {
	border: 1px solid #d0ab79;
	float: left;
	margin: 5px 0 0px 0;
	overflow: hidden;
	width: 238px;
	background: url("../images/text-box-bg.png");
}
div.select_address_wrap select{
	width: 254px;
	height: 26px;
	text-transform: uppercase;
	font: 700 12px "Open Sans";
	padding: 0 0 0 5px;
}

.center-align {
  width: 908px;
  float: left;
}

.caption-center{
  float: none!important;
  position: relative;
}

.caption-center .placeorder {
  position: absolute;
  left: 410px;	
}

.banner-3 {
  margin: 0 3%;	
}
.create-sandwich-wrapper .create-sandwich-left .button-holder ul li .next.next:hover:hover:after {
    border-left-color: #241a12;
}

.accout-info-wrapper div.account-edit-inner p input{
	background: #7C6448;
	border: 1px solid #d0ab79;	
	font: 700 12px "Open Sans";
	height: 28px;
	margin: 0;
	padding: 0px 0px 0px 3px;
}
.accout-info-wrapper div.account-edit-inner p{
	margin: 0px 0px 8px 0px; 
}

h3.no_order_history{ 
	font: bold 24px "Oswald", sans-serif;
	color: #342920;
	overflow: hidden;
	position: relative;
	padding: 8px;
	border-bottom:1px solid #342920;
	width:100%;

}


#ajax-loader img{
	position: absolute;
	top: 40%;
	left: 50%;
	margin-left: -50px;
	z-index: 100;
	margin-top: 0px;
}

.login-inner .form-holder .text-lastname {
  border: 1px solid #d0ab79;
  width: 42.9%;
  float: left;
  background: #887358;
  height: 28px;
  padding-left: 10px;
  color: #1e1612;
  font: bold 12px "Open Sans";
  margin-top: 16px;
  margin-left: 10px;
}
.login-inner .form-holder .text-phone {
  border: 1px solid #d0ab79;
  width: 43%;
  float: left;
  background: #887358;
  height: 28px;
  padding-left:10px;
  color: #1e1612;
  font: bold 12px "Open Sans";
  margin-top: 12px;
}

.login-inner .form-holder .text-company {
  border: 1px solid #d0ab79;
  width: 42.9%;
  float: left;
  background: #887358;
  height: 28px;
  padding-left: 10px;
  color: #1e1612;
  font: bold 12px "Open Sans";
  margin-top: 12px;
  margin-left: 10px;
}


div.resetpassowrd {
	width:400px;
	height:400px;
}
div.resetpassowrd div.container{
	margin-top:50px;
	width:100%;
}

div.resetpassowrd label{
	color:#342920;
	padding-left:0px;
}
div.resetpassowrd label:before{
background:none;
}

div.resetpassowrd input.text{
border: 1px solid #d0ab79;
width: 87%;
background: #887358;
height: 28px;
padding-left: 36px;
font: bold 12px "Open Sans";
color: #1e1612;
margin-top: 16px;

}
div.resetpassowrd input[type=button]{
width: 269px;
height: 35px;
display: table;
margin: 16px auto 0 auto;
border: 1px solid #d0ab79;
font: bold 18px "Oswald", sans-serif;
text-align: center;
color: #d0ab79;

background-color: #342920;
}

div.menu-list-wrapper article {

	margin-top:50px;
}

#createSandwichpreloader {
		position: absolute;
		left: -9999px;
		top:  -9999px;
		}
#createSandwichpreloader img {
		display: block;
		}

/* Added 27th Feb 2015 */
.menu-list-wrapper .footers {
float: left;
width: 100%;
margin: 5px 0 20px 0;
}

.menu-list-wrapper .footers .foot-hero-3 {
float: left;
width: 424px;
border: solid 3px #000;
padding: 18px;
}

.menu-list-wrapper .footers .foot-hero-3 h4 {
font: bold 24px "Oswald", sans-serif;
color: #342920;
}

.menu-list-wrapper .footers .foot-hero-3 p {
font: 700 12px/14px "Open Sans", sans-serif;
color: #342920;
margin-bottom: 20px;
}

.menu-list-wrapper .footers .foot-hero-3 a.get-started {
background-color: #342920;
width: 140px;
text-align: center;
padding: 8px 0;
display: block;
float: right;
color: #d0ab79;
font: bold 15px/15px "Oswald", sans-serif;
}

.menu-list-wrapper .footers .foot-hero-3 .price {
font: bold 24px "Oswald", sans-serif;
color: #342920;
float: right;
padding-right: 20px;
}

.menu-list-wrapper .footers .foot-hero-6 {
float: left;
width: 424px;
border: solid 3px #000;
padding: 18px;
margin-left: 28px;
}

.menu-list-wrapper .footers .foot-hero-6 h4 {
font: bold 24px "Oswald", sans-serif;
color: #342920;
}

.menu-list-wrapper .footers .foot-hero-6 p {
font: 700 12px/14px "Open Sans", sans-serif;
color: #342920;
margin-bottom: 20px;
}

.menu-list-wrapper .footers .foot-hero-6 a.get-started {
background-color: #342920;
width: 140px;
text-align: center;
padding: 8px 0;
display: block;
float: right;
color: #d0ab79;
font: bold 15px/15px "Oswald", sans-serif;
}

.menu-list-wrapper .footers .foot-hero-6 .price {
font: bold 24px "Oswald", sans-serif;
color: #342920;
float: right;
padding-right: 20px;
}





.landing-page {
					width: 82%;
					margin: 44px 56px 0 66px;
					float: left;
				  h2 {
					 font: bold 30px $oswald, sans-serif;
					 background-color: transparent;
					 color: $primary-color;
					}
					p {
					 font: normal 14px/17px $open-sans;
					 text-transform: uppercase;
					 color: $primary-color;
					 text-align: center;
					}
					.price {
					  float: left;
						width: 80%;
						margin: 25px 0 0 30%;
						ul li {
						  width: 52%;
							list-style: none;
							color: $primary-color;
							font: bold 20px $oswald, sans-serif;
							clear: both;
							&:first-child {
							  margin-bottom: 0;
								float: left;
							}
							span.starting {
							  float: right;
								display: block;
								font: bold 36px $oswald, sans-serif;
								position: relative;
								top: -14px;
							}
							span {
							  float: right;
								display: block;	
								font: bold 20px $oswald, sans-serif;
							}
						}
					}
				}

